<? require(ViewDir.'/header.html'); ?>

<link rel="stylesheet" href="<?=StaticDir?>1.2/css/list.css?v=<?=$static_version?>"/>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/ms-filter.css?v=<?=$static_version?>"/>
 <a class="detail-nav" id="tip" style="display:none;"><点击查看详情</a>
<div class="w1180 ms-filterWrapper f-clearfix">
    <!-- ms-filterMain start -->
    <div class="ms-filterMain-oter">
        <!-- ms-filters end -->
        <div class="ms-filters-oter f-clearfix">
            <div class="ms-filterResults-oter">
                <span>全部结果&nbsp;&gt;</span>
                <ul class="ms-filterResultsList-oter f-clearfix">
                    <? if ( $baoTitle ) { ?>
                        <li title="<?=$baoTitle?>"><a href="javascript:void(0);"><?=mb_substr($baoTitle,0,40,'utf-8')?></a></li>
                    <? } ?>
                </ul>
            </div>
        </div>
        <!-- ms-filtersList start -->
        <div class="ms-filtersList-oter">
            <ul class="f-clearfix" id="s-all-list">
    <?if ( !empty($list['rows']) ){?>
        <? foreach ($list['rows'] as $k => $v) {?>
            <? $_c_ = explode(',', $v['class']);
            if ( count($_c_) < 2 ) {
            ?>
                <li>
                    <input class="xunjia_data" type="hidden" tid="<?=$v['tid']?>" data_class="<?=$v['class']?>" number="<?=$v['number']?>" remarks="<?echo '商标号：'.$v['number'].';商标名称：'.$v['name']?>">
                    <div>
                        <div class="ms-filterCenter-oter">
                            <a href="javascript:void(0);" tnumber="<?=$v['number']?>" class="ms-collect-oter <?if($v['isLook']=='1'){echo 'cur';}?>"><i class="us-icon us-icon20"></i></a>
                            <span class="ms-filtersImg-oter"><a href="<?=$v['viewUrl']?>" module="聚合页列表1-<?=$k+1?>" addmsg="01-查看详情" target="_blank"><img src="<?=$v['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" alt="<?=$v['alt']?>"/></a></span>
                            <div class="ms-filtersListTxt-oter">
                                <h6 title="<?=$v['name']?>"><?=$v['name']?mb_substr($v['name'], 0, 10, 'UTF-8'):'-'?></h6>
                                <p><span><?=$v['class']?>类</span>-<?=$_CLASS[$v['class']]?></p>
                                <p title="<?=$v['goods']?>"><?=$v['goods']?mb_substr($v['goods'], 0, 14, 'UTF-8'):'-'?></p>
                            </div>
                            <div class="ms-filterBtn-oter">
                                <a href="javascript:void(0);" module="聚合页列表1-<?=$k+1?>" addmsg="表单-02-询价" webid="30" onclick="xunjia(this);" class="ms-inquiry">&yen;&nbsp;询&nbsp;价</a>
                                <a href="javascript:void(0);" addmsg="咨询-03-联系卖家" webid="31" module="聚合页列表1-<?=$k+1?>" onclick="goChat()" class="ms-seller"><i class="us-icon us-icon22"></i>联系卖家</a>
                            </div>
                        </div>
                    </div>
                </li>
            <? }else{ ?>
                <li>
                    <input class="xunjia_data" type="hidden" tid="<?=$v['tid']?>" data_class="<?=$v['class']?>" number="<?=$v['number']?>" remarks="<?echo '商标号：'.$v['number'].';商标名称：'.$v['name']?>">
                    <div class="ms-filterMany">
                        <div class="ms-filterCenter-oter">
                            <a href="javascript:void(0);" tnumber="<?=$v['number']?>" class="ms-collect-oter <?if($v['isLook']=='1'){echo 'cur';}?>"><i class="us-icon us-icon20"></i></a>
                            <span class="ms-filtersImg-oter"><a href="<?=$v['viewUrl']?>" module="聚合页列表1-<?=$k+1?>" addmsg="01-查看详情" target="_blank"><img src="<?=$v['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" alt="<?=$v['alt']?>"/></a></span>
                            <div class="ms-filtersListTxt-oter">
                                <h6 title="<?=$v['name']?>"><?=$v['name']?mb_substr($v['name'], 0, 10, 'UTF-8'):'-'?></h6>
                                <p>共<em><?=count($_c_)?></em>个分类</p>
                                <p title="<?=$v['goods']?>"><?=$v['goods']?mb_substr($v['goods'], 0, 14, 'UTF-8'):'-'?></p>
                            </div>
                            <div class="ms-filterBtn-oter">
                                <a href="javascript:void(0);" module="聚合页列表1-<?=$k+1?>" addmsg="表单-02-询价" webid="30" onclick="xunjia(this);" class="ms-inquiry">&yen;&nbsp;询&nbsp;价</a>
                                <a href="javascript:void(0);" addmsg="咨询-03-联系卖家" module="聚合页列表1-<?=$k+1?>" webid="31" onclick="goChat()" class="ms-seller"><i class="us-icon us-icon22"></i>联系卖家</a>
                            </div>
                        </div>
                        <div class="ms-sortMain-oter">
                            <ul class="ms-sortList-oter">
                            <?foreach ($_c_ as $_k => $_v) {
                                if ( $_k > 10 ) break;
                            ?>
                                <li><span><?=$_v?>类</span>-<?=$_CLASS[$_v]?></li>
                            <?}?>
                            </ul>
                            <div class="ms-sortMore-oter">
                                <a href="<?=$v['viewUrl']?>">查看更多&nbsp;&gt;</a>
                            </div>
                        </div>
                    </div>
                </li>
            <? } ?>
        <? } ?>
    <? }elseif ( empty($searchList) ) { ?>
        <div class="sbhwjg">
            <div class="sbhwjg-main">
                <h3>抱歉！没找到相关信息</h3>
                <font>
                    建议你：<br>
                    1 . 修改<lable>筛选条件</lable>，重新试试<br>
                    2 . <a javascript="void(0);" onclick="goChat();" module="查询无结果" addmsg="咨询-查询无结果">联系我们</a> 让我们帮你找吧！<br>
                    <span><img src="<?=StaticDir?>1.2/images/wjg-ico.png">3秒极速匹配</span> <span><img src="<?=StaticDir?>1.2/images/wjg-ico.png">1对1专业服务</span>
                </font>
            </div>
        </div>
    <? } ?>
            </ul>
            <ul class="f-clearfix" id="tm-all-list">                
                <div id="tm-uploading" style="padding-top:33px;text-align:center;display:none;height:100px;"><img src="<?=StaticDir?>1.2/images/tm-list-wait.png"></div>
            </ul>
        </div>
        <!-- ms-filtersList end -->

            <div id="s-uploading" style="padding-top:33px;text-align:center;display:none;height:100px;"><img src="<?=StaticDir?>images/loading.gif"></div>
            <button type="button" onclick="changeDD();"></button>
    </div>
    <!-- ms-filterMain end -->
    <dl class="ms-recommend-oter">
        <dt><span>特价商标推荐</span><img src="<?=StaticDir?>1.2/images/xstj.png" alt=""/></dt>
        <?foreach ($offpriceList as $k => $v) {
            $_c_    = explode(',', $v['class']);
            $_class = current($_c_);?>
            <dd>
                <span><img src="<?=$v['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" alt="<?=$v['alt']?>"/></span>
                  <a href="<?=$v['viewUrl']?>">
                <div class="ms-filtersListTxt">
              
                    <div>
                        <h6 title="<?=$v['name']?>"><?=$v['name']?mb_substr($v['name'], 0, 10, 'UTF-8'):'-'?></h6>
                        <p><?=$_class?>类 - <?=$_CLASS[$_class]?></p>
                        <p title="<?=$v['goods']?>"><?=$v['goods']?mb_substr($v['goods'], 0, 12, 'UTF-8'):'-'?></p>
                    </div>
                
                </div>
                 </a>
            </dd>
        <?}?>
    </dl>
    <!-- ms-recommend end -->
</div>

<div id="_tmpDiv" style="display:none"></div>
<? require(ViewDir.'/sidebar.html'); ?>
<script type="text/javascript">
    $(".fdkf-ss").click(function(){
        $(this).hide();
        $(".fdkf-zk").show();
        $(".fdkf-zk").animate({width:"100%"});;
    })
    $(".gb-ss").click(function(){
        $(".fdkf-zk").hide();
        $(".fdkf-zk").animate({width:"0"});;
        $(".fdkf-ss").show();
    })
</script>
<script src="<?=StaticDir?>script/objurl.js"></script>

<script>
    var _start      = 1;
    var _startTm    = 1;
    var _whereStr   = "<?=$whereStr?>";
    var _moreUrl    = '/<?=$_mod_?>/getMore/';
    var _hasSale    = "<?=$has?>";
    var _times      = 0;
    var _objTime ;

    //收藏与取消
    $(".ms-collect").live('click', function(){
        var _this   = $(this);
        var _number = _this.attr('tnumber');
         if ( _this.hasClass('cur') ){
            deleteCollectTrademark(_number, 1,function(data){
                if (data.type != 0){
                    _this.removeClass('cur');
                    layer.msg('取消成功');
                }else{
                    layer.msg('取消失败');
                }
            });
        }else{
            collectTrademark(_number, 1, function(data){
                if (data.type == 1){
                    _this.addClass('cur');
                    layer.msg('收藏成功');
                }else{
                    layer.msg('收藏失败');
                }
                
            });
        }
    });

    //加载剩余数据
    function loadMore(){
        //出售与商标库都没有了
        if ( !_hasSale ) return false;

        $('#s-uploading').show();
        //是否已经在请求中
        if ( _times != 0 ) return false; 

        var obj = new objURL('/?'+_whereStr);

        _objTime    = setTimeout(function(){_times = 0;},30000);
        _times = 1;
        _start++;
        obj.set('_p', _start);
        var params = obj.getparams();
        $("#_tmpDiv").load(_moreUrl, params, function(data,status,xml){
            if (data) {
                $("#_tmpDiv").html('');
                $('#s-uploading').hide();
                clearTimeout(_objTime);

                $("#tm-all-list").append(data);
                _times = 0;
            }else{
                _hasSale = false;
                _times = 0;
                loadMore();
            }
        });
    }

    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollHeight - scrollTop - windowHeight < 670)  {
            loadMore();
        }
    });
    //添加查看详情页标签
    $(document).ready(function(){       
        $('.ms-filtersList').on('mouseover','li span',       
                function(){
                   
                    $('#tip').show();
                }
        );
        $('.ms-filtersList').on('mouseleave','li span',
             
            function(){
                    $('#tip').hide();
                }
        );
        $('.ms-filtersList').on('mousemove','li span',function(e){

            var top = e.pageY+5;
            var left = e.pageX+5;
            $('#tip').css({
                'top' : top + 'px',
                'left': left+ 'px'
            });
        });
    
    
    });
</script>

<? require(ViewDir.'/footer.html'); ?>