<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>topic/chris/css/common.css?v=<?=$static_version?>">
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>topic/chris/css/style.css?v=<?=$static_version?>">
<div class="c-bk1">
    <div class="first-move ct-bg1 com-sty">
        <div class="ct-title">
            <span>第1招</span>
            清楚目标消费者<b>审美习惯</b>，对号入座
        </div>
        <ul class="first-move-main">
            <li>
                <div>
                      <span>
                        <img src="<?=StaticDir?>topic/chris/images/c-pic3.png">
                      </span>
                    <p>
                        老年用品<br/>
                        <b>稳重吉祥</b>
                    </p>
                </div>
                <i></i>
            </li>
            <li>
                <div>
                      <span>
                        <img src="<?=StaticDir?>topic/chris/images/c-pic4.png">
                      </span>
                    <p>
                        女性用品 <br/>
                        <b>秀美小巧</b>
                    </p>
                </div>
                <i></i>
            </li>
            <li>
                <div>
                      <span>
                        <img src="<?=StaticDir?>topic/chris/images/c-pic5.png">
                      </span>
                    <p>
                        珠宝用品 <br/>
                        <b>唯美华丽</b>
                    </p>
                </div>
                <i></i>
            </li>
            <li>
                <div>
                      <span>
                        <img src="<?=StaticDir?>topic/chris/images/c-pic6.png">
                      </span>
                    <p>
                        儿童用品 <br/>
                        <b>活泼可爱 </b>
                    </p>
                </div>
                <i></i>
            </li>
            <li>
                <div>
                      <span>
                        <img src="<?=StaticDir?>topic/chris/images/c-pic7.png">
                      </span>
                    <p>
                        功能用品 <br/>
                        <b>直白快速</b>
                    </p>
                </div>
                <i></i>
            </li>
            <li>
                <div>
                      <span>
                        <img src="<?=StaticDir?>topic/chris/images/c-pic8.png">
                      </span>
                    <p>
                        男性用品 <br/>
                        <b>雄健粗犷</b>
                    </p>
                </div>
            </li>
        </ul>
        <div class="first-move-btm">
            <i></i><p>符合潜在目标消费者审美习惯，<b>缩短购买犹豫时间</b></p> <i></i>
        </div>
    </div>
</div>
<div class="c-bk2">
    <div class="second-move  com-sty">
        <div class="ct-title">
            <span>第2招</span>
            选好“标名”，让消费者<b>印象深刻</b>
        </div>
        <ul class="second-move-main">
            <li>
                  <span>
                      <img src="<?=StaticDir?>topic/chris/images/c-pic9.png">
                  </span>
                <b>易读易记有寓意</b>
                <p>
                    琅琅上口有内涵，兼顾字形字义美感。好的
                    商标名称有利于品牌传播，提升产品形象。
                    如：“秋水伊人”。
                </p>
            </li>
            <li>
                  <span>
                      <img src="<?=StaticDir?>topic/chris/images/c-pic10.png" style="margin: auto;float: none">
                  </span>
                <b>有较强暗示性</b>
                <p>
                    名称符合行业性质，有较强暗示性，能让消
                    费者牢记和熟知，有助于企业在一众竞品中
                    脱颖而出。如：“飘柔“。
                </p>
            </li>
            <li>
                  <span>
                      <img src="<?=StaticDir?>topic/chris/images/c-pic11.png">
                  </span>
                <b>能激发购买动机</b>
                <p>
                    一个优秀的商标除能吸引注意力外，还会使
                    人产生美好联想，符合大众心理，能激发消
                    费者购买动机。如：“六个核桃”。
                </p>
            </li>
        </ul>
        <div class="first-move-btm">
            <i></i><p>字数控制在1-5字以内，<b>2-3字更佳</b>，简单易记！</p> <i></i>
        </div>
    </div>
</div>
<div class="c-bk3">
    <div class="second-move  com-sty">
        <div class="ct-title">
            <span>第3招</span>
            检查<b>商标状态</b>，放心买好标
        </div>
        <div class="third-move-main">
            <p>
                <b>一键检测 </b><br/>
                <label>24道监测工序，13个商标状态 </label><br/>
                <a href="<?=CHECK_URL?>" target="_blank">去检测</a>
            </p>
               <span>
                   <img src="<?=StaticDir?>topic/chris/images/c-pic12.png">
               </span>
        </div>
    </div>
</div>
<div class="c-bk4">
    <div class="fourth-move">
        <div class="ct-title" >
            <span>第4招</span>
            了解<b>市场成交均价</b>不做门外汉
        </div>
        <div class="fourth-move-main">
            <div class="fourth-move-pic">
                  <span class="fl">
                      <img src="<?=StaticDir?>topic/chris/images/c-pic18.png">
                  </span>
                  <span class="fr">
                      <img src="<?=StaticDir?>topic/chris/images/c-pic19.png">
                  </span>
            </div>
            <div class="first-move-btm" style="margin-top: 20px;">
                <i></i><p>为什么商标从注册到出售价格翻几倍？</p> <i></i>
            </div>
            <ul class="fourth-move-btm">
                <li>
                    <span>时间成本</span>
                    <div class="time-ct">
                        <img src="<?=StaticDir?>topic/chris/images/c-pic20.png"><br/>
                        <label>至少<b>1-2</b>年</label>
                    </div>
                    <p>
                        商标注册，一般的注册时间需要1-2年，<br/>
                        有的甚至长达10年
                    </p>
                </li>
                <li>
                    <span>注册风险</span>
                    <div>
                        <img src="<?=StaticDir?>topic/chris/images/c-pic21.png" style="margin-top:14px; ">
                    </div>
                    <p>
                        申请商标，不代表百分百能注册成功<br/>
                    </p>
                </li>
                <li>
                    <span>创意价值</span>
                    <div>
                        <img src="<?=StaticDir?>topic/chris/images/c-pic22.png">
                    </div>
                    <p>
                        绞尽脑汁想出来的好创意和好名称，<br/>
                        是最大生产力
                    </p>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="c-bk5">
    <div class="transaction f-clearfix">
        <h4 class="trans-tit"><b>一只蝉</b>独家交易体系  <span>七道工序，只为交易更安全 </span></h4>
        <ul class="trans-jytx">
            <li>
                <div class="trans-pic">
                         <span  style="line-height:124px;">
                               <img src="<?=StaticDir?>topic/chris/images/c-pic23.png">
                         </span>
                    1 风险检测
                </div>
                <div class="cover">
                    <i class="arrow-up"></i>
                    <p>
                        独家商标风险检测报告，<br>保障商标状态安全
                    </p>
                </div>
            </li>
            <li class="trans-jytx-jt">

            </li>
            <li>
                <div class="trans-pic">
                         <span style="line-height: 124px;">
                               <img src="<?=StaticDir?>topic/chris/images/c-pic24.png">
                         </span>
                    2 价格评估
                </div>
                <div class="cover">
                    <i class="arrow-up"></i>
                    <p>
                        19项价格评估体系，<br>杜绝漫天要价！
                    </p>
                </div>
            </li>
            <li class="trans-jytx-jt">

            </li>
            <li class="lht">
                <div class="trans-pic">
                         <span>
                               <img src="<?=StaticDir?>topic/chris/images/c-pic25.png">
                         </span>
                    3 匹配商标
                </div>
                <div class="cover">
                    <i class="arrow-up"></i>
                    <p>
                        根据要求帮您匹配合适的商标。
                    </p>
                </div>
            </li>
            <li class="trans-jytx-jt">

            </li>
            <li>
                <div class="trans-pic">
                         <span style="line-height: 124px;">
                               <img src="<?=StaticDir?>topic/chris/images/c-pic26.png">
                         </span>
                    4 签订协议
                </div>
                <div class="cover">
                    <i class="arrow-up"></i>
                    <p>
                        签《100%赔付协议》获“独占使用许可”
                    </p>
                </div>
            </li>
            <li class="trans-jytx-jt">

            </li>
            <li>
                <div class="trans-pic">
                         <span>
                               <img src="<?=StaticDir?>topic/chris/images/c-pic27.png">
                         </span>
                    5 转让公证
                </div>
                <div class="cover">
                    <i class="arrow-up"></i>
                    <p>
                        一只蝉与政府双线双审核
                    </p>
                </div>
            </li>
            <li class="trans-jytx-jt">

            </li>
            <li class="lht">
                <div class="trans-pic">
                         <span>
                               <img src="<?=StaticDir?>topic/chris/images/c-pic28.png">
                         </span>
                    6 上报商标局
                </div>
                <div class="cover">
                    <i class="arrow-up"></i>
                    <p>
                        集团制度保障，<br>
                        所有业务当天上报！
                    </p>
                </div>
            </li>
            <li class="trans-jytx-jt">

            </li>
            <li>
                <div class="trans-pic">
                         <span style="line-height: 130px;text-indent: 5px;">
                               <img src="<?=StaticDir?>topic/chris/images/c-pic29.png">
                         </span>
                    7 转让完成
                </div>
                <div class="cover">
                    <i class="arrow-up"></i>
                    <p>
                        商标局核准，<br>
                        获得《商标转让核准证明》
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <p class="fourth-move-int">转让时间：一般需<b>6-10个月左右</b>，但签订商标购买合同后，<label>买家即可立即使用</label></p>
</div>
<div class="c-bk6">
    <div class="c-bk6-main">
           <span class="fl">
               <img src="<?=StaticDir?>topic/chris/images/c-pic1.png">
           </span>
        <div class="c-contact fr">
            <p>还没找到合适的商标，让我来帮你找找吧！</p>
            <div class="c-contact-main">
                <div class="c-contact-tel">
                    <i></i>
                    <input type="text" id="lesson_tel" placeholder="请输入正确电话号码免费通话"/>
                </div>
                <a href="javascript:;" id="lesson_submit">我要买标</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var issend = false;
    $(function(){
        //失去焦点事件
        $('#lesson_tel').blur(function(){
            var mobile 	= $.trim($('#lesson_tel').val());
            //验证手机号
            if(!mobile){
                $(this).val('请输入正确电话号码免费通话');
                return false;
            }
            if(!mobilereg.test(mobile) || mobile.length!=11){
                $(this).val('请输入正确电话号码免费通话');
                return false;
            }
        });
        //获取焦点事件
        $('#lesson_tel').focus(function(){
            $('#lesson_tel').val('');
        });
        //提交时间
        $('#lesson_submit').click(function(){
            if(issend) return false;
            issend = true;
            var mobile 	= $.trim($('#lesson_tel').val());
            //验证手机号
            if(!mobile){
                $(this).val('请输入正确电话号码免费通话');
                issend = false;
                return false;
            }
            if(!mobilereg.test(mobile) || mobile.length!=11){
                $(this).val('请输入正确电话号码免费通话');
                issend = false;
                return false;
            }
            //准备数据
            var data = new Array();
            data['name'] 	= '';
            data['tel'] 	= mobile;
            data['subject'] = '求购信息';
            data['remarks'] = '来自专题-圣诞节';
            data['pttype'] = "求购";
            ucNetwork.submitData(data);
        });
    });
    //发布回调
    function submitDataCallback(Obj){
        issend = false;
        $.each(Obj,function(i,n){
            if(n.code!=-1){
                //弹出成功框
                getLayer($('#mj-submitteS'));
                setEvent('圣诞专题','表单-圣诞专题求购');
                $('#lesson_tel').val("");
            }else{
                //弹出失败框
                getLayer($('#mj-submitteF'));
            }
        });
    }
</script>
<? require(ViewDir.'/sidebar.html'); ?>
<? require(ViewDir.'/footer.html'); ?>