<? require(ViewDir.'/header.html'); ?>

<!--mj-banner start-->
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/kj_tc.css"/>
<!--求购信息发布模块-->
<script type="text/javascript">
    $(function(){
        //悬浮窗的标题配置
        _defLogin   = "<h6>登录</h6> <p style=\"margin-left: 10px;\"></p>";
        _xunjia     = "<h6>登录查询此商标出售价格</h6><p>一次登录后可查看全站所有出售商标价格</p>";
        _login   = "<h6>亲，提交成功了</h6><p>登录即可查看求购进展。我们也会在10分钟向你确认需求</p>";
        _buyTitle   = "<h6>亲，提交成功了</h6><p>系统已将登录密码发送到你手机，登录即可查看求购进展。我们也会在10分钟向你确认需求</p>";
        if(login_mobile && isIndex){
            //隐藏快捷登记的相关输入框,将用户电话号码放到该框中
            $('.mj_form_wpo').hide();
            $('#buyMoblie').val(login_mobile);
        }
        //求购信息发布事件
        $('#mj-from-btn').click(function(){
            name 	= $.trim($('#buyName').val());
            tel 	= $.trim($('#buyMoblie').val());
            subject = $.trim($('#buyNeed').val());
            //验证手机号码
            var mobilereg = /^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])\d\d\d\d\d\d\d\d$/i;
            if(!tel || !mobilereg.test(tel) || tel.length!=11){
                $(".mj-eed").show();
                $(".reg-tip em").text('请输入手机号码');
                return false;
            }
            if( !name && !login_mobile ){
                $(".mj-eed").show();
                $(".reg-tip em").show().text('请输入姓名');
                return false;
            }
            if( !subject ){
                $(".mj-eed").show();
                $(".reg-tip em").show().text('请输入内容');
                return false;
            }
            data	= new Array();
            data['name'] 	= name;
            data['tel'] 	= tel;
            data['subject'] = subject;
            ucNetwork.submitData(data);
        });
        //验证内容
        $('#buyNeed').blur(function(){
            if(!($('#buyNeed').val())){
                $(".mj-eed").show();
                $(".reg-tip em").show().text('请输入内容');
                return false;
            }
        });
        //验证手机号码
        $('#buyMoblie').blur(function(){
            tel 	= $('#buyMoblie').val();
            var mobilereg = /^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])\d\d\d\d\d\d\d\d$/i;
            if(!tel){
                $(".mj-eed").show();
                $(".reg-tip em").text('请输入手机号码');
                return false;
            }
            if(!mobilereg.test(tel) || tel.length!=11){
                $(".mj-eed").show();
                $(".reg-tip em").text('请输入正确的手机号码');
                return false;
            }
        });
        //获取验证码
        $('#dl_wjmm,#dl_fsmm').click(function(){
            mobile 	= $.trim($('#loginUser').val());
            var mobilereg = /^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])\d\d\d\d\d\d\d\d$/i;
            if(!mobile){
                $(".mj-eed").show();
                $(".loginTips em").text('请输入手机号码');
                return false;
            }
            if(!mobilereg.test(mobile) || mobile.length!=11){
                $(".mj-eed").show();
                $(".loginTips em").text('请输入正确的手机号码');
                return false;
            }
            ucNetwork.sendCode(mobile,$(this),'点击获取验证码');
        });
        //用户登录
        $('#dl_sub').click(function(){
            account 	= $.trim($('#loginUser').val());
            password 	= $.trim($('#loginPass').val());
            var mobilereg = /^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])\d\d\d\d\d\d\d\d$/i;
            if(!account){
                $(".mj-eed").show();
                $(".loginTips em").text('请输入手机号码');
                return false;
            }
            if(!mobilereg.test(account) || account.length!=11){
                $(".mj-eed").show();
                $(".loginTips em").text('请输入正确的手机号码');
                return false;
            }
            if(!password){
                $(".loginTips em").text('请输入密码');
                return false;
            }
            //判断是验证码登录还是密码登录
            if($('#dl_sub').hasClass('yzm')){
                ucNetwork.verifyCode(account,password);//验证码登录
            }else{
                ucNetwork.userLog(account,password);//密码登录
            }
        });
    });
    //用户询价
    function xunjia(obj){
        //用户是否登录
        if(login_mobile){
            //提交到分配系统中
            //组装提交数据
            var mydata = $(obj).closest('li').find('.xunjia_data');
            var remarks = mydata.attr('remarks');
            remarks = remarks.replace('TEL',login_mobile);
            var buyData 			= new Array();
            buyData['tid'] 			= mydata.attr('tid');
            buyData['trademark'] 	= mydata.attr('number');
            buyData['class'] 		= mydata.attr('class');
            buyData['subject'] 		= '求购信息';
            buyData['remarks'] 		= remarks;
            //提交数据
            ucBuy.buyAdd(buyData);
        }else if(nick_name){
            //弹出绑定手机框
            getLayer($('#goCenter'));
        }else{
            //弹出登录框
            getLogin(_xunjia,'',0);
        }
        return false;
    }
    //添加到分配系统回调函数
    function buyAddCallback(Obj){
        $.each(Obj,function(i,n){
            //弹窗提示
            if(n.code==1){
                getLayer($('#mj-submitteS'));
            }else{
                getLayer($('#mj-submitteF'));
            }
        });
    }
    //快捷登录回调
    function submitDataCallback(Obj){
        $.each(Obj,function(i,n){
            if(login_mobile){
                //用户登录情况下
                if(n.code!=1){
                    //弹出成功框
                    getLayer($('#mj-submitteS'));
                }else{
                    //弹出失败框
                    getLayer($('#mj-submitteF'));
                }
            }else{
                //用户未登录情况下
                if(n.code==1){
                    //用户不存在
                    getLogin(_buyTitle,tel,0);
                }else if(n.code==2){
                    //用户存在
                    getLogin(_login,tel,1);
                }else{
                    //弹出失败框
                    getLayer($('#mj-submitteF'));
                }
            }
        });
    }
    //发送验证码
    function sendCodeCallback(Obj,htmlobj,title){
        $.each(Obj,function(i,n){
            if(n.code > 0 ){//发送成功
                $('#dl_sub').addClass('yzm');//添加额外的class yzm 判断为验证码登录
                timer(60, $('.aaaa'), title);//倒计时
            }else{
                console.debug(n.msg);
            }
        });
    }
    //验证验证码是否合法
    function verifyCodeCallback(Obj,account,code){
        $.each(Obj,function(i,n){
            if(n.code==1){
                $('.Not_logged').hide();
                $('.logged').show();
                ucNetwork.logCode(account,code);
            }else{
                console.debug(n.mess);
            }
        });
    }
    //调用登录弹窗
    function getLogin(title,tel,isExist){
        $("#loginUser").val('');
        $("#loginPass").val('');
        $("#loginUser").parent().parent().find($(".mj-inpuVs")).text("请输入手机号");
        $("#loginPass").parent().parent().find($(".mj-inpuVs")).text("请输入密码");
        $("#dl_ts").hide();
        $('#loginTips').hide();
        var title = title==''?_defLogin:title;
        if (!isExist){
            //账户不存在
            $("#dl_wjmm").hide();//忘记密码(已存在账号)
            $("#dl_fsmm").show();//发送密码(不存在账号)
            $("#dl_fsmm").addClass('aaaa');//添加类
            //触发点击事件
            $('.mj-inpuVs').html('');
            $('#loginUser').val(tel);
            $('#dl_wjmm').trigger('click');
        }else{
            //账户存在
            $("#dl_wjmm").addClass('aaaa');//添加类
            $('.mj-inpuVs').html('');
            $('#loginUser').val(tel);
        }
        $("#dl_title").html(title);
        //CHOFN.loginShow();
        //弹出登录框
        $('#loginFormDiv').show();
        boxBg();
        reCal($('#loginFormDiv'));
    }
</script>
<div class="mj-banner">

    <div class="w1180 mj-formW">

        <div class="mj-from">

            <form id="buyForm" action="/buy/add/">

                <div class="mj-from-title">

                    <label></label><span>商标购买快捷登记</span><label></label>

                    <p>线下专家10分钟为你快速匹配商标</p>

                </div>

                <div class="ms-errorTips mj-eed">

                    <p class="reg-tip"><i class="us-icon us-icon19"></i><em></em></p>

                </div>

                <div class="mj-form-wrapper">

                    <!--<span class="mj-inpuV">对商标的特殊要求  如：25类鞋子</span>-->

                    <i class="us-icon uj-icon4"></i>

                    <input type="text" id="buyNeed" placeholder="对商标的特殊要求  如：25类鞋子" name="content" maxlength="100">

                </div>

                <div class="mj_form_wpo f-clearfix">

                    <div class="mj-form-wrapper w178 fl">

                        <!--<span class="mj-inpuV">留下电话方便卖家联系你</span>-->

                        <i class="us-icon uj-icon5"></i>

                        <input id="buyMoblie" placeholder="留下电话方便卖家联系你" type="text" name="mobile" style="width: 155px;padding-left: 5px;">

                    </div>

                    <div class="mj_form_wrapper_input fr">

                        <!--<span class="mj-inpuV" style="padding-left: 10px;">姓氏</span>-->

                        <input type="text" placeholder="姓氏"  name="buyName" id="buyName" maxlength="8">

                    </div>

                </div>

                <a href="javascript:;" class="mj-from-btn" id="mj-from-btn">立即登记</a>
                <p class="mj-from-txt">我们将严格保密您的个人信息</p>


            </form>
            <!--添加最新交易-->
            <div class="mj-newjy">
                <h3><img src="<?=StaticDir?>1.2/images/jy-ic.png">最新交易记录</h3>
                <div class="bd">
                    <ul><? foreach($tradeInfo as $item): ?>
                        <li>
                            <img src="<?=StaticDir?>1.2/images/<?=($item['pttype']=='出售')?'buy':'buy2'?>.png">
                            <p>
                                <span><?=$item['name']?><a>（<?=$item['tel']?>）</a></span>
                                <font>“ <?=$item['remarks']?> ”</font>
                            </p>
                        </li><? endforeach; ?>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <div class="mj-bannerIimg">
        <div class="bd">
            <ul class="mj-banner-img">
                <?
                    $bannerStr = '';
                    foreach($banners as $banner){
                        $url = TRADE_URL.substr($banner['pic'],1);
                        $bannerStr .= "<li class='mj-banner-itme' style='background:url({$url}) #CCE1F3 center 0 no-repeat;'><a href='{$banner['link']}' target='_blank'></a></li>";
                    }
                    echo $bannerStr;
                ?>
            </ul>

        </div>
        <div class="hd">
            <ul class="f-clearfix">
                <?
                    $bannerBar = '';
                    for($i=1,$len=count($banners);$i<=$len;++$i){
                        $bannerBar .= "<li></li>";
                    }
                    echo $bannerBar;
                ?>
            </ul>

        </div>
    </div>

</div>
<!--mj-banner end-->
<!--活动推荐start-->
<div class="yzc-Activities w1180">
    <div class="hd">
        <a class="og_prev prev"></a>
        <a class="og_next next"></a>
    </div>
    <div class="bd picbox">
        <ul>
            <? foreach($ads as $ad): ?>
            <li>
                <a href="<?=$ad['link']?>" target="_blank">
                    <!--<h3>
                        活动标题<br/>
                        <span>活动标题</span>
                    </h3>-->
                    <img src="<?=(TRADE_URL.$ad['pic'])?>" onerror="this.src='/Static/images/img1.png'">
                </a>
            </li>
            <? endforeach; ?>
        </ul>
    </div>
</div>

<!--活动推荐end-->
<!--商标分类start-->
<div class="yzc-Brand w1180">
    <div class="hd">
        <ul class="Brand-tit">
            <li>
                <a>
                    商标全类
                </a>
            </li>
            <li>
                推荐分类
            </li>
        </ul>
    </div>
    <div class="bd">
        <ul class="brand-fl">
            <li>
                <!--重点红色-->
                <a target="_blank" href="search/index/?c=1"><span><label>&bull;</label>01类</span>化工原料</a>
                <a target="_blank" href="search/index/?c=2"><span><label>&bull;</label>02类</span>油漆涂料</a>
                <a target="_blank" href="search/index/?c=3" class="piont"><span><label>&bull;</label>03类</span>化妆日化</a>
                <a target="_blank" href="search/index/?c=4"><span><label>&bull;</label>04类</span>燃料油脂</a>
                <a target="_blank" href="search/index/?c=5" class="piont"><span><label>&bull;</label>05类</span>医药</a>
                <a target="_blank" href="search/index/?c=6"><span><label>&bull;</label>06类</span>五金金属</a>
                <a target="_blank" href="search/index/?c=7"><span><label>&bull;</label>07类</span>机械电动</a>
                <a target="_blank" href="search/index/?c=8"><span><label>&bull;</label>08类</span>手工器械</a>
                <a target="_blank" href="search/index/?c=9" class="piont"><span><label>&bull;</label>09类</span>科学仪器</a>
            </li>
            <li>
                <a target="_blank" href="search/index/?c=10"><span><label>&bull;</label>10类</span>医疗器械</a>
                <a target="_blank" href="search/index/?c=11" class="piont"><span><label>&bull;</label>11类</span>家用电器</a>
                <a target="_blank" href="search/index/?c=12"><span><label>&bull;</label>12类</span>运输工具</a>
                <a target="_blank" href="search/index/?c=13"><span><label>&bull;</label>13类</span>军火烟火</a>
                <a target="_blank" href="search/index/?c=14" class="piont"><span><label>&bull;</label>14类</span>珠宝钟表</a>
                <a target="_blank" href="search/index/?c=15"><span><label>&bull;</label>15类</span>乐器</a>
                <a target="_blank" href="search/index/?c=16"><span><label>&bull;</label>16类</span>办公用品</a>
                <a target="_blank" href="search/index/?c=17"><span><label>&bull;</label>17类</span>橡胶制品</a>
                <a target="_blank" href="search/index/?c=18" class="piont"><span><label>&bull;</label>18类</span>皮革皮具</a>
            </li>
            <li>
                <a target="_blank" href="search/index/?c=19"><span><label>&bull;</label>19类</span>建筑材料</a>
                <a target="_blank" href="search/index/?c=20"><span><label>&bull;</label>20类</span>家具</a>
                <a target="_blank" href="search/index/?c=21"><span><label>&bull;</label>21类</span>洁具厨房</a>
                <a target="_blank" href="search/index/?c=22"><span><label>&bull;</label>22类</span>绳网袋蓬</a>
                <a target="_blank" href="search/index/?c=23"><span><label>&bull;</label>23类</span>纺织纱线</a>
                <a target="_blank" href="search/index/?c=24"><span><label>&bull;</label>24类</span>布料床单</a>
                <a target="_blank" href="search/index/?c=25" class="piont"><span><label>&bull;</label>25类</span>服装鞋帽</a>
                <a target="_blank" href="search/index/?c=26"><span><label>&bull;</label>26类</span>纽扣拉链</a>
                <a target="_blank" href="search/index/?c=27"><span><label>&bull;</label>27类</span>地毯席垫</a>
            </li>
            <li>
                <a target="_blank" href="search/index/?c=28"><span><label>&bull;</label>28类</span>健身器材</a>
                <a target="_blank" href="search/index/?c=29" class="piont"><span><label>&bull;</label>29类</span>食品</a>
                <a target="_blank" href="search/index/?c=30" class="piont"><span><label>&bull;</label>30类</span>方便食品</a>
                <a target="_blank" href="search/index/?c=31"><span><label>&bull;</label>31类</span>饲料种籽</a>
                <a target="_blank" href="search/index/?c=32" class="piont"><span><label>&bull;</label>32类</span>啤酒饮料</a>
                <a target="_blank" href="search/index/?c=33 class="piont"><span><label>&bull;</label>33类</span>酒</a>
                <a target="_blank" href="search/index/?c=34"><span><label>&bull;</label>34类</span>烟草烟具</a>
                <a target="_blank" href="search/index/?c=35" class="piont"><span><label>&bull;</label>35类</span>广告销售</a>
                <a target="_blank" href="search/index/?c=36"><span><label>&bull;</label>36类</span>金融物管</a>
            </li>
            <li>
                <a target="_blank" href="search/index/?c=37"><span><label>&bull;</label>37类</span>建筑修理</a>
                <a target="_blank" href="search/index/?c=38"><span><label>&bull;</label>38类</span>通讯传媒</a>
                <a target="_blank" href="search/index/?c=39"><span><label>&bull;</label>39类</span>运输旅行</a>
                <a target="_blank" href="search/index/?c=40"><span><label>&bull;</label>40类</span>材料加工</a>
                <a target="_blank" href="search/index/?c=41" class="piont"><span><label>&bull;</label>41类</span>教育娱乐</a>
                <a target="_blank" href="search/index/?c=42"><span><label>&bull;</label>42类</span>科学服务</a>
                <a target="_blank" href="search/index/?c=43" class="piont"><span><label>&bull;</label>43类</span>餐饮住宿</a>
                <a target="_blank" href="search/index/?c=44"><span><label>&bull;</label>44类</span>医疗园艺</a>
                <a target="_blank" href="search/index/?c=45"><span><label>&bull;</label>45类</span>社会服务</a>
            </li>
        </ul>
        <ul class="tj-recom">
            <? foreach($recommendClasses as $rClass): ?>
            <li>
                <p>
                  <img src="<?=(TRADE_URL.$rClass['pic'])?>" onerror="this.src='/Static/images/img1.png'"/>
                   <!-- <label><img src="<?=(TRADE_URL.$rClass['pic'])?>" onerror="this.src='/Static/images/img1.png'"></label>-->
                      <!-- <span><b><?=$rClass['link']?></b></span>-->
                </p>
                <div class="tj-recom-hover">
                   <label>
                    <? foreach($rClass['class'] as $class): ?>
                 	<a target="_blank" href="search/index/?c=<?=$rClass['classStr']?>"> <?=$class?>  </a>
                    <? endforeach; ?>
                   </label>
                </div>
            </li>
            <? endforeach; ?>
        </ul>
    </div>


</div>

<!--商标分类end-->
<!--类别展示start-->
<div class="sbzs" id="sbzs">
    <!--<div class="yzc-category w1180" id="cloth">-->
    <? foreach($modules as $tk=>$module): ?>
    <div class="yzc-category w1180" <?=(($tk==0)?'':'id="cloth"')?>>
        <div class="yzc-category-tit">
            <h3 class="fl"><img src="<?=StaticDir?>1.2/images/cate-ico1.png"><?=($tk+1)?>F <span> / </span><?=$module['name']?></h3>
            <div class="parHd" style="position:relative;z-index:9999;">
                <ul class="fr">
                    <? foreach($module['class'] as $class): ?>
                    <li><?=$class['name']?><span></span></li>
                    <? endforeach; ?>
                </ul>
            </div>
        </div>    
  	     <div class="f-clearfix">
      	 <div class="yzc-categorypic-show fl">
                    <div  class="slideBox">
                        <div class="shd">
                            <p>
                                <? for($i=1,$len=count($module['pic']);$i<=$len;++$i): ?>
                                <? if($i==1): ?>
                                <a class="on">1</a>
                                <? else: ?>
                                <a><?=$i?></a>
                                <? endif; ?>
                                <? endfor; ?>
                            </p>
                        </div>
                        <div class="sbd">
                            <ul>
                                <? foreach($module['pic'] as $pic): ?>
                                <li><a href="<?=$pic['link']?>" target="_blank"><img src="<?=(TRADE_URL.$pic['pic'])?>" onerror="this.src='/Static/images/img1.png'"/></a></li>
                                <? endforeach; ?>
                            </ul>
                        </div>
                        <!-- 下面是前/后按钮代码 -->
                        <a class="sprev" href="javascript:void(0)"></a>
                        <a class="snext" href="javascript:void(0)"></a>
                    </div>

                    <div class="cate-list">
                        <? foreach($module['link'] as $link): ?>
                        <p>
                            <a target="_blank" class="fl <?=$link[0]['color']?>" href="<?=$link[0]['link']?>"><span>></span><?=$link[0]['title']?></a>
                            <?if(isset($link[1])):?>
                            <a target="_blank" class="fr <?=$link[1]['color']?>" href="<?=$link[1]['link']?>"><span>></span><?=$link[1]['title']?></a>
                            <?endif;?>
                        </p>
                        <? endforeach; ?>
                    </div>
                </div>
     	  <div class="parBd" style="position:relative;z-index:9;">
            <? foreach($module['class'] as $class): ?>
            <div class="brandlist-show">      
                <ul class="yzc-categorbrand fr">
                    <? foreach($class['items'] as $item): ?>
                    <li>
                        <input class="xunjia_data" type="hidden" tid="<?=$item['tid']?>" data_class="<?=$item['class']?>" number="<?=$item['number']?>" remarks="<?=$item['remarks']?>">
                        <div class="brand-show">
                            <span><img src="<?=$item['embellish']?>" onerror="this.src='/Static/images/img1.png'"></span>
                            <p><b><?=$item['name']?></b><?=$item['classStr']?></p>
                        </div>
                        <div class="brand-buy">
                            <span><a target="_blank" href="<?=$item['viewUrl']?>"><img src="<?=$item['embellish']?>" onerror="this.src='/Static/images/img1.png'"></a></span>
                            <p><b><?=$item['name']?></b><?=$item['classStr']?></p>
                            <font>
                                <a href="javascript:;" class="first" onclick="xunjia(this);">
                                    <img src="<?=StaticDir?>1.2/images/catebuy1.png">
                                    询 价
                                </a>
                                <a href="javacript:void(0)" class="sec" onclick="window.open('http://p.qiao.baidu.com/im/index?siteid=7666620&ucid=1268165');">
                                    <img src="<?=StaticDir?>1.2/images/cate-ck.png">
                                    联系卖家
                                </a>
                            </font>
                        </div>
                    </li>
                    <? endforeach; ?>
                </ul>
            </div>
            <? endforeach; ?>
        </div>
     </div>
    </div>
    <? endforeach; ?>
</div>

<!--类别展示end-->
<!--成功案列start-->
<div class="w1180 succeed-al" id="succal">
    <a href=""><h3>成功案例</h3></a>
    <ul class="succeed-al-main">
        <li>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <dl>
                            <font>格伦贝拉<span style="background: #ff9f8c;">服装鞋帽25类</span></font>
                            <p>
                                <label>使用商品：</label>服装鞋帽、服装配饰<br/>
                                <label>购  买 人：</label> 慈先生<br/>
                                <label>服务顾问：</label>陈艾<br/>
                            </p>
                        </dl>
                        <img src="<?=StaticDir?>1.2/images/al1.png">
                    </div>
                    <div class="back">
                        <img src="<?=StaticDir?>1.2/images/overturn.png">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <dl>
                            <font>Hesiod<span style="background: #ffc061;">化妆清洁3类</span></font>
                            <p>
                                <label>使用商品：</label>清洁用品、化妆品<br/>
                                <label>购  买 人：</label> 某商贸公司<br/>
                                <label>服务顾问：</label>王桂华<br/>
                            </p>
                        </dl>
                        <img src="<?=StaticDir?>1.2/images/al2.png">
                    </div>
                    <div class="back">
                        <img src="<?=StaticDir?>1.2/images/overturn.png">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <dl>
                            <font>麦普森<span style="background: #8cdcff;">3C数码9类</span></font>
                            <p>
                                <label>使用商品：</label>计算机、数码产品<br/>
                                <label>购  买 人：</label> 王先生<br/>
                                <label>服务顾问：</label>寇飞<br/>
                            </p>
                        </dl>
                        <img src="<?=StaticDir?>1.2/images/al3.png">
                    </div>
                    <div class="back">
                        <img src="<?=StaticDir?>1.2/images/overturn.png">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--成功案列end-->
<!--商标新闻start-->
<div class="brand-ques w1180">

    <div class="fl">
        <h3> 商标新闻</h3>
        <div class="Tradenews">
            <dl>
                <dt>
                    <img src="<?=StaticDir?>1.2/images/brand1.png">
                </dt>
                <dd>
                    <? foreach ($news['news'] as $item){ ?>
                    <p><span class="fl"><label>&bull;</label><a target="_blank" href="http://<? echo $item['url'];?>"><? echo $item['title'];?></a>   </span><label class="fr"><? echo date('Y-m-d',$item['time']);?></label></p>
                    <? } ?>
                    <a hidden="">更多 ></a>
                </dd>
            </dl>
            <div class="btm">
                <? foreach ($news['baike'] as $item){ ?>
                <p>
                    <span class="fl">[<a href="" target="_blank">商标百科</a>] <a href="http://<? echo $item['url'];?>" target="_blank"><? echo $item['title'];?></a></span> <label class="fr"><? echo date('Y-m-d',$item['time']);?></label>
                </p>
                <? } ?>
            </div>
        </div>


    </div>

    <div class="fr">
        <h3> 商标转让问答</h3>
        <div class="trademark">
            <dl>
                <dt>
                    <img src="<?=StaticDir?>1.2/images/brand2.png">
                </dt>
                <dd>
                    <? foreach ($news['faq'] as $item){ ?>
                    <p><span class="fl"><label>&bull;</label><a target="_blank" href="http://<? echo $item['url'];?>"><? echo $item['title'];?></a>   </span><label class="fr"><? echo date('Y-m-d',$item['time']);?></label></p>
                    <? } ?>
                </dd>
            </dl>
            <div class="btm">
                <? foreach ($news['law'] as $item){ ?>
                <p>
                    <span class="fl">[<a href="" target="_blank">商标法律</a>] <a href="http://<? echo $item['url'];?>" target="_blank"><? echo $item['title'];?></a></span> <label class="fr"><? echo date('Y-m-d',$item['time']);?></label>
                </p>
                <? } ?>
            </div>
        </div>


    </div>
</div>
<!--商标新闻end-->
<!--订阅商标start-->
<div class="yzc-take">
    <div class="w1180">
        <a class="take1" href="">快速筛选出好标</a>
        <a class="take2" href="">联系我们-免费为你找</a>
    </div>

</div>
<!--求购已提交弹出层-->
<div class="mj-boughtM" id="mj-submitteS">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>恭喜，提交成功</h2>
            <p>请保持电话畅通，10分钟内联系你。</p>
            <a href="javascript:;" onclick="layer.closeAll();" class="mj-boBtn1">点击此处关闭！</a>
        </div>
    </div>
</div>
<!--求购已提交失败弹出层-->
<div class="mj-boughtM" id="mj-submitteF">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h2 style="color:#ff6600">提交失败，请稍后重试！</h2>
            <p>可能因为网络问题或其他原因导致</p>
            <a href="javascript:;" class="mj-boBtn1" id="closeFailed" onclick="layer.closeAll();">点此处关闭！</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="<?=StaticDir?>1.2/js/common.js"></script>
<!--订阅商标end-->
<? require(ViewDir.'/footer.html'); ?>