<? require(ViewDir.'/header.html'); ?>

<link rel="stylesheet" href="<?=StaticDir?>style/mj-index.css"/>
<script src="<?=StaticDir?>script/layer/layer.js"></script>
<script src="<?=StaticDir?>script/jquery.SuperSlide.2.1.js"></script>
<script src="<?=StaticDir?>script/buy.js"></script>

<div class="mj-banner">
    <div class="w1180 mj-formW">
        <div class="mj-from">
            <form id="buyForm" action="/buy/add/">
                <div class="mj-from-title">
                    <label></label><span>商标购买快捷登记</span><label></label>
                    <div class="ms-errorTips mj-eed">
                        <p class="reg-tip"><i class="us-icon us-icon19"></i><em></em></p>
                    </div>
                    <p>我们会在10分钟内帮你匹配到合适的商标</p>
                </div>
                <div class="mj-form-wrapper">
                    <span class="mj-inpuV">对商标的特殊要求  如：25类鞋子</span>
                    <div class="mj-inputPi">
                        <i class="us-icon uj-icon4"></i>
                        <input type="text" id="mj-inputl" name="content">
                    </div>
                </div>
                <div class="mj_form_wpo f-clearfix">
                    <div class="mj-form-wrapper w178 fl">
                        <span class="mj-inpuV">留下电话方便卖家联系你</span>
                        <div class="mj-inputPi">
                            <i class="us-icon uj-icon5"></i>
                            <input id="usrMp_popup" type="text" name="mobile" style="width: 155px;padding-left: 5px;">
                        </div>
                    </div>
                    <div class="mj_form_wrapper_input fr">
                        <span class="mj-inpuV" style="padding-left: 10px;">姓氏</span>
                        <div class="mj-inputPi" style="left: 0;">
                            <input type="text" name="name" id="userName">
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="mj-from-btn">立即登记</a>
                <p class="mj-from-txt">我们将严格保密您的个人信息</p>
            </form>
        </div>
    </div>
    <div class="mj-bannerIimg">
        <ul class="mj-banner-img">
            <li class="mj-banner-itme">
                <img src="<?=StaticDir?>style/img/banner1.jpg" alt=""/>
            </li>
            <li class="mj-banner-itme">
                <img src="<?=StaticDir?>style/img/banner1.jpg" alt=""/>
            </li>
            <li class="mj-banner-itme">
               <img src="<?=StaticDir?>style/img/banner1.jpg" alt=""/>
            </li>
        </ul>
        <ul class="hd f-clearfix">
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </div>
</div>

<div class="w1180 mj-specialT f-clearfix">
    <dl>
        <dt>
            <div class="mj-dtimg"><i class="uj_icon11"></i></div>
            <div class="mj-deText">
                <p>特价商标</p>
                <span>每日一款优质商标</span>
                <a href="">[查看更多]</a>
            </div>
        </dt>
        <dd>
            <ul class="piclist f-clearfix">
                <li>
                    <a href="">
                        <div class="mj-ddTop">
                            <h5>全球五金第一品牌</h5>
                            <span>索亿商贸</span>
                            <p class="mj-tip">
                                <label class="mj-tThe" title="特价产品">特</label>
                                <label class="mj-tJing" title="精品推荐">精</label>
                            </p>
                        </div>
                        <div class="mj-ddImg">
                            <img src="<?=StaticDir?>style/img/mj-ddimg.png" alt=""/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="mj-ddTop">
                            <h5>全球五金第一品牌</h5>
                            <span>索亿商贸</span>
                            <p class="mj-tip">
                                <label class="mj-tJing" title="精品推荐">精</label>
                                <label class="mj-tShow" title="授权租用">授</label>
                            </p>
                        </div>
                        <div class="mj-ddImg">
                            <img src="<?=StaticDir?>style/img/mj-ddimg.png" alt=""/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="mj-ddTop">
                            <h5>全球五金第一品牌</h5>
                            <span>索亿商贸</span>
                            <p class="mj-tip">
                                <label class="mj-tJing" title="精品推荐">精</label>
                                <label class="mj-tShow" title="授权租用">授</label>
                            </p>
                        </div>
                        <div class="mj-ddImg">
                            <img src="<?=StaticDir?>style/img/mj-ddimg.png" alt=""/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="mj-ddTop">
                            <h5>全球五金第一品牌</h5>
                            <span>索亿商贸</span>
                            <p class="mj-tip">
                                <label class="mj-tJing" title="精品推荐">精</label>
                                <label class="mj-tShow"  title="授权租用">授</label>
                            </p>
                        </div>
                        <div class="mj-ddImg">
                            <img src="<?=StaticDir?>style/img/mj-ddimg.png" alt=""/>
                        </div>
                    </a>
                </li>

            </ul>
        </dd>

    </dl>
    <a href="" class="next">></a>
</div>

<!-- ms-news start -->
<div class="ms-column w1180">
    <div class="f-clearfix mj-newb">
        <dl class="ms-noticeList">
            <dt><span>最新公告</span><i class="uj_icon12"></i></dt>
            <dd>
                <ul>
                    <li><a href="">超凡无形资产交易平台2.0全新改版上线	</a></li>
                    <!--<li><a href="">1万左右求购20类竹木工艺品类</a></li>
                    <li><a href="">1万左右求购20类竹木工艺品类</a></li>
                    <li><a href="">1万左右求购20类竹木工艺品类</a></li>
                    <li><a href="">1万左右求购20类竹木工艺品类</a></li>-->
                </ul>
            </dd>
        </dl>
        <dl class="ms-dealList mj_deaLlist">
            <dt><i class="us-icon us-icon6"></i>热门交易</dt>
            <dd>
                <ul>
                    <li>
                        <a href=""><span>白兰地</span></a>
                        <a href=""><em>威士忌</em></a>
                        <a href=""><span>朗姆酒</span></a>
                        <a href=""><em>伏特加酒</em></a>
                        <a href=""><span>开胃酒</span></a>
                        <a href=""><span>蒸馏饮料</span></a>
                    </li>
                    <!--<li><a href="">1万左右求购20类竹木工艺品类</a></li>
                    <li><a href="">1万左右求购20类竹木工艺品类</a></li>
                    <li><a href="">1万左右求购20类竹木工艺品类</a></li>
                    <li><a href="">1万左右求购20类竹木工艺品类</a></li>-->
                </ul>
            </dd>
        </dl>
    </div>
</div>
<!-- ms-news end -->

<div class="w1180">
    <!--快速成交商标-->
    <div class="mj-imgList mj-btco f-clearfix">
        <dl class="mj-imgL_left fl f-clearfix">
            <dt class="mj-link1-dt">
                <h2>
                    <b>快速</b>
                    <span>成交商标</span>
                </h2>
                <span class="mj-spanimg"><img src="<?=StaticDir?>style/img/img3.png" alt=""></span>
                <p>今天选中，明天就用</p>
                <ul>
                    <li class="liclickc">天猫入驻</li>
                    <li>京东入驻</li>
                    <li>大型超市入驻</li>
                </ul>
            </dt>
            <dd class="mj-categoryCon" id="mj-categoryCon1">
                <!--天猫入驻-->
                <ul class="mj-cTmall">
					<?php 
					if($dataTM){
						foreach($dataTM['rows'] as $key => $val){
					?>
					<li>
                        <div class="mj-logoimg">
                            <a href="<?=$val['url']?>" class="mj-imglT">
                                <span><img src="<?=$val['imgurl']?>" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText"><?=$val['name']?> <?=$val['classes']?></p>
                    </li>
					<?php
						}
					}
					?>
             
                    <li class="mj-more">
                        <p><a href=""><span>...</span>查看更多</a></p>
                    </li>
                </ul>
                <!--京东入驻-->
                <ul class="mj-cLarge">
                    <?php 
					if($dataJD){
						foreach($dataJD['rows'] as $key => $val){
					?>
					<li>
                        <div class="mj-logoimg">
                            <a href="<?=$val['url']?>" class="mj-imglT">
                                <span><img src="<?=$val['imgurl']?>" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText"><?=$val['name']?> <?=$val['classes']?></p>
                    </li>
					<?php
						}
					}
					?>
                    <li class="mj-more">
                        <p><a href=""><span>...</span>查看更多</a></p>
                    </li>
                </ul>
                <!--大型超市-->
                <ul class="mj-Ather">
                    <?php 
					if($dataDXCS){
						foreach($dataDXCS['rows'] as $key => $val){
					?>
					<li>
                        <div class="mj-logoimg">
                            <a href="<?=$val['url']?>" class="mj-imglT">
                                <span><img src="<?=$val['imgurl']?>" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText"><?=$val['name']?> <?=$val['classes']?></p>
                    </li>
					<?php
						}
					}
					?>
                    <li class="mj-more">
                        <p><a href=""><span>...</span>查看更多</a></p>
                    </li>
                </ul>
            </dd>
        </dl>
        <div class="mj-imgL_right fr">
            <dl class="allFocus">
                <dt>
                    <span>最新购买需求</span>
                    <a href="/buy" class="mj-abgc">登记你的购买需求</a>
                </dt>
                <dd>
                    <ul class="m2list">
						<?php
						if($buyInfo){
						foreach($buyInfo as $val){
							echo "<li>
                            <span>".$val['contact']."<em>（".$val['phone']."）</em></span>
                            <p>期望购买：".$val['need']."</p>
                        </li>";
						}
						}
						?>
                    </ul>
                </dd>

            </dl>
            <div class="mj-imgLr_bottom">
                <p>资产交易比其他平台快<strong>30.5<em>%</em></strong></p>
                <span>商标交易最快4小时完成交易流程</span>
            </div>
        </div>
    </div>
    <!--潜力投资商标-->
    <div class="mj-imgList mj-btcg f-clearfix">
        <dl class="mj-imgL_left fl f-clearfix">
            <dt class="mj-link2-dt">
            <h2>
                <b>潜力</b>
                <span>投资商标</span>
            </h2>
            <span class="mj-spanimg"><img src="<?=StaticDir?>style/img/img3.png" alt=""></span>
            <p>投资储备特色商标</p>
            <ul>
                <li class="liclickc">潜质商标</li>
                <li>精品商标</li>
                <li>特色商标</li>
            </ul>
            </dt>
            <dd class="mj-categoryCon" id="mj-categoryCon2">
                <!--潜质商标-->
                <ul class="mj-cTmall">
                    <?php 
					if($dataQL){
						foreach($dataQL['rows'] as $key => $val){
					?>
					<li>
                        <div class="mj-logoimg">
                            <a href="<?=$val['url']?>" class="mj-imglT">
                                <span><img src="<?=$val['imgurl']?>" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText"><?=$val['name']?> <?=$val['classes']?></p>
                    </li>
					<?php
						}
					}
					?>
                    <li class="mj-more">
                        <p><a href=""><span>...</span>查看更多</a></p>
                    </li>
                </ul>
                <!--精品商标-->
                <ul class="mj-cLarge">
                    <?php 
					if($dataJP){
						foreach($dataJP['rows'] as $key => $val){
					?>
					<li>
                        <div class="mj-logoimg">
                            <a href="<?=$val['url']?>" class="mj-imglT">
                                <span><img src="<?=$val['imgurl']?>" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText"><?=$val['name']?> <?=$val['classes']?></p>
                    </li>
					<?php
						}
					}
					?>
                    <li class="mj-more">
                        <p><a href=""><span>...</span>查看更多</a></p>
                    </li>
                </ul>
                <!--特色商标-->
                <ul class="mj-Ather">
                    <?php 
					if($dataTS){
						foreach($dataTS['rows'] as $key => $val){
					?>
					<li>
                        <div class="mj-logoimg">
                            <a href="<?=$val['url']?>" class="mj-imglT">
                                <span><img src="<?=$val['imgurl']?>" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText"><?=$val['name']?> <?=$val['classes']?></p>
                    </li>
					<?php
						}
					}
					?>
                    <li class="mj-more">
                        <p><a href=""><span>...</span>查看更多</a></p>
                    </li>
                </ul>
            </dd>
        </dl>
        <div class="mj-imgL_right fr">
            <dl class="allFocusJ">
                <dt>
                    <span>最新交易记录</span>
                    <!--<a href="" class="mj-acolor">更多></a>-->
                </dt>
                <dd>
                    <ul class="m3list">
					<?php
						if($tradeInfo){
						foreach($tradeInfo as $val){
							echo "
							<li> <i class=\"mj-hep\"><img src='".StaticDir."style/img/mj-img3.png' alt=''/></i>
                            <div class=\"mj-peinf\">
                                <span>".$val['contact']."<em>".$val['dealDate']."</em></span>
                                <p>交易：第".$val['class']."类商标，".$val['name']."</p>
                            </div>
                        </li>";
						}
						}
						?>
                    </ul>
                </dd>

            </dl>
            <div class="mj-imgLr_bottom">
                <a href="">
                    <div class="mj-imgLr-back">
                        <p>商标安全检测</p>
                        <span>独家商标出售检测系统<br/>保障新购商标正常使用</span>
                        <i><img src="<?=StaticDir?>style/img/mj-img1.jpg" alt=""/></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--涉外商标出售-->
    <div class="mj-imgList mj-btcb f-clearfix">
        <dl class="mj-imgL_left fl f-clearfix">
            <dt class="mj-link3-dt">
            <h2>
                <b>涉外</b>
                <span>商标出售</span>
            </h2>
            <span class="mj-spanimg"><img src="<?=StaticDir?>style/img/img3.png" alt=""></span>
            <p>国际商标数据库</p>
            <ul>
                <li class="liclickc">欧盟</li>
                <li>马德里</li>
                <li>非洲</li>
                <li>其他国家</li>
            </ul>
            </dt>
            <dd class="mj-categoryCon" id="mj-categoryCon3">
                <!--欧盟-->
                <ul class="mj-cTmall">
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li class="mj-more">
                        <p><a href=""><span>...</span>查看更多</a></p>
                    </li>
                </ul>
                <!--马德里-->
                <ul class="mj-cLarge">
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li class="mj-more">
                        <p><a href=""><span>...</span>查看更多</a></p>
                    </li>
                </ul>
                <!--非洲-->
                <ul class="mj-Ather">
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li class="mj-more">
                        <p><a href=""><span>...</span>查看更多</a></p>
                    </li>
                </ul>
                <!--其他国家-->
                <ul class="mj-Ather">
                    <li>
                        <div class="mj-logoimg">
                            <a href="" class="mj-imglT">
                                <span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""/></span>
                            </a>
                        </div>
                        <p class="mj-cateText">梵秀,FAMXIU 日化用品</p>
                    </li>
                    <li class="mj-more">
                        <p><a href=""><span>...</span>查看更多</a></p>
                    </li>
                </ul>
            </dd>
        </dl>
        <div class="mj-imgL_right fr">
            <dl>
                <dt>
                    <span>商标帮助</span>
                    <!--<a href="" class="mj-acolor">更多></a>-->
                </dt>
                <dd>
                    <ul>
                        <li><p><span class="mj-miny"></span>天猫商城入驻商标要求</p></li>
                        <li><p><span class="mj-miny"></span>京东入驻商标要求</p></li>
                        <li><p><span class="mj-miny"></span>线下大型超凡入驻要求</p></li>
                        <li><p><span class="mj-miny"></span>各种会展入驻要求</p></li>
                        <li><a href="" class="mj-doubt"><i class="us-icon uj_icon17"></i>你有其他什么疑问？</a></li>
                    </ul>
                </dd>
            </dl>
            <div class="mj-imgLr_bottom mj-imgLr-back">
                <p style="font-size: 19px;">免费代办购买</p>
                <span>商标所需营业执照</span>
                <i class="mj-imr"><img src="<?=StaticDir?>style/img/mj-img2.png" alt=""></i>
            </div>
        </div>
    </div>
</div>

<div class="mj-hncon">
    <div class="w1180 mj-hcenrer">
        <h1>超凡资产交易平台能做的</h1>
        <p>商标局<span>3200余万</span>注册商标都能联系到卖家,目前已为<span>176000 </span>用户成功提供商标服务</p>
        <a href="/search">快速筛选你要的商标</a>
        <a href="javascript:;" onclick="consultation()">数据太多-我们帮你筛选？</a>
    </div>
</div>

<!--未检测到对应的电话号弹出层-->
<div class="mj-boughtM" id="mj-submitte">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>就差一步了,请输入手机验证码</h2>
            <input type="text" id="buyMsgCode"/>
            <!--不能点击状态-->
            <!--<label class="mj-bconT mj-bclik">重新发送 60s</label>-->
            <!--可点击状态-->
            <label class="mj-bconT mj-clickable">发送验证码</label>
            <span class="mj-bcTips"><!--验证码错误，请验证后输入--></span>
            <label class="mj-determineBtn">确定</label>
        </div>
    </div>
</div>
<!--求购已提交弹出层-->
<div class="mj-boughtM" id="mj-submitteS">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>恭喜您，求购已提交！</h2>
            <p>请保持电话畅通，以便交易专员联系到您</p>
            <a href="<?=MANAGER_URL?>buyer/ready/" class="mj-boBtn1">点击此处查看！</a>
        </div>
    </div>
</div>
<!--求购已提交失败弹出层-->
<div class="mj-boughtM" id="mj-submitteF">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h2 style="color:#ff6600">求购提交失败，请稍后重试！</h2>
            <p>可能因为网络问题或其他原因导致</p>
            <a href="javascript:;" class="mj-boBtn1" id="closeFailed">点此处关闭！</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    var _isLogin = "<?=$isLogin?>";
    var _mobile  = "<?=$userMobile?>";

    $(function(){
         $("input").each(function(){
            var spanT= $(this).parent().parent().find($(".mj-inpuV")).text();
            $(this).focus(function(){
                $(this).parent().parent().find($(".mj-inpuV")).text("");
            });
            $(this).blur(function(){
                if($(this).val()===""){
                    $(this).parent().parent().find($(".mj-inpuV")).text(spanT);
                }else{
                    $(this).parent().parent().find($(".mj-inpuV")).text("");
                }
            });
        });

        //banner切换
        jQuery(".mj-banner").slide({ mainCell:".mj-banner-img",effect:"fold", autoPlay:true, delayTime:600, trigger:"click"});
        //特价商标切换
        $(".mj-specialT>a").hide();
        $(".mj-specialT").hover(function(){
            $(".mj-specialT>a").show();
        },function(){
            $(".mj-specialT>a").hide();
        });
       /* jQuery(".mj-specialT").slide({ mainCell:".piclist", effect:"left",vis:4, pnLoop:false, scroll:4, autoPage:true});*/
        //最新购买需求切换
        jQuery(".allFocus").slide({ mainCell:".m2list", effect:"topLoop", vis:4, opp:true, autoPlay:true, delayTime:800 });
        //最新交易记录切换
        jQuery(".allFocusJ").slide({ mainCell:".m3list", effect:"topLoop", vis:4, opp:true, autoPlay:true, delayTime:800 });
        
        //快速成交商标切换
        $(".mj-link1-dt ul li").click(function(){
            $(this).addClass("liclickc").siblings().removeClass("liclickc");
            $('#mj-categoryCon1>ul:eq('+$(this).index()+')').show().siblings().hide();
        });
        //潜力投资商标切换
        $(".mj-link2-dt ul li").click(function(){
            $(this).addClass("liclickc").siblings().removeClass("liclickc");
            $('#mj-categoryCon2>ul:eq('+$(this).index()+')').show().siblings().hide();
        });
        //涉外商标切换
        $(".mj-link3-dt ul li").click(function(){
            $(this).addClass("liclickc").siblings().removeClass("liclickc");
            $('#mj-categoryCon3>ul:eq('+$(this).index()+')').show().siblings().hide();
        });

    });
</script>


<? require(ViewDir.'/footer.html'); ?>