<? require(ViewDir.'/header.html'); ?>

<!--mj-banner start-->
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/kj_tc.css"/>
<div class="mj-banner">

    <div class="w1180 mj-formW">

        <div class="mj-from">

            <form id="buyForm" action="/buy/add/">

                <div class="mj-from-title">

                    <label></label><span>商标购买快捷登记</span><label></label>

                    <p>线下专家10分钟为你快速匹配商标</p>

                </div>

                <div class="ms-errorTips mj-eed">

                    <p class="reg-tip"><i class="us-icon us-icon19"></i><em></em></p>

                </div>

                <div class="mj-form-wrapper">

                    <!--<span class="mj-inpuV">对商标的特殊要求  如：25类鞋子</span>-->

                    <i class="us-icon uj-icon4"></i>

                    <input type="text" id="buyNeed" placeholder="对商标的特殊要求  如：25类鞋子" name="content" maxlength="100">

                </div>

                <div class="mj_form_wpo f-clearfix">

                    <div class="mj-form-wrapper w178 fl">

                        <!--<span class="mj-inpuV">留下电话方便卖家联系你</span>-->

                        <i class="us-icon uj-icon5"></i>

                        <input id="buyMoblie" placeholder="留下电话方便卖家联系你" type="text" name="mobile" style="width: 155px;padding-left: 5px;">

                    </div>

                    <div class="mj_form_wrapper_input fr">

                        <!--<span class="mj-inpuV" style="padding-left: 10px;">姓氏</span>-->

                        <input type="text" placeholder="姓氏"  name="buyName" id="buyName" maxlength="8">

                    </div>

                </div>



                <a href="javascript:;" class="mj-from-btn" id="mj-from-btn">立即登记</a>
                <p class="mj-from-txt">我们将严格保密您的个人信息</p>


            </form>
            <!--添加最新交易-->
            <div class="mj-newjy">
                <h3><img src="<?=StaticDir?>1.2/images/jy-ic.png">最新交易记录</h3>
                <div class="bd">
                    <ul>
                        <? foreach($tradeInfo as $item): ?>
                        <li>
                            <img src="<?=StaticDir?>1.2/images/buy.png">
                            <p>
                                <span><?=$item['contact']?><a>（<?=$item['phone']?>）</a></span>
                                <font>“第<?=$item['class']?>类商标, <?=$item['className']?>”</font>
                            </p>
                        </li>
                        <? endforeach; ?>
                        <!--<li>
                            <img src="<?=StaticDir?>1.2/images/buy2.png">
                            <p>
                                <span>张先生<a>（135****8025）</a></span>
                                <font>“25类 用于天猫服装分类的 XX”</font>
                            </p>
                        </li>-->
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <div class="mj-bannerIimg">
        <div class="bd">
            <ul class="mj-banner-img">
                <?
                    $bannerStr = '';
                    foreach($banners as $banner){
                        $url = TRADE_URL.substr($banner['pic'],1);
                        $bannerStr .= "<li class='mj-banner-itme' style='background:url({$url}) #CCE1F3 center 0 no-repeat;'><a href='http://{$banner['link']}' target='_blank'></a></li>";
                    }
                    echo $bannerStr;
                ?>
            </ul>

        </div>
        <div class="hd">
            <ul class="f-clearfix">
                <?
                    $bannerBar = '';
                    for($i=1,$len=count($banners);$i<=$len;++$i){
                        $bannerBar .= "<li></li>";
                    }
                    echo $bannerBar;
                ?>
            </ul>

        </div>
    </div>

</div>
<!--mj-banner end-->
<!--活动推荐start-->
<div class="yzc-Activities w1180">
    <div class="hd">
        <a class="og_prev prev"></a>
        <a class="og_next next"></a>
    </div>
    <div class="bd picbox">
        <ul>
            <? foreach($ads as $ad): ?>
            <li>
                <a href="http://<?=$ad['link']?>" target="_blank">
                    <!--<h3>
                        活动标题<br/>
                        <span>活动标题</span>
                    </h3>-->
                    <img src="<?=(TRADE_URL.substr($ad['pic'],1))?>">
                </a>
            </li>
            <? endforeach; ?>
        </ul>
    </div>
</div>

<!--活动推荐end-->
<!--商标分类start-->
<div class="yzc-Brand w1180">
    <div class="hd">
        <ul class="Brand-tit">
            <li>
                <a>
                    商标全类
                </a>
            </li>
            <li>
                推荐分类
            </li>
        </ul>
    </div>
    <div class="bd">
        <ul class="brand-fl">
            <li>
                <? foreach($allClass[0] as $class): ?>
                <a><span>&bull;<?=$class['number']?>类</span> <?=$class['name']?> </a>
                <? endforeach; ?>
            </li>
            <li>
                <? foreach($allClass[1] as $class): ?>
                <a><span>&bull;<?=$class['number']?>类</span> <?=$class['name']?> </a>
                <? endforeach; ?>
            </li>
            <li>
                <? foreach($allClass[2] as $class): ?>
                <a><span>&bull;<?=$class['number']?>类</span> <?=$class['name']?> </a>
                <? endforeach; ?>
            </li>
            <li>
                <? foreach($allClass[3] as $class): ?>
                <a><span>&bull;<?=$class['number']?>类</span> <?=$class['name']?> </a>
                <? endforeach; ?>
            </li>
            <li>
                <? foreach($allClass[4] as $class): ?>
                <a><span>&bull;<?=$class['number']?>类</span> <?=$class['name']?> </a>
                <? endforeach; ?>
            </li>
        </ul>
        <ul class="tj-recom">
            <? foreach($recommendClasses as $rClass): ?>
            <li>
                <p>
                    <label><img src="<?=(TRADE_URL.substr($rClass['pic'],1))?>"></label>
                    <!--<span><b>衣</b>Clothes</span>-->
                    <span><b><?=$rClass['link']?></b></span>
                </p>
                <div class="tj-recom-hover">
                    <? foreach($rClass['class'] as $class): ?>
                    <label><a><?=$class?> </a></label>
                    <? endforeach; ?>
                </div>
            </li>
            <? endforeach; ?>
        </ul>
    </div>


</div>

<!--商标分类end-->
<!--类别展示start-->
<div class="sbzs" id="sbzs">
    <!--<div class="yzc-category w1180" id="cloth">-->
    <? foreach($modules as $tk=>$module): ?>
    <div class="yzc-category w1180" <?=(($tk==0)?'':'id="cloth"')?>>
        <div class="yzc-category-tit">
            <h3 class="fl"><img src="<?=StaticDir?>1.2/images/cate-ico1.png"><?=($tk+1)?>F <span> / </span><?=$module['name']?></h3>
            <div class="parHd" style="position:relative;z-index:9999;">
                <ul class="fr">
                    <? foreach($module['class'] as $class): ?>
                    <li><?=$module['name']?><span></span></li>
                    <? endforeach; ?>
                </ul>
            </div>
        </div>
        <div class="parBd" style="position:relative;z-index:9;">
            <? foreach($module['class'] as $class): ?>
            <div class="brandlist-show">
                <div class="yzc-categorypic-show fl">
                    <div  class="slideBox">
                        <div class="shd">
                            <p>
                                <? for($i=1,$len=count($module['pic']);$i<=$len;++$i): ?>
                                <? if($i==1): ?>
                                <a class="on">1</a>
                                <? else: ?>
                                <a><?=$i?></a>
                                <? endif; ?>
                                <? endfor; ?>
                            </p>
                        </div>
                        <div class="sbd">
                            <ul>
                                <? foreach($module['pic'] as $pic): ?>
                                <li><a href="http://<?=$pic['link']?>" target="_blank"><img src="<?=(TRADE_URL.substr($pic['pic'],1))?>" /></a></li>
                                <? endforeach; ?>
                            </ul>
                        </div>
                        <!-- 下面是前/后按钮代码 -->
                        <a class="sprev" href="javascript:void(0)"></a>
                        <a class="snext" href="javascript:void(0)"></a>
                    </div>

                    <div class="cate-list">
                        <? foreach($module['link'] as $link): ?>
                        <p>
                            <a target="_blank" class="fl <?=$link[0]['color']?>" href="http://<?=$link[0]['link']?>"><span>></span><?=$link[0]['title']?></a>
                            <?if(isset($link[1])):?>
                            <a target="_blank" class="fr <?=$link[1]['color']?>" href="http://<?=$link[1]['link']?>"><span>></span><?=$link[1]['title']?></a>
                            <?endif;?>
                        </p>
                        <? endforeach; ?>
                    </div>
                </div>
                <ul class="yzc-categorbrand fr">
                    <? foreach($class['items'] as $item): ?>
                    <li>
                        <div class="brand-show">
                            <span><img src="<?=(TRADE_URL.substr($item['embellish'],1))?>"></span>
                            <p><b><?=$item['name']?></b><?=$item['class']?></p>
                        </div>
                        <div class="brand-buy">
                            <span><img src="<?=(TRADE_URL.substr($item['embellish'],1))?>"></span>
                            <p><b><?=$item['name']?></b><?=$item['class']?></p>
                            <font>
                                <a href="" class="first">
                                    <img src="<?=StaticDir?>1.2/images/catebuy1.png">
                                    询 价
                                </a>
                                <a href="" class="sec">
                                    <img src="<?=StaticDir?>1.2/images/cate-ck.png">
                                    联系卖家
                                </a>
                            </font>
                        </div>
                    </li>
                    <? endforeach; ?>
                </ul>
            </div>
            <? endforeach; ?>
        </div>
    </div>
    <? endforeach; ?>
</div>

<!--类别展示end-->
<!--成功案列start-->
<div class="w1180 succeed-al" id="succal">
    <a href=""><h3>成功案例</h3></a>
    <ul class="succeed-al-main">
        <li>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <dl>
                            <font>格伦贝拉<span style="background: #ff9f8c;">服装鞋帽25类</span></font>
                            <p>
                                <label>使用商品：</label>服装鞋帽、服装配饰<br/>
                                <label>购  买 人：</label> 慈先生<br/>
                                <label>服务顾问：</label>陈艾<br/>
                            </p>
                        </dl>
                        <img src="<?=StaticDir?>1.2/images/al1.png">
                    </div>
                    <div class="back">
                        <img src="<?=StaticDir?>1.2/images/overturn.png">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <dl>
                            <font>Hesiod<span style="background: #ffc061;">化妆清洁3类</span></font>
                            <p>
                                <label>使用商品：</label>清洁用品、化妆品<br/>
                                <label>购  买 人：</label> 某商贸公司<br/>
                                <label>服务顾问：</label>王桂华<br/>
                            </p>
                        </dl>
                        <img src="<?=StaticDir?>1.2/images/al2.png">
                    </div>
                    <div class="back">
                        <img src="<?=StaticDir?>1.2/images/overturn.png">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <dl>
                            <font>麦普森<span style="background: #8cdcff;">3C数码9类</span></font>
                            <p>
                                <label>使用商品：</label>计算机、数码产品<br/>
                                <label>购  买 人：</label> 王先生<br/>
                                <label>服务顾问：</label>寇飞<br/>
                            </p>
                        </dl>
                        <img src="<?=StaticDir?>1.2/images/al3.png">
                    </div>
                    <div class="back">
                        <img src="<?=StaticDir?>1.2/images/overturn.png">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--成功案列end-->
<!--商标新闻start-->
<div class="brand-ques w1180">

    <div class="fl">
        <h3> 商标新闻</h3>
        <div class="Tradenews">
            <dl>
                <dt>
                    <img src="<?=StaticDir?>1.2/images/brand1.png">
                </dt>
                <dd>
                    <? foreach ($news['news'] as $item){ ?>
                    <p><span class="fl"><label>&bull;</label><a target="_blank" href="http://<? echo $item['url'];?>"><? echo $item['title'];?></a>   </span><label class="fr"><? echo date('Y-m-d H:i:s',$item['time']);?></label></p>
                    <? } ?>
                    <a hidden="">更多 ></a>
                </dd>
            </dl>
            <div class="btm">
                <? foreach ($news['baike'] as $item){ ?>
                <p>
                    <span class="fl">[<a href="" target="_blank">商标百科</a>] <a href="http://<? echo $item['url'];?>" target="_blank"><? echo $item['title'];?></a></span> <label class="fr"><? echo date('Y-m-d H:i:s',$item['time']);?></label>
                </p>
                <? } ?>
            </div>
        </div>


    </div>

    <div class="fr">
        <h3> 商标转让问答</h3>
        <div class="trademark">
            <dl>
                <dt>
                    <img src="<?=StaticDir?>1.2/images/brand2.png">
                </dt>
                <dd>
                    <? foreach ($news['faq'] as $item){ ?>
                    <p><span class="fl"><label>&bull;</label><a target="_blank" href="http://<? echo $item['url'];?>"><? echo $item['title'];?></a>   </span><label class="fr"><? echo $item['time'];?></label></p>
                    <? } ?>
                </dd>
            </dl>
            <div class="btm">
                <? foreach ($news['law'] as $item){ ?>
                <p>
                    <span class="fl">[<a href="" target="_blank">商标法律</a>] <a href="http://<? echo $item['url'];?>" target="_blank"><? echo $item['title'];?></a></span> <label class="fr"><? echo $item['time'];?></label>
                </p>
                <? } ?>
            </div>
        </div>


    </div>
</div>
<!--商标新闻end-->
<!--订阅商标start-->
<div class="yzc-take">
    <div class="w1180">
        <a class="take1" href="">快速筛选出好标</a>
        <a class="take2" href="">联系我们-免费为你找</a>
    </div>

</div>
<!--求购已提交弹出层-->
<div class="mj-boughtM" id="mj-submitteS">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>恭喜，求购提交成功</h2>
            <p>请保持电话畅通，10分钟内联系你。</p>
            <a href="javascript:;" onclick="layer.closeAll();" class="mj-boBtn1">点击此处关闭！</a>
        </div>
    </div>
</div>
<!--求购已提交失败弹出层-->
<div class="mj-boughtM" id="mj-submitteF">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h2 style="color:#ff6600">求购提交失败，请稍后重试！</h2>
            <p>可能因为网络问题或其他原因导致</p>
            <a href="javascript:;" class="mj-boBtn1" id="closeFailed">点此处关闭！</a>
        </div>
    </div>
</div>
<!--订阅商标end-->
<? require(ViewDir.'/footer.html'); ?>