<!-- mj-footer start -->
<div class="mj-footer">
    <div class="mj-footer_top">
        <div class="w1180">
            <ul class="f-clearfix">
                <li>
                    <i class="us-icon uj_icon18"></i>
                    <div class="mj-fLitext">
                        <p>强大筛选系统</p>
                        <span>3.5秒筛选商标</span>
                    </div>
                </li>
                <li class="mj-fSwaper"></li>
                <li>
                    <i class="us-icon uj_icon19"></i>
                    <div class="mj-fLitext">
                        <p>快速流程</p>
                        <span>最快4小时，商标抱回家</span>
                    </div>
                </li>
                <li class="mj-fSwaper"></li>
                <li>
                    <i class="us-icon uj_icon20"></i>
                    <div class="mj-fLitext">
                        <p>安全保障</p>
                        <span>担保交易，签订赔付协议</span>
                    </div>
                </li>
                <li class="mj-fSwaper"></li>
                <li>
                    <i class="us-icon uj_icon21"></i>
                    <div class="mj-fLitext">
                        <p>透明交易</p>
                        <span>3方协议-全程公证-不黑钱 </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="w1180">
        <div class="mj-footer_nav">
            <ul class="f-clearfix">
                <li><a href="http://chaofan.wang/about" target="_blank">关于超凡</a> </li>
                <li><a href="http://chaofan.wang/about/articleList/?type=xxpl" target="_blank">投资者关系</a> </li>
                <li><a href="http://chaofan.wang/about/cgal/" target="_blank">成功案例</a> </li>
                <li><a href="http://chaofan.wang/about/zytd/" target="_blank">专业团队</a> </li>
                <li><a href="http://chaofan.wang/about/lxwm/" target="_blank">联系我们</a> </li>
                <li><a href="http://job.chofn.com/" target="_blank">超凡招聘</a> </li>
                <li><a href="http://chaofan.wang/help/copyright" target="_blank">版权声明</a> </li>
            </ul>
        </div>
        <div class="mj-footer_center f-clearfix">
            <div class="mj-footerC_left fl">
                <ul>
                    <li>北京超凡知识产权代理有限公司（总部）</li>
                    <li>北京超凡知识产权电子商务中心</li>
                    <li>杭州超凡知识产权代理有限公司</li>
                    <li>超凡（天津）知识产权代理有限公司</li>
                    <li>南京超成知识产权代理有限公司</li>
                </ul>
            </div>
            <div class="mj-footerC_center fl">
                <ul>
                    <li>四川超凡知识产权服务股份有限公司</li>
                    <li>北京超凡知识产权代理有限公司广州分公司</li>
                    <li>重庆超凡知识产权代理有限公司</li>
                    <li>长沙超凡志成知识产权代理有限公司</li>
                    <li>苏州超凡志成知识产权代理有限公司</li>
                </ul>
            </div>
            <div class="mj-footerC_right fr">
                <ul>
                    <li>深圳超凡知识产权代理有限公司</li>
                    <li>武汉超凡志成知识产权管理咨询有限公司</li>
                    <li>北京超凡专利代理机构（北京超凡志成知识产权代理事务所）</li>
                    <li>北京超凡涉外商标代理机构</li>
                    <li>北京超成律师事务所</li>
                </ul>
            </div>
        </div>
        <div class="mj-footer_bottom">
            <div class="mj-footerText">
                <span>全国免费咨询热线：4006-899-852 </span>
                <span>电话总机：010-88389908</span>
                <span>传真：010- 62137367</span>
                <span>备案专线：400-676-2003-634（周一至周五）</span><br/>
                <span>售后专线：010-82676562 </span>
                <span>VPS专线：400-676-2003-8888  </span>
                <span>值班电话：010-82676562（夜间虚机24H）</span>
                <span>机房电话：400-676-2003-582（夜间机房24H）</span>
            </div>
            <div class="mj-qqLink f-clearfix">
                <span>商标交易顾问：</span>
                <div class="mj-qqLink-list">
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">Olive</a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">Tiny</a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">Alla</a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">Yally</a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">慧慧</a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">Teeny</a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">Eline</a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">Aimy</a>
                </div>
            </div>
            <div class="mj-qqLink f-clearfix">
                <span>商标交易专员：</span>
                <div class="mj-qqLink-list">
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">刘经理 </a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">经理flory</a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">漆经理shily</a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">黄经理Amos</a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img5.png" alt="">吴经理mark</a>
                </div>
            </div>
            <div class="mj-qqLink f-clearfix">
                <span>商标交易售后服务：</span>
                <div class="mj-qqLink-list mj-zxa">
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img6.png" alt="商标交易担保经理咨询">商标交易担保经理咨询</a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img6.png" alt="商标转让公证指导专员咨询">商标转让公证指导专员咨询</a>
                    <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/img/mj-img6.png" alt="商标转让案件处理专员咨询">商标转让案件处理专员咨询 </a>
                </div>
            </div>
        </div>
        <p class="mj-footerB_text">违法和不良信息举报电话: 028-110     Copyright © 2002 - 2015 北京超凡知识产权代理有限公司 </p>
    </div>
</div>
<!-- mj-footer end -->

<div class="mj-sidebar">
    <div class="mj-stclose">
        <label id="mj-stclose">X关闭</label>
    </div>
    <div class="mj-sidebarCon">
        <span><i class="us-icon us-icon14"></i><br>免费咨询<b></b></span>
        <a href="javascript:;" onclick="consultation()">购买<br>商标</a>
        <a href="javascript:;" onclick="consultation()">出售<br>商标</a>
        <a href="javascript:;" onclick="consultation()">购买<br>专利</a>
        <a href="javascript:;" onclick="consultation()">出售<br>专利</a>
        <a href="javascript:;" onclick="consultation()">其他<br>服务</a>
        <div class="ms-call">
            <a href="javascript:;"><i class="us-icon us-icon15"></i><br>免费<br>电话</a>
            <div class="ms-sidebarTel">
                <p><em>4006-899-852</em></p>
                <span class="jxwz">电话免费开通在线管理平台账户(国内唯一)</span>
                <input type="text" id="telInput" name="telInput" placeholder="输入电话号码">
                <a href="javascript:;" id="callBtn">立即免费通话</a><br>
            </div>
        </div>
        <a href="javascript:" class="mj-topIcon"><i class="uj_icon25"></i><br>顶部</a>
    </div>
    <div class="mj-siright">
        <i class="us-icon us-icon14"></i>
        <em>免费咨询</em>
    </div>
</div>
<!--分类弹框-->
<div class="w1180">
    <div class="mj-models" style="display:none;">
        <a href="javascript:;" class="mj-close"></a>
        <ul class="f-clearfix">
            <li cid="0"><a href="javascript:;">所有分类</a></li>
            <? foreach ($CLASSES as $key => $value) { ?>
                <li cid="<?=$key?>"><a href="javascript:;"><?echo $key.'类-'.$value?></a></li>
            <? } ?>
        </ul>
    </div>
</div>

<div id="center" class="progress_bar">
    <div id="loading"><div></div></div>
</div>

<!-- 新增登录框弹出框 -->
<div class="mj-loginModel" id="loginFormDiv"  style="display: none;">
    <span class="ms-close mj-close" onclick="boxHide('mj-loginModel')"></span>
    <div class="mj-lmTop" id="dl_title">
        <h6>登录</h6>
        <p style="margin-left: 10px;"></p>
    </div>
    <div class="mj-lmBottom">
        <div class="ms-errorTips">
            <p class="reg-tip" id="loginTips" style="display:none"><i class="us-icon us-icon19"></i><em></em></p>
        </div>
        <div class="ms-phoneInput f-clearfix">
            <div class="mj-form-wrappers fl" style="width: 158px;">
                <span class="mj-inpuVs mj-mlspan">请输入手机号码</span>
                <div class="ms-input mj-input">
                    <i class="us-icon uj-icon5"></i>
                    <input type="text" id="loginUser">
                </div>
            </div>
            <a href="javascript:;" class="ms-sent " id="dl_wjmm">忘记密码</a>
            <a href="javascript:;" class="ms-sent" id="dl_fsmm" style="display:none">发送密码</a>
        </div>
        <div class="mj-lomTip" id="dl_ts" style="display:none">
            <b>未收到密码: </b>
            <p>1.手机号错误，请验证后重新输入</p>
            <p>2.发送失败，人工将电话告知你报价</p>
        </div>
        <div class="mj-form-wrappers">
            <span class="mj-inpuVs mj-mlspan">请输入密码</span>
            <div class="ms-input mj-input">
                <i class="us-icon us-iconmi"></i>
                <input type="password" id="loginPass" onkeydown="if(event.keyCode==13) checkLoginForm();" >
            </div>
        </div>
        <a href="javascript:;" ctype="e" class="ms-loginBtn" id="dl_sub">立即登录</a>
    </div>
</div>

<script src="<?=StaticDir?>script/backcallandtongji.js">
</script><script language="javascript" src="http://st.chofn.com/?action=sid&area=3&tid=2"></script>
<script type="text/javascript">
    //分类弹框
    //$(".mj-models").hide(); //初始ul隐藏

    var CHOFN = (function($,chofn){
       var __loginBox = $('#loginFormDiv');
       chofn.loginShow = function(obj){
           __loginBox.show();
           boxBg();
           reCal(__loginBox);
       };
       var __loginBoxs = $('#buyFormDiv');
       chofn.BuyShow = function(obj){
           __loginBoxs.show();
           boxBg();
           reCal(__loginBoxs);
       };
       return chofn;
    })(jQuery,CHOFN || {});
   

    //ms-hoverList  //免费通知
    $('.ms-imglist-ul li,.ms-call').hover(function(){
        $(this).addClass('current');
    },function(){
        $(this).removeClass('current');
    });
    //当点击跳转链接后，回到页面顶部位置
    $(".mj-topIcon").click(function(){
        $('body,html').animate({scrollTop:0},1000);
        return false;
    });

   var isOpen = 0;
   //弹出层居中
   function reCal(obj){
       var screenWidth,screenHeigth,scollTop,objLeft,objTop;
       function box(){
           screenWidth = $(window).width(); //当前窗口的宽度
           screenHeigth = $(window).height();  //当前窗口的高度
           scollTop = $(document).scrollTop(); //获取滚动条距顶部的偏移
           objLeft = (screenWidth - obj.outerWidth()) / 2; //弹出框距离左侧距离
           objTop = (screenHeigth - obj.outerHeight()) / 2; //弹出框距离顶部的距离
           //css定位弹出层
           obj.css({
               left: objLeft,
               top:  objTop
           });
       };
       box();
       isOpen = 1; //弹出框设定一个变量 置为1 说明弹出框是打开状态
       //当浏览器窗口大小改变时或者滚动条滚动时...
       $(window).on('resize scroll',function(){
           //判断此变量是否为1 如果是就执行
           if(isOpen == 1){
               box();
           }
       });
   };
   //生成弹层背景
   function boxBg(){
       var boxbg = $(document.createElement('div')),
               docheight = $(document).height();
       boxbg.addClass('ms-boxBg');
       $('body').append(boxbg);
       $('.ms-boxBg').css({
           opacity: "0.6",
           height: docheight
       });
   };
   //关闭弹层
   function boxHide(objId){
       $('.'+objId).hide();
       $('.ms-boxBg').remove();
       isOpen = 0;
       doBuyFunc = '';
   };

    $("input").each(function(){
        var spanT= $(this).parent().parent().find($(".mj-inpuVs")).text();
        $(this).focus(function(){
            $(this).parent().parent().find($(".mj-inpuVs")).text("");
        });
        $(this).blur(function(){
            if($(this).val()===""){
                $(this).parent().parent().find($(".mj-inpuVs")).text(spanT);
            }else{
                $(this).parent().parent().find($(".mj-inpuVs")).text("");
            }
        });
    });
    $("#mj-stclose").click(function(){
        $(".mj-stclose").hide(300);
        $(".mj-sidebarCon").hide(300);
        $(".mj-siright").show(300);
    });
    $(".mj-siright").click(function(){
        $(".mj-stclose").show(300);
        $(".mj-sidebarCon").show(300);
        $(".mj-siright").hide(300);
    });
	
	if($(window).width() > 1320){
        $(".mj-siright").hide();
        $(".mj-stclose").show();
        $(".mj-sidebarCon").show();
	}
    if($(window).width() < 1320){
        $(".mj-siright").show();
        $(".mj-stclose").hide();
        $(".mj-sidebarCon").hide();
    }
    var $wind = $(window);//将浏览器加入缓存中



    var win = $wind.outerWidth()//首先获取浏览器的宽度

    $wind.resize(function(){
//浏览器变化宽度的动作。
        var newW = $wind.outerWidth();
        if(newW<1320){
            $(".mj-siright").show();
            $(".mj-stclose").hide();
            $(".mj-sidebarCon").hide();
            $("#mj-stclose").click(function(){
                $(".mj-stclose").hide(300);
                $(".mj-sidebarCon").hide(300);
                $(".mj-siright").show(300);
            });
            $(".mj-siright").click(function(){
                $(".mj-stclose").show(300);
                $(".mj-sidebarCon").show(300);
                $(".mj-siright").hide(300);
            });
        }else{
            $(".mj-siright").hide();
            $(".mj-stclose").show();
            $(".mj-sidebarCon").show();
            $("#mj-stclose").click(function(){
                $(".mj-stclose").hide(300);
                $(".mj-sidebarCon").hide(300);
                $(".mj-siright").show(300);
            });
            $(".mj-siright").click(function(){
                $(".mj-stclose").show(300);
                $(".mj-sidebarCon").show(300);
                $(".mj-siright").hide(300);
            });
        }

    });


    $(document).ready(function(){
        var doc=document,inputs=doc.getElementsByTagName('input'),supportPlaceholder='placeholder'in doc.createElement('input'),placeholder=function(input){var text=input.getAttribute('placeholder'),defaultValue=input.defaultValue;
            if(defaultValue==''){
                input.value=text}
            input.onfocus=function(){
                if(input.value===text){this.value=''}};
            input.onblur=function(){if(input.value===''){this.value=text}}};
        if(!supportPlaceholder){
            for(var i=0,len=inputs.length;i<len;i++){var input=inputs[i],text=input.getAttribute('placeholder');
                if(input.type==='text'&&text){placeholder(input)}}}});
</script>
</body>
</html>