<!--底部start-->
<div class="mj-footer">
    <div class="mj-footer_top">
        <div class="w1180">
            <ul class="f-clearfix">
                <li>

                    <img src="<?=StaticDir?>1.2/images/mj-icon18.png">
                    <div class="mj-fLitext">
                        <p>精准匹配</p>
                        <span>强大筛选系统 - 3.5秒匹配</span>
                    </div>
                </li>
                <li class="mj-fSwaper"></li>
                <li>
                    <img src="<?=StaticDir?>1.2/images/mj-icon19.png">
                    <div class="mj-fLitext">
                        <p>快速流程</p>
                        <span>最快4小时 - 商标抱回家</span>
                    </div>
                </li>
                <li class="mj-fSwaper"></li>
                <li>
                    <img src="<?=StaticDir?>1.2/images/mj-icon20.png">
                    <div class="mj-fLitext">
                        <p>拒绝损失</p>
                        <span>担保交易 - 签订100%赔付协议</span>
                    </div>
                </li>
                <li class="mj-fSwaper"></li>
                <li>
                    <img src="<?=StaticDir?>1.2/images/mj-icon21.png">
                    <div class="mj-fLitext">
                        <p>透明交易</p>
                        <span>3方协议 - 全程公证 </span>
                    </div>
                </li>
                <li class="mj-fSwaper"></li>
                <li>
                    <img src="<?=StaticDir?>1.2/images/mj-icontj.png">
                    <div class="mj-fLitext">
                        <p>终身免费售后</p>
                        <span>转让后 - 10年免费安全监测</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="w1180">
        <div class="mj-footer_nav">
            <ul class="f-clearfix">
                <li><a href="http://chaofan.wang/about" target="_blank">联系我们  </a> </li>
                <li><a href="http://chaofan.wang/about/articleList/?type=xxpl" target="_blank">关于一只蝉 </a> </li>
                <li><a href="http://chaofan.wang/about/cgal/" target="_blank">网站备案  </a> </li>
                <li><a href="http://chaofan.wang/about/zytd/" target="_blank">成功案例</a> </li>
                <li><a href="http://chaofan.wang/about/lxwm/" target="_blank">常见问题</a> </li>
                <li><a href="http://job.chofn.com/" target="_blank">加入我们</a> </li>

            </ul>
        </div>
        <div class="mj-footer_nav">
            <p>
                <span>友情链接：</span>
                <?foreach($frendlyLink as $item):?>
                <a target="_blank" href="http://<?=$item['content']?>"><?=$item['thumtitle']?></a>
                <?endforeach;?>
                <br/>
                <span>分公司：</span>  <a>北京</a>   <a>天津</a>   <a>南京</a> <a>苏州</a><a>杭州 </a>   <a>武汉 </a>   <a>长沙 </a> <a>重庆</a><a>成都 </a><a>广州</a><a>深圳 </a><a>山东</a><a>上海 </a>
            </p>
        </div>

        <div class="mj-footer_bottom">
            <a style="   margin-left:0px;">
                <img src="<?=StaticDir?>1.2/images/btm-brand1.png">
            </a>
            <a>
                <img src="<?=StaticDir?>1.2/images/btm-brand2.png">
            </a>
            <a>
                <img src="<?=StaticDir?>1.2/images/btm-brand3.png">
            </a>
            <a>
                <img src="<?=StaticDir?>1.2/images/btm-brand4.png">
            </a>
            <a>
                <img src="<?=StaticDir?>1.2/images/btm-brand5.png">
            </a>
        </div>
        <p class="mj-footerB_text"><a href="http://www.miibeian.gov.cn/">ICP证：蜀ICP备15035613号-1</a> 违法和不良信息举报电话: 028-110     Copyright © 2002 - 2015 北京超凡知识产权代理有限公司 </p>
    </div>
</div>
<!--底部end-->
<!--漂浮楼层start-->
<ul class="float-floor" id="float-floor">
    <?foreach($modules as $k=>$module):?>
    <li>
        <a><?=($k+1)?>F</a>
        <a class="etitle" <?=(($k==0)?'style="display: block"':'')?> ><?=(mb_substr($module['name'],0,2,'utf-8'))?></a>
    </li>
    <?endforeach;?>
</ul>
<!--漂浮楼层end-->
<div id="center" class="progress_bar">

    <div id="loading"><div></div></div>

</div>
<!-- 新增登录框弹出框 -->
<div class="mj-loginModel" id="loginFormDiv"  style="display: none;">

    <span class="ms-close mj-close" onclick="boxHide('mj-loginModel')"></span>

    <div class="mj-lmTop" id="dl_title">

        <h6>登录</h6>

        <p style="margin-left: 10px;"></p>

    </div>

    <div class="mj-lmBottom">

        <div class="ms-errorTips">

            <p class="reg-tip" id="loginTips" style="display:none"><i class="us-icon us-icon19"></i><em></em></p>

        </div>

        <div class="ms-phoneInput f-clearfix">

            <div class="mj-form-wrappers fl" style="width: 158px;">

                <span class="mj-inpuVs mj-mlspan">请输入手机号码</span>

                <div class="ms-input mj-input">

                    <i class="us-icon uj-icon5"></i>

                    <input type="text" id="loginUser">

                </div>

            </div>

            <a href="javascript:;" class="ms-sent" id="dl_wjmm">忘记密码</a>

            <a href="javascript:;" class="ms-sent" id="dl_fsmm" style="display:none">发送密码</a>

        </div>

        <div class="mj-form-wrappers">

            <span class="mj-inpuVs mj-mlspan">请输入密码</span>

            <div class="ms-input mj-input">

                <i class="us-icon us-iconmi"></i>

                <input type="password" id="loginPass" onkeydown="if(event.keyCode==13) letLogin();" >

            </div>

        </div>

        <div class="mj-lomTip" id="dl_ts" style="display:none">

            <b>未收到密码: </b>

            <p>1.手机号错误，请验证后重新输入</p>

            <p>2.发送失败，人工将电话与您联系</p>

        </div>

        <a href="javascript:;" ctype="e" class="ms-loginBtn " id="dl_sub">立即登录</a>

    </div>

</div>
</body>
</html>