<!--底部start-->
<div class="mj-footer f-clearfix">
    <div class="mj-footer_top">
        <div class="w1180">
            <ul class="f-clearfix">
                <li>
                    <img src="<?=StaticDir?>1.2/images/mj-icon18.png">
                    <div class="mj-fLitext">
                        <p>精准匹配</p>
                        <span>强大筛选系统 - 3.5秒匹配</span>
                    </div>
                </li>
                <li class="mj-fSwaper"></li>
                <li>
                    <img src="<?=StaticDir?>1.2/images/mj-icon19.png">
                    <div class="mj-fLitext">
                        <p>快速流程</p>
                        <span>最快4小时 - 商标抱回家</span>
                    </div>
                </li>
                <li class="mj-fSwaper"></li>
                <li>
                    <img src="<?=StaticDir?>1.2/images/mj-icon20.png">
                    <div class="mj-fLitext">
                        <p>拒绝损失</p>
                        <span>担保交易 - 签订100%赔付协议</span>
                    </div>
                </li>
                <li class="mj-fSwaper"></li>
                <li>
                    <img src="<?=StaticDir?>1.2/images/mj-icon21.png">
                    <div class="mj-fLitext">
                        <p>透明交易</p>
                        <span>3方协议 - 全程公证 </span>
                    </div>
                </li>
                <li class="mj-fSwaper"></li>
                <li>
                    <img src="<?=StaticDir?>1.2/images/mj-icontj.png">
                    <div class="mj-fLitext">
                        <p>终身免费售后</p>
                        <span>转让后 -永久免费安全监测</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="w1180">
        <div class="mj-footer_nav">
            <ul class="f-clearfix">
                <li><a href="/faq/views/?c=54&id=985" target="_blank">联系我们  </a> | </li>
                <li><a href="/buy" target="_blank">关于一只蝉 </a> | </li>
                <li><a href="http://www.miibeian.gov.cn/" target="_blank">网站备案  </a>| </li>
                <li><a href="/case/" target="_blank">成功案例</a> | </li>
                <li><a href="/faq/views/?c=54&id=987" target="_blank">常见问题</a>|  </li>
                <li><a href="http://job.chofn.com/" target="_blank">加入我们</a> </li>

            </ul>
        </div>
        <div class="mj-footer_nav">
            <p>
                <span>友情链接：</span>
                <?foreach($frendlyLink as $item):?>
                <a target="_blank" href="<?=$item['content']?>"><?=$item['thumtitle']?></a>
                <?endforeach;?>
                <br/>
                <span>分公司：</span>  <a>北京</a>   <a>天津</a>   <a>南京</a> <a>苏州</a><a>杭州 </a>   <a>武汉 </a>   <a>长沙 </a> <a>重庆</a><a>成都 </a><a>广州</a><a>深圳 </a><a>山东</a><a>上海 </a>
            </p>
                <div class="mj-footer_bottom">
                <a href="http://www.cyberpolice.cn/wfjb/" style="margin-left:0px;" target="_blank">
                    <img src="<?=StaticDir?>1.2/images/btm-brand1.png">
                </a>
                <a href="http://net.china.com.cn/" target="_blank">
                    <img src="<?=StaticDir?>1.2/images/btm-brand2.png">
                </a>
                <a href="/faq/kxwz" target="_blank">
                    <img src="<?=StaticDir?>1.2/images/btm-brand3.png">
                </a>
                <a href="/faq/ryzz" target="_blank">
                    <img src="<?=StaticDir?>1.2/images/btm-brand4.png">
                </a>
                <a href="/faq/yyzz" target="_blank">
                    <img src="<?=StaticDir?>1.2/images/btm-brand5.png">
                </a>
        </div>
        </div>

    
        <p class="mj-footerB_text"><a href="http://www.miibeian.gov.cn/">ICP证：蜀ICP备15035613号-1</a> 违法和不良信息举报电话: 028-110     Copyright © 2002 - 2016 北京超凡知识产权代理有限公司 </p>
    </div>
</div>
<!--底部end-->
<div id="center" class="progress_bar">
    <div id="loading"><div></div></div>
</div>
<!-- 新增登录框弹出框 -->
<div class="mj-loginModel" id="loginFormDiv"  style="display: none;">
    <span class="ms-close mj-close" onclick="boxHide('mj-loginModel')"></span>
    <div class="mj-lmTop" id="dl_title">
        <h6>登录</h6>
        <p style="margin-left: 10px;"></p>
    </div>
    <div class="mj-lmBottom">
        <div class="ms-errorTips ms-errorTips2">
            <p class="reg-tip" id="loginTips"><i class="us-icon us-icon19"></i><em></em></p>
        </div>
        <div class="ms-phoneInput f-clearfix">
            <div class="mj-form-wrappers fl" style="width: 158px;">
                <!--<span class="mj-inpuVs mj-mlspan">请输入手机号码</span>-->
                <div class="ms-input mj-input">
                    <i class="us-icon uj-icon5"></i>
                    <input type="text" id="loginUser" placeholder="请输入手机号码">
                </div>
            </div>
            <a href="javascript:;" class="ms-sent" id="dl_wjmm">忘记密码</a>
            <a href="javascript:;" class="ms-sent" id="dl_fsmm" style="display:none">发送密码</a>
        </div>
        <div class="mj-form-wrappers">
            <!--<span class="mj-inpuVs mj-mlspan">请输入密码</span>-->
            <div class="ms-input mj-input">
                <i class="us-icon us-iconmi"></i>
                <input type="password" placeholder="请输入密码" id="loginPass" onkeydown="if(event.keyCode==13) letLogin();" >
            </div>
        </div>
        <div class="mj-lomTip" id="dl_ts" style="display:none">
            <b>未收到密码: </b>
            <p>1.手机号错误，请验证后重新输入</p>
            <p>2.发送失败，人工将电话与您联系</p>
        </div>
        <a href="javascript:;" ctype="e" class="ms-loginBtn " id="dl_sub">立即登录</a>
    </div>
</div>
<!-- 跳转到用户中心 -->
<div class="mj-boughtM" id="goCenter">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>欢迎</h2>
            <p>请到用户中心绑定手机号码, 修改成功请刷新本页面</p>
            <a target="_blank" href="<?=PERSONAL_CENTER?>"  class="mj-boBtn1">GO 用户中心！</a>
        </div>
    </div>
</div>
<!--求购已提交弹出层-->
<div class="mj-boughtM" id="mj-submitteS">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2 class="ddw_success1">恭喜，提交成功</h2>
            <p class="ddw_success2">请保持电话畅通，10分钟内联系你。</p>
            <a href="javascript:;" onclick="layer.closeAll();" class="mj-boBtn1">点击此处关闭！</a>
        </div>
    </div>
</div>
<!--求购已提交失败弹出层-->
<div class="mj-boughtM" id="mj-submitteF">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h2 style="color:#ff6600" class="ddw_error1">提交失败，请稍后重试！</h2>
            <p class="ddw_error2">可能因为网络问题或其他原因导致</p>
            <a href="javascript:;" class="mj-boBtn1" id="closeFailed" onclick="layer.closeAll();">点此处关闭！</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    //分类弹框
    //$(".mj-models").hide(); //初始ul隐藏
    var CHOFN = (function($,chofn){
       var __loginBox = $('#loginFormDiv');
       chofn.loginShow = function(obj){
           __loginBox.show();
           boxBg();
           reCal(__loginBox);
       };
       var __loginBoxs = $('#buyFormDiv');
       chofn.BuyShow = function(obj){
           __loginBoxs.show();
           boxBg();
           reCal(__loginBoxs);
       };
       var __verifyBoxs = $('#verifyMoblie');
       chofn.VerifyShow = function(obj){
           __verifyBoxs.show();
           boxBg();
           reCal(__verifyBoxs);
       };
       return chofn;
    })(jQuery,CHOFN || {});
   var isOpen = 0;
   //弹出层居中
   function reCal(obj){
       var screenWidth,screenHeigth,scollTop,objLeft,objTop;
       function box(){
           screenWidth = $(window).width(); //当前窗口的宽度
           screenHeigth = $(window).height();  //当前窗口的高度
           scollTop = $(document).scrollTop(); //获取滚动条距顶部的偏移
           objLeft = (screenWidth - obj.outerWidth()) / 2; //弹出框距离左侧距离
           objTop = (screenHeigth - obj.outerHeight()) / 2; //弹出框距离顶部的距离
           //css定位弹出层
           obj.css({
               left: objLeft,
               top:  objTop
           });
       };
       box();
       isOpen = 1; //弹出框设定一个变量 置为1 说明弹出框是打开状态
       //当浏览器窗口大小改变时或者滚动条滚动时...
       $(window).on('resize scroll',function(){
           //判断此变量是否为1 如果是就执行
           if(isOpen == 1){
               box();
           }
       });
   };
   //生成弹层背景
   function boxBg(){
       var boxbg = $(document.createElement('div')),
               docheight = $(document).height();
       boxbg.addClass('ms-boxBg');
       $('body').append(boxbg);
       $('.ms-boxBg').css({
           opacity: "0.6",
           height: docheight
       });
   };
   //关闭弹层
   function boxHide(objId){
       $('.'+objId).hide();
       $('.ms-boxBg').remove();
       isOpen = 0;
       doBuyFunc = '';
   };
</script>
</body>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257156861'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1257156861' type='text/javascript'%3E%3C/script%3E"));</script>
</html>