<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="UTF-8">
    <title>一只蝉：百万注册商标转让平台网-独家100%签定风险赔付协议</title>
    <meta name="keywords" content="一只蝉,商标转让,商标转让网,注册商标转让,转让商标,商标买卖,商标交易,商标交易网">
    <meta name="description" content="一只蝉是超凡集团资产交易平台：13年积累约200余万商标转让信息-也是中国独家签订交易损失赔付协议保障风险平台-商标转让-专利转让">
    <link rel="stylesheet" href="<?=StaticDir?>1.2/css/import-comm.css"/>
    <script type="text/javascript" src="<?=StaticDir?>1.2/js/jquery-1.8.3.min.js"></script>
    <script src="<?=StaticDir?>1.2/js/layer/layer.js"></script>
    <script src="<?=StaticDir?>1.2/js/login.js"></script>
    <link rel="stylesheet" href="<?=StaticDir?>1.2/css/respond.css"/>
    <script src="<?=StaticDir?>1.2/js/respond.min.js"></script>
    <script language="javascript" src="<?=StaticDir?>1.2/other/code.php"></script>
    <script src="<?=StaticDir?>1.2/js/iealert.js"></script>
    <script src="<?=StaticDir?>1.2/js/scroll.js"></script>
    <link rel="stylesheet" type="text/css" href="<?=StaticDir?>1.2/css/style.css" />
    <!--登录模块-->
    <?php
        $jsapiToken	= 'chaofnwang';
        $timestamp	= time();
        $nonceStr 	= md5('nonceStr'.$time.rand(100000000,999999999));
        $url 		= "http://".$_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI'];
        $signature	= sha1("jsapi_ticket={$jsapiToken}&noncestr={$nonceStr}&timestamp={$timestamp}&url={$url}");
    ?>
    <script src="http://uc.test.chofn.net/Static/script/user/script/usernetwork.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e) {
            ucNetwork.config('<?=$timestamp?>','<?=$nonceStr?>','<?=$signature?>');
            ucNetwork.setLogin('fastLogin');//设置登录
            //商标购买快捷登记
            $('#button').click(function(){
                name 	= $('#name').val();
                tel 	= $('#tel').val();
                subject = $('#subject').val();
                if( !tel ){
                    alert('请输入手机');
                    return false;
                }
                if( !name ){
                    alert('请输入姓名');
                    return false;
                }
                if( !subject ){
                    alert('请输入内容');
                    return false;
                }
                data	= new Array();
                data['name'] 	= name;
                data['tel'] 	= tel;
                data['subject'] = subject;
                ucNetwork.submitData(data);
            });
            //获取验证码
            $('#dl_fsmm').click(function(){
                mobile 	= $('#loginUser').val();
                if(!mobile){
                    alert('请输入手机');
                    return false;
                }
                ucNetwork.sendCode(mobile,$(this),'点击获取验证码');

            });
            //验证码登录
            $('#button4').click(function(){
                mobile 	= $('#loginUser').val();
                code 	= $('#loginPass').val();
                if(!mobile){
                    alert('请输入手机');
                    return false;
                }
                if(!code){
                    alert('请输入验证码');
                    return false;
                }
                ucNetwork.verifyCode(mobile,code);
            });
            //密码登录
            $('#button3').click(function(){
                account 	= $('#account').val();
                password 	= $('#password').val();
                if(!account){
                    alert('请输入账号');
                    return false;
                }
                if(!password){
                    alert('请输入密码');
                    return false;
                }
                ucNetwork.userLog(account,password);
            });
            function submitDataCallback(Obj){
                console.log(Obj);
                $.each(Obj,function(i,n){
                    alert(n.msg);
                    alert(n.code);
                });
            }

            //发送验证码
            function sendCodeCallback(Obj,htmlobj,title){
                $.each(Obj,function(i,n){
                    if(n.code > 0 ){//发送成功
                        timer(60, $('#aaa'), title);//倒计时
                    }else{
                        alert(n.msg);
                    }
                });
            }
            //验证验证码是否合法
            function verifyCodeCallback(Obj,account,code){
                $.each(Obj,function(i,n){
                    if(n.code==1){
                        ucNetwork.logCode(account,code);
                    }else{
                        alert(n.mess);
                    }
                });
            }
        });
    </script>
</head>
<body>
<!--头部-->
<div class="mj-header">

    <input type="hidden" name="sid" id="sid" value="" />

    <input type="hidden" name="area" id="area" value="" />
    <!--未登录状态start-->

    <div class="w1180 mj-nav f-clearfix">

        <ul class="mj-header_left fl">

            <li><span class="security"><i class="uj_icon1"></i>安全保障</span></li>

            <li>交易损失，全额100%赔付</li>
        </ul>

        <ul class="mj-header_right fr">
            <li id="_login_no">

                <div class="mj-cols">

                    <!--未登录状态-->

                    <span class="Not_logged" style="display: block;">

                        <i class="uj_icon2"></i>

                        <a href="javascript:;" id="fastLogin">快捷登录</a>
                        <a href="javascript:;" class="fastLogin">快捷登录2</a>

                    </span>

                </div>

            </li>
            <li class="spacer xs_login_"></li>
            <li id="">

                <div class="mj-cols">

                    <!--未注册状态-->

                    <span class="Not_logged" style="display: block;">

                        <i class="uj_icontj"></i>

                        <a href="javascript:;" id="">注册</a>

                    </span>

                </div>

            </li>
            <li class="spacer xs_login_"></li>
            <li>

                <a href="" target="_blank">平台帮助 </a>

            </li>
            <li class="spacer xs_login_"></li>
            <li>

                <a href="" target="_blank">关于一只蝉 </a>

            </li>
            <li>

                <div class="mj-phone">

                    <i class="uj_icon4"></i>

                    4006-929-199

                </div>

            </li>

        </ul>

    </div>
    <!--未登录状态end-->
    <!--登录状态start-->
    <div class="w1180 mj-nav f-clearfix" style="display: none;">

        <ul class="mj-header_left fl">

            <li><span class="security"><i class="uj_icon1"></i>安全保障</span></li>
            <!--登录后的文字-->
            <li>交易损失-3倍赔偿 要加帮助-简介什么的？</li>

        </ul>

        <ul class="mj-header_right fr">

            <li class="login-yes">
                <img src="<?=StaticDir?>1.2/images/mess-ico.png">
                <label>24</label>
            </li>
            <li class="spacer xs_login_"></li>

            <li>

                <a href="" target="_blank">平台帮助 </a>

            </li>
            <li class="spacer xs_login_"></li>
            <li>

                <a href="" target="_blank">平台简介</a>

            </li>
            <li>

                <div class="mj-phone">

                    <i class="uj_icon4"></i>

                    4006-929-199

                </div>
            </li>
        </ul>

    </div>
    <!--登录状态end-->
</div>
<!-- mj-header end -->
<!-- mj-search start -->

<style type="text/css">

    #searchForm > div{

        float: left;

    }

    #searchForm .mj-search-submit{

        float: right;

    }

</style>
<div class="mj-search-all">
    <div class="w1180 mj-search f-clearfix">

        <div class="mj-logo">

            <a href="/"><img src="<?=StaticDir?>1.2/images/logo.png" alt="一只蝉商标转让网站:快速买到放心商标"/></a>

        </div>

        <div class="mj-search_con fl">

            <form id="searchForm" method="GET" action="/search/index/">

                <input type="text" name="kw" class="inptext"  placeholder="输入你想买的商标名称/商标号"/>

                <!--<ul class="mj-search-box" style="border: 1px solid red;">-->

                <!--<li class="select_box">-->

                <!--<span>行业分类</span>-->

                <!--<i class="uj_icon7"></i>-->

                <!--</li>-->

                <!--</ul>-->

                <input type="hidden" id="publicClassSet" name="c" />

                <div class="mj-search-submit">

                    <i class="uj_icon8"></i>

                </div>

            </form>
            <ul class="mj-pull-down" id="">
                <li>
                    <span class="fl">商标有“春节快乐”的结果</span><label class="fr">2条</label>
                </li>
                <li>
                    <span class="fl">商标有“春节快乐”的结果</span><label class="fr">2条</label>
                </li>
                <li>
                    <span class="fl">商标有“春节快乐”的结果</span><label class="fr">2条</label>
                </li>
            </ul>

            <p class="tj-fl">
                <?
                    $hotwordStr = '';
                    foreach($hotwords as $hotword){
                        $hotwordStr .= "<a target='_blank' class='{$hotword['other']}' href='{$hotword['link']}'>{$hotword['desc']}</a>";
                    }
                    echo $hotwordStr;
                ?>
            </p>

        </div>
        <div class="mj-search_btn fr">

            <a href="/buy" target="_blank" class="mj-btnBuy"><i class="uj_icon5"></i>我要买</a>

            <a href="/sell" target="_blank" class="mj-btnSell"><i class="uj_icon6"></i>我要卖</a>

        </div>

    </div>
</div>


<!-- mj-search end -->
<!--mj-mNav start-->
<div class="mj-mNav f-clearfix">

    <div class="w1180 mj-inpsr">

        <div class="mj-dorpdown f-clearfix">

            <div class="mj-dt">

                <div class="mj-dtCon">

                    <i class="uj_icon9"></i>

                    <a href="javascript:;" class="mj-mainL">全部商标分类</a>

                </div>

                <div class="mj-dd" style="display: none;">
                    <? foreach($menuFirst as $first): ?>
                    <dd>
                        <a href="javascript:;">
                            <span><?=$first['title']?></span>
                            <i class="uj_icon10"></i>
                        </a>
                        <div class="mj-ddItems">
                            <ul>
                                <!--<?foreach($menuSecond as $second):?>
                                <?$kkk=0;?>
                                <?if($second['industryId'] == $first['id']):?>
                                <li>
                                    <div style="float: left"><a href="<?=$second['link']?>" target="_blank"><?=$second['name']?></a></div>
                                    <div style="float: right">
                                        <?foreach($menuThird as $third):?>
                                        <?if($third['classId'] == $second['id']):?>
                                        <?$kkk++;?>
                                        <?if($kkk==1):?>
                                        <a class="<?if($third['show']==1){echo 'color-red';}elseif($third['show']==2){echo 'color-green';}else{echo '';}?>" href="<?=$third['link']?>" target="<?=($third['open']==1?'_blank':'')?>"><?=$third['name']?> </a>
                                        <?else:?><span>|</span><a class="<?if($third['show']==1){echo 'color-red';}elseif($third['show']==2){echo 'color-green';}else{echo '';}?>" href="<?=$third['link']?>" target="<?=($third['name']==1?'_blank':'')?>"><?=$third['name']?> </a>
                                        <?endif;?>
                                        <?endif;?>
                                        <?endforeach;?>
                                    </div>
                                </li>
                                <?endif;?>
                                <?endforeach;?>-->
                                <?foreach($menuSecond as $second):?>
                                <?$kkk=0;?>
                                <?if($second['industryId'] == $first['id']):?>
                                <li>
                                    <b><a href="<?=$second['link']?>" target="_blank"><?=$second['name']?></a></b>
                                    <p>
                                        <?foreach($menuThird as $third):?>
                                        <?if($third['classId'] == $second['id']):?>
                                        <?$kkk++;?>
                                        <?if($kkk==1):?>
                                        <a class="<?if($third['show']==1){echo 'color-red';}elseif($third['show']==2){echo 'color-green';}else{echo '';}?>" href="<?=$third['link']?>" target="<?=($third['open']==1?'_blank':'')?>"><?=$third['name']?> </a>
                                        <?else:?><span>|</span><a class="<?if($third['show']==1){echo 'color-red';}elseif($third['show']==2){echo 'color-green';}else{echo '';}?>" href="<?=$third['link']?>" target="<?=($third['name']==1?'_blank':'')?>"><?=$third['name']?> </a>
                                        <?endif;?>
                                        <?endif;?>
                                        <?endforeach;?>
                                    </p>
                                </li>
                                <?endif;?>
                                <?endforeach;?>
                            </ul>
                            <div class="ddItems-like">
                                <h3><img src="<?=StaticDir?>1.2/images/heart.png">也许您还喜欢</h3>
                                <div>
                                    <? foreach($menuPic as $menuImg): ?>
                                    <? if($menuImg['industryId'] == $first['id']): ?>
                                    <span>
                                        <a href="<?=$menuImg['link']?>" target="_blank"><img src="<?=(TRADE_URL
.substr($menuImg['pic'],1))?>"></a>
                                    </span>
                                    <? endif; ?>
                                    <? endforeach; ?>
                                </div>
                            </div>

                        </div>

                    </dd>
                    <? endforeach; ?>

                </div>

            </div>

        </div>

        <div class="mj-navitems fl">
            <p class="f-clearfix">

                <a href="/search">
                    首页
                </a>

                <a href="/urgency">
                    特价商标
                </a>

                <a href="/potential">
                    商标筛选
                </a>



                <a href="/offprice">

                    商标注册

                </a>
            </p>

        </div>

    </div>

</div>


<link rel="stylesheet" href="<?=StaticDir?>1.2/css/mj-index.css"/>

<script src="<?=StaticDir?>1.2/js/layer.js"></script>

<script src="<?=StaticDir?>1.2/js/jquery.SuperSlide.2.1.js"></script>

<script src="<?=StaticDir?>1.2/js/buy.js"></script>
<!--mj-mNav end-->