<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?=$title?></title>
    <? if(!empty($keywords)) {?><meta name="keywords" content="<?=$keywords?>"><? }?>
    <? if(!empty($description)) {?><meta name="description" content="<?=$description?>"> <? }?>
    <link rel="stylesheet" href="<?=StaticDir?>1.2/css/import-comm.css?v=<?=$static_version?>"/>
    <link rel="stylesheet" href="<?=StaticDir?>1.2/css/color.css?v=<?=$static_version?>"/>
    <link rel="stylesheet" href="<?=StaticDir?>1.2/css/animate.min.css?v=<?=$static_version?>"/>
    <link rel="stylesheet" href="/Static/1.2/css/font-awesome.min.css?v=<?=$static_version?>"/>
    <script type="text/javascript" src="<?=StaticDir?>1.2/js/jquery-1.8.3.min.js"></script>
    <script src="<?=StaticDir?>1.2/js/layer/layer.js?v=<?=$static_version?>"></script>
    <link rel="stylesheet" href="<?=StaticDir?>1.2/css/respond.css?v=<?=$static_version?>"/>
    <script src="<?=StaticDir?>1.2/js/respond.min.js"></script>
    <script src="<?=StaticDir?>1.2/js/iealert.js?v=<?=$static_version?>"></script>
    <script src="<?=StaticDir?>1.2/js/scroll.js?v=<?=$static_version?>"></script>
    <link rel="stylesheet" type="text/css" href="<?=StaticDir?>1.2/css/style.css?v=<?=$static_version?>" />
    <script src="<?=StaticDir?>1.2/js/placeholder.js"></script>
    <?if(!isset($is_index)):?>
    <script src="<?=StaticDir?>1.2/js/menu_hide.js?v=<?=$static_version?>"></script>
    <?endif;?>
    <script src="<?=UC_URL?>Static/script/user/script/user.js?v=<?=$static_version?>"></script>
    <script src="<?=StaticDir?>1.2/js/header.js?v=<?=$static_version?>"></script>
    <script language="javascript" src="http://st.chofn.com/code.php"></script>
    <script type="text/javascript" src="http://data.chanshu.wang/data.js?v=<?=$static_version?>"> </script>
    <script type="text/javascript" src="http://nigeda.com/pub.js?v=<?=$static_version?>"> </script>
    <script type="text/javascript" src="<?=StaticDir?>1.2/js/socket.io.js?v=<?=$static_version?>"> </script>
    <!–[if lt IE 9]>
         <script src=”http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js”></script>
    <![endif]–>
<script type="text/javascript">
    var ptype = '<?=$ptype?>';//页面标识
    var _YZC_ONLINE_    = '';
    $(document).ready(function(e) {
        //获取客服在线
        $.ajax({
            async: false,
            type : 'post',
            url  : '/index/getOnlineStatus/',
            dataType : 'json',
            success : function (data){
                if (data.code){
                    _YZC_ONLINE_ = data.msg;
                }
            }
        });
    //获得登录相关的参数
        $.ajax({
            async: false,
            type : 'post',
            url  : '/login/getLogin',
            data : '',
            dataType : 'json',
            success : function (data){
                timestamp = data.timestamp;
                nonceStr = data.nonceStr;
                signature = data.signature;
            },
            error : function (data){
                layer.msg('初始化登录失败', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
        ucConfig.setConfig(timestamp,nonceStr,signature);
        var copyArr = new Array();
        var isLoghtml = '';
        ucLoginTemp.setLoginTemp();

        //用户是否登录
        nick_name = getCookie('uc_nickname');
        login_mobile = getCookie('uc_mobile');
        crm_name = getCookie('crm_name');
        login_id = getCookie('uc_identify');
        isIndex  	= '<?=$is_index?>';
        //登录情况下无手机号码, 弹窗提醒,跳转到用户中心绑定
        if(nick_name && !login_mobile){
            getLayer($('#goCenter'));
        }
        if(login_mobile){ //账户处链接
            var privateHtml = '<div class="yzc-account" id="account-name"><a href="'+HOST+'" target="_blank" class="lg-name" id="chaofan-mj-nickname">'+nickname+'<i class="fa fa-sort-desc" aria-hidden="true"></i></a><div class="account-list" id="acc-list"></p><p><a target="_blank" href="'+HOST+'/collect/trade/">我的收藏</a></p><p><a target="_blank" href="'+HOST+'/buyer/myinfo/">我的求购</a></p><p><a href="javascript:;" id="chaofan-mj-logexit">退出登录</a></p></div></div>';
            $('#_login_no').hide();
            $('#login_after').html(privateHtml);
        }else{
            $('#login_after').hide();
            $('#_login_no').show();
        }
        //执行任务
        var task_aim = getCookie('task_aim');
        delCookie('task_aim');
        if(task_aim && login_mobile){
            //执行任务
            layer.load(1, {
                shade: [0.1,'#fff'] //0.1透明度的白色背景
            });
            task_aim = JSON.parse(task_aim);
            task_aim['remarks'] += ';电话号码：' + login_mobile;
            task_aim['tel'] 			= login_mobile;
            //提交数据
            setEvent('需求登记','表单-'+login_mobile);
            ucBuy.buyAdd(task_aim);
        }
   });
    //提交数据
    function sendCount(args,async,callback){
        $.ajax(
                {
                    type:'get',
                    url : '<?=TRADE_STATIC?>/Count/index?'+args,
                    async: async,
                    crossDomain:true,
                    dataType : 'jsonp',
                    jsonp:"yzctj",
                    complete	: function(xhr,status){
                        if(typeof callback =='function'){
                            callback();
                        }
                    },
                    success  : function(data) {
                        if(data.code==1){
                            aCookie('yzcdata',data.msg,315360000000);//更新cookie信息
                            window.visitid = data.id;//保存此次浏览记录的id
                        }
                    }
                }
        );
    }
</script>
</head>
<body>
<!--头部-->
<div class="mj-header f-clearfix">
    <input type="hidden" name="sid" id="sid" value="" />
    <input type="hidden" name="area" id="area" value="" />
    <div class="w1180 mj-nav f-clearfix">
        <ul class="mj-header_left fl">
            <li><span class="security"><i class="uj_icon1"></i>安全保障</span></li>
            <li>交易损失，全额100%赔付</li>
        </ul>
        <ul class="mj-header_right fr">
             <li id="_login_no">
                 <div class="p-lg">您好，请 <a class="chaofan-login" onclick="setEvent('登录')"></a></div>
                 <div class="reg"><a href="javascript:;" onclick="$('#chaofan-mj-login').trigger('click');$('#chaofn_dl_kaccount').trigger('click');setEvent('登录')">免费注册</a></div>
            </li>
            <!-- 登录以后 -->
            <li id="login_after">
            </li>
            <li class="spacer xs_login_"></li>
            <li>
                <a target="_blank" href="<?=SELLER_URL?>" module="顶部1" addmsg="出售者平台">出售者平台</a>
            </li>
            <li class="spacer xs_login_"></li>
            <!--<li>
                <a target="_blank" href="<?=SELLER_URL?>" module="顶部2" addmsg="数据共享">数据共享</a>
            </li>-->
            <li class="spacer xs_login_"></li>
            <li>
                <a href="<?=SELLER_URL?>login/seller" module="顶部3" addmsg="商标报价单工具">商标报价单工具 </a>
            </li>
            <li class="spacer xs_login_"></li>
            <li>
                <a href="<?=CHECK_URL?>" target="_blank"  module="顶部4" addmsg="商标安全检测">商标安全检测</a>
            </li>
	        <li class="spacer xs_login_"></li>
            <li>
                <a href="/index/jumpWap/" target="_blank"  module="顶部5" addmsg="移动版">移动版</a>
            </li>
            <li class="spacer xs_login_"></li>
            <li class="mj-web-nav">
                <div class="yzc-account">
                    <a href="javascript:;" id="web-nav">网站导航<i class="fa fa-angle-down"></i> </a>
                    <div class="account-list" id="acc-list" style="left: -5px;">
                        <p><a href="/lxwm/" target="_blank" module="顶部6-1" addmsg="关于一只蝉">关于一只蝉</a></p>
                        <p><a target="_blank" href="/n-50/" module="顶部6-2" addmsg="新闻资讯">新闻资讯</a></p>
                        <p><a href="/v-54-987/" target="_blank" module="顶部6-3" addmsg="帮助中心">帮助中心</a></p>
                    </div>
                </div>
            <li>
        </ul>
    </div>
</div>
<!-- mj-header end -->
<!-- mj-search start -->
<style type="text/css">
    #searchForm > div{
        float: left;
    }
    #searchForm .mj-search-submit{
        float: right;
    }
</style>
<div class="mj-search-all f-clearfix">
    <div class="w1180 mj-search f-clearfix">
        <div class="mj-logo">
            <a href="/"><img src="/Static/1.2/images/logo.png" alt="一只蝉商标转让网站:快速买到放心商标" module="logo"/></a>
        </div>
        <div class="mj-search_con fl f-clearfix">
            <div class="mj-search_box">
                <div  class="mj-search-nav">
                    <a class="sea-btn"><font> 搜商标</font>  <i class="fa fa-angle-down"></i></a>
                    <p class="pul-lis">
                        搜专利
                    </p>
                </div>
                <div id="con_sear_1" style="display: block">
                    <form id="searchForm" method="GET" action="/search/index/">
                        <input type="text" name="kw" class="inptext tm_kw" placeholder="输入你想买的商标名称/商标号/适用服务" autocomplete="off">
                        <div class="mj-search-submit mj-search-submit-tm">
                            <i class="uj_icon8"></i>
                        </div>
                    </form>
                    <ul class="mj-pull-down tm-pull-down">
                    </ul>
                    <div class="mj-search_btm">
                        <p class="tj-fl">
                            <?
                        $hotwordStr = '';
                        foreach($hotwords as $hotword){
                            $hotwordStr .= "<a class='{$hotword['other']}' href='{$hotword['link']}'>{$hotword['desc']}</a>";
                            }
                            echo $hotwordStr;
                            ?>
                        </p>
                        <a href="/help" target="_blank"><span class="Bran_note"><i></i>商标45类注释</span></a>
                    </div>
                </div>
                <div id="con_sear_2">
                    <form id="searchPtForm" method="GET" action="/pt/index/">
                        <input type="text" name="kw" class="inptext pt_kw" placeholder="输入你想买的专利名称/专利号" autocomplete="off">
                        <div class="mj-search-submit mj-search-submit-pt">
                            <i class="uj_icon8"></i>
                        </div>
                    </form>
                    <ul class="mj-pull-down tm-pull-down">
                    </ul>
                    <div class="mj-search_btm">
                        <p class="tj-fl">
                            <a target="_blank" href="/pt/?t=1">发明</a>
                            <a target="_blank" href="/pt/?t=2">实用新型</a>
                            <a target="_blank" href="/pt/?t=3">外观设计</a>
                            <a target="_blank" href="/pt/?t=2&amp;c=c">化工</a>
                            <a target="_blank" href="/pt/?t=2&amp;c=f">机械</a>
                            <a target="_blank" href="/pt/?t=2&amp;c=h">电学</a>
                        </p>
                        <a href="/help" target="_blank" class="fr"><span class="Bran_note"><i></i>商标45类注释</span></a>
                    </div>
                </div>
            </div>
            <!--<div class="mj-search_box" id="con_sear_2">-->
                <!--<form id="searchPtForm" method="GET" action="/pt/index/">-->
                    <!--<input type="text" name="kw" class="inptext pt_kw"  placeholder="输入你想买的专利名称/专利号" autocomplete="off"/>-->
                    <!--<div class="mj-search-submit mj-search-submit-pt">-->
                        <!--<i class="uj_icon8"></i>-->
                    <!--</div>-->
                <!--</form>-->
                <!--<ul class="mj-pull-down pt-pull-down">-->
                <!--</ul>-->
                <!--<div class="mj-search_btm">-->
                    <!--<p class="tj-fl">-->
                        <!--<a target="_blank" href='/pt/?t=1'>发明</a>-->
                        <!--<a target="_blank" href='/pt/?t=2'>实用新型</a>-->
                        <!--<a target="_blank" href='/pt/?t=3'>外观设计</a>-->
                        <!--<a target="_blank" href='/pt/?t=2&c=c'>化工</a>-->
                        <!--<a target="_blank" href='/pt/?t=2&c=f'>机械</a>-->
                        <!--<a target="_blank" href='/pt/?t=2&c=h'>电学</a>-->
                    <!--</p>-->
                    <!--<a href="/help" target="_blank"><span class="Bran_note"><i></i>商标45类注释</span></a>-->
                <!--</div>-->
            <!--</div>-->

        </div>
        <div class="mj-search_btn fr f-clearfix">
            <div class="mj-weix-qq">
                <span><img src="/Static/1.2/images/tp-sel-ico.png">4006-762-003</span>
                <em>|</em>
                <div  class="mj-wx">
                    <a href=""><img src="/Static/1.2/images/tp-sel-ic.png"></a>
                    <div class="mj-wx-pic account-list">
                        <span>
                             <img src="<?=StaticDir?>1.2/images/yzc-wx.jpg">
                        </span>
                        <p>
                            专注知识产权流转<br/>
                            欢迎关注微信，随时获取资讯
                        <p>
                    </div>
                </div>
                <!--<i><img src="/Static/1.2/images/tp-sel-ic.png"></i>-->
                <em>|</em>
                <a class="mj-qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=<?=$qq_num?>&amp;site=qq&amp;menu=yes"><img src="/Static/1.2/images/yzc-tp-QQ.png"></a>
            </div>
            <a href="/sell" target="_blank" class="mj-btnSell" module="我要卖"><h2><i><img src="/Static/1.2/images/tp-sel-ic2.png"></i>我要出售</h2></a>
        </div>
    </div>
</div>
<!-- mj-search end -->
<!--mj-mNav start-->
<div class="mj-mNav f-clearfix">
    <div class="w1180 mj-inpsr">
        <div class="mj-dorpdown f-clearfix">
            <div class="mj-dt">
                <div class="mj-dtCon">
                    <i class="uj_icon9"></i>
                    <a href="javascript:;" class="mj-mainL">全部商标分类</a>
                </div>
                <div class="mj-dd" style="display: none;min-height:400px;">
                    <? $k1=0 ?>
                    <? foreach($menuFirst as $first): ?>
                    <? $k2=0;$k4=0;$k5=0;++$k1 ?>
                    <dd>
                        <a href="javascript:;">
                            <span><?=$first['title']?></span>
                            <i class="uj_icon10"></i>
                        </a>
                        <div class="mj-ddItems">
                            <ul>
                                <?foreach($menuSecond as $second):?>
                                <? $k3=0 ?>
                                <?if($second['industryId'] == $first['id']):?>
                                <?$kkk=0;++$k2?>
                                <li>
                                    <b><a href="<?=$second['link']?>" target="_blank" webid="101" addmsg="<?=$first['title'].'-'.$second['name']?>" module="菜单<?=$k1?>-<?=$k2?>"><?=$second['name']?></a></b>
                                    <p>
                                        <?foreach($menuThird as $third):?>
                                        <?if($third['classId'] == $second['id']):?>
                                        <?$kkk++;++$k3?>
                                        <?if($kkk==1):?>
                                        <a class="<?if($third['show']==1){echo 'color-red';}elseif($third['show']==2){echo 'color-green';}else{echo '';}?>" href="<?=$third['link']?>" target="<?=($third['open']==1?'_blank':'_self')?>" webid="101"  addmsg="<?=$first['title'].'-'.$second['name'].'-'.$third['name']?>"  module="菜单<?=$k1?>-<?=$k2?>-<?=$k3?>"><?=$third['name']?> </a>
                                        <?else:?><span>|</span><a class="<?if($third['show']==1){echo 'color-red';}elseif($third['show']==2){echo 'color-green';}else{echo '';}?>" href="<?=$third['link']?>" target="<?=($third['open']==1?'_blank':'_self')?>" webid="101" addmsg="<?=$first['title'].'-'.$second['name'].'-'.$third['name']?>"  module="菜单<?=$k1?>-<?=$k2?>-<?=$k3?>"><?=$third['name']?> </a>
                                        <?endif;?>
                                        <?endif;?>
                                        <?endforeach;?>
                                    </p>
                                </li>
                                <?endif;?>
                                <?endforeach;?>
                            </ul>
                            <div class="ddItems-like">
                                <!--<h3><img src="<?=StaticDir?>1.2/images/heart.png">也许您还喜欢</h3>-->
                                <div>
				    <? $n=0;?>
					<? foreach($ad_list['index_menu'] as $menuImg): ?>
					<? if($menuImg['module'] == $first['id']): ?>
					    <?  $n=1;++$k4 ?>
					<span>
					    <a href="<?=$menuImg['link']?>" target="_blank" webid="101" addmsg="<?=$first['title'].'-下的广告'.$k4?>" module="菜单<?=$k1?>广告<?=$k4?>">
						<img class="headerlazy" src="/Static/images/idx01.gif" _original="<?=(TRADE_URL.$menuImg['pic'])?>" onerror="this.src='/Static/images/img1.png'" alt="<?=$menuImg['alt']?>"></a>
					</span>
					<? endif; ?>
					<? endforeach; ?>
					
					<? if($n==0): ?>
					    <? foreach($menuPic as $menuImg): ?>
					    <? if($menuImg['industryId'] == $first['id']): ?>
                        <? ++$k5 ?>
					    <span>
						<a href="<?=$menuImg['link']?>" target="_blank" webid="101" addmsg="<?=$first['title'].'-下的广告'.$k5?>" module="菜单<?=$k1?>广告<?=$k5?>">
						    <img class="headerlazy" src="/Static/images/idx01.gif" _original="<?=(TRADE_URL.$menuImg['pic'])?>" onerror="this.src='/Static/images/img1.png'" alt="<?=$menuImg['alt']?>"></a>
					    </span>
					    <? endif; ?>
					    <? endforeach; ?>
					<? endif; ?>
                                </div>
                            </div>
                        </div>
                    </dd>
                    <? endforeach; ?>
                </div>
            </div>
        </div>
        <div class="mj-navitems fl">
            <p class="f-clearfix">
                <? $nav_style = 'style="color:#ff6666"';     ?>
                <a href="/" addmsg="1首页" module="频道1" <? if($nav_name=='index') echo $nav_style; ?>>
                    首页
                </a>
                <a href="/offprice"  addmsg="2特价商标" module="频道2" <? if($nav_name=='offprice') echo $nav_style; ?>>
                    特价商标
                </a>
                <a href="/s/" addmsg="3商标购买" module="频道3" <? if($nav_name=='search') echo $nav_style; ?>>
                    商标购买
                </a>
                <a href="/pt" addmsg="4专利购买" module="频道4" <? if($nav_name=='pt') echo $nav_style; ?>>
                    专利购买
                </a>
                <a href="/zhuanti" addmsg="5专题活动" module="频道5" <? if($nav_name=='zhuanti') echo $nav_style; ?>>
                    专题活动<span class="nav-hot">new</span>
                </a>
                 <a href="<?=TM_URL?>" target="_blank" addmsg="6商标注册" module="频道6">
                     商标注册
                 </a>
                <a href="<?=PT_URL?>" target="_blank" addmsg="7专利注册" module="频道7">
                    专利注册
                </a>
            </p>
        </div>
    </div>
</div>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/mj-index.css?v=<?=$static_version?>"/>
<script src="<?=StaticDir?>1.2/js/jquery.SuperSlide.2.1.js"></script>
<!--mj-mNav end-->
<script type="text/javascript">
  //左边菜单栏
   (function($){
        $.fn.hoverDelay = function(options){
            var defaults = {
                hoverDuring:60,
                outDuring:60,
                hoverEvent: function(){
                    $.noop();
                },
                outEvent: function(){
                    $.noop();
                }
            };
            var sets = $.extend(defaults,options || {});
            var hoverTimer, outTimer;
            return $(this).each(function(){
                $(this).hover(function(){
                    clearTimeout(outTimer);
                    hoverTimer = setTimeout(sets.hoverEvent, sets.hoverDuring);
                },function(){
                    clearTimeout(hoverTimer);
                    outTimer = setTimeout(sets.outEvent, sets.outDuring);
                });
            });
        }
    })(jQuery);
    $(".mj-dd dd").each(function(i){
        $(this).hoverDelay({
        hoverEvent: function(){          
             $(".mj-dd dd").eq(i).addClass("mj-ddahoverc").siblings().removeClass("mj-ddahoverc");
             _lazyImg($(".mj-dd dd").eq(i));
            },
        outEvent:function() {
             $(".mj-dd dd").removeClass("mj-ddahoverc");
        }
        });
    });
    $("#login_after").on('mouseenter','#account-name',function(){
        $("#acc-list").show();
        })
    $("#login_after").on('mouseleave','#account-name',function(){
          $("#acc-list").hide();
    });
    //延时加载图片
    function _lazyImg(obj){
        obj.find('.headerlazy').each(function(e){
            var _this = $(this);
            var _orig = _this.attr('_original');
            if (_orig == '' || _orig == undefined ) return true;
            //暂时不做效果 
            _this.attr('src', _orig);
            _this.attr('_original', '');
        });
    }
    $(".mj-search-nav").toggle(function(){
       $(".mj-search-nav p").slideDown();
    },function(){
        $(".mj-search-nav p").slideUp();
    });
    $(".mj-search-nav p").click(function(){
        if( $.trim($(".mj-search-nav p").html())=="搜专利"){
            $(".mj-search-nav p").html('搜商标');
            $(".mj-search-nav a").find("font").html("搜专利");
            $("#con_sear_1, #con_sear_2").css({"display":"none"});
            $(" #con_sear_2").css({"display":"block"});
        }else{
            $(".mj-search-nav p").html('搜专利');
            $(".mj-search-nav a").find("font").html("搜商标");
            $("#con_sear_1, #con_sear_2").css({"display":"none"});
            $(" #con_sear_1").css({"display":"block"});
        }
    })
    $('.tm_kw').focus(function (){
        var _this   = $(this);
        var _value  = $.trim( _this.val() );
        if ( _value == '' ){
            var _url = '/index/searchLog/';
            $(".mj-pull-down").load(_url, function(data,status,xml){
                if (data){
                    $(".mj-pull-down").show();
                }else{
                    $(".mj-pull-down").hide();
                    $(".mj-pull-down").html('');
                }
            });            
        }else{
            _this.keyup();
        }
    });
    $('input[name="kw"]').blur(function (){
        var _this   = $(this);
        setTimeout(function(){
            $(".mj-pull-down").hide();
            $(".mj-pull-down").html('');
        },200);
    });
    $('.tm_kw').keyup(function(){
        var _this   = $(this);
        var _value  = $.trim( _this.val() );
        if ( _value != '' ){
            html = '<li><a href="/search/?kw='+_value+'&kt=1" onclick="setSearch('+_value+',\'商标名称\');layer.load(1,{shade: [0.2,\'#000\']});" addmsg="'+_value+'" webid="100" module="搜索-商标名称"><span class="fl" style="width:100%">按 <font style="font-weight: bold;color:#ff6666">商标名称</font>“ '+_value+'”搜索结果</span></a></li><li><a href="/search/?kw='+_value+'&kt=2" onclick="setSearch('+_value+',\'商标号\');layer.load(1,{shade: [0.2,\'#000\']});" addmsg="'+_value+'" webid="100" module="搜索-商标号"><span class="fl" style="width:100%">按 <font style="font-weight: bold;color:#ff6666">商标号</font>“ '+_value+'”搜索结果</span></a></li><li><a href="/search/?kw='+_value+'&kt=3" onclick="setSearch('+_value+',\'适用服务\');layer.load(1,{shade: [0.2,\'#000\']});" addmsg="'+_value+'" webid="100" module="搜索-适用服务"><span class="fl" style="width:100%">按 <font style="font-weight: bold;color:#ff6666">适用服务</font>“'+_value+' ”搜索结果</span></a></li>';
            $(".tm-pull-down").html(html);
            $(".tm-pull-down").show();
        }else{
            _this.focus();
        }
    });
    $('.pt_kw').keyup(function(){
        var _this   = $(this);
        var _value  = $.trim( _this.val() );
        if ( _value != '' ){
            html = '<li><a href="/pt/?kw='+_value+'&kt=1" onclick="setSearch('+_value+',\'专利名称\');layer.load(1,{shade: [0.2,\'#000\']});" addmsg="'+_value+'" webid="100" module="搜索-专利名称"><span class="fl" style="width:100%">按 <font style="font-weight: bold;color:#ff6666">专利名称</font>“ '+_value+'”搜索结果</span></a></li><li><a href="/pt/?kw='+_value+'&kt=2" onclick="setSearch('+_value+',\'专利号\');layer.load(1,{shade: [0.2,\'#000\']});" addmsg="'+_value+'" webid="100" module="搜索-专利号"><span class="fl" style="width:100%">按 <font style="font-weight: bold;color:#ff6666">专利号</font>“ '+_value+'”搜索结果</span></a></li>';
            $(".pt-pull-down").html(html);
            $(".pt-pull-down").show();
        }else{
            _this.focus();
        }
    });
</script>