<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="UTF-8">
    <title><?=$title?></title>
    <? if(!empty($keywords)) {?><meta name="keywords" content="<?=$keywords?>"><? }?>
    
    <? if(!empty($description)) {?><meta name="description" content="<?=$description?>"> <? }?>
    <link rel="stylesheet" href="<?=StaticDir?>1.2/css/import-comm.css"/>
    <link rel="stylesheet" href="<?=StaticDir?>1.2/css/color.css"/>
    <script type="text/javascript" src="<?=StaticDir?>1.2/js/jquery-1.8.3.min.js"></script>
    <script src="<?=StaticDir?>1.2/js/layer/layer.js"></script>
    <link rel="stylesheet" href="<?=StaticDir?>1.2/css/respond.css"/>
    <script src="<?=StaticDir?>1.2/js/respond.min.js"></script>
    <script src="<?=StaticDir?>1.2/js/iealert.js"></script>
    <script src="<?=StaticDir?>1.2/js/scroll.js"></script>
    <link rel="stylesheet" type="text/css" href="<?=StaticDir?>1.2/css/style.css" />
    <script src="<?=StaticDir?>1.2/js/placeholder.js"></script>
    <!--<script src="<?=StaticDir?>1.2/js/jquery.placeholder.min.js"></script>-->
    <?if(!isset($is_index)):?>
    <script src="<?=StaticDir?>1.2/js/menu_hide.js"></script>
    <?endif;?>
<script src="<?=PERSONAL_CENTER?>Static/script/user/script/user.js"></script>
<script src="<?=StaticDir?>1.2/js/header.js"></script>
<script language="javascript" src="http://st.chofn.com/code.php"></script>

<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?def2a89cf6649289ba5455f340c61697";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>

<script type="text/javascript">
    $(document).ready(function(e) {
    //获得登录相关的参数
        $.ajax({
            async: false,
            type : 'post',
            url  : '/login/getLogin',
            data : '',
            dataType : 'json',
            success : function (data){
                timestamp = data.timestamp;
                nonceStr = data.nonceStr;
                signature = data.signature;
            },
            error : function (data){
                layer.msg('初始化登录失败', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    ucConfig.setConfig(timestamp,nonceStr,signature);
    var copyArr = new Array();
    var isLoghtml = '';
    ucLoginTemp.setLoginTemp();
    //用户是否登录
    nick_name = getCookie('uc_nickname');
    login_mobile = getCookie('uc_mobile');
    isIndex  	= '<?=$is_index?>';
    //登录情况下无手机号码, 弹窗提醒,跳转到用户中心绑定
    if(nick_name && !login_mobile){
        getLayer($('#goCenter'));
    }
    //设置导航栏样式
    var nav_name = "<?=$nav_name?>";
    if(nav_name=='index'){
        $('.mj-navitems p a').eq(0).css('color','#ff6666');
    }else if(nav_name=='offprice'){
        $('.mj-navitems p a').eq(1).css('color','#ff6666');
    }else if(nav_name=='search'){
        $('.mj-navitems p a').eq(2).css('color','#ff6666');
    }else if(nav_name=='pt'){
        $('.mj-navitems p a').eq(4).css('color','#ff6666');
    }else if(nav_name=='sell'){
        $('.mj-navitems p a').eq(5).css('color','#ff6666');
    }
    //点击用户名跳转到用户中心
    /*$('.chaofan-login').on('click','#chaofan-mj-nickname',function(){
        $(this).attr('href','<?//=PERSONAL_CENTER?>').attr('target','_blank');
    });*/
   }); 
</script>
</head>
<body>
<!--头部-->
<div class="mj-header">
    <input type="hidden" name="sid" id="sid" value="" />
    <input type="hidden" name="area" id="area" value="" />
    <!--未登录状态start-->
    <div class="w1180 mj-nav f-clearfix">
        <ul class="mj-header_left fl">
            <li><span class="security"><i class="uj_icon1"></i>安全保障</span></li>
            <li>交易损失，全额100%赔付</li>
        </ul>
       <!-- <h1 class="mj-header_ceter">欢迎来到一只蝉商标转让平台网</h1>-->
        <ul class="mj-header_right fr">
            <li id="_login_no">
                <div class="chaofan-login"></div>
            </li>
            <li class="spacer xs_login_ zc"></li>
            <li class="spacer xs_login_"></li>
            <li>
                <a href="/faq/views/?c=54&id=987" target="_blank">平台帮助 </a>
            </li>
            <li class="spacer xs_login_"></li>
            <li>
                <a href="/topic/fourth" target="_blank">关于一只蝉 </a>
            </li>
            <li>
                <div class="mj-phone">
                    <i class="uj_icon4"></i>
                    4006-929-199
                </div>
            </li>
        </ul>
    </div>
    <!--未登录状态end-->
    <!--登录状态start-->
    <div class="w1180 mj-nav f-clearfix" style="display: none;">
        <ul class="mj-header_left fl">
            <li><span class="security"><i class="uj_icon1"></i>安全保障</span></li>
            <!--登录后的文字-->
            <li>交易损失-3倍赔偿 要加帮助-简介什么的？</li>
        </ul>
        <ul class="mj-header_right fr">
            <li class="login-yes">
                <img src="<?=StaticDir?>1.2/images/mess-ico.png">
                <label>24</label>
            </li>
            <li class="spacer xs_login_"></li>
            <li>
                <a href="" target="_blank">平台帮助 </a>
            </li>
            <li class="spacer xs_login_"></li>
            <li>
                <a href="" target="_blank">平台简介</a>
            </li>
            <li>
                <div class="mj-phone">
                    <i class="uj_icon4"></i>
                    4006-929-199
                </div>
            </li>
        </ul>
    </div>
    <!--登录状态end-->
</div>
<!-- mj-header end -->
<!-- mj-search start -->
<style type="text/css">
    #searchForm > div{
        float: left;
    }
    #searchForm .mj-search-submit{
        float: right;
    }
</style>
<div class="mj-search-all f-clearfix">
    <div class="w1180 mj-search f-clearfix">
        <div class="mj-logo">
            <a href="/"><img src="<?=StaticDir?>1.2/images/logo.png" alt="一只蝉商标转让网站:快速买到放心商标"/></a>
        </div>
        <div class="mj-search_con fl">
            <form id="searchForm" method="GET" action="/search/index/">
                <input type="text" name="kw" class="inptext"  placeholder="输入你想买的商标名称/商标号" autocomplete="off"/>
                <div class="mj-search-submit">
                    <i class="uj_icon8"></i>
                </div>
            </form>
            <ul class="mj-pull-down">
            </ul>
            <p class="tj-fl">
                <?
                    $hotwordStr = '';
                    foreach($hotwords as $hotword){
                        $hotwordStr .= "<a target='_blank' class='{$hotword['other']}' href='{$hotword['link']}'>{$hotword['desc']}</a>";
                    }
                    echo $hotwordStr;
                ?>
            </p>
        </div>
        <div class="mj-search_btn fr">
            <a href="/buy" target="_blank" class="mj-btnBuy"><h2><i class="uj_icon5"></i>我要买商标</h2></a>
            <a href="/sell" target="_blank" class="mj-btnSell"><h2><i class="uj_icon6"></i>我要卖商标</h2></a>
        </div>
    </div>
</div>
<!-- mj-search end -->
<!--mj-mNav start-->
<div class="mj-mNav f-clearfix">
    <div class="w1180 mj-inpsr">
        <div class="mj-dorpdown f-clearfix">
            <div class="mj-dt">
                <div class="mj-dtCon">
                    <i class="uj_icon9"></i>
                    <a href="javascript:;" class="mj-mainL">全部商标分类</a>
                </div>
                <div class="mj-dd" style="display: none;min-height:454px;">
                    <? foreach($menuFirst as $first): ?>
                    <dd>
                        <a href="javascript:;">
                            <span><?=$first['title']?></span>
                            <i class="uj_icon10"></i>
                        </a>
                        <div class="mj-ddItems">
                            <ul>
                                <?foreach($menuSecond as $second):?>
                                <?$kkk=0;?>
                                <?if($second['industryId'] == $first['id']):?>
                                <li>
                                    <b><a href="<?=$second['link']?>" target="_blank"><?=$second['name']?></a></b>
                                    <p>
                                        <?foreach($menuThird as $third):?>
                                        <?if($third['classId'] == $second['id']):?>
                                        <?$kkk++;?>
                                        <?if($kkk==1):?>
                                        <a class="<?if($third['show']==1){echo 'color-red';}elseif($third['show']==2){echo 'color-green';}else{echo '';}?>" href="<?=$third['link']?>" target="<?=($third['open']==1?'_blank':'_self')?>"><?=$third['name']?> </a>
                                        <?else:?><span>|</span><a class="<?if($third['show']==1){echo 'color-red';}elseif($third['show']==2){echo 'color-green';}else{echo '';}?>" href="<?=$third['link']?>" target="<?=($third['open']==1?'_blank':'_self')?>"><?=$third['name']?> </a>
                                        <?endif;?>
                                        <?endif;?>
                                        <?endforeach;?>
                                    </p>
                                </li>
                                <?endif;?>
                                <?endforeach;?>
                            </ul>
                            <div class="ddItems-like">
                                <h3><img src="<?=StaticDir?>1.2/images/heart.png">也许您还喜欢</h3>
                                <div>
                                    <? foreach($menuPic as $menuImg): ?>
                                    <? if($menuImg['industryId'] == $first['id']): ?>
                                    <span>
                                        <a href="<?=$menuImg['link']?>" target="_blank">
                                            <img class="headerlazy" src="/Static/images/idx01.gif" _original="<?=(TRADE_URL.$menuImg['pic'])?>" onerror="this.src='/Static/images/img1.png'"></a>
                                    </span>
                                    <? endif; ?>
                                    <? endforeach; ?>
                                </div>
                            </div>
                        </div>
                    </dd>
                    <? endforeach; ?>
                </div>
            </div>
        </div>
        <div class="mj-navitems fl">
            <p class="f-clearfix">
                <a href="/">
                    首页
                </a>
                <a href="/offprice">
                    特价商标
                </a>
                <a href="/search">
                    商标筛选
                </a>
                <a href="http://r.chaofan.wang/reg/" target="_blank">
                    商标注册
                </a>
                <a href="/pt">
                    专利购买
                </a>
                 <a href="/pt/sell">
                    专利出售
                </a>
            </p>
        </div>
    </div>
</div>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/mj-index.css"/>
<script src="<?=StaticDir?>1.2/js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="<?=StaticDir?>1.2/js/Tony_Tab.js"></script>
<!--mj-mNav end-->
<script type="text/javascript">
  //左边菜单栏
    $(".mj-dd dd").hover(function(){
        $(this).addClass("mj-ddahoverc").siblings().removeClass("mj-ddahoverc");
        _lazyImg($(this));
    },function(){
        $(this).removeClass("mj-ddahoverc");
    });
    //延时加载图片
    function _lazyImg(obj){
        obj.find('.headerlazy').each(function(e){
            var _this = $(this);
            var _orig = _this.attr('_original');
            if (_orig == '' || _orig == undefined ) return true;
            //暂时不做效果 
            _this.attr('src', _orig);
            _this.attr('_original', '');
        });
    }
    $('input[name="kw"]').focus(function (){
        var _this   = $(this);
        var _value  = $.trim( _this.val() );
        if ( _value == '' ){
            var _url = '/index/searchLog/';
            $(".mj-pull-down").load(_url, function(data,status,xml){
                if (data){
                    $(".mj-pull-down").show();
                }else{
                    $(".mj-pull-down").hide();
                }
            });            
        }else{
            _autoShow();
        }
    });
    $('input[name="kw"]').blur(function (){
        var _this   = $(this);
        var _value  = $.trim( _this.val() );
        if ( _value == '' ){
            setTimeout(function(){
                $(".mj-pull-down").hide();
            },500);
        }
    });
    var _autoShowTime = 0;
    var _autoOpen = 0;
    function _autoShow(){        
        if ( _autoShowTime > 0 ){
            _autoShowTime--;
            setTimeout(function(){
                _autoShow();
            },100);            
        }else{
            _autoOpen = 0;
            var _url = '/index/searchLog/';            
            setTimeout(function(){
                $(".mj-pull-down").show();
            },200);
            $(".mj-pull-down").load(_url,{title:$('input[name="kw"]').val()});            
        }
    }
    $('input[name="kw"]').keyup(function (){
        var _this   = $(this);
        var _value  = $.trim( _this.val() );
        if ( _value != '' ){
            _autoShowTime = 5;
            if (_autoOpen < 1) _autoShow();
            _autoOpen = 1;            
        }else{
            setTimeout(function(){
                $(".mj-pull-down").hide();
            },500);
        }
    });
</script>