<!--侧面咨询-->

<div class="mj-sidebar">
    <div class="mj-stclose">
        <label id="mj-stclose">X关闭</label>
    </div>
    <div class="mj-sidebarCon">
        <a href="javascript:void(0);" onclick="goChat()" style="border: none;padding: 0;"><span><i class="us-icon us-icon14"></i><br>免费咨询<b></b></span></a>
        <a href="javascript:;" onclick="goChat()">购买<br>商标</a>
        <a href="javascript:;" onclick="goChat()">出售<br>商标</a>
        <a href="javascript:;" onclick="goChat()">购买<br>专利</a>
        <a href="javascript:;" onclick="goChat()">出售<br>专利</a>
        <a href="javascript:;" onclick="goChat()">其他<br>服务</a>
        <div class="ms-call">
            <a href="javascript:;"><i class="us-icon us-icon15"></i><br>免费<br>电话</a>
            <div class="ms-sidebarTel">
                <p><em>4006-929-199</em></p>
                <span class="jxwz">电话免费开通在线管理平台账户(国内唯一)</span>
                <input type="text" id="telInput" name="telInput" placeholder="输入电话号码">
                <a href="javascript:;" id="callBtn">立即免费通话</a><br>
            </div>
        </div>
       
    </div>

    <div class="mj-siright">
        <i class="us-icon us-icon14"></i>
        <em>免费咨询</em>
    </div>
    <div class="mj-sidebarConfk">
        <a href="javascript:" class="mj-ifk" id="mj-ifk"><i class="mj-iconfk"></i><br>反馈</a>
        <a href="javascript:" class="mj-topIcon"><i class="uj_icon25"></i><br>顶部</a>
    </div>  
</div>

<!-- 意见反馈 -->
<div class="opi_fk_all"></div>

    <div class="opi_fk">
        <h6><font class="fl">意见反馈</font><i id="close_fk" class="fr"></i></h6>
        <form action="form_action.asp" method="get">
            <div class="opi_fkMain">
                <p>
                    亲爱的用户，我是一只蝉运营人员，你有任何建议或在使用中遇到问题，都请告诉我，我每天关注你
                    的反馈，不断优化产品，为你提供更好的服务！如果有一分钟时间，请立刻告诉我你的想法吧！
                </p>
                <textarea autofocus="autofocus" placeholder="意见反馈（500个字内）" rows="5" cols="20" wrap="hard">
                  
                    
                </textarea>
                <input placeholder="填写您的联系方式，例如手机号或邮箱，以便我们及时反馈给你。"></input>
                <label>注：如您的建议得到了采纳,还有神秘奖励噢 ;) </label>
                <div class="opi_fkbtm">
                    <button>提交反馈</button>
                    <span><i></i>提交成功，感谢您的吐槽！</span>
                    <!-- 背景图片 sb-ico.png -->
                    <span><i></i>提交失败</span>
                </div>
            </div>
        </form>
    </div>
<script type="text/javascript">
document.write('<script type="text/javascript"  data-lxb-uid="1268165" data-lxb-gid="139337" src="http://lxbjs.baidu.com/api/asset/api.js?t=' + new Date().getTime() + '" charset="utf-8"></scr' + 'ipt>' );
$(function(){
    //侧边与回呼
    $("#callBtn").on("click",function(){
            lxb.call(document.getElementById("telInput"));
    })
});

    $("#mj-ifk").click(function() {
            $(".opi_fk_all").fadeIn();    
            $(".opi_fk").addClass("animated  infinite");
            $(".opi_fk").show();


    })
    $("#close_fk").click(function() {
          $(".opi_fk_all").fadeOut();
          $(".opi_fk").hide();
    })
    $("#mj-stclose").click(function(){
    $(".mj-stclose").hide(300);
    $(".mj-sidebarCon").hide(300);
    $(".mj-siright").show(300);
    });
    $(".mj-siright").click(function(){
        $(".mj-stclose").show(300);
        $(".mj-sidebarCon").show(300);
        $(".mj-siright").hide(300);
    });
	
	if($(window).width() > 1320){
        $(".mj-siright").hide();
        $(".mj-stclose").show();
        $(".mj-sidebarCon").show();
	}
    if($(window).width() < 1320){
        $(".mj-siright").show();
        $(".mj-stclose").hide();
        $(".mj-sidebarCon").hide();
    }
    var $wind = $(window);//将浏览器加入缓存中

    var win = $wind.outerWidth()//首先获取浏览器的宽度

    $wind.resize(function(){
//浏览器变化宽度的动作。
        var newW = $wind.outerWidth();
        if(newW<1320){
            $(".mj-siright").show();
            $(".mj-stclose").hide();
            $(".mj-sidebarCon").hide();
            $("#mj-stclose").click(function(){
                $(".mj-stclose").hide(300);
                $(".mj-sidebarCon").hide(300);
                $(".mj-siright").show(300);
            });
            $(".mj-siright").click(function(){
                $(".mj-stclose").show(300);
                $(".mj-sidebarCon").show(300);
                $(".mj-siright").hide(300);
            });
        }else{
            $(".mj-siright").hide();
            $(".mj-stclose").show();
            $(".mj-sidebarCon").show();
            $("#mj-stclose").click(function(){
                $(".mj-stclose").hide(300);
                $(".mj-sidebarCon").hide(300);
                $(".mj-siright").show(300);
            });
            $(".mj-siright").click(function(){
                $(".mj-stclose").show(300);
                $(".mj-sidebarCon").show(300);
                $(".mj-siright").hide(300);
            });
        }

    });
        //ms-hoverList  //免费通知
    $('.ms-imglist-ul li,.ms-call').hover(function(){
        $(this).addClass('current');
    },function(){
        $(this).removeClass('current');
    });
    //当点击跳转链接后，回到页面顶部位置
    $(".mj-topIcon").click(function(){
        $('body,html').animate({scrollTop:0},1000);
        return false;
    });
 </script>