<!--侧面咨询-->

<div class="mj-sidebar">
    <div class="mj-stclose">
        <label id="mj-stclose">X关闭</label>
    </div>
    <div class="mj-sidebarCon">
        <a href="javascript:void(0);" onclick="goChat()" target="_blank"  style="border: none;padding: 0;"><span><i class="us-icon us-icon14"></i><br>免费咨询<b></b></span></a>
        <a href="javascript:;" onclick="goChat()">购买<br>商标</a>
        <a href="javascript:;" onclick="goChat()">出售<br>商标</a>
        <a href="javascript:;" onclick="goChat()">购买<br>专利</a>
        <a href="javascript:;" onclick="goChat()">出售<br>专利</a>
        <a href="javascript:;" onclick="goChat()">其他<br>服务</a>
        <div class="ms-call">
            <a href="javascript:;"><i class="us-icon us-icon15"></i><br>免费<br>电话</a>
            <div class="ms-sidebarTel">
                <p><em>4006-929-199</em></p>
                <span class="jxwz">电话免费开通在线管理平台账户(国内唯一)</span>
                <input type="text" id="telInput" name="telInput" placeholder="输入电话号码">
                <a href="javascript:;" id="callBtn">立即免费通话</a><br>
            </div>
        </div>
        <a href="javascript:" class="mj-topIcon"><i class="uj_icon25"></i><br>顶部</a>
    </div>
    <div class="mj-siright">
        <i class="us-icon us-icon14"></i>
        <em>免费咨询</em>
    </div>
</div>
<script type="text/javascript">
document.write('<script type="text/javascript"  data-lxb-uid="1268165" data-lxb-gid="139337" src="http://lxbjs.baidu.com/api/asset/api.js?t=' + new Date().getTime() + '" charset="utf-8"></scr' + 'ipt>' );
$(function(){
    //侧边与回呼
    $("#callBtn").on("click",function(){
            lxb.call(document.getElementById("telInput"));
    })
});

    $("#mj-stclose").click(function(){
    $(".mj-stclose").hide(300);
    $(".mj-sidebarCon").hide(300);
    $(".mj-siright").show(300);
    });
    $(".mj-siright").click(function(){
        $(".mj-stclose").show(300);
        $(".mj-sidebarCon").show(300);
        $(".mj-siright").hide(300);
    });
	
	if($(window).width() > 1320){
        $(".mj-siright").hide();
        $(".mj-stclose").show();
        $(".mj-sidebarCon").show();
	}
    if($(window).width() < 1320){
        $(".mj-siright").show();
        $(".mj-stclose").hide();
        $(".mj-sidebarCon").hide();
    }
    var $wind = $(window);//将浏览器加入缓存中

    var win = $wind.outerWidth()//首先获取浏览器的宽度

    $wind.resize(function(){
//浏览器变化宽度的动作。
        var newW = $wind.outerWidth();
        if(newW<1320){
            $(".mj-siright").show();
            $(".mj-stclose").hide();
            $(".mj-sidebarCon").hide();
            $("#mj-stclose").click(function(){
                $(".mj-stclose").hide(300);
                $(".mj-sidebarCon").hide(300);
                $(".mj-siright").show(300);
            });
            $(".mj-siright").click(function(){
                $(".mj-stclose").show(300);
                $(".mj-sidebarCon").show(300);
                $(".mj-siright").hide(300);
            });
        }else{
            $(".mj-siright").hide();
            $(".mj-stclose").show();
            $(".mj-sidebarCon").show();
            $("#mj-stclose").click(function(){
                $(".mj-stclose").hide(300);
                $(".mj-sidebarCon").hide(300);
                $(".mj-siright").show(300);
            });
            $(".mj-siright").click(function(){
                $(".mj-stclose").show(300);
                $(".mj-sidebarCon").show(300);
                $(".mj-siright").hide(300);
            });
        }

    });
        //ms-hoverList  //免费通知
    $('.ms-imglist-ul li,.ms-call').hover(function(){
        $(this).addClass('current');
    },function(){
        $(this).removeClass('current');
    });
    //当点击跳转链接后，回到页面顶部位置
    $(".mj-topIcon").click(function(){
        $('body,html').animate({scrollTop:0},1000);
        return false;
    });
 </script>