<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>topic/ptline/css/style.css?v=<?=$static_version?>">

  <div class="pt-banner"></div>
  <div class="pt-talk">
      <img src="<?=StaticDir?>topic/ptline/images/pt-talk.jpg">
  </div>
  <div class="pt-banner2">
       <div class="pt-banner2-tit">  
          <h3>独家交易体系<img src="<?=StaticDir?>topic/ptline/images/sx.png"></h3>
       </div>
      <img src="<?=StaticDir?>topic/ptline/images/pt-banner3.jpg">
  </div>
  <div class="pt-team">
      <img src="<?=StaticDir?>topic/ptline/images/ax.jpg" class="ax">
      <div class="pt-team-tit">
          <h2>304位专利工程师<b>三重质量把关</b></h2>
          <h3>100家律师事务所保障专利合法有效</h3>
      </div>
      <div class="pt-team-pl">
      </div>
  </div>
  <div class="pt-choice">
      <div class="pt-choice-tit">
          <h2>为什么他们都<b>选择在一只蝉交易专利？</b></h2>
      </div>
      <div class="pt-choice-al">
      </div>
  </div>
  <div class="pt-sell">
      <div class="pt-sell-main">
          <a href="/pt/sell" target="_blank"></a>
      </div>
  </div>
<? require(ViewDir.'/sidebar.html'); ?>
<? require(ViewDir.'/footer.html'); ?>