<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>topic/lesson-two/css/style.css">

<div class="bgBan1 f-clearfix">
    <div class="sec-banner">
        <a href="/"></a>
    </div>
    <div class="sec-story"></div>
</div>
<!--第一个板块-->
<div class="bgBan2" id="coent1">
   <div class="w1100 sec-comBan">
       <div class="cBtit">
             <span>
                 01
             </span>
           <label><b>了解</b>市场成交<b>均价</b>不做门外汉</label>
       </div>
       <div class="sec-averPrice">
           <div class="fl">
               <img src="<?=StaticDir?>topic/lesson-two/images/sec-averPic1.png">
           </div>
           <div class="fr">
               <img src="<?=StaticDir?>topic/lesson-two/images/sec-averPic2.png">
           </div>
       </div>
   </div>
    <ul class="commod-list w1100">
        <a href="/d-3985410-5.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name1.jpg"></span>
                <p>
                    <label>和之元</label><br/>
                    5类-药品制剂<br/>
                    <font>￥22000</font>
                </p>
            </li>
        </a>
        <a href="/d-4281020-30.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name2.png"></span>
                <p>
                    <label>青竹宝</label><br/>
                    30类-食品佐料<br/>
                    <font>￥20000</font>
                </p>
            </li>
        </a>

        <a href="/d-2780601-25.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name3.png"></span>
                <p>
                    <label>魅丽诗</label><br/>
                    25类-服装鞋帽<br/>
                    <font>￥20000</font>
                </p>
            </li>
        </a>
        <a href="/d-12651797-3.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name4.png"></span>
                <p>
                    <label>靓雅迷人</label><br/>
                    3类-化妆清洁<br/>
                    <font>￥20000</font>
                </p>
            </li>
        </a>
        <a href="/d-11376449-43.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name5.png"></span>
                <p>
                    <label>必尚客</label><br/>
                    43类-餐饮住宿<br/>
                    <font>￥40000</font>
                </p>
            </li>
        </a>
        <a href="/d-13167739-25.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name6.jpg"></span>
                <p>
                    <label>卡蒙力</label><br/>
                    25类-服装鞋帽<br/>
                    <font>￥38000</font>
                </p>
            </li>
        </a>
    </ul>
</div>
<!--第二个板块-->
<div class="bgBan3" id="coent2">
    <div class="w1100 sec-comBan">
        <div class="cBtit">
             <span>
                 02
             </span>
            <label>为什么商标从注册到出售<b>价格翻几倍</b>？</label>
        </div>
        <ul class="sec-risePrice">
           <li class="first">
               <img src="<?=StaticDir?>topic/lesson-two/images/sec-averPic3.png">
           </li>
           <li class="second">
               <img src="<?=StaticDir?>topic/lesson-two/images/sec-averPic4.png">
               <p>
                   随着商标数增加，成功率随之降低，<br/> 商标注册<label>难度越来越大</label>
               </p>
           </li>
            <li class="three">
                <img src="<?=StaticDir?>topic/lesson-two/images/sec-averPic5.png">
                <p><label>精品</label>不可多得</p>
            </li>
        </ul>
    </div>
    <ul class="commod-list w1100">
        <a href="/d-13352810-25.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name7.jpg"></span>
                <p>
                    <label>孤之雅</label><br/>
                    25类-服装鞋帽<br/>
                    <font>￥38000</font>
                </p>
            </li>
        </a>
        <a href="/d-4166616-33.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name8.jpg"></span>
                <p>
                    <label>英德利庄园</label><br/>
                    33类-酒精饮料<br/>
                    <font>￥17000</font>
                </p>
            </li>
        </a>

        <a href="/d-2156803-5.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name9.jpg"></span>
                <p>
                    <label>冠军;KEMP</label><br/>
                    5类-药品制剂<br/>
                    <font>￥13000</font>
                </p>
            </li>
        </a>
        <a href="/d-10765190-25.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name10.jpg"></span>
                <p>
                    <label>北绒皇</label><br/>
                    25类-服装鞋帽<br/>
                    <font>￥18000</font>
                </p>
            </li>
        </a>
        <a href="/d-10725119-18.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name11.jpg"></span>
                <p>
                    <label>释爱</label><br/>
                    18类-皮具制品<br/>
                    <font>￥18000</font>
                </p>
            </li>
        </a>
        <a href="/d-6810662-33.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name12.jpg"></span>
                <p>
                    <label>玉赐乾浆</label><br/>
                    33类-酒精饮料<br/>
                    <font>￥21000</font>
                </p>
            </li>
        </a>
    </ul>
</div>
<!--第三板块-->
<div class="bgBan2" id="coent3">
    <div class="w1100 sec-comBan">
        <div class="cBtit">
             <span>
                 03
             </span>
            <label>请勿<b>低价迷你眼</b><font>以下特质的商标，请小心购买</font></label>
        </div>
        <div class="sec-lowPrice">
            <ul class="sec-lowPup">
                <li class="first">
                    <p>
                        商标有效期仅有<label>1-2年</label>
                        或<label>几个月</label>，买后需马上
                        续展，否则将无效。
                    </p>
                </li>
                <li class="second"></li>
                <li class="three">
                    <p>
                        商标名称会有<label>联想之意</label>
                        让人想象所使用的商品
                        两者需相对应才能发挥
                       <label>品牌宣传效应。</label>
                    </p>
                </li>
            </ul>
            <div class="sec-lowPdw">
               <div class="sec-lowPdw-bg"></div>
               <p class="sec-lowPdw-tit"><img src="<?=StaticDir?>topic/lesson-two/images/lowP-ico.png">原因：此种商标注册时，保护注册考虑不周全或部分类别被驳回</p>
               <ul>
                   <li class="first">
                       <h3><img src="<?=StaticDir?>topic/lesson-two/images/cha-ico.png">使用范围太小&nbsp;&nbsp;&nbsp;&nbsp;保护范围太窄</h3>
                       <div class="fl">
                           <img src="<?=StaticDir?>topic/lesson-two/images/sec-averPic8.png">
                           <p>
                               <label>不能拓展生成</label>更多化妆品。<br/>
                               若竞手注册成功，你的宣传<label>还将为他人做嫁衣</label>。
                           </p>
                       </div>
                       <div class="fr">
                           <img src="<?=StaticDir?>topic/lesson-two/images/sec-averPic9.png">
                       </div>
                   </li>
                   <li class="last">
                       <h3><img src="<?=StaticDir?>topic/lesson-two/images/gou-ico.png">使用和保护范围大</h3>
                       <div>
                           <img src="<?=StaticDir?>topic/lesson-two/images/sec-averPic10.png">
                           <p>为保护自我品牌，45个分类<label>全注册</label></p>
                       </div>
                   </li>
               </ul>
            </div>
        </div>
    </div>
    <ul class="commod-list w1100">
        <a href="/d-2387324-12.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name13.jpg"></span>
                <p>
                    <label>神洲飞船</label><br/>
                    12类-车船配件<br/>
                    <font>￥11000</font>
                </p>
            </li>
        </a>
        <a href="/d-12242335-29.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name14.jpg"></span>
                <p>
                    <label>奇味鲜</label><br/>
                    29类-食品鱼肉<br/>
                    <font>￥30000</font>
                </p>
            </li>
        </a>

        <a href="/d-10282005-24.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name15.jpg"></span>
                <p>
                    <label>澜澜丽家</label><br/>
                    24类-家用纺品<br/>
                    <font>￥23000</font>
                </p>
            </li>
        </a>
        <a href="/d-12595903-25.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name16.jpg"></span>
                <p>
                    <label>印尚美</label><br/>
                    25类-服装鞋帽<br/>
                    <font>￥36000</font>
                </p>
            </li>
        </a>
        <a href="/d-9279049-30.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name17.jpg"></span>
                <p>
                    <label>叶芽儿</label><br/>
                    30类-食品佐料<br/>
                    <font>￥32000</font>
                </p>
            </li>
        </a>
        <a href="/d-14129554-43.html">
            <li>
                <span><img src="<?=StaticDir?>topic/lesson-two/images/strade-name18.jpg"></span>
                <p>
                    <label>香约永久</label><br/>
                    43类-餐饮住宿<br/>
                    <font>￥20000</font>
                </p>
            </li>
        </a>
    </ul>
</div>
<!--第四板块-->
<div class="bgBan4">
    <div class="w1100">
        <h4 class="factP-tit">还有哪些因素<b>影响</b>商标<b>价格</b>？</h4>
        <div class="factP-main">
            <ul>
                <li class="fl">
                    <p>商标类别 <span class="frs"> 热门贵<img src="<?=StaticDir?>topic/lesson-two/images/jt1.png"> </span><span class="sec">冷门便宜<img src="<?=StaticDir?>topic/lesson-two/images/jt2.png"></span></p>
                    <p>有特殊涵义 富有感染力  </p>
                    <p>与知名品牌字形相似、读音相近</p>
                </li>
                <li class="fl">
                    <p>设计有创意 简单好记 <span class="sec"> 文字</span><label>+</label><span class="three">图形</span></p>
                    <p> 有中英文结合 好看动听 </p>
                    <p>已拥有市场份额</p>
                </li>
            </ul>
            <div class="brand-popu  f-clearfix">
               <span>
                   <img src="<?=StaticDir?>topic/lesson-two/images/rele-pic4.png">
               </span>
                <p><b>So</b>，买标请结合自身发展规划，<b>商标</b>代表公司的<b>品牌</b>，买<b>合适</b>的商标方可长远打算。</p>
            </div>
            <div class="brand-look f-clearfix">
                <label class="bl-tit">还没找到合适的商标，让我来帮你找找吧！</label>
                <dl>
                    <p>
                        <input type="text" id="lesson_tel" placeholder="请输入正确电话号码免费通话"/>
                    </p>
                    <a id="lesson_submit">我要买标</a>
                </dl>
            </div>
        </div>
    </div>
</div>
<!--右边虚浮-->
<div class="flt-less" id="flt-less">
    <span><img src="<?=StaticDir?>topic/lesson-two/images/lesson-ico.png"></span>
    <ul class="less-nav">
        <li>
            <a class="aaaa" href="/topic/lesson_one">第一课：商标名称</a>
        </li>
        <li>
            <p>
                了解市场均价
            </p>
            <p>
                为啥价格翻倍
            </p>
            <p>
                请勿低价迷眼
            </p>
        </li>
        <li>
            <a class="aaaa" href="">第二课：商标价格</a>
        </li>
    </ul>
    <ul class="less-zx" style="border: 1px">
        <li><a class="aaaa" href="javascript:void(0)" onclick="goChat()"><img src="<?=StaticDir?>topic/lesson-two/images/lesson-mes.png">在线咨询</a></li>
        <li><a class="aaaa" id="top"><img src="<?=StaticDir?>topic/lesson-two/images/lesson-jt.png">返回顶部</a></li>
    </ul>
</div>
<script type="text/javascript">
    $("a:not('.aaaa')").attr("target","_blank");
    //    悬浮样式
    var wd_w=$(window).width();
    var flt_rg=(wd_w-1100)/2-140;
    var wd_h=$(window).height();
    var flt_tp=(wd_h-$("#flt-less").height())/2-100;
    $("#flt-less").css({"right":flt_rg,"top":flt_tp});
    $(window).resize(function(){
        var wd_w=$(window).width();
        var flt_rg=(wd_w-1100)/2-140;
        var wd_h=$(window).height();
        var flt_tp=(wd_h-$("#flt-less").height())/2-100;
        $("#flt-less").css({"right":flt_rg,"top":flt_tp});
    })
    //    跳转指定区域
    var bltp1=$("#coent1").offset().top;
    var bltp2=$("#coent2").offset().top;
    var bltp3=$("#coent3").offset().top;
    var lvtop=$(".flt-less").css("top").split("px")[0];
    var arrbltp=[bltp1,bltp2,bltp3];
    $(window).scroll(function(){
        if($(this).scrollTop()+lvtop>arrbltp[0]&&$(this).scrollTop()<arrbltp[1]-lvtop){
            $(".less-nav li p").removeClass("on");
            $(".less-nav li p").eq(0).addClass("on");
        }
        else if($(this).scrollTop()+lvtop>arrbltp[1]&&$(this).scrollTop()<arrbltp[2]-lvtop){
            $(".less-nav li p").removeClass("on");
            $(".less-nav li p").eq(1).addClass("on");
        }
        else  if($(this).scrollTop()+lvtop>arrbltp[2]&&$(this).scrollTop()<arrbltp[2]+$(".fles-prett").height()-lvtop){
            $(".less-nav li p").removeClass("on");
            $(".less-nav li p").eq(2).addClass("on");
        }
        else{
            $(".less-nav li p").removeClass("on");
        }
    })
    $(".less-nav li p").each(function(i){
        $(this).click(function(){
            $('html,body').animate({"scrollTop":arrbltp[i]})
        })
    })

    //  设置分类样式
    for(var i=1;i<=$(".commod-list li").length;i++)
    {

        if(i%6==0){
//            alert(i);
            $(".commod-list li").eq(i-1).css({"borderRight":"none"})
        }
    }

</script>
<script type="text/javascript">
    $(function(){
        mobilereg = /^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])\d\d\d\d\d\d\d\d$/i;
        var aaatop=$('.sec-banner').offset().top;
        $('#top').click(function(){
            $('html,body').animate({
                "scrollTop": aaatop
            })
        });
        //失去焦点事件
        $('#lesson_tel').blur(function(){
            var mobile 	= $.trim($('#lesson_tel').val());
            //验证手机号
            if(!mobile){
                $(this).val('请输入正确电话号码免费通话');
                return false;
            }
            if(!mobilereg.test(mobile) || mobile.length!=11){
                $(this).val('请输入正确电话号码免费通话');
                return false;
            }
        });
        //获取焦点事件
        $('#lesson_tel').focus(function(){
            $('#lesson_tel').val('');
        });
        //提交时间
        $('#lesson_submit').click(function(){
            var mobile 	= $.trim($('#lesson_tel').val());
            //验证手机号
            if(!mobile){
                $(this).val('请输入正确电话号码免费通话');
                return false;
            }
            if(!mobilereg.test(mobile) || mobile.length!=11){
                $(this).val('请输入正确电话号码免费通话');
                return false;
            }
            //准备数据
            var data = new Array();
            data['name'] 	= '';
            data['tel'] 	= mobile;
            data['subject'] = '来自专题第二课';
            data['remarks'] = '来自专题第二课';
            data['pttype'] = "求购";
            ucNetwork.submitData(data);
        });
    });
    //发布回调
    function submitDataCallback(Obj){
        $.each(Obj,function(i,n){
            console.debug(n);
            if(n.code!=-1){
                //弹出成功框
                getLayer($('#mj-submitteS'));
            }else{
                //弹出失败框
                getLayer($('#mj-submitteF'));
            }
        });
    }
</script>
<? require(ViewDir.'/footer.html'); ?>