<? require(ViewDir.'/header.html'); ?>

<script type="text/javascript" src="<?=StaticDir?>topic/tmall-jd/js/jquery-1.8.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>topic/tmall-jd/css/style.css">

  <!--banner-->
  <div class="tm-banner">
  </div>
  <!--topnva-->
  <div class="tmNav">
      <ul class="w1180">
          <li class="up" id="tmjd1" onmouseover="jc('tmjd',1,2)">
              <img src="<?=StaticDir?>topic/tmall-jd/images/tm-ico.png">
              天猫优质商标
          </li>
          <li id="tmjd2" onmouseover="jc('tmjd',2,2)">
              <img src="<?=StaticDir?>topic/tmall-jd/images/jd-ico.png">
              京东优质商标
          </li>
      </ul>
  </div>
  <!--主要内容显示-->
  <div class="tmMain f-clearfix">
      <div id="con_tmjd_1">
          <!--服装鞋帽-->
          <div class="w1180 goods-category cloth">
              <div class="goodsTop">
                  <span class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico1.png">
                      <b>服装鞋帽11111</b>
                  </span>
                  <p class="fr">
                      <a href="">服装</a>|
                      <a href="">童装</a>|
                      <a href="">鞋靴 </a>|
                      <a href="">牛仔服</a>|
                      <a href="">内衣</a>|
                      <a href="">饰品</a>
                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods1.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods2.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods3.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods4.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic1.png">
                      天猫服装鞋帽行业入驻资质汇总
                  </p>
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic1.png">
                      入驻天猫服装鞋帽行业所需资料
                  </p>
              </div>
          </div>
          <!--化妆清洁-->
          <div class="w1180 goods-category makeUp">
              <div class="goodsTop">
                  <span class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico2.png">
                      <b>化妆清洁</b>
                  </span>
                  <p class="fr">
                      <a href="">面膜 </a>|
                      <a href="">香水</a>|
                      <a href="">日用洗护 </a>|
                      <a href="">精油香料</a>

                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods1.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods2.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods3.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods4.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic2.png">
                      天猫服装鞋帽行业入驻资质汇总
                  </p>
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic2.png">
                      入驻天猫服装鞋帽行业所需资料
                  </p>
              </div>
          </div>
          <!--方便食品-->
          <div class="w1180 goods-category fastFd">
              <div class="goodsTop">
                  <span class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico3.png">
                      <b>方便食品</b>
                  </span>
                  <p class="fr">
                      <a href="">咖啡 </a>|
                      <a href="">茶</a>|
                      <a href="">糖果</a>|
                      <a href="">蜂蜜</a>|
                      <a href="">膨化食品</a>|
                      <a href="">粮油米面</a>|
                      <a href="">调味品</a>|
                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods1.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods2.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods3.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods4.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic3.png">
                      天猫方便食品行业入驻资质汇总
                  </p>
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic3.png">
                      入驻天猫方便食品行业所需资料
                  </p>
              </div>
          </div>
          <!--3C数码-->
          <div class="w1180 goods-category code">
              <div class="goodsTop">
                  <span class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico4.png">
                      <b>3C数码</b>
                  </span>
                  <p class="fr">
                      <a href="">电脑周边</a>|
                      <a href="">办公设备</a>|
                      <a href="">导航仪</a>|
                      <a href="">数据存储</a>|
                      <a href="">电池/充电器</a>|
                      <a href="">数据线</a>|
                      <a href="">眼镜</a>
                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods1.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods2.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods3.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods4.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                         </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic4.png">
                      天猫3C数码行业入驻资质汇总
                  </p>
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic4.png">
                      入驻天猫3C数码行业所需资料
                  </p>
              </div>
          </div>
      </div>
      <div id="con_tmjd_2">
          <!--服装鞋帽-->
          <div class="w1180 goods-category cloth">
              <div class="goodsTop">
                      <span class="fl">
                          <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico1.png">
                          <b>服装鞋帽2222</b>
                      </span>
                  <p class="fr">
                      <a href="">服装</a>|
                      <a href="">童装</a>|
                      <a href="">鞋靴 </a>|
                      <a href="">牛仔服</a>|
                      <a href="">内衣</a>|
                      <a href="">饰品</a>
                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods1.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods2.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods3.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods4.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic1.png">
                      天猫服装鞋帽行业入驻资质汇总
                  </p>
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic1.png">
                      入驻天猫服装鞋帽行业所需资料
                  </p>
              </div>
          </div>
          <!--化妆清洁-->
          <div class="w1180 goods-category makeUp">
              <div class="goodsTop">
                      <span class="fl">
                          <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico2.png">
                          <b>化妆清洁</b>
                      </span>
                  <p class="fr">
                      <a href="">面膜 </a>|
                      <a href="">香水</a>|
                      <a href="">日用洗护 </a>|
                      <a href="">精油香料</a>

                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods1.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods2.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods3.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods4.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic2.png">
                      天猫服装鞋帽行业入驻资质汇总
                  </p>
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic2.png">
                      入驻天猫服装鞋帽行业所需资料
                  </p>
              </div>
          </div>
          <!--方便食品-->
          <div class="w1180 goods-category fastFd">
              <div class="goodsTop">
                      <span class="fl">
                          <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico3.png">
                          <b>方便食品</b>
                      </span>
                  <p class="fr">
                      <a href="">咖啡 </a>|
                      <a href="">茶</a>|
                      <a href="">糖果</a>|
                      <a href="">蜂蜜</a>|
                      <a href="">膨化食品</a>|
                      <a href="">粮油米面</a>|
                      <a href="">调味品</a>|
                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods1.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods2.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods3.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods4.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic3.png">
                      天猫方便食品行业入驻资质汇总
                  </p>
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic3.png">
                      入驻天猫方便食品行业所需资料
                  </p>
              </div>
          </div>
          <!--3C数码-->
          <div class="w1180 goods-category code">
              <div class="goodsTop">
                      <span class="fl">
                          <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico4.png">
                          <b>3C数码</b>
                      </span>
                  <p class="fr">
                      <a href="">电脑周边</a>|
                      <a href="">办公设备</a>|
                      <a href="">导航仪</a>|
                      <a href="">数据存储</a>|
                      <a href="">电池/充电器</a>|
                      <a href="">数据线</a>|
                      <a href="">眼镜</a>
                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods1.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods2.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods3.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods4.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
                  <a href="">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/goods5.png">
                             </span>
                          <h6>魅力诗 25类</h6>
                          <label>我是群组我是群组</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic4.png">
                      天猫3C数码行业入驻资质汇总
                  </p>
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic4.png">
                      入驻天猫3C数码行业所需资料
                  </p>
              </div>
          </div>
      </div>
      <!--更多入驻平台-->
      <div class="w1180 mrTerra">
          <ul>
              <a href="">
                  <img src="<?=StaticDir?>topic/tmall-jd/images/mr-Terra.png">
              </a>
              <a href="">
                  <img src="<?=StaticDir?>topic/tmall-jd/images/Terra1.png">
              </a>
              <a href="">
                  <img src="<?=StaticDir?>topic/tmall-jd/images/Terra2.png">
              </a>
              <a href="">
                  <img src="<?=StaticDir?>topic/tmall-jd/images/Terra3.png">
              </a>
              <a href="">
                  <img src="<?=StaticDir?>topic/tmall-jd/images/Terra4.png">
              </a>
              <a href="">
                  <img src="<?=StaticDir?>topic/tmall-jd/images/Terra5.png">
              </a>
          </ul>

      </div>
  </div>
  <!--底部-->
  <div class="btmMain f-clearfix">
      <div class="w1180 f-clearfix">
          <!--买商标入驻有保障-->
          <div class="btmTit">
               <span class="fl"></span>
                <h3>买商标入驻有保障 R标立省<b>5万元</b></h3>
                <span class="fr"></span>
          </div>
          <div class="InSecur">
              <img src="<?=StaticDir?>topic/tmall-jd/images/gz.png" class="gz">
              <ul class="frist">
                  <h2>申请商标</h2>
                  <p>
                      申请中的商标，需<label>10-15万</label>
                  </p>
                  <p>
                      拿到商标受理通知书才能申请，需等待<label>至少6个月以上</label>
                  </p>
                  <p>
                      商标如遇驳回、异议将强制关店；亏损的除了投资成本，还有时间</label>
                  </p>
              </ul>
              <ul class="sec">
                  <span>
                      保 证 金
                  </span>
                  <span>
                      入驻时间
                  </span>
                  <span>
                      潜在风险
                  </span>
              </ul>
              <ul class="last">
                  <h2>购买商标</h2>
                  <p>
                      现成的R标，只需<label>5-10万元</label>
                  </p>
                  <p>
                      <label>无需等待</label>，立即申请
                  </p>
                  <p>
                      可放心入驻，商标<label>无关店风险</label>
                  </p>
              </ul>
          </div>
          <!--保障入驻 一只蝉帮你解决-->
          <div class="btmTit">
              <span class="fl"></span>
              <h3>保障入驻 一只蝉帮你解决</h3>
              <span class="fr"></span>
          </div>
          <div class="solvePro w1180 f-clearfix">
              <ul>
                  <li>
                      <img src="<?=StaticDir?>topic/tmall-jd/images/btm-pro1.png">
                      <h6>规避低质商标风险</h6>
                      <label>
                          提供权威商标检测报告<br/>
                          保障商标正常入驻
                      </label>
                  </li>
                  <li>
                      <img src="<?=StaticDir?>topic/tmall-jd/images/btm-pro2.png">
                      <h6>杜绝卖家漫天要价</h6>
                      <label>
                          19项价格预评估<br/>
                          买的放心 不花冤枉钱
                      </label>
                  </li>
                  <li>
                      <img src="<?=StaticDir?>topic/tmall-jd/images/btm-pro3.png">
                      <h6>交易损失全额赔付 </h6>
                      <label>
                          全国独家签订《100%赔付协议》<br/>
                          交易损失24小时先行赔付
                      </label>
                  </li>
                  <li>
                      <img src="<?=StaticDir?>topic/tmall-jd/images/btm-pro4.png">
                      <h6>今天选中明天就用</h6>
                      <label>
                          督促卖方与买方签订<br/>
                          《独占许可协议》
                      </label>
                  </li>
                  <li>
                      <img src="<?=StaticDir?>topic/tmall-jd/images/btm-pro5.png">
                      <h6>避免商标使用纠纷</h6>
                      <label>
                          十年免费监测<br/>
                          任何异动都将提前通知你
                      </label>
                  </li>
              </ul>
          </div>
          <!--入驻常见问题 -->
          <div class="famProl">
              <ul>
                  <li class="fl">
                      <h4><img src="<?=StaticDir?>topic/tmall-jd/images/com-ico1.png">入驻常见问题  </h4>
                     <p>
                         <a href=""><label class="fl"><span>&bull;</span>天猫店铺取名有标准和要求吗？</label></a>
                         <a href=""><label class="fr"><span>&bull;</span>入驻天猫需要多少保证金？</label></a>
                     </p>
                      <p>
                          <a href=""><label class="fl"><span>&bull;</span>入驻京东商城需要哪些费用？</label></a>
                          <a href=""><label class="fr"><span>&bull;</span>在线入驻京东商城的流程</label></a>
                      </p>
                      <p>
                          <a href=""><label class="fl"><span>&bull;</span>现在入驻能参加今年的双11吗？</label></a>
                          <a href=""><label class="fr"><span>&bull;</span>入驻京东商城的条件有哪些？</label></a>
                      </p>
                  </li>
                  <li class="fr">
                      <h4><img src="<?=StaticDir?>topic/tmall-jd/images/com-ico2.png">买标常见问题</h4>
                      <p>
                          <a href=""><label class="fl"><span>&bull;</span>怎么尽快选到适合的商标名字？</label></a>
                          <a href=""><label class="fr"><span>&bull;</span>付款后，卖家跑了怎么办？</label></a>
                      </p>
                      <p>
                          <a href=""><label class="fl"><span>&bull;</span>我没有营业执照可以买商标吗？ </label></a>
                          <a href=""><label class="fr"><span>&bull;</span>买商标需要准备哪些资料呢？</label></a>
                      </p>
                      <p>
                          <a href=""><label class="fl"><span>&bull;</span>看中的商标怎么联系到持有人？</label></a>
                          <a href=""><label class="fr"><span>&bull;</span>买个商标一般需要多少钱？</label></a>
                      </p>
                  </li>
              </ul>

          </div>
      </div>
  </div>
  <!--底部联系导航-->
  <div class="w1180">
      <div class="mj-footer_nav">
          <ul class="f-clearfix">
              <li><a href="http://chaofan.wang/about" target="_blank">联系我们  </a>| </li>
              <li><a href="http://chaofan.wang/about/articleList/?type=xxpl" target="_blank">关于一只蝉 </a>| </li>
              <li><a href="http://chaofan.wang/about/cgal/" target="_blank">网站备案  </a> |</li>
              <li><a href="http://chaofan.wang/about/zytd/" target="_blank">成功案例</a>| </li>
              <li><a href="http://chaofan.wang/about/lxwm/" target="_blank">常见问题</a> |</li>
              <li><a href="http://job.chofn.com/" target="_blank">加入我们</a> </li>

          </ul>
      </div>
      <div class="mj-footer_nav">
          <p>
              <span>友情链接：</span>  <a href="">商标注册公司</a>   <a href="">成都法律咨询</a>    <a href="">免费B2B网站</a>   <a href="">自动挡维修</a><br/>
              <span>分公司：</span>  <a>北京</a>   <a>天津</a>   <a>南京</a> <a>苏州</a><a>杭州 </a>   <a>武汉 </a>   <a>长沙 </a> <a>重庆</a><a>成都 </a><a>广州</a><a>深圳 </a><a>山东</a><a>上海 </a>
          </p>
          <div class="mj-footer_bottom">
              <a style="   margin-left:0px;">
                  <img src="<?=StaticDir?>topic/tmall-jd/images/btm-brand1.png">
              </a>
              <a>
                  <img src="<?=StaticDir?>topic/tmall-jd/images/btm-brand2.png">
              </a>
              <a>
                  <img src="<?=StaticDir?>topic/tmall-jd/images/btm-brand3.png">
              </a>
              <a>
                  <img src="<?=StaticDir?>topic/tmall-jd/images/btm-brand4.png">
              </a>
              <a>
                  <img src="<?=StaticDir?>topic/tmall-jd/images/btm-brand5.png">
              </a>
          </div>
      </div>
      <p class="mj-footerB_text"><a href="http://www.miibeian.gov.cn/">ICP证：蜀ICP备15035613号-1</a> 违法和不良信息举报电话: 028-110     Copyright © 2002 - 2015 北京超凡知识产权代理有限公司 </p>
  </div>
  <!--底部end-->
<script type="text/javascript">
    $(window).scroll(function(){
        if(($(".tmMain").offset().top-$(document).scrollTop())<=0){
            $(".tmNav").addClass("f-tp");
        }
        else{
            $(".tmNav").removeClass("f-tp");
        }
    })
    function jc(name,curr,n)
    {
        for(i=1;i<=n;i++)
        {
            var menu=document.getElementById(name+i);
            var cont=document.getElementById("con_"+name+"_"+i);
            menu.className=i==curr ? "up" : "";
            if(i==curr){
                cont.style.display="block";
            }else{
                cont.style.display="none";
            }
        }
    }
</script>

<? require(ViewDir.'/footer.html'); ?>