<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>topic/tm/css/style.css?v=<?=$static_version?>">
<div class="rul-banner">
</div>
<div class="adj-det">
    <i><img src="<?=StaticDir?>topic/tm/images/adj-det.jpg"></i>
    <p>本次规则调整于2016年5月9日进行公示，<label>5月16日正式生效</label></p>
</div>
<div class="clas-ban1 com-cls">
    <ul>
        <li>
           <h4 style="height:118px;line-height:118px;width: 230px;display: block;">一级类目</h4>
            <div style="width:220px;">
                <label style="vertical-align: middle;padding-left: 40px;">
                    服饰配件/皮带/帽子/围巾<br/>
                    女装/女士精品<br/>
                    男装<br/>
                    女士内衣/男士内衣/家居服<br/>
                </label>
            </div>

        </li>
        <li style="  width: 440px;">
            <h4 style="height:58px;line-height: 58px;">调整前</h4>
            <p style="height:58px;line-height: 58px;">
                <label>商标资质   </label>
                <label>公司资质    </label>
            </p>
            <div>
                <font>R标，且近两年内未发生转让</font>
                <label>
                    1. 注册资本高于100万（含）<br/>
                    2. 依法成立两年及以上<br/>
                    3. 需具备一般纳税人资格<br/>
                </label>
            </div>

        </li>
        <li  style="  width: 440px;">
            <h4 class="color" style="height:58px;line-height: 58px;">变更后</h4>
            <p style="height:58px;line-height: 58px;">
                <label class="color">商标资质</label>
                <label class="color">公司资质</label>
            </p>
            <div>
                <font>R标</font>
                <label>
                    1. 注册资本高于100万（含）<br/>
                    2. 具备一般纳税人资格
                </label>
            </div>
         </li>

    </ul>
</div>
<div class="clas-ban2 com-cls">
    <ul>
        <li>
            <h4 style="height:118px;line-height:118px;width: 230px;display: block;">一级类目</h4>
            <div style="width:220px;">
                <label style="padding-left: 40px;height: 176px;">
                    箱包皮具/热销女包/男包<br/>
                    女鞋<br/>
                    流行男鞋<br/>
                </label>
            </div>

        </li>
        <li style="width: 440px;">
            <h4 style="height:58px;line-height: 58px;">调整前</h4>
            <p style="height:58px;line-height: 58px;">
                <label>商标资质   </label>
                <label>公司资质    </label>
            </p>
            <div>
                <font  style="height: 176px;">
                    "女鞋"、"流行男鞋"需R标，<br/>
                    且近两年内未发生转让
                </font>
                <label style="text-align: left;height: 176px;">
                    1. 注册资本高于100万（含）<br/>
                    2. 依法成立两年及以上<br/>
                    3. 具备一般纳税人资格
                </label>
            </div>

        </li>
        <li  style="  width: 440px;">
            <h4 class="color" style="height:58px;line-height: 58px;">变更后</h4>
            <p style="height:58px;line-height: 58px;">
                <label class="color">商标资质</label>
                <label class="color">公司资质</label>
            </p>
            <div>
                <font style="height: 176px;"> "女鞋"、"流行男鞋"需R标</font>
                <label style="height: 176px;">
                    1. 注册资本高于100万（含）<br/>
                    2. 具备一般纳税人资格
                </label>
            </div>
        </li>

    </ul>
</div>
<div class="clas-ban3 com-cls">
    <ul>
        <li>
            <h4 style="height:118px;line-height:118px;width: 230px;display: block;">一级类目</h4>
            <div style="width:220px;">
                <label style="height: 268px;padding-left: 40px;">
                    运动鞋<br/>
                    运动服/休闲服装<br/>
                    运动/瑜伽/健身/球迷用品<br/>
                    户外/登山/野营/旅行用品<br/>
                    运动包/户外包/配件<br/>
                    自行车/骑行装备/零配件
                </label>
            </div>

        </li>
        <li style="  width: 440px;">
            <h4 style="height:58px;line-height: 58px;">调整前</h4>
            <p style="height:58px;line-height: 58px;">
                <label>商标资质   </label>
                <label>公司资质    </label>
            </p>
            <div>
                <font  style="height: 268px;width: 224px;">R标，且近两年内未发生转让</font>
                <label  style="height: 268px;padding-left: 35px;">
                    1. 注册资本高于100万（含）<br/>
                    2. 依法成立两年及以上<br/>
                    3. 具备一般纳税人资格<br/>
                </label>
            </div>

        </li>
        <li  style="  width: 440px;">
            <h4 class="color" style="height:58px;line-height: 58px;">变更后</h4>
            <p style="height:58px;line-height: 58px;">
                <label class="color">商标资质</label>
                <label class="color">公司资质</label>
            </p>
            <div>
                <font  style="height: 268px;">R标</font>
                <label  style="height: 268px;">
                    1. 注册资本高于100万（含）<br/>
                    2. 具备一般纳税人资格
                </label>
            </div>
        </li>

    </ul>
</div>
<div class="clas-ban4 com-cls">
    <ul>
        <li>
            <h4 style="height:118px;line-height:118px;width: 230px;display: block;">一级类目</h4>
            <div style="width:220px;">
                <label style="height: 178px;padding-left: 40px;">
                    饰品/流行首饰/时尚饰品新<br/>
                    珠宝/钻石/翡翠/黄金
                </label>
            </div>

        </li>
        <li style=" width: 440px;">
            <h4 style="height:58px;line-height: 58px;">调整前</h4>
            <p style="height:58px;line-height: 58px;">
                <label>商标资质   </label>
                <label>公司资质    </label>
            </p>
            <div>
                <font style="height: 178px;width: 235px;">专营店需商标持有人授权</font>
                <label style="height: 178px;padding-left:40px;">
                    1. 依法成立两年及以上<br/>
                    2. 具备一般纳税人资格
                </label>
            </div>

        </li>
        <li  style="  width: 440px;">
            <h4 class="color" style="height:58px;line-height: 58px;">变更后</h4>
            <p style="height:58px;line-height: 58px;">
                <label class="color">商标资质</label>
                <label class="color">公司资质</label>
            </p>
            <div>
                <font style="height: 178px;">R标</font>
                <label style="height: 178px;">
                    1. 依法成立一年及以上<br/>
                    2. 具备一般纳税人资格<br/>
                    3. 专营店暂不招商
                </label>
            </div>
        </li>

    </ul>
</div>
<div class="clas-ban5 com-cls">
    <ul>
        <li>
            <h4 style="height:118px;line-height:118px;width: 230px;display: block;">一级类目</h4>
            <div style="width:220px;">
                <label style="padding-left: 40px;height: 178px;">
                    彩妆/香水/美妆工具<br/>
                    美发护发/假发<br/>
                    美容护肤/美体/精油<br/>
                </label>
            </div>

        </li>
        <li style="  width: 440px;">
            <h4 style="height:58px;line-height: 58px;">调整前</h4>
            <p style="height:58px;line-height: 58px;">
                <label>商标资质   </label>
                <label>公司资质    </label>
            </p>
            <div>
                <font style="height: 178px;width: 235px;">R标，且近两年内未发生转让</font>
                <label style="height: 178px;padding-left:30px;">
                    1. 需具备一般纳税人资格<br/>
                    2. 注册资本高于50万（含）
                </label>
            </div>

        </li>
        <li  style="  width: 440px;">
            <h4 class="color" style="height:58px;line-height: 58px;">变更后</h4>
            <p style="height:58px;line-height: 58px;">
                <label class="color">商标资质</label>
                <label class="color">公司资质</label>
            </p>
            <div>
                <font style="height: 178px;">R标</font>
                <label style="height: 178px;">
                    1. 需具备一般纳税人资格<br/>
                    2. 注册资本高于50万（含）
                </label>
            </div>
        </li>

    </ul>
</div>

<div class="clas-ban6 com-cls">
    <ul>
        <li>
            <h4 style="height:118px;line-height:118px;width: 230px;display: block;">一级类目</h4>
            <div style="width:220px;">
                <label style="padding-left:40px;height: 502px;">
                    基础建材<br/>
                    家居饰品<br/>
                    五金/工具<br/>
                    电子/电工<br/>
                    特色手工艺<br/>
                    家装主材<br/>
                    全屋定制<br/>
                    商业/办公家具<br/>
                    住宅家具<br/>
                    床上用品<br/>
                    居家布艺<br/>
                    鲜花速递/花卉仿真/绿植园艺
                </label>
            </div>

        </li>
        <li style="  width: 440px;">
            <h4 style="height:58px;line-height: 58px;">调整前</h4>
            <p style="height:58px;line-height: 58px;">
                <label>商标资质   </label>
                <label>公司资质    </label>
            </p>
            <div>
                <label style="height: 502px;padding-left: 20px;">
                    1.“家装主材、全屋定制、<br/>
                    商业/办公家具、住宅家具、<br/>
                    家居饰品”需R标，且近两<br/>
                    年内未发生转让<br/>
                    2.“床上用品”需R标，且<br/>
                    近一年内未发生转让
                </label>
                <label style="height: 502px;padding-left: 20px;">
                    1. 依法成立一年及以上<br/>
                    2. 具备一般纳税人资格（特<br/>
                    色手工艺除外）<br/>
                    3. “基础建材、家装主材、<br/>
                    电子/电工、五金/工具、全<br/>
                    屋定制”旗舰店、专卖店开<br/>
                    店公司注册资本需高于100<br/>
                    万（含）<br/>
                    4.“床上用品和居家布艺”<br/>
                    注册资本需高于50万（含）<br/>
                    5.“鲜花速递/花卉仿真/绿<br/>
                    植园艺”注册资本需高于1<br/>
                    0万（含）<br/>
                </label>
            </div>

        </li>
        <li  style="  width: 440px;">
            <h4 class="color" style="height:58px;line-height: 58px;">变更后</h4>
            <p style="height:58px;line-height: 58px;">
                <label class="color">商标资质</label>
                <label class="color">公司资质</label>
            </p>
            <div>
                <label style="height: 502px;padding-left:20px;">
                    1.“家装主材、全屋定制、商<br/>
                    业/办公家具、住宅家具、家<br/>
                    居饰品”需R标<br/>
                    2.“床上用品”需R标<br/>
                </label>
                <label style="height: 502px;padding-left:20px;">
                    1. 需具备一般纳税人资格<br/>
                    2. 具备一般纳税人资格（特<br/>
                    色手工艺除外）<br/>
                    3.“基础建材、家装主材、<br/>
                    电子/电工、五金/工具、全<br/>
                    屋定制、商业/办公家具、住<br/>
                    宅家具”旗舰店、专卖店开<br/>
                    店公司注册资本需高于100<br/>
                    万（含）<br/>
                    4.“床上用品、居家布艺、<br/>
                    家居饰品”注册资本需高于<br/>
                    100万（含）<br/>
                    5.“鲜花速递/花卉仿真/绿<br/>
                    植园艺”注册资本需高于10<br/>
                    万（含）
                </label>
            </div>
        </li>

    </ul>
</div>
<div class="clas-ban7 com-cls">
    <ul>
        <li>
            <h4 style="height:118px;line-height:118px;width: 230px;display: block;">一级类目</h4>
            <div style="width:220px;">
                <label style="padding-left: 40px;height: 208px;">
                    汽车/用品/配件/改装<br/>
                    摩托车/配件/骑士装备
                </label>
            </div>

        </li>
        <li style="  width: 440px;">
            <h4 style="height:58px;line-height: 58px;">调整前</h4>
            <p style="height:58px;line-height: 58px;">
                <label>商标资质   </label>
                <label>公司资质    </label>
            </p>
            <div>
                <font  style="height: 208px;">R标</font>
                <label style="height: 208px;">
                    1. 依法成立一年及以上<br/>
                    2. 注册资本高于100万（含）<br/>
                    3. “汽车/用品/配件/改装”<br/>
                    需一般纳税人资格<br/>
                </label>
            </div>

        </li>
        <li  style="  width: 440px;">
            <h4 class="color" style="height:58px;line-height: 58px;">变更后</h4>
            <p style="height:58px;line-height: 58px;">
                <label class="color">商标资质</label>
                <label class="color">公司资质</label>
            </p>
            <div>
                <font  style="height: 208px;">R标</font>
                <label style="height: 208px;">
                    1.  注册资本高于100万（含）<br/>
                    2.“汽车/用品/配件/改装”<br/>
                    需一般纳税人资格<br/>
                </label>
            </div>
        </li>

    </ul>
</div>
<div class="com-cls">
    <p class="details-end">以上内容由一只蝉援引天猫官方信息整理<a href="/v-50-1183/" target="_blank">查看详情 ></a></p>
</div>

<!--一只蝉尾部介绍-->
<div class="btm-int">
    <div class="com-cls">
        <a href="/s/" target="_blank" style="bottom:60px;left: 330px;"></a>
        <a href="javascript:;" style="bottom:60px;right:334px;" onclick="goChat()"></a>
    </div>

</div>
<? require(ViewDir.'/sidebar.html'); ?>
<? require(ViewDir.'/footer.html'); ?>