<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>topic/lesson_one/css/style.css">
<div class="fles-banner f-clearfix">
    <div class="fles-banner-main">
          <a href="/topic/lesson_two"></a>
    </div>
</div>
<!--消费者审美习惯-->
<div class="fles-aesth f-clearfix">
    <div class="w1100 comBan f-clearfix">
         <div class="cBtit">
             <span>
                 01
             </span>
             <label>一定要符合你的<b>目标消费者审美习惯</b></label>
         </div>
         <ul class="cBmain aesthMa f-clearfix">
            <li class="first">
                <img src="<?=StaticDir?>topic/lesson_one/images/aesth-pic1.png">
                <span>
                    <img src="<?=StaticDir?>topic/lesson_one/images/aesth-jt.png">
                </span>
            </li>
            <li>
                <img src="<?=StaticDir?>topic/lesson_one/images/aesth-pic2.png">
            </li>
            <li class="last">
                <span>
                    <img src="<?=StaticDir?>topic/lesson_one/images/aesth-jt.png">
                </span>
                <img src="<?=StaticDir?>topic/lesson_one/images/aesth-pic3.png">

            </li>
        </ul>
    </div>
    <div class="w1100 f-clearfix More-class">
          <div class="MoreClss-tit f-clearfix">
              <p class="fl"><img src="<?=StaticDir?>topic/lesson_one/images/mc-ico1.png">为你推荐的符合目标消费者审美习惯的商标</p>
              <div class="fr moreFl">
                  更多分类
              </div>
              <ul class="brand-fl">
                  <li>
                      <!--重点红色-->
                      <p><span><label>&bull;</label>01类</span><a target="_blank" href="/search/index/?c=1">化工原料</a></p>
                      <p><span><label>&bull;</label>02类</span><a target="_blank" href="/search/index/?c=2">油漆涂料</a></p>
                      <p><span><label>&bull;</label>03类</span><a target="_blank" href="/search/index/?c=3" class="piont">化妆日化</a></p>
                      <p><span><label>&bull;</label>04类</span><a target="_blank" href="/search/index/?c=4">燃料油脂</a></p>
                      <p><span><label>&bull;</label>05类</span><a target="_blank" href="/search/index/?c=5" class="piont">医药</a></p>
                      <p><span><label>&bull;</label>06类</span><a target="_blank" href="/search/index/?c=6">五金金属</a></p>
                      <p><span><label>&bull;</label>07类</span><a target="_blank" href="/search/index/?c=7">机械电动</a></p>
                      <p><span><label>&bull;</label>08类</span><a target="_blank" href="/search/index/?c=8">手工器械</a></p>

                  </li>
                  <li>
                      <p><span><label>&bull;</label>09类</span><a target="_blank" href="/search/index/?c=9" class="piont">科学仪器</a></p>
                      <p><span><label>&bull;</label>10类</span><a target="_blank" href="/search/index/?c=10">医疗器械</a></p>
                      <p><span><label>&bull;</label>11类</span><a target="_blank" href="/search/index/?c=11" class="piont">家用电器</a></p>
                      <p><span><label>&bull;</label>12类</span><a target="_blank" href="/search/index/?c=12">运输工具</a></p>
                      <p><span><label>&bull;</label>13类</span><a target="_blank" href="/search/index/?c=13">军火烟火</a></p>
                      <p><span><label>&bull;</label>14类</span><a target="_blank" href="/search/index/?c=14" class="piont">珠宝钟表</a></p>
                      <p><span><label>&bull;</label>15类</span><a target="_blank" href="/search/index/?c=15">乐器</a></p>
                      <p><span><label>&bull;</label>16类</span><a target="_blank" href="/search/index/?c=16">办公用品</a></p>

                  </li>
                  <li>
                      <p><span><label>&bull;</label>17类</span><a target="_blank" href="/search/index/?c=17">橡胶制品</a></p>
                      <p><span><label>&bull;</label>18类</span><a target="_blank" href="/search/index/?c=18" class="piont">皮革皮具</a></p>
                      <p><span><label>&bull;</label>19类</span><a target="_blank" href="/search/index/?c=19">建筑材料</a></p>
                      <p><span><label>&bull;</label>20类</span><a target="_blank" href="/search/index/?c=20">家具</a></p>
                      <p><span><label>&bull;</label>21类</span><a target="_blank" href="/search/index/?c=21">洁具厨房</a></p>
                      <p><span><label>&bull;</label>22类</span><a target="_blank" href="/search/index/?c=22">绳网袋蓬</a></p>
                      <p><span><label>&bull;</label>23类</span><a target="_blank" href="/search/index/?c=23">纺织纱线</a></p>
                      <p><span><label>&bull;</label>24类</span><a target="_blank" href="/search/index/?c=24">布料床单</a></p>

                  </li>
                  <li>
                      <p><span><label>&bull;</label>25类</span><a target="_blank" href="/search/index/?c=25" class="piont">服装鞋帽</a></p>
                      <p><span><label>&bull;</label>26类</span><a target="_blank" href="/search/index/?c=26">纽扣拉链</a></p>
                      <p><span><label>&bull;</label>27类</span><a target="_blank" href="/search/index/?c=27">地毯席垫</a></p>
                      <p><span><label>&bull;</label>28类</span><a target="_blank" href="/search/index/?c=28">健身器材</a></p>
                      <p><span><label>&bull;</label>29类</span><a target="_blank" href="/search/index/?c=29" class="piont">食品</a></p>
                      <p><span><label>&bull;</label>30类</span><a target="_blank" href="/search/index/?c=30" class="piont">方便食品</a></p>
                      <p><span><label>&bull;</label>31类</span><a target="_blank" href="/search/index/?c=31">饲料种籽</a></p>
                      <p><span><label>&bull;</label>32类</span><a target="_blank" href="/search/index/?c=32" class="piont">啤酒饮料</a></p>

                  </li>
                  <li>
                      <p><span><label>&bull;</label>33类</span><a target="_blank" href="/search/index/?c=33" class="piont">酒</a></p>
                      <p><span><label>&bull;</label>34类</span><a target="_blank" href="/search/index/?c=34">烟草烟具</a></p>
                      <p><span><label>&bull;</label>35类</span><a target="_blank" href="/search/index/?c=35" class="piont">广告销售</a></p>
                      <p><span><label>&bull;</label>36类</span><a target="_blank" href="/search/index/?c=36">金融物管</a></p>
                      <p><span><label>&bull;</label>37类</span><a target="_blank" href="/search/index/?c=37">建筑修理</a></p>
                      <p><span><label>&bull;</label>38类</span><a target="_blank" href="/search/index/?c=38">通讯传媒</a></p>
                      <p><span><label>&bull;</label>39类</span><a target="_blank" href="/search/index/?c=39">运输旅行</a></p>
                      <p><span><label>&bull;</label>40类</span><a target="_blank" href="/search/index/?c=40">材料加工</a></p>
                  </li>
                  <li>
                      <p><span><label>&bull;</label>41类</span><a target="_blank" href="/search/index/?c=41" class="piont">教育娱乐</a></p>
                      <p><span><label>&bull;</label>42类</span><a target="_blank" href="/search/index/?c=42">科学服务</a></p>
                      <p><span><label>&bull;</label>43类</span><a target="_blank" href="/search/index/?c=43" class="piont">餐饮住宿</a></p>
                      <p><span><label>&bull;</label>44类</span><a target="_blank" href="/search/index/?c=44">医疗园艺</a></p>
                      <p><span><label>&bull;</label>45类</span><a id='mytest' target="_blank" href="/search/index/?c=45">社会服务</a></p>
                  </li>
              </ul>
          </div>

          <div class="f-clearfix">
              <div class="ml-main fl">
                  <div class="ml-main-tit">
                      <p class="fl"><img src="<?=StaticDir?>topic/lesson_one/images/mc-ico2.png">25类-服装鞋帽</p>
                      <a class="fr" href="/search/index/?kw=&c=25&g=&p=&t=&sn">更多 ></a>
                  </div>
                  <ul class="mlPic">
                      <a href="/d-12991137-25.html">
                          <li>
                              <img src="<?=StaticDir?>topic/lesson_one/images/fchoth1.jpg">
                          </li>
                      </a>
                      <a href="/d-11586233-25.html">
                          <li>
                              <img src="<?=StaticDir?>topic/lesson_one/images/fchoth2.jpg">
                          </li>
                      </a>
                      <a href="/d-12224004-25.html">
                          <li>
                              <img src="<?=StaticDir?>topic/lesson_one/images/fchoth3.jpg">
                          </li>
                      </a>
                      <a href="/d-10603291-25.html">
                          <li>
                              <img src="<?=StaticDir?>topic/lesson_one/images/fchoth4.jpg">
                          </li>
                      </a>
                      <a href="/d-13696394-25.html">
                          <li>
                              <img src="<?=StaticDir?>topic/lesson_one/images/fchoth5.jpg">
                          </li>
                      </a>
                      <a href="/d-12562180-25.html">
                          <li>
                              <img src="<?=StaticDir?>topic/lesson_one/images/fchoth6.jpg">
                          </li>
                      </a>
                  </ul>
              </div>
              <div class="ml-main fr">
                  <div class="ml-main-tit">
                      <p class="fl"><img src="<?=StaticDir?>topic/lesson_one/images/mc-ico3.png">14类-珠宝钟表</p>
                      <a class="fr" href="/search/index/?kw=&c=14">更多 ></a>
                  </div>
                  <ul class="mlPic">
                      <a href="/d-13094845-14.html">
                          <li>
                              <img src="<?=StaticDir?>topic/lesson_one/images/fJewell1.jpg">
                          </li>
                      </a>
                      <a href="/d-13415255-14.html">
                          <li>
                              <img src="<?=StaticDir?>topic/lesson_one/images/fJewell2.jpg">
                          </li>
                      </a>
                      <a href="/d-12545362-14.html">
                          <li>
                              <img src="<?=StaticDir?>topic/lesson_one/images/fJewell3.jpg">
                          </li>
                      </a>
                      <a href="/d-12046030-14.html">
                          <li>
                              <img src="<?=StaticDir?>topic/lesson_one/images/fJewell4.jpg">
                          </li>
                      </a>
                      <a href="/d-11424825-14.html">
                          <li>
                              <img src="<?=StaticDir?>topic/lesson_one/images/fJewell5.jpg">
                          </li>
                      </a>
                      <a href="/d-11724516-14.html">
                          <li>
                              <img src="<?=StaticDir?>topic/lesson_one/images/fJewell6.jpg">
                          </li>
                      </a>
                  </ul>
              </div>
          </div>
    </div>
</div>
<!--商标字数合理 易读易记-->
<div class="fles-figure f-clearfix">
    <div class="w1100 comBan f-clearfix">
        <div class="cBtit">
             <span>
                 02
             </span>
            <label>商标<b>字数</b>合理<b>易读易记</b></label>
        </div>
        <div class="figureMain">

        </div>
    </div>
    <div class="w1100 f-clearfix More-class">
        <div class="MoreClss-tit f-clearfix">
            <p class="fl"><img src="<?=StaticDir?>topic/lesson_one/images/mc-ico1.png">为你推荐的符合目标消费者审美习惯的商标</p>
            <div class="fr moreFl">
                更多分类
            </div>
            <ul class="brand-fl">
                <li>
                    <!--重点红色-->
                    <p><span><label>&bull;</label>01类</span><a target="_blank" href="/search/index/?c=1">化工原料</a></p>
                    <p><span><label>&bull;</label>02类</span><a target="_blank" href="/search/index/?c=2">油漆涂料</a></p>
                    <p><span><label>&bull;</label>03类</span><a target="_blank" href="/search/index/?c=3" class="piont">化妆日化</a></p>
                    <p><span><label>&bull;</label>04类</span><a target="_blank" href="/search/index/?c=4">燃料油脂</a></p>
                    <p><span><label>&bull;</label>05类</span><a target="_blank" href="/search/index/?c=5" class="piont">医药</a></p>
                    <p><span><label>&bull;</label>06类</span><a target="_blank" href="/search/index/?c=6">五金金属</a></p>
                    <p><span><label>&bull;</label>07类</span><a target="_blank" href="/search/index/?c=7">机械电动</a></p>
                    <p><span><label>&bull;</label>08类</span><a target="_blank" href="/search/index/?c=8">手工器械</a></p>

                </li>
                <li>
                    <p><span><label>&bull;</label>09类</span><a target="_blank" href="/search/index/?c=9" class="piont">科学仪器</a></p>
                    <p><span><label>&bull;</label>10类</span><a target="_blank" href="/search/index/?c=10">医疗器械</a></p>
                    <p><span><label>&bull;</label>11类</span><a target="_blank" href="/search/index/?c=11" class="piont">家用电器</a></p>
                    <p><span><label>&bull;</label>12类</span><a target="_blank" href="/search/index/?c=12">运输工具</a></p>
                    <p><span><label>&bull;</label>13类</span><a target="_blank" href="/search/index/?c=13">军火烟火</a></p>
                    <p><span><label>&bull;</label>14类</span><a target="_blank" href="/search/index/?c=14" class="piont">珠宝钟表</a></p>
                    <p><span><label>&bull;</label>15类</span><a target="_blank" href="/search/index/?c=15">乐器</a></p>
                    <p><span><label>&bull;</label>16类</span><a target="_blank" href="/search/index/?c=16">办公用品</a></p>

                </li>
                <li>
                    <p><span><label>&bull;</label>17类</span><a target="_blank" href="/search/index/?c=17">橡胶制品</a></p>
                    <p><span><label>&bull;</label>18类</span><a target="_blank" href="/search/index/?c=18" class="piont">皮革皮具</a></p>
                    <p><span><label>&bull;</label>19类</span><a target="_blank" href="/search/index/?c=19">建筑材料</a></p>
                    <p><span><label>&bull;</label>20类</span><a target="_blank" href="/search/index/?c=20">家具</a></p>
                    <p><span><label>&bull;</label>21类</span><a target="_blank" href="/search/index/?c=21">洁具厨房</a></p>
                    <p><span><label>&bull;</label>22类</span><a target="_blank" href="/search/index/?c=22">绳网袋蓬</a></p>
                    <p><span><label>&bull;</label>23类</span><a target="_blank" href="/search/index/?c=23">纺织纱线</a></p>
                    <p><span><label>&bull;</label>24类</span><a target="_blank" href="/search/index/?c=24">布料床单</a></p>

                </li>
                <li>
                    <p><span><label>&bull;</label>25类</span><a target="_blank" href="/search/index/?c=25" class="piont">服装鞋帽</a></p>
                    <p><span><label>&bull;</label>26类</span><a target="_blank" href="/search/index/?c=26">纽扣拉链</a></p>
                    <p><span><label>&bull;</label>27类</span><a target="_blank" href="/search/index/?c=27">地毯席垫</a></p>
                    <p><span><label>&bull;</label>28类</span><a target="_blank" href="/search/index/?c=28">健身器材</a></p>
                    <p><span><label>&bull;</label>29类</span><a target="_blank" href="/search/index/?c=29" class="piont">食品</a></p>
                    <p><span><label>&bull;</label>30类</span><a target="_blank" href="/search/index/?c=30" class="piont">方便食品</a></p>
                    <p><span><label>&bull;</label>31类</span><a target="_blank" href="/search/index/?c=31">饲料种籽</a></p>
                    <p><span><label>&bull;</label>32类</span><a target="_blank" href="/search/index/?c=32" class="piont">啤酒饮料</a></p>

                </li>
                <li>
                    <p><span><label>&bull;</label>33类</span><a target="_blank" href="/search/index/?c=33" class="piont">酒</a></p>
                    <p><span><label>&bull;</label>34类</span><a target="_blank" href="/search/index/?c=34">烟草烟具</a></p>
                    <p><span><label>&bull;</label>35类</span><a target="_blank" href="/search/index/?c=35" class="piont">广告销售</a></p>
                    <p><span><label>&bull;</label>36类</span><a target="_blank" href="/search/index/?c=36">金融物管</a></p>
                    <p><span><label>&bull;</label>37类</span><a target="_blank" href="/search/index/?c=37">建筑修理</a></p>
                    <p><span><label>&bull;</label>38类</span><a target="_blank" href="/search/index/?c=38">通讯传媒</a></p>
                    <p><span><label>&bull;</label>39类</span><a target="_blank" href="/search/index/?c=39">运输旅行</a></p>
                    <p><span><label>&bull;</label>40类</span><a target="_blank" href="/search/index/?c=40">材料加工</a></p>
                </li>
                <li>
                    <p><span><label>&bull;</label>41类</span><a target="_blank" href="/search/index/?c=41" class="piont">教育娱乐</a></p>
                    <p><span><label>&bull;</label>42类</span><a target="_blank" href="/search/index/?c=42">科学服务</a></p>
                    <p><span><label>&bull;</label>43类</span><a target="_blank" href="/search/index/?c=43" class="piont">餐饮住宿</a></p>
                    <p><span><label>&bull;</label>44类</span><a target="_blank" href="/search/index/?c=44">医疗园艺</a></p>
                    <p><span><label>&bull;</label>45类</span><a  target="_blank" href="/search/index/?c=45">社会服务</a></p>
                </li>
            </ul>
        </div>
        <div class="f-clearfix">
            <div class="ml-main fl">
                <div class="ml-main-tit">
                    <a href="/search/index/?kw=&c=18&g=&p=&t=&sn"><p class="fl"><img src="<?=StaticDir?>topic/lesson_one/images/mc-ico2.png">18类-皮革皮具</p></a>
                    <a class="fr" href=" /search/index/?kw=&c=18&g=&p=&t=&sn">更多 ></a>
                </div>
                <ul class="mlPic">
                    <a href="/d-13172566-18.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fLeather1.jpg">
                        </li>
                    </a>
                    <a href="/d-11000083-18.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fLeather2.jpg">
                        </li>
                    </a>
                    <a href="/d-10207230-18.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fLeather3.jpg">
                        </li>
                    </a>
                    <a href="/d-6726124-18.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fLeather4.jpg">
                        </li>
                    </a>
                    <a href="/d-10690862-18.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fLeather5.jpg">
                        </li>
                    </a>
                    <a href="/d-7208502-18.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fLeather6.jpg">
                        </li>
                    </a>
                </ul>
            </div>
            <div class="ml-main fr">
                <div class="ml-main-tit">
                    <a href=" /search/index/?kw=&c=30&g=&p=&t=&sn"><p class="fl"><img src="<?=StaticDir?>topic/lesson_one/images/mc-ico3.png">30类-方便食品</p></a>
                    <a class="fr" href=" /search/index/?kw=&c=30&g=&p=&t=&sn">更多 ></a>
                </div>
                <ul class="mlPic">
                    <a href="/d-14052927-30.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/ffoods1.jpg">
                        </li>
                    </a>
                    <a href="/d-10193833-30.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/ffoods2.jpg">
                        </li>
                    </a>
                    <a href="/d-10092015-30.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/ffoods3.jpg">
                        </li>
                    </a>
                    <a href="/d-3762425-30.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/ffoods4.jpg">
                        </li>
                    </a>
                    <a href="/d-6920627-30.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/ffoods5.jpg">
                        </li>
                    </a>
                    <a href="/d-4385499-30.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/ffoods6.jpg">
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--商标涵义要能引起美好联想-->
<div class="fles-prett f-clearfix">
    <div class="w1100 comBan f-clearfix">
        <div class="cBtit">
             <span>
                 03
             </span>
            <label><b>商标涵义</b>要能引起<b>美好联想</b></label>
        </div>
        <ul class="cBmain aesthMa f-clearfix">
            <li class="first">
                <img src="<?=StaticDir?>topic/lesson_one/images/aesth-pic5.png">
            </li>
            <li>
                <img src="<?=StaticDir?>topic/lesson_one/images/aesth-pic6.png">
            </li>
            <li class="last">
                <img src="<?=StaticDir?>topic/lesson_one/images/aesth-pic7.png">
            </li>
        </ul>
    </div>
    <div class="w1100 f-clearfix More-class">
        <div class="MoreClss-tit f-clearfix">
            <p class="fl"><img src="<?=StaticDir?>topic/lesson_one/images/mc-ico1.png">为你推荐的符合目标消费者审美习惯的商标</p>
            <div class="fr moreFl">
                更多分类
            </div>
            <ul class="brand-fl">
                <li>
                    <!--重点红色-->
                    <p><span><label>&bull;</label>01类</span><a target="_blank" href="/search/index/?c=1">化工原料</a></p>
                    <p><span><label>&bull;</label>02类</span><a target="_blank" href="/search/index/?c=2">油漆涂料</a></p>
                    <p><span><label>&bull;</label>03类</span><a target="_blank" href="/search/index/?c=3" class="piont">化妆日化</a></p>
                    <p><span><label>&bull;</label>04类</span><a target="_blank" href="/search/index/?c=4">燃料油脂</a></p>
                    <p><span><label>&bull;</label>05类</span><a target="_blank" href="/search/index/?c=5" class="piont">医药</a></p>
                    <p><span><label>&bull;</label>06类</span><a target="_blank" href="/search/index/?c=6">五金金属</a></p>
                    <p><span><label>&bull;</label>07类</span><a target="_blank" href="/search/index/?c=7">机械电动</a></p>
                    <p><span><label>&bull;</label>08类</span><a target="_blank" href="/search/index/?c=8">手工器械</a></p>

                </li>
                <li>
                    <p><span><label>&bull;</label>09类</span><a target="_blank" href="/search/index/?c=9" class="piont">科学仪器</a></p>
                    <p><span><label>&bull;</label>10类</span><a target="_blank" href="/search/index/?c=10">医疗器械</a></p>
                    <p><span><label>&bull;</label>11类</span><a target="_blank" href="/search/index/?c=11" class="piont">家用电器</a></p>
                    <p><span><label>&bull;</label>12类</span><a target="_blank" href="/search/index/?c=12">运输工具</a></p>
                    <p><span><label>&bull;</label>13类</span><a target="_blank" href="/search/index/?c=13">军火烟火</a></p>
                    <p><span><label>&bull;</label>14类</span><a target="_blank" href="/search/index/?c=14" class="piont">珠宝钟表</a></p>
                    <p><span><label>&bull;</label>15类</span><a target="_blank" href="/search/index/?c=15">乐器</a></p>
                    <p><span><label>&bull;</label>16类</span><a target="_blank" href="/search/index/?c=16">办公用品</a></p>

                </li>
                <li>
                    <p><span><label>&bull;</label>17类</span><a target="_blank" href="/search/index/?c=17">橡胶制品</a></p>
                    <p><span><label>&bull;</label>18类</span><a target="_blank" href="/search/index/?c=18" class="piont">皮革皮具</a></p>
                    <p><span><label>&bull;</label>19类</span><a target="_blank" href="/search/index/?c=19">建筑材料</a></p>
                    <p><span><label>&bull;</label>20类</span><a target="_blank" href="/search/index/?c=20">家具</a></p>
                    <p><span><label>&bull;</label>21类</span><a target="_blank" href="/search/index/?c=21">洁具厨房</a></p>
                    <p><span><label>&bull;</label>22类</span><a target="_blank" href="/search/index/?c=22">绳网袋蓬</a></p>
                    <p><span><label>&bull;</label>23类</span><a target="_blank" href="/search/index/?c=23">纺织纱线</a></p>
                    <p><span><label>&bull;</label>24类</span><a target="_blank" href="/search/index/?c=24">布料床单</a></p>

                </li>
                <li>
                    <p><span><label>&bull;</label>25类</span><a target="_blank" href="/search/index/?c=25" class="piont">服装鞋帽</a></p>
                    <p><span><label>&bull;</label>26类</span><a target="_blank" href="/search/index/?c=26">纽扣拉链</a></p>
                    <p><span><label>&bull;</label>27类</span><a target="_blank" href="/search/index/?c=27">地毯席垫</a></p>
                    <p><span><label>&bull;</label>28类</span><a target="_blank" href="/search/index/?c=28">健身器材</a></p>
                    <p><span><label>&bull;</label>29类</span><a target="_blank" href="/search/index/?c=29" class="piont">食品</a></p>
                    <p><span><label>&bull;</label>30类</span><a target="_blank" href="/search/index/?c=30" class="piont">方便食品</a></p>
                    <p><span><label>&bull;</label>31类</span><a target="_blank" href="/search/index/?c=31">饲料种籽</a></p>
                    <p><span><label>&bull;</label>32类</span><a target="_blank" href="/search/index/?c=32" class="piont">啤酒饮料</a></p>

                </li>
                <li>
                    <p><span><label>&bull;</label>33类</span><a target="_blank" href="/search/index/?c=33" class="piont">酒</a></p>
                    <p><span><label>&bull;</label>34类</span><a target="_blank" href="/search/index/?c=34">烟草烟具</a></p>
                    <p><span><label>&bull;</label>35类</span><a target="_blank" href="/search/index/?c=35" class="piont">广告销售</a></p>
                    <p><span><label>&bull;</label>36类</span><a target="_blank" href="/search/index/?c=36">金融物管</a></p>
                    <p><span><label>&bull;</label>37类</span><a target="_blank" href="/search/index/?c=37">建筑修理</a></p>
                    <p><span><label>&bull;</label>38类</span><a target="_blank" href="/search/index/?c=38">通讯传媒</a></p>
                    <p><span><label>&bull;</label>39类</span><a target="_blank" href="/search/index/?c=39">运输旅行</a></p>
                    <p><span><label>&bull;</label>40类</span><a target="_blank" href="/search/index/?c=40">材料加工</a></p>
                </li>
                <li>
                    <p><span><label>&bull;</label>41类</span><a target="_blank" href="/search/index/?c=41" class="piont">教育娱乐</a></p>
                    <p><span><label>&bull;</label>42类</span><a target="_blank" href="/search/index/?c=42">科学服务</a></p>
                    <p><span><label>&bull;</label>43类</span><a target="_blank" href="/search/index/?c=43" class="piont">餐饮住宿</a></p>
                    <p><span><label>&bull;</label>44类</span><a target="_blank" href="/search/index/?c=44">医疗园艺</a></p>
                    <p><span><label>&bull;</label>45类</span><a id='mytest' target="_blank" href="/search/index/?c=45">社会服务</a></p>
                </li>
            </ul>
        </div>
        <div class="f-clearfix">
            <div class="ml-main fl">
                <div class="ml-main-tit">
                    <a href=" /search/index/?kw=&c=9&g=&p=&t=&sn"><p class="fl"><img src="<?=StaticDir?>topic/lesson_one/images/mc-ico2.png">09类-科学仪器</p></a>
                    <a class="fr" href="/search/index/?kw=&c=9&g=&p=&t=&sn">更多 ></a>
                </div>
                <ul class="mlPic">
                    <a href="/d-12873595-9.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fscienti1.jpg">
                        </li>
                    </a>
                    <a href="/d-13541219-9.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fscienti2.jpg">
                        </li>
                    </a>
                    <a href="/d-10566512-9.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fscienti3.jpg">
                        </li>
                    </a>
                    <a href="/d-12915648-9.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fscienti4.jpg">
                        </li>
                    </a>
                    <a href="/d-13490110-9.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fscienti5.jpg">
                        </li>
                    </a>
                    <a href="/d-12871907-9.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fscienti6.jpg">
                        </li>
                    </a>
                </ul>
            </div>
            <div class="ml-main fr">
                <div class="ml-main-tit">
                    <a href="/search/index/?kw=&c=43&g=&p=&t=&sn"><p class="fl"><img src="<?=StaticDir?>topic/lesson_one/images/mc-ico3.png">43类-餐饮住宿</p></a>
                    <a class="fr" href="/search/index/?kw=&c=43&g=&p=&t=&sn">更多 ></a>
                </div>
                <ul class="mlPic">
                    <a href="/d-10646589-43.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fHotels1.jpg">
                        </li>
                    </a>
                    <a href="/d-14129554-43.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fHotels2.jpg">
                        </li>
                    </a>
                    <a href="/d-10721815-43.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fHotels3.jpg">
                        </li>
                    </a>
                    <a href="/d-10497767-43.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fHotels4.jpg">
                        </li>
                    </a>
                    <a href="/d-11268388-43.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fHotels5.jpg">
                        </li>
                    </a>
                    <a href="/d-11622312-43.html">
                        <li>
                            <img src="<?=StaticDir?>topic/lesson_one/images/fHotels6.jpg">
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <p class="fles-prett-ques">
        <b>so,<span>商标名称</span></b>是否能让大众记住？
    </p>
</div>
<!--商标名称是否能让大众记住？-->
<div class="fles-brand f-clearfix">
    <div class="w1100 f-clearfix">
        <ul class="brand-relevan  f-clearfix">
           <li>
               <div>
                   <span>
                       <img src="<?=StaticDir?>topic/lesson_one/images/rele-pic1.png">
                   </span>
                   <b>独创性和关联性</b>
               </div>
               <p>
                  <font  class="morecoent">即一提到这个名字大家就能想到你，这类名字属于原创，并通过大量有效高频的宣传，让目标用户记忆深刻。如：京东、天猫、海尔等。</font>
                   <a href="" class="more">更多</a>
               </p>
           </li>
            <li>
                <div>
                   <span>
                       <img src="<?=StaticDir?>topic/lesson_one/images/rele-pic2.png">
                   </span>
                    <b>非独创，有关联性</b>
                </div>
                <p>
                   <font class="morecoent"> 这类名字有最初的原始意义，但进行跨行业使用恰到好处，如功能功效、标新立异的强调。并通过适当宣传将第二种联想意义灌输给目标用户。如：苹果手机、飘柔洗发水。</font>
                    <a href="" class="more">更多</a>
                </p>
            </li>
            <li>
                <div>
                   <span>
                       <img src="<?=StaticDir?>topic/lesson_one/images/rele-pic3.png">
                   </span>
                    <b>非独创性，非关联性</b>
                </div>
                <p>
                   <font class="morecoent">这类名字记忆平平，即这个名字可以用在多种品类上 ，无法直接联想到某个具象的品牌上。如：长城、椰树。</font>
                    <a href="" class="more">更多</a>
                </p>
            </li>
        </ul>
        <div class="brand-popu  f-clearfix">
           <span>
               <img src="<?=StaticDir?>topic/lesson_one/images/rele-pic4.png">
           </span>
           <p>二者完美结合才能让你的目标消费者<b>记忆深刻</b></p>
        </div>
        <div class="brand-look f-clearfix">
            <label class="bl-tit">还没找到合适的商标，让我来帮你找找吧！</label>
            <dl>
                    <font class="error"></font>
                    <p>
                        <span></span>
                        <input type="text" id="lesson_tel" placeholder="请输入正确电话号码免费通话" />
                    </p>


                <a id="lesson_submit">我要买标</a>
            </dl>
        </div>
    </div>
</div>
<!--右边虚浮-->
<div class="flt-less" id="flt-less">
    <span><img src="<?=StaticDir?>topic/lesson_one/images/lesson-ico.png"></span>
    <ul class="less-nav">
        <li>
            <a class="aaaa" href="/topic/lesson_one">第一课：商标名称</a>
        </li>
        <li>
            <p>
                符合审美习惯
            </p>
            <p>
                字数易读易记
            </p>
            <p>
                涵义美好联想
            </p>
        </li>
        <li>
            <a class="aaaa" href="/topic/lesson_two">第二课：商标价格</a>
        </li>
    </ul>
    <ul class="less-zx">
        <li><a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165"><img src="<?=StaticDir?>topic/lesson_one/images/lesson-mes.png">在线咨询</a></li>
        <li><a  id="top"><img src="<?=StaticDir?>topic/lesson_one/images/lesson-jt.png">返回顶部</a></li>
    </ul>
</div>
<script type="text/javascript" src="<?=StaticDir?>zhuanti/js/common.js"></script>
<script type="text/javascript">
       $(".more").toggle(function(){       
            $(this).prev().addClass("adCL");
			

        },function(){
           $(this).prev().removeClass("adCL");
			
        })
    $(".moreFl").toggle(
            function(){
                $(".brand-fl").show();
                $(".moreFl").css("background-image","url(<?=StaticDir?>topic/lesson_one/images/sel-ico1.png)")

            },
            function(){
                $(".brand-fl").hide();
                $(".moreFl").css("background-image","url(<?=StaticDir?>topic/lesson_one/images/sel-ico.png)")
        });



    //$("a").attr("target","_blank");
//    悬浮样式
       var wd_w=$(window).width();
       var flt_rg=(wd_w-1100)/2-140;
       var wd_h=$(window).height();
       var flt_tp=(wd_h-$("#flt-less").height())/2-100;
       $("#flt-less").css({"right":flt_rg,"top":flt_tp});
       $(window).resize(function(){
           var wd_w=$(window).width();
           var flt_rg=(wd_w-1100)/2-140;
           var wd_h=$(window).height();
           var flt_tp=(wd_h-$("#flt-less").height())/2-100;
           $("#flt-less").css({"right":flt_rg,"top":flt_tp});
       })
//    跳转指定区域
      var bltp1=$(".fles-aesth").offset().top;
      var bltp2=$(".fles-figure").offset().top;
      var bltp3=$(".fles-prett").offset().top;
      var srotp=$(window).scrollTop();
      var lvtop=$(".flt-less").css("top").split("px")[0];
      var arrbltp=[bltp1,bltp2,bltp3];
      $(window).scroll(function(){
        if($(this).scrollTop()+lvtop>arrbltp[0]&&$(this).scrollTop()<arrbltp[1]-lvtop){
            $(".less-nav li p").removeClass("on");
            $(".less-nav li p").eq(0).addClass("on");
        }
       else if($(this).scrollTop()+lvtop>arrbltp[1]&&$(this).scrollTop()<arrbltp[2]-lvtop){
            $(".less-nav li p").removeClass("on");
            $(".less-nav li p").eq(1).addClass("on");
        }
        else  if($(this).scrollTop()+lvtop>arrbltp[2]&&$(this).scrollTop()<arrbltp[2]+$(".fles-prett").height()-lvtop){
              $(".less-nav li p").removeClass("on");
              $(".less-nav li p").eq(2).addClass("on");
          }
          else{
              $(".less-nav li p").removeClass("on");
          }
      })
      $(".less-nav li p").each(function(i){
          $(this).click(function(){
              $('html,body').animate({"scrollTop":arrbltp[i]})
          })
      })
      $("#top").click(function(){
          $('html,body').animate({"scrollTop":srotp})
      })

//  设置分类样式
    for(var i=0;i<$(".mlPic li").length;i++)
    {
        if((i-2)%3==0){
            $(".mlPic li").eq(i).css({"borderRight":"none"})
        }
    }
//手机验证
    $(function(){
        mobilereg = /^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])\d\d\d\d\d\d\d\d$/i;
        //失去焦点事件
        $('#lesson_tel').blur(function(){
            var mobile 	= $.trim($('#lesson_tel').val());
            //验证手机号
            if(!mobile){
                $(".error").html('请输入正确电话号码免费通话');
                return false;
            }
            if(!mobilereg.test(mobile) || mobile.length!=11){
                $(".error").html('请输入正确电话号码免费通话');
                return false;
            }
        });
        
        //提交时间
        $('#lesson_submit').click(function(){
            var mobile 	= $.trim($('#lesson_tel').val());
            //验证手机号
            if(!mobile){
               $(".error").val('请输入正确电话号码免费通话');
                return false;
            }
            if(!mobilereg.test(mobile) || mobile.length!=11){
                $(".error").val('请输入正确电话号码免费通话');
                return false;
            }
            //准备数据
            var data = new Array();
            data['name'] 	= '';
            data['tel'] 	= mobile;
            data['subject'] = '来自专题第一课';
            data['remarks'] = '来自专题第一课';
            data['pttype'] = "求购";
            ucNetwork.submitData(data);
        });
    });
    //发布回调
    function submitDataCallback(Obj){
        $.each(Obj,function(i,n){
            if(n.code!=-1){
                //弹出成功框
                getLayer($('#mj-submitteS'));
                $('#lesson_tel').val("");
            }else{
                //弹出失败框
                getLayer($('#mj-submitteF'));
            }
        });
    }


</script>
<? require(ViewDir.'/footer.html'); ?>