<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>topic/buyone_getone/css/style.css?v=<?=$static_version?>">
<div class="sp-banner">
    <div class="w1100">
        <a href="/search" target="_blank" ></a>
    </div>
</div>
<div class="sp-rules">
    <div class="sp-rules-main">
        <h3><b>活动</b>细则</h3>
        <div class="sp-rules-xq">
            <ul class="fl">
                <li>
                    <span><img src="<?=StaticDir?>topic/buyone_getone/images/spc-ico1.png">活动时间</span><label>即日起，长期有效；</label>
                </li>
                <li>
                    <span><img src="<?=StaticDir?>topic/buyone_getone/images/spc-ico2.png">参与对象</span><label>本网站所有购买商标用户；</label>
                </li>
                <li>
                    <span><img src="<?=StaticDir?>topic/buyone_getone/images/spc-ico3.png">活动内容 </span><label>活动期间，凡成功购买商标者，即
                    <a>免费赠送价值2100元商标注册， <font class="rules-sm1">一个大类中可选择10个商品/服务注册<img src="<?=StaticDir?>topic/buyone_getone/images/spc-ico4.png"></font></a>
                </label><br/><label style="margin-left:125px;display:inline-block;">买一送一，多买多送。</label>

                    <p class="rules-sm2">例：买一件商标送一个商标注册，买两件送两个，以此类推</p>
                </li>
            </ul>
            <div class="fr">
                <a><img src="<?=StaticDir?>topic/buyone_getone/images/spc-pic1.png"></a>
                <a href="http://www.yizhchan.com/search " style="margin-left: 25px;"><img src="<?=StaticDir?>topic/buyone_getone/images/spc-pic2.png"></a>
                <label>本活动最终解释权归一只蝉所有</label>
            </div>
        </div>
        <h2>3个方法<label>让赠送的<b>商标注册</b></label>价值最大化</h2>
    </div>
</div>
<div class="sp-imitate">
    <span class="sp-jt"><img src="<?=StaticDir?>topic/buyone_getone/images/sp-jt.jpg"></span>
    <h2 class="sp-title">
        <span>01</span>
        注册近似商标<b>防止被模仿</b>
    </h2>
    <p class="sp-imitate-sm">及时注册近似和相关类别商标,  可防止第三人趁商标转让未完成时抢先申请</p>
    <div class="w1100">
       <label>虽然都是360，<br/>但我们真的没有<br/>任何关系！！！</label>
    </div>
</div>
<div class="sp-business">
    <span class="sp-jt"><img src="<?=StaticDir?>topic/buyone_getone/images/sp-jt1.jpg"></span>
    <h2 class="sp-title">
        <span>02</span>
        <b>拓展</b>您的<b>经营范围</b>
    </h2>
    <div class="w1100">
        <h3 class="tit1"><b>购入</b>商标</h3>
        <h3 class="tit2"><b>赠送</b>注册</h3>
        <h3 class="tit3">
            轻松扩大<b>经营范围</b><br/>
            不花一分钱！
        </h3>
        <label>
            再也不用担心<br/>
            市场做大时<br/>
            没有商标了</label>
    </div>
</div>
<div class="sp-register">
    <span class="sp-jt"><img src="<?=StaticDir?>topic/buyone_getone/images/sp-jt2.jpg"></span>
    <h2 class="sp-title">
        <span>03</span>
        <b>免费</b>多一个<b>注册机会</b>
    </h2>
   <div class="w1100">

   </div>
    <p><img src="<?=StaticDir?>topic/buyone_getone/images/sp-ds.jpg">商标可以投资，注册后如果闲置不用，一只蝉可帮您出售换钱哟！</p>
</div>
<div class="sp-btmzx">
    <div class="w1100">
          <a href="/search" target="_blank" class="fl">
              <img src="<?=StaticDir?>topic/buyone_getone/images/zx-ico1.png">立即<b>筛选商标</b>
          </a>
        <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165" target="_blank"  class="fr">
            <img src="<?=StaticDir?>topic/buyone_getone/images/zx-ico2.png">找专家<b>帮忙挑</b>
        </a>
    </div>
</div>
<? require(ViewDir.'/footer.html'); ?>