<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>topic/fourth/css/style.css">
<div class="fth-ban1 F-comBg">
    <div class="F-comBg-main"></div>
</div>
<div class="fth-ban2">
    <div class="w1160">
       <span>
           <img src="<?=StaticDir?>topic/fourth/images/lo2-1.png">
       </span>
        <div class="f-clearfix fth-ban2-main">
            <div class="brand-jj fl">
                <ul>
                    <li>
                        <p><b>10大行业：</b>食品、衣服、餐饮等日常行业</p>
                        <div style="top:-285px;">
                            <img src="<?=StaticDir?>topic/fourth/images/1.png">
                        </div>
                    </li>

                    <li>
                       <p><b>45大商标分类 ：</b>专业人士必备入口</p>
                        <div  style="top:-295px;">
                            <img src="<?=StaticDir?>topic/fourth/images/2.png">
                        </div>
                    </li>

                    <li>
                        <p>
                            <b>69个群组整合：</b>如果你逛过天猫、京东，这个你也会用；
                        </p>
                        <div style="top:-335px;">
                            <img src="<?=StaticDir?>topic/fourth/images/3.png">
                        </div>

                    </li>

                    <li>
                        <p> <b>3种条件搜索：</b>商标名称、商标编号、使用条件统统可搜；</p>
                        <div style="top:-305px;">
                            <img src="<?=StaticDir?>topic/fourth/images/4.png">
                        </div>
                    </li>

                    <li>
                        <p><b>多选条件：</b>分类、群组多多益善</p>
                        <div style="top:-375px;">
                            <img src="<?=StaticDir?>topic/fourth/images/5.png">
                        </div>
                    </li>

                </ul>
                <a href="/" target="_blank">去看看>></a>
            </div>
            <span class="fr">
                <img src="<?=StaticDir?>topic/fourth/images/lo2.png">
            </span>
        </div>
    </div>
</div>
<div class="fth-ban3">
    <div class="fth-ban3-main">
        <div class="mj-bannerIimg">
            <div class="bd">
                <ul class="mj-banner-img">
                    <li class="mj-banner-itme" style="background:url(<?=StaticDir?>topic/fourth/images/jd1.jpg) #CCE1F3 center 0 no-repeat;"><a href="/buy"></a></li>
                    <li class="mj-banner-itme" style="background:url(<?=StaticDir?>topic/fourth/images/jd2.jpg) #CCE1F3 center 0 no-repeat;"><a href="/buy"></a></li>
                    <li class="mj-banner-itme" style="background:url(<?=StaticDir?>topic/fourth/images/jd3.jpg) #CCE1F3 center 0 no-repeat;"></li>
                    <li class="mj-banner-itme" style="background:url(<?=StaticDir?>topic/fourth/images/jd4.jpg) #CCE1F3 center 0 no-repeat;"></li>
                </ul>
            </div>
            <div class="hd">
                <ul class="f-clearfix">

                    <li></li>

                    <li></li>

                    <li></li>
                    <li></li>
                </ul>

            </div>
        </div>
        <div class="fth-ban3-blk">
            <a href="/buy" target="_blank" style="background:#fe5752;">我要买>></a>
            <a href="/sell"  target="_blank" style="background:#ff8d00;">我要卖>></a>
        </div>
    </div>
</div>
<div class="fth-ban4"></div>
<script type="text/javascript">
    //banner焦点图
    jQuery(".mj-bannerIimg").slide({titCell:".hd ul li",mainCell:".bd ul",autoPlay:true});
</script>
<? require(ViewDir.'/footer.html'); ?>