<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>topic/tmall-jd/css/style.css">
<!--banner-->
  <div class="tm-banner">
  </div>
  <!--topnva-->
  <div class="tmNav">
      <ul class="w1180">
          <li class="up" id="tmjd1" onmouseover="jc('tmjd',1,2)">
              <img src="<?=StaticDir?>topic/tmall-jd/images/tm-ico.png">
              天猫优质商标
          </li>
          <li id="tmjd2" onmouseover="jc('tmjd',2,2)">
              <img src="<?=StaticDir?>topic/tmall-jd/images/jd-ico.png">
              京东优质商标
          </li>
      </ul>
  </div>
  <!--主要内容显示-->
  <div class="tmMain f-clearfix">
      <div id="con_tmjd_1">
          <!--服装鞋帽-->
          <div class="w1180 goods-category cloth">
              <div class="goodsTop">
                  <span class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico1.png">
                      <b>服装鞋帽</b>
                  </span>
                  <p class="fr">
                      <a href="/search/index/?kw=&c=25&g=2501&p=2&t=&sn=">服装</a>|
                      <a href="/search/index/?kw=&c=25&g=2502&p=2&t=&sn=">童装</a>|
                      <a href="/search/index/?kw=&c=25&g=2507&p=2&t=&sn=">鞋靴 </a>|
                      <a href="/search/index/?kw=&c=25&g=2501&p=2&t=&sn=">牛仔服</a>|
                      <a href="/search/index/?kw=&c=25&g=2501&p=2&t=&sn=">内衣</a>|
                      <a href="/search/index/?kw=&c=25&g=2511&p=2&t=&sn=">饰品</a>
                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="/d-11081813-25.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand1.jpg">
                         </span>
                          <h6>25类-服装鞋帽</h6>
                          <label>雅阁绅派</label>
                      </li>
                  </a>
                  <a href="/d-12224004-25.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand2.jpg">
                         </span>
                          <h6>25类-服装鞋帽</h6>
                          <label>三米夏天</label>
                      </li>
                  </a>
                  <a href="/d-10880538-25.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand3.jpg">
                         </span>
                          <h6>25类-服装鞋帽</h6>
                          <label>杰尼帮</label>
                      </li>
                  </a>
                  <a href="/d-13580728-25.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand4.jpg">
                         </span>
                          <h6>25类-服装鞋帽</h6>
                          <label>彩思缦</label>
                      </li>
                  </a>
                  <a href="/d-12562180-25.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand5.jpg">
                         </span>
                          <h6>25类-服装鞋帽</h6>
                          <label>九纹狼</label>
                      </li>
                  </a>
                  <a href="/d-12991137-25.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand6.jpg">
                         </span>
                          <h6>25类-服装鞋帽</h6>
                          <label>古水伊人</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <a href="/faq/views/?id=1005&act=cfdt&c=45">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic1.png">
                      天猫服装鞋帽行业入驻资质汇总
                  </p>
                  </a>
                  <a href="/faq/views/?id=1006&act=cfdt&c=45">
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic1.png">
                      入驻天猫服装鞋帽行业所需资料
                  </p>
                  </a>
              </div>
          </div>
          <!--化妆清洁-->
          <div class="w1180 goods-category makeUp">
              <div class="goodsTop">
                  <span class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico2.png">
                      <b>化妆清洁</b>
                  </span>
                  <p class="fr">
                      <a href="/search/index/?kw=&c=3&g=0306&p=2&t=&sn=">面膜 </a>|
                      <a href="/search/index/?kw=&c=3&g=0306&p=2&t=&sn=">香水</a>|
                      <a href="/search/index/?kw=&c=3&g=0301&p=2&t=&sn=">日用洗护 </a>|
                      <a href="/search/index/?kw=&c=3&g=0305&p=2&t=&sn=">精油香料</a>

                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="/d-9701782-3.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand7.jpg">
                         </span>
                          <h6>3类-化妆清洁</h6>
                          <label>恒爽</label>
                      </li>
                  </a>
                  <a href="/d-10279093-3.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand8.jpg">
                         </span>
                          <h6>3类-化妆清洁</h6>
                          <label>婧妆</label>
                      </li>
                  </a>
                  <a href="/d-2873146-3.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand9.jpg">
                         </span>
                          <h6>3类-化妆清洁</h6>
                          <label>雅丝怡</label>
                      </li>
                  </a>
                  <a href="/d-10462593-3.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand10.jpg">
                         </span>
                          <h6>3类-化妆清洁</h6>
                          <label>雪姬芬</label>
                      </li>
                  </a>
                  <a href="/d-10746447-3.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand11.jpg">
                         </span>
                          <h6>3类-化妆清洁</h6>
                          <label>卡莎洛</label>
                      </li>
                  </a>
                  <a href="/d-13251313-3.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand12.jpg">
                         </span>
                          <h6>3类-化妆清洁</h6>
                          <label>冰扬</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <a href="/faq/views/?id=1007&act=cfdt&c=45">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic2.png">
                      天猫化妆清洁行业入驻资质汇总
                  </p>
                  </a>
                  <a href="/faq/views/?id=1008&act=cfdt&c=45">
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic2.png">
                      入驻天猫化妆清洁行业所需资料
                  </p>
                  </a>
              </div>
          </div>
          <!--方便食品-->
          <div class="w1180 goods-category fastFd">
              <div class="goodsTop">
                  <span class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico3.png">
                      <b>方便食品</b>
                  </span>
                  <p class="fr">
                      <a href="/search/index/?kw=&c=30&g=3001&p=2&t=&sn=">咖啡 </a>|
                      <a href="/search/index/?kw=&c=30&g=3002&p=2&t=&sn=">茶</a>|
                      <a href="/search/index/?kw=&c=30&g=3004&p=2&t=&sn=">糖果</a>|
                      <a href="/search/index/?kw=&c=30&g=3005&p=2&t=&sn=">蜂蜜</a>|
                      <a href="/search/index/?kw=&c=30&g=3010&p=2&t=&sn=">膨化食品</a>|
                      <a href="/search/index/?kw=&c=30&g=3008&p=2&t=&sn=">粮油米面</a>|
                      <a href="/search/index/?kw=&c=30&g=3016&p=2&t=&sn=">调味品</a>|
                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="/d-3762425-30.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand13.jpg">
                         </span>
                          <h6>30类-方便食品</h6>
                          <label>泡乐妙</label>
                      </li>
                  </a>
                  <a href="/d-4385499-30.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand14.jpg">
                         </span>
                          <h6>30类-方便食品</h6>
                          <label>一吻定情</label>
                      </li>
                  </a>
                  <a href="/d-11370373-30.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand15.jpg">
                         </span>
                          <h6>30类-方便食品</h6>
                          <label>九月恋人</label>
                      </li>
                  </a>
                  <a href="/d-11661699-30.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand16.jpg">
                         </span>
                          <h6>30类-方便食品</h6>
                          <label>俏竹春</label>
                      </li>
                  </a>
                  <a href="/d-10045740-30.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand17.jpg">
                         </span>
                          <h6>30类-方便食品</h6>
                          <label>春丝</label>
                      </li>
                  </a>
                  <a href="/d-10193833-30.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand18.jpg">
                         </span>
                          <h6>30类-方便食品</h6>
                          <label>青飘飘</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <a href="/faq/views/?id=1010&act=cfdt&c=45">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic3.png">
                      天猫方便食品行业入驻资质汇总
                  </p>
                  </a>
                  <a href="/faq/views/?id=1010&act=cfdt&c=45">
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic3.png">
                      入驻天猫方便食品行业所需资料
                  </p>
                  </a>
              </div>
          </div>
          <!--3C数码-->
          <div class="w1180 goods-category code">
              <div class="goodsTop">
                  <span class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico4.png">
                      <b>3C数码</b>
                  </span>
                  <p class="fr">
                      <a href="/search/index/?kw=&c=9&g=0901&p=2&t=&sn=">电脑周边</a>|
                      <a href="/search/index/?kw=&c=16&g=&p=2&t=&sn=">办公设备</a>|
                      <a href="/search/index/?kw=&c=9&g=0907&p=2&t=&sn=">导航仪</a>|
                      <a href="/search/index/?kw=&c=9&g=0901&p=2&t=&sn=">数据存储</a>|
                      <a href="/search/index/?kw=&c=9&g=0922&p=2&t=&sn=">电池/充电器</a>|
                      <a href="/search/index/?kw=&c=9&g=0907&p=2&t=&sn=">数据线</a>

                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="/d-2515317-9.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand19.jpg">
                         </span>
                          <h6>9类-3C数码</h6>
                          <label>澳迅</label>
                      </li>
                  </a>
                  <a href="/d-9717947-9.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand20.jpg">
                         </span>
                          <h6>9类-3C数码</h6>
                          <label>MORTULORA</label>
                      </li>
                  </a>
                  <a href="/d-5104698-9.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand21.jpg">
                         </span>
                          <h6>9类-3C数码</h6>
                          <label>HUAHUI</label>
                      </li>
                  </a>
                  <a href="/d-10566512-9.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand22.jpg">
                         </span>
                          <h6>9类-3C数码</h6>
                          <label>索立派</label>
                      </li>
                  </a>
                  <a href="/d-8918623-9.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand23.jpg">
                         </span>
                          <h6>9类-3C数码</h6>
                          <label>云因</label>
                      </li>
                  </a>
                  <a href="/d-13490110-9.html">
                      <li>
                         <span>
                             <img src="<?=StaticDir?>topic/tmall-jd/images/tmbrand24.jpg">
                         </span>
                          <h6>9类-3C数码</h6>
                          <label>优典</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <a href="/faq/views/?id=1011&act=cfdt&c=45">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic4.png">
                      天猫3C数码行业入驻资质汇总
                  </p>
                  </a>
                  <a href="/faq/views/?id=1012&act=cfdt&c=45">
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic4.png">
                      入驻天猫3C数码行业所需资料
                  </p>
                  </a>
              </div>
          </div>
      </div>
      <div id="con_tmjd_2">
          <!--服装鞋帽-->
          <div class="w1180 goods-category cloth">
              <div class="goodsTop">
                      <span class="fl">
                          <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico1.png">
                          <b>服装鞋帽</b>
                      </span>
                  <p class="fr">
                      <a href="/search/index/?kw=&c=25&g=2501&p=1&t=&sn=">服装</a>|
                      <a href="/search/index/?kw=&c=25&g=2502&p=1&t=&sn=">童装</a>|
                      <a href="/search/index/?kw=&c=25&g=2507&p=1&t=&sn=">鞋靴 </a>|
                      <a href="/search/index/?kw=&c=25&g=2501&p=1&t=&sn=">牛仔服</a>|
                      <a href="/search/index/?kw=&c=25&g=2501&p=1&t=&sn=">内衣</a>|
                      <a href="/search/index/?kw=&c=25&g=2511&p=1&t=&sn=">饰品</a>
                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="/d-11586233-25.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand1.jpg">
                             </span>
                          <h6>25类-服装鞋帽</h6>
                          <label>心妃兰</label>
                      </li>
                  </a>
                  <a href="/d-12163945-25.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand2.jpg">
                             </span>
                          <h6>25类-服装鞋帽</h6>
                          <label>LISTENHEART</label>
                      </li>
                  </a>
                  <a href="/d-10603291-25.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand3.jpg">
                             </span>
                          <h6>25类-服装鞋帽</h6>
                          <label>佐米奴</label>
                      </li>
                  </a>
                  <a href="/d-12595903-25.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand4.jpg">
                             </span>
                          <h6>25类-服装鞋帽</h6>
                          <label>印尚美</label>
                      </li>
                  </a>
                  <a href="/d-12595908-25.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand5.jpg">
                             </span>
                          <h6>25类-服装鞋帽</h6>
                          <label>在品</label>
                      </li>
                  </a>
                  <a href="/d-13696394-25.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand6.jpg">
                             </span>
                          <h6>25类-服装鞋帽</h6>
                          <label>帅爵士</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <a href="/faq/views/?id=1013&act=cfdt&c=45">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic1.png">
                      京东服装鞋帽招商说明以及要求
                  </p>
                  </a>
                  <a href="/faq/views/?id=1014&act=cfdt&c=45">
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic1.png">
                      服装鞋帽行业入驻京东资质材料
                  </p>
                  </a>
              </div>
          </div>
          <!--化妆清洁-->
          <div class="w1180 goods-category makeUp">
              <div class="goodsTop">
                      <span class="fl">
                          <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico2.png">
                          <b>化妆清洁</b>
                      </span>
                  <p class="fr">
                      <a href="/search/index/?kw=&c=3&g=0306&p=1&t=&sn=">面膜 </a>|
                      <a href="/search/index/?kw=&c=3&g=0306&p=1&t=&sn=">香水</a>|
                      <a href="/search/index/?kw=&c=3&g=0301&p=1&t=&sn=">日用洗护 </a>|
                      <a href="/search/index/?kw=&c=3&g=0305&p=1&t=&sn=">精油香料</a>

                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="/d-10698991-3.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand7.jpg">
                             </span>
                          <h6>3类-化妆清洁</h6>
                          <label>珍姿润</label>
                      </li>
                  </a>
                  <a href="/d-12619636-3.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand8.jpg">
                             </span>
                          <h6>3类-化妆清洁</h6>
                          <label>润肤雪</label>
                      </li>
                  </a>
                  <a href="/d-12701193-3.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand9.jpg">
                             </span>
                          <h6>3类-化妆清洁</h6>
                          <label>因白</label>
                      </li>
                  </a>
                  <a href="/d-12699884-3.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand10.jpg">
                             </span>
                          <h6>3类-化妆清洁</h6>
                          <label>面因美</label>
                      </li>
                  </a>
                  <a href="/d-3365233-3.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand11.jpg">
                             </span>
                          <h6>3类-化妆清洁</h6>
                          <label>红粉丽影</label>
                      </li>
                  </a>
                  <a href="/d-1372116-3.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand12.jpg">
                             </span>
                          <h6>3类-化妆清洁</h6>
                          <label>艾真碧</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <a href="/faq/views/?id=1015&act=cfdt&c=45">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic2.png">
                      京东化妆清洁招商说明以及资质
                  </p>
                  </a>
                  <a href="/faq/views/?id=1016&act=cfdt&c=45">
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic2.png">
                      化妆清洁行业入驻京东所需材料
                  </p>
                  </a>
              </div>
          </div>
          <!--方便食品-->
          <div class="w1180 goods-category fastFd">
              <div class="goodsTop">
                      <span class="fl">
                          <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico3.png">
                          <b>方便食品</b>
                      </span>
                  <p class="fr">
                      <a href="/search/index/?kw=&c=30&g=3001&p=1&t=&sn=">咖啡 </a>|
                      <a href="/search/index/?kw=&c=30&g=3002&p=1&t=&sn=">茶</a>|
                      <a href="/search/index/?kw=&c=30&g=3004&p=1&t=&sn=">糖果</a>|
                      <a href="/search/index/?kw=&c=30&g=3005&p=1&t=&sn=">蜂蜜</a>|
                      <a href="/search/index/?kw=&c=30&g=3010&p=1&t=&sn=">膨化食品</a>|
                      <a href="/search/index/?kw=&c=30&g=3008&p=1&t=&sn=">粮油米面</a>|
                      <a href="/search/index/?kw=&c=30&g=3016&p=1&t=&sn=">调味品</a>|
                  </p>
              </div>
              <ul class="f-clearfix">

                  <a href="/d-9279049-30.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand13.jpg">
                             </span>
                          <h6>30类-方便食品</h6>
                          <label>叶芽儿</label>
                      </li>
                  </a>
                  <a href="/d-6920627-30.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand14.jpg">
                             </span>
                          <h6>30类-方便食品</h6>
                          <label>清君子</label>
                      </li>
                  </a>
                  <a href="/d-3887386-30.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand15.jpg">
                             </span>
                          <h6>30类-方便食品</h6>
                          <label>CANSEE</label>
                      </li>
                  </a>
                  <a href="/d-10092015-30.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand16.jpg">
                             </span>
                          <h6>30类-方便食品</h6>
                          <label>蕾吧</label>
                      </li>
                  </a>
                  <a href="/d-12045192-30.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand17.jpg">
                             </span>
                          <h6>30类-方便食品</h6>
                          <label>顶薡香</label>
                      </li>
                  </a>
                  <a href="/d-12079109-30.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand18.jpg">
                             </span>
                          <h6>30类-方便食品</h6>
                          <label>七朝贡</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <a href="/faq/views/?id=1017&act=cfdt&c=45">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic3.png">
                      京东方便食品招商说明以及资质
                  </p>
                  </a>
                  <a href="/faq/views/?id=1021&act=cfdt&c=45">
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic3.png">
                      方便食品行业入驻京东所需材料
                  </p>
                  </a>
              </div>
          </div>
          <!--3C数码-->
          <div class="w1180 goods-category code">
              <div class="goodsTop">
                      <span class="fl">
                          <img src="<?=StaticDir?>topic/tmall-jd/images/goods-ico4.png">
                          <b>3C数码</b>
                      </span>
                  <p class="fr">
                      <a href="/search/index/?kw=&c=9&g=0901&p=1&t=&sn=">电脑周边</a>|
                      <a href="/search/index/?kw=&c=16&g=&p=1&t=&sn=">办公设备</a>|
                      <a href="/search/index/?kw=&c=9&g=0907&p=1&t=&sn=">导航仪</a>|
                      <a href="/search/index/?kw=&c=9&g=0901&p=1&t=&sn=">数据存储</a>|
                      <a href="/search/index/?kw=&c=9&g=0922&p=1&t=&sn=">电池/充电器</a>|
                      <a href="/search/index/?kw=&c=9&g=0907&p=1&t=&sn=">数据线</a>

                  </p>
              </div>
              <ul class="f-clearfix">
                  <a href="/d-12871907-9.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand19.jpg">
                             </span>
                          <h6>9类-3C数码</h6>
                          <label>智幻</label>
                      </li>
                  </a>
                  <a href="/d-12915648-9.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand20.jpg">
                             </span>
                          <h6>9类-3C数码</h6>
                          <label>创科信</label>
                      </li>
                  </a>
                  <a href="/d-13487975-9.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand21.jpg">
                             </span>
                          <h6>9类-3C数码</h6>
                          <label>君硕</label>
                      </li>
                  </a>
                  <a href="/d-13541219-9.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand22.jpg">
                             </span>
                          <h6>9类-3C数码</h6>
                          <label>全讯</label>
                      </li>
                  </a>
                  <a href="/d-11596021-9.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand23.jpg">
                             </span>
                          <h6>9类-3C数码</h6>
                          <label>科汇</label>
                      </li>
                  </a>
                  <a href="/d-3314885-9.html">
                      <li>
                             <span>
                                 <img src="<?=StaticDir?>topic/tmall-jd/images/jdbrand24.jpg">
                             </span>
                          <h6>9类-3C数码</h6>
                          <label>Z-PARK</label>
                      </li>
                  </a>
              </ul>
              <div class="goodsBtm f-clearfix">
                  <a href="/faq/views/?id=1019&act=cfdt&c=45">
                  <p class="fl">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic4.png">
                      京东3C数码招商说明以及资质
                  </p>
                  </a>
                  <a href="/faq/views/?id=1022&act=cfdt&c=45">
                  <p class="fr">
                      <img src="<?=StaticDir?>topic/tmall-jd/images/gds-ic4.png">
                      3C数码行业入驻京东所需材料
                  </p>
                  </a>
              </div>
          </div>
      </div>
      <!--更多入驻平台-->
      <div class="w1180 mrTerra">
          <ul>

                  <img src="<?=StaticDir?>topic/tmall-jd/images/mr-Terra.png">

              <a href="/search/index/?kw=&c=&g=&p=7&t=&sn=" target="_blank">
                  <img src="<?=StaticDir?>topic/tmall-jd/images/Terra1.png">
              </a>
              <a href="/search/index/?kw=&c=&g=&p=3&t=&sn=" target="_blank">
                  <img src="<?=StaticDir?>topic/tmall-jd/images/Terra2.png">
              </a>
              <a href="/search/index/?kw=&c=&g=&p=4&t=&sn=" target="_blank">
                  <img src="<?=StaticDir?>topic/tmall-jd/images/Terra3.png">
              </a>
              <a href="/search/index/?kw=&c=&g=&p=5&t=&sn=" target="_blank">
                  <img src="<?=StaticDir?>topic/tmall-jd/images/Terra4.png">
              </a>
              <a href="/search/index/?kw=&c=&g=&p=6&t=&sn=" target="_blank">
                  <img src="<?=StaticDir?>topic/tmall-jd/images/Terra5.png">
              </a>
          </ul>

      </div>
  </div>
  <!--底部-->
  <div class="btmMain f-clearfix">
      <div class="w1180 f-clearfix">
          <!--买商标入驻有保障-->
          <div class="btmTit">
               <span class="fl"></span>
               <h3>买商标入驻有保障 &nbsp;&nbsp;R标立省<b>5万元</b></h3>
                <span class="fr"></span>
          </div>
          <div class="InSecur">
              <img src="<?=StaticDir?>topic/tmall-jd/images/gz.png" class="gz">
              <ul class="frist">
                  <h2>申请商标</h2>
                  <p>
                      申请中的商标，需<label>10-15万</label>
                  </p>
                  <p>
                      拿到商标受理通知书才能申请，需等待<label>至少6个月以上</label>
                  </p>
                  <p>
                      商标如遇驳回、异议将强制关店；亏损的除了投资成本，还有时间</label>
                  </p>
              </ul>
              <ul class="sec">
                  <span>
                      保 证 金
                  </span>
                  <span>
                      入驻时间
                  </span>
                  <span>
                      潜在风险
                  </span>
              </ul>
              <ul class="last">
                  <h2>购买商标</h2>
                  <p>
                      现成的R标，只需<label>5-10万元</label>
                  </p>
                  <p>
                      <label>无需等待</label>，立即申请
                  </p>
                  <p>
                      可放心入驻，商标<label>无关店风险</label>
                  </p>
              </ul>
          </div>
          <!--保障入驻 一只蝉帮你解决-->
          <div class="btmTit">
              <span class="fl"></span>
              <h3>保障入驻 一只蝉帮你解决</h3>
              <span class="fr"></span>
          </div>
          <div class="solvePro w1180 f-clearfix">
              <ul>
                  <li>
                      <img src="<?=StaticDir?>topic/tmall-jd/images/btm-pro1.png">
                      <h6>规避低质商标风险</h6>
                      <label>
                          提供权威商标检测报告<br/>
                          保障商标正常入驻
                      </label>
                  </li>
                  <li>
                      <img src="<?=StaticDir?>topic/tmall-jd/images/btm-pro2.png">
                      <h6>杜绝卖家漫天要价</h6>
                      <label>
                          19项价格预评估<br/>
                          买的放心 不花冤枉钱
                      </label>
                  </li>
                  <li>
                      <img src="<?=StaticDir?>topic/tmall-jd/images/btm-pro3.png">
                      <h6>交易损失全额赔付 </h6>
                      <label>
                          全国独家签订《100%赔付协议》<br/>
                          交易损失24小时先行赔付
                      </label>
                  </li>
                  <li>
                      <img src="<?=StaticDir?>topic/tmall-jd/images/btm-pro4.png">
                      <h6>今天选中明天就用</h6>
                      <label>
                          督促卖方与买方签订<br/>
                          《独占许可协议》
                      </label>
                  </li>
                  <li>
                      <img src="<?=StaticDir?>topic/tmall-jd/images/btm-pro5.png">
                      <h6>避免商标使用纠纷</h6>
                      <label>
                          十年免费监测<br/>
                          任何异动都将提前通知你
                      </label>
                  </li>
              </ul>
          </div>
          <!--入驻常见问题 -->
          <div class="famProl">
              <ul>
                  <li class="fl">
                      <h4><img src="<?=StaticDir?>topic/tmall-jd/images/com-ico1.png">入驻常见问题  </h4>
                     <p>
                         <a href="/faq/views/?id=1024&act=cfdt&c=45"><label class="fl"><span>&bull;</span>天猫店铺取名有标准和要求吗？</label></a>
                         <a href="/faq/views/?id=1025&act=cfdt&c=45"><label class="fr"><span>&bull;</span>入驻天猫需要多少保证金？</label></a>
                     </p>
                      <p>
                          <a href="/faq/views/?id=1026&act=cfdt&c=45"><label class="fl"><span>&bull;</span>入驻京东商城需要哪些费用？</label></a>
                          <a href="/faq/views/?id=1023&act=cfdt&c=45"><label class="fr"><span>&bull;</span>在线入驻京东商城的流程</label></a>
                      </p>
                      <p>
                          <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165"><label class="fl"><span>&bull;</span>现在入驻能参加今年的双11吗？</label></a>
                          <a href="/faq/views/?id=1027&act=cfdt&c=45"><label class="fr"><span>&bull;</span>入驻京东商城的条件有哪些？</label></a>
                      </p>
                  </li>
                  <li class="fr">
                      <h4><img src="<?=StaticDir?>topic/tmall-jd/images/com-ico2.png">买标常见问题</h4>
                      <p>
                          <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165"><label class="fl"><span>&bull;</span>怎么尽快选到适合的商标名字？</label></a>
                          <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165"><label class="fr"><span>&bull;</span>付款后，卖家跑了怎么办？</label></a>
                      </p>
                      <p>
                          <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165"><label class="fl"><span>&bull;</span>我没有营业执照可以买商标吗？ </label></a>
                          <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165"><label class="fr"><span>&bull;</span>买商标需要准备哪些资料呢？</label></a>
                      </p>
                      <p>
                          <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165"><label class="fl"><span>&bull;</span>看中的商标怎么联系到持有人？</label></a>
                          <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165"><label class="fr"><span>&bull;</span>买个商标一般需要多少钱？</label></a>
                      </p>
                  </li>
              </ul>

          </div>
      </div>
  </div>
<script type="text/javascript">
    $(window).scroll(function(){
        if(($(".tmMain").offset().top-$(document).scrollTop())<=0){
            $(".tmNav").addClass("f-tp");
        }
        else{
            $(".tmNav").removeClass("f-tp");
        }
    })
    $("a").attr("target","_blank");


    function jc(name,curr,n)
    {
        for(i=1;i<=n;i++)
        {
            var menu=document.getElementById(name+i);
            var cont=document.getElementById("con_"+name+"_"+i);
            menu.className=i==curr ? "up" : "";
            if(i==curr){
                cont.style.display="block";
            }else{
                cont.style.display="none";
            }
        }
    }
</script>
<? require(ViewDir.'/footer.html'); ?>