
<div id="wrap" class="wrap wrapongoing safe" style="background: #fff;position: relative; ">
    <div class="process">
        <a href="/anquan/" class="back"></a>

        <div class="head-top">
            <a href="javascript:;" class="fastlogin" style="display:none"><img src="<?=StaticDir?>style/newcheck/images/user.png" alt=""/>
                <i></i>
            </a>
            <a href="javascript:;" class="jiathis jiathis_txt"><img src="<?=StaticDir?>style/newcheck/images/other.png" alt=""/> <i></i></a>
            <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/newcheck/images/chat.png" alt=""/> <i></i></a>
        </div>
        <div class="head-cicle">
            <div id="cicle" class="cicle cicles">
                <img src="<?=StaticDir?>style/newcheck/images/pr.png" class="gunimg">
                <span id="process" class="color4"><strong class="score">100</strong>商标检测中</span>
            </div>
            <div class="check">
                <h1><span class="sbcontent" style="font-size:24px"></span> <span style="font-size:20px">正在进行</span><span class="zhiliang" style=" font-size:20px; font-weight:bold;">争议检测</span></h1>
				<!--发现有问题的样式  .fxpro 已经写在css里面了  -->
                <span>已发现<span class="problem">0</span>个问题,请继续等待检测完成</span>
            </div>
        </div>
    </div>
    <div class="process-content">
        <p class="tittle">正在进行<strong class="zhiliang">争议检测</strong>&nbsp;-&nbsp;共<strong>&nbsp;13&nbsp;</strong>&nbsp;项&nbsp;<span>(&nbsp;包括24道检测工序&nbsp;)</span></p>
        <ul class="ul">
            <li class="active"><i></i>
                <div class="check-01"></div>
                <span>争议检测</span>
            </li>
            <li class="hui"><i></i>
                <div class="check-02"></div>
                <span>撤销检测</span>
            </li>
            <li class="hui"><i></i>
                <div class="check-03"></div>
                <span>复审检测</span>
            </li>
            <li class="hui"><i></i>
                <div class="check-04"></div>
                <span>权利检测</span>
            </li>
            <li class="hui"><i></i>
                <div class="check-05"></div>
                <span>确权检测</span>
            </li>
            <li class="hui"><i></i>
                <div class="check-06"></div>
                <span>有效性检测</span>
            </li>
            <li class="hui"><i></i>
                <div class="check-07"></div>
                <span>可用性检测</span>
            </li>
            <li class="hui"><i></i>
                <div class="check-08"></div>
                <span>权利复苏检测</span>
            </li>
            <li class="hui"><i></i>
                <div class="check-09"></div>
                <span>权利人检测</span>
            </li>
            <li class="hui"><i></i>
                <div class="check-10"></div>
                <span>第三方检测</span>
            </li>
            <li class="hui"><i></i>
                <div class="check-11"></div>
                <span>有效期检测</span>
            </li>
            <li class="hui"><i></i>
                <div class="check-12"></div>
                <span>相似检测</span>
            </li>
            <li class="hui"><i></i>
                <div class="check-13"></div>
                <span>变更检测</span>
            </li>
        </ul>
    </div>
    <div class="process-foot">
        <div class="process-left">
            <span>合作平台</span>
            <a class="cao" href="http://chaofan.wang/" target="_blank"></a>
            <a class="trande" href="http://g.chaofan.wang/" target="_blank"></a>
            <a class="hu" href="http://z.chaofan.wang/" target="_blank"></a>
            <a class="music" href="http://www.wanxiangyun.net/" target="_blank"></a>
            <a class="chan" href="http://www.yizhchan.com/" target="_blank"></a></div>
        <div class="process-right">4006-929-199<i></i></div>
    </div>
</div>
