

	<div id="main" class="wrap current wrapindex">
        <div class="head">
            <div class="head-top">
                <a href="javascript:;" class="fastlogin" style="display:none"><img src="<?=StaticDir?>style/newcheck/images/user.png" alt=""/>
                    <i></i>
                </a>
                <a href="javascript:;" class="jiathis jiathis_txt"><img src="<?=StaticDir?>style/newcheck/images/other.png" alt=""/> <i></i></a>
                <a href="javascript:;" onclick="consultation()"><img src="<?=StaticDir?>style/newcheck/images/chat.png" alt=""/> <i></i></a>
            </div>
            <div class="head-content">
                <!--<div class="head-glass"><img src="<?=StaticDir?>style/newcheck/images/glass.png"></div>-->
                <div class="head-form">
                    <h1>蝉精灵<span>商标质量检测</span></h1>
    
                    <form id="form">
                        <div class="form">
                            <input name="trademarkName" class="text trademarkName" type="text" onfocus="if(this.value=='请输入商标号'){this.value=''}"
                                   onblur="if(this.value==''){this.value='请输入商标号'}else{this.style.color='#888'}"
                                   value="请输入商标号" maxlength="10">
                                    <input name="sbclassid" type="hidden" value="0" class="sbclassid">
                            <button class="submit" type="button"></button>
                           
                            <div class="classify" style="display:none">
                                <span class="msgclass" id="msgclass">类别<i></i></span>
                                <ul class="classlist"></ul>
                            </div>
                            <div class="error" style="display:none">请输入正确的商标号</div>
                        </div>
                        <p>已有<strong><?=$count?></strong>人完成检测，并获得专业检测报告</p>
    
                    </form>
                </div>
            </div>		
        </div>
        <div class="foot">
            <div class="foot-left">
                <a href="javascript:;"><img src="<?=StaticDir?>style/newcheck/images/dispute.png" alt=""/>
    
                    <span>争议检测</span>
                </a>
                <a href="javascript:;"><img src="<?=StaticDir?>style/newcheck/images/vain.png" alt=""/>
                    <span>无效检测</span>
                </a>
                <a href="javascript:;"><img src="<?=StaticDir?>style/newcheck/images/similarity.png" alt=""/>
                    <span>相似检测</span>
                </a>
            </div>
            <div class="foot-right">
                <div class="foot-top"><span class="sizi1">快速买到放心商标</span>4006-762-003</div>
                <div class="foot-brand">
                    <a class="chao" href="http://chaofan.wang/" target="_blank">
                        超凡网
                    </a>
                    <a class="brand" href="http://g.chaofan.wang/" target="_blank">
                        商标管家
                    </a>
                    <a class="zhi" href="http://z.chaofan.wang/" target="_blank">
                        知库
                    </a>
                </div>
            </div>
        </div>
	</div>
    <!--添加选择列表-->
    <div class="xz-lb">
       <h3>您还可以选择</h3>
       <ul>
          <li class="on" style="margin-top:25px;">
          <a class="on" href="http://www.yizhchan.com/buy/" target="_blank"><span></span>购买商标</a>
          </li>
          <li><a href="http://www.yizhchan.com/pt/" target="_blank"><span></span>购买专利</a></li>
          <li><a href="http://www.yizhchan.com/sell/" target="_blank"><span></span>出售商标</a></li>
          <li><a href="http://www.yizhchan.com/pt/sell" target="_blank"><span></span>出售专利</a></li>
          <li><a href="javascript:;" onclick="consultation()"><span></span>使用咨询</a></li>
       </ul>
    </div>
