<? require(ViewDir.'/header.html'); ?>
<script language="javascript" src="http://st.chofn.com/code.php"></script>
<link rel="stylesheet" href="<?=StaticDir?>style/home-2-bh150627165347.css" />
   <!-- <link rel="stylesheet" href="style/import-comm-bh150627165347.css" />-->
    <style type="text/css">
	.listtel{
		width:105px;
		float:left;
	}
	.listmai{
		width:40px;
		color:#FFF;
		float:left;
	}
	.listname{
		width:131px;/*容器的基本定义*/
		text-align:left;
		display:block;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		float:left;
	}
	.listzl{
		float:left;
	}
	</style>

    <!--[if lte IE 8]>
    <script src="<?=StaticDir?>script/respond.min.js"></script>
    <![endif]-->
	<script type="text/javascript" src="http://s.union.360.cn/1131.js"></script>
	<script src="<?=StaticDir?>1.2/js/backcallandtongji.js"></script>
	<link rel="stylesheet" href="/sidebarandbackcall.css" />
    <div class="sp-1">
        <div class="w1180">
            <form action="http://st.chofn.com/searchform.php?submit=3" method="post" name="form1" id="form1" class="ml-form" onSubmit="return formFun(this, 1);">
                <input type="hidden" name="tid" id="tid" value="3">
                <input type="hidden" name="sid" id="sid" value="">
                <input type="hidden" name="tipurl" id="tipurl" value="<? echo SITE_URL;?>pt/" />
                <div class="ml-form_cont">
                    <h1>我的购买需求</h1>
                    <div class="ml-form_cont2">
                        <div class="ml-form_cont2_checkbox">
                            <span class="ul-checkbox">
                                <input type="checkbox" id="pt1" name="pttype[]" checked />
                                <label for="checkbox-1">发明专利</label>
                            </span>
                           <span class="ul-checkbox">
                                <input type="checkbox" id="pt2" name="pttype[]" checked />
                                <label for="checkbox-2">实用新型</label>
                            </span>
                           <span class="ul-checkbox no-mar">
                                <input type="checkbox" id="pt3" name="pttype[]" checked />
                                <label for="checkbox-3">外观设计</label>
                            </span>
                        </div>
                        <input type="text" class="u-input-text u-input-text1" name="subject" placeholder="请输入专利用途" />
                        <input type="text" class="u-input-text u-input-text2" name="tel" placeholder="请输入联系电话" />
                        <input type="submit" class="btn" value="立即匹配" /><span class="btn btn1" onClick="consultation();" id="rediana-10">在线咨询</span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="sp-6">
        <div class="container-1050">
            <div class="sp-6_top f-clearfix">
                <div class="sp-6_top_list">
                    <h3>申报高新企业</h3>
                    <div class="span_box f-clearfix">
                        <span><em>*</em>企业减税</span>
                        <span><em>*</em>政府专项资金</span>
                        <span><em>*</em>政府优惠政策</span>
                        <span><em>*</em>大额现金资助</span>
                    </div>
                    <div class="span_xuqiu">
                        <p>申请要求：</p>
                        <span>需要至少1件发明专利</span>
                        <span>6件实用新型</span>
                    </div>
                </div>
                <div class="sp-6_top_list sp-6_top_list1">
                    <h3>教职工评职称</h3>
                    <div class="span_box f-clearfix f-text-center">
                        <span><em>*</em>拿高工资</span>
                        <span><em>*</em>分股份</span>
                    </div>
                    <div class="span_xuqiu">
                        <p>申请要求：</p>
                        <span>1件实用新型</span>
                        <span>或1件发明专利</span>
                    </div>
                </div>
                <div class="sp-6_top_list sp-6_top_list2">
                    <h3>申请一级建筑资质</h3>
                    <div class="span_box f-clearfix f-text-center">
                        <span><em>*</em>接千万级项目工程 </span>
                    </div>
                    <div class="span_xuqiu">
                        <p>申请要求：</p>
                        <span>至少需要1件发明专利</span>
                        <span>7件实用新型</span>
                    </div>
                </div>
            </div>
            <div class="sp-6_bottom">
                <p>相关专利产品：</p>
                <form>
                    <span>蒸汽烘干系统发明专利</span>
                    <span class="one">发明手摇式坐浴装置</span>
                    <span>手摇式坐浴装置</span>
                    <span class="one">变速手摇钻</span>
                    <span class="one">提脸美容礼帽</span>
                    <span>一种尿桶发明</span>
                    <span class="one">一种辅助刹车装置</span>
                    <span class="one">一种葡萄糖耐量他试验专用杯</span>
                    <span>防疲劳眼镜</span>
                    <span class="one">治疗心肾不交的中药组合物</span>
                    <span>一治疗肝郁的中药组合物</span>
                    <span class="one">防疲劳眼镜</span>
                    <div class="f-text-center">
                        <input type="button" value="提交购买需求" onClick="consultation();" id="rediana-11" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="sp-7">
        <h2 class="sp-7_title">申请专利 vs <span>购买专利</span></h2>
        <p class="sp-7_title1"><span class="one">1523</span>家同行托管超凡进行交易-<span class="two">2014</span>年专利交易<span class="three">25584</span>件</p>
        <div class="w1180">
            <div class="sp-7_box f-clearfix">
                <span class="sp-7_box_absolute"></span>
                <i class="home2-11"></i>
                <div class="sp-7_box_list">
                    <h2>专利申请-时间长,成功率低,风险高</h2>
                    <p>发明专利申请时间最快为<span>1~3年</span></p>
                    <p>实用新型专利申请最快<span>6~8个月</span></p>
                    <p>外观设计专利申请最快<span>4~6个月</span></p>
                    <p>2014专利申请<span>92.8万件</span>，成功仅有<span>3.21%</span></p>
                    <a href="javascript:void(0)" onClick="consultation()" id="rediana-1" class="bbtn">任性! 自己申请专利</a>
                </div>
                <div class="sp-7_box_list sp-7_box_list1">
                    <h2>专利购买，简单快捷</h2>
                    <p>购买发明专利最快<span>15</span>天完成</p>
                    <p>购买新型专利最快<span>15</span>天完成</p>
                    <p>购买外观专利最快<span>15</span>天完成</p>
                    <p>专利购买成功率高达<span>99%</span></p>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-2" class="bbtn">快速购买</a>
                </div>
            </div>
        </div>
    </div>

    <div class="sp-2">
        <div class="w1180">
            <h1 class="sp-2_title">专利转让<span>方式复杂</span>，傻傻分不清楚</h1>
            <div class="sp-2_box">
                <div class="icon icon-9 absolute1" data-class="icon-9-hover">
                    <b>强制许可</b>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-3">啥叫<br/>强制许可</a>
                </div>
                <div class="icon icon-11 absolute2" data-class="icon-11-hover">
                    <b>交叉许可</b>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-4">啥叫<br/>交叉许可</a>
                </div>
                <div class="icon icon-13 absolute3" data-class="icon-13-hover">
                    <b>计划许可</b>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-5">啥叫<br/>计划许可</a>
                </div>
                <div class="icon icon-11 absolute4" data-class="icon-11-hover">
                    <b>分许可</b>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-6">啥叫<br/>分许可</a>
                </div>
                <div class="icon icon-11 absolute5" data-class="icon-11-hover">
                    <b>独家许可</b>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-7">啥叫<br/>独家许可</a>
                </div>
                <div class="icon icon-13 absolute6" data-class="icon-13-hover">
                    <b>普通许可</b>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-8">啥叫<br/>普通许可</a>
                </div>
                <div class="icon icon-9 absolute7" data-class="icon-9-hover">
                    <b>独占许可</b>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-9">啥叫<br/>独占许可</a>
                </div>
                <div class="icon icon-15 absolute8" data-class="">
                    <b>什么许可方式<br/>最合适？</b>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-10">专利权<br/>许可方式</a>
                </div>
                <div class="icon icon-16 absolute9" data-class="">
                    <b>怎么转让方式<br/>最赚钱? </b>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-11">转让方式</a>
                </div>
                <div class="icon icon-17 absolute10" data-class="icon-17-hover">
                    <b>普通转让</b>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-12">啥叫普通转让</a>
                </div>
                <div class="icon icon-19 absolute11" data-class="icon-19-hover">
                    <b>排他转让</b>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-13">啥叫排他转让</a>
                </div>
                <div class="icon icon-21 absolute12" data-class="icon-21-hover">
                    <b>独家转让</b>
                    <a href="javascript:void(0)" onClick="consultation();" id="rediana-14">啥叫独家转让</a>
                </div>
            </div>
        </div>
    </div>

    <div class="sp-3">
        <div class="w1180">
            <div class="sp-3_title">
                <span>Professional risk assessment</span>
                <h1>专业风险评估让交易双方最大化<span>免受损失</span></h1>
            </div>
            <div class="sp-3_border">
                <div>
                    <b>国家相关单位建议：</b>
                    <p>专利技术的转移，不同于一般有形商品的买卖，为了减少和避免技术交易双方利益损失和事后诉争<span>专利技术的转移应在专利工程</span></p>
                    <span>师的协助和指导下规范进行</span>
                </div>
            </div>
            <div class="sp-3_content">
                <div class="icon icon-23">
                    <span class="brs"></span><br/>
                    <span class="one">304<em>个</em></span><br/>
                    <span class="two">专利工程师</span><br/>
                    <span class="one">三重</span><br/>
                    <span class="three">质量把关,保障<br/>转让资料准确性</span>
                </div>
                <div class="icon icon-24">
                    <span class="brs"></span><br/>
                    <span class="one">100<em>个</em></span><br/>
                    <span class="two">律师事务所团队</span><br/>
                    <span class="one">保障</span><br/>
                    <span class="three">专利的法律稳定性</span>
                </div>
                <div class="icon icon-25">
                    <span class="brs"></span><br/>
                    <span class="one"><em>最快</em>15<em>天</em></span><br/>
                    <span class="two">即可完成交易</span><br/>
                </div>
            </div>
        </div>
    </div>

    <div class="sp-4"></div>

    <div class="sp-5">
        <div class="sp-5_title">
            两条方向（<span>交易平台/人工匹配</span>）匹配<em>最合适</em>的买家
        </div>
        <div class="ie7">
            <div class="sp-5_list">
                <h3>最新买家信息</h3>
                <div class="jScrollBox">
                    <div></div>
                </div>
            </div>
            <div class="sp-5_list sp-5_list1">
                <h3>最新卖家信息</h3>
                <div class="jScrollBox1">
                    <div></div>
                </div>
            </div>
        </div>
    </div>


<script src="<?=StaticDir?>script/clicks_home2.js"></script>


<script>
   /* document.getElementById("callBtn").onclick = function () {
        lxb.call(document.getElementById("telInput"));
    };*/

    $(function(){
        //左边菜单栏
        $(".mj-dd dd").hover(function(){
            $(this).addClass("mj-ddahoverc").siblings().removeClass("mj-ddahoverc");
        },function(){
            $(this).removeClass("mj-ddahoverc");
        });


        //分类弹框
        $(".mj-models").hide(); //初始ul隐藏
        $(".mj-search-box li").click(function(){
            $(".mj-models").show();
        });
        //关闭弹框
        $(".mj-close").click(function(){
            $(".mj-models").hide();
        });
        //点击弹框添加样式
        $(".mj-models li").hover(function(){
            $(".mj-models").css({"border":"solid 1px #fc7d28"});
        },function(){
            $(".mj-models").css({"border":"solid 1px #79797a"});
        });
        $(".mj-models li").click(function(){
            $(this).addClass("cur").siblings().removeClass("cur");
            $(".select_box span").text($(this).text());
            $(".mj-models").hide();
        });
    });


</script>
	<!--侧边与回呼-->
    <!--[if lte IE  9]>

    <script>
        var supportPlaceholder='placeholder'in document.createElement('input'),
                placeholder=function(input){
                    var text = input.attr('placeholder'),
                            defaultValue = input.defaultValue;
                    if(!defaultValue){
                        input.val(text).addClass("phcolor");
                    }
                    input.focus(function(){
                        if(input.val() == text){
                            $(this).val("");
                        }
                    });
                    input.blur(function(){
                        if(input.val() == ""){
                            $(this).val(text).addClass("phcolor");
                        }
                    });
                    //输入的字符不为灰色
                    input.keydown(function(){
                        $(this).removeClass("phcolor");
                    });
                };
        //当浏览器不支持placeholder属性时，调用placeholder函数
        if(!supportPlaceholder){
            $('input[type=text], textarea').each(function(){
                var text = $(this).attr("placeholder");
                if( this.value == '' ){
                    placeholder($(this));
                }
            });
        }
    </script>
    <![endif]-->

<!--<script language="javascript" src="http://st.chofn.com/?action=sid&area=3&tid=3"></script>
   -->
<? require(ViewDir.'/footer.html'); ?>