<? require(ViewDir.'/header.html'); ?>
<script src="<?=StaticDir?>1.2/js/clicks.js?v=<?=$static_version?>"></script>
<link rel="stylesheet" href="<?=StaticDir?>style/home-2-bh150627165347.css?v=<?=$static_version?>" />
<style type="text/css">
    .listtel{
            width:105px;
            float:left;
    }
    .listmai{
            width:40px;
            color:#FFF;
            float:left;
    }
    .listname{
            width:131px;/*容器的基本定义*/
            text-align:left;
            display:block;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            float:left;
    }
    .listzl{
            float:left;
    }
    </style>

    <div class="sp-1">
        <div class="w1180">
            <form  method="post" name="form1" id="form1" class="ml-form" >
                <input type="hidden" name="pttype" id="pttype" value="求购">
                <div class="ml-form_cont">
                    <h1>我的购买需求</h1>
                    <div class="ml-form_cont2">
                        <div class="ml-form_cont2_checkbox">
                            <span class="ul-checkbox">
                                <input type="checkbox" id="pt1" name="ptype[]" checked="checked"  value="发明专利"/>
                                <label for="checkbox-1">发明专利</label>
                            </span>
                           <span class="ul-checkbox">
                                <input type="checkbox" id="pt2" name="ptype[]" checked="checked"  value="实用新型"/>
                                <label for="checkbox-2">实用新型</label>
                            </span>
                           <span class="ul-checkbox no-mar">
                                <input type="checkbox" id="pt3" name="ptype[]" checked="checked"  value="外观设计"/>
                                <label for="checkbox-3">外观设计</label>
                            </span>
                        </div>
                        <input type="text" class="u-input-text u-input-text1" name="subject" id="buyNeed" placeholder="请输入专利用途" />
                        <input type="text" class="u-input-text u-input-text2" name="tel" id="buyMoblie" placeholder="请输入联系电话" />
                        <input type="button" class="btn" id="subBuy" value="立即匹配" /><span class="btn btn1" onClick="goChat()" id="rediana-10">在线咨询</span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="sp-6">
        <div class="container-1050">
            <div class="sp-6_top f-clearfix">
                <div class="sp-6_top_list">
                    <h3>申报高新企业</h3>
                    <div class="span_box f-clearfix">
                        <span><em>*</em>企业减税</span>
                        <span><em>*</em>政府专项资金</span>
                        <span><em>*</em>政府优惠政策</span>
                        <span><em>*</em>大额现金资助</span>
                    </div>
                    <div class="span_xuqiu">
                        <p>申请要求：</p>
                        <span>需要至少1件发明专利</span>
                        <span>6件实用新型</span>
                    </div>
                </div>
                <div class="sp-6_top_list sp-6_top_list1">
                    <h3>教职工评职称</h3>
                    <div class="span_box f-clearfix f-text-center">
                        <span><em>*</em>拿高工资</span>
                        <span><em>*</em>分股份</span>
                    </div>
                    <div class="span_xuqiu">
                        <p>申请要求：</p>
                        <span>1件实用新型</span>
                        <span>或1件发明专利</span>
                    </div>
                </div>
                <div class="sp-6_top_list sp-6_top_list2">
                    <h3>申请一级建筑资质</h3>
                    <div class="span_box f-clearfix f-text-center">
                        <span><em>*</em>接千万级项目工程 </span>
                    </div>
                    <div class="span_xuqiu">
                        <p>申请要求：</p>
                        <span>至少需要1件发明专利</span>
                        <span>7件实用新型</span>
                    </div>
                </div>
            </div>
            <div class="sp-6_bottom">
                <p>相关专利产品：</p>
                <form>
                    <span>蒸汽烘干系统发明专利</span>
                    <span class="one">发明手摇式坐浴装置</span>
                    <span>手摇式坐浴装置</span>
                    <span class="one">变速手摇钻</span>
                    <span class="one">提脸美容礼帽</span>
                    <span>一种尿桶发明</span>
                    <span class="one">一种辅助刹车装置</span>
                    <span class="one">一种葡萄糖耐量他试验专用杯</span>
                    <span>防疲劳眼镜</span>
                    <span class="one">治疗心肾不交的中药组合物</span>
                    <span>一治疗肝郁的中药组合物</span>
                    <span class="one">防疲劳眼镜</span>
                    <div class="f-text-center">
                        <input type="button" value="提交购买需求" onClick="goChat()" id="rediana-11" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="sp-7">
        <h2 class="sp-7_title">申请专利 vs <span>购买专利</span></h2>
        <p class="sp-7_title1"><span class="one">1523</span>家同行托管超凡进行交易-<span class="two">2014</span>年专利交易<span class="three">25584</span>件</p>
        <div class="w1180">
            <div class="sp-7_box f-clearfix">
                <span class="sp-7_box_absolute"></span>
                <i class="home2-11"></i>
                <div class="sp-7_box_list">
                    <h2>专利申请-时间长,成功率低,风险高</h2>
                    <p>发明专利申请时间最快为<span>1~3年</span></p>
                    <p>实用新型专利申请最快<span>6~8个月</span></p>
                    <p>外观设计专利申请最快<span>4~6个月</span></p>
                    <p>2014专利申请<span>92.8万件</span>，成功仅有<span>3.21%</span></p>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-1" class="bbtn">任性! 自己申请专利</a>
                </div>
                <div class="sp-7_box_list sp-7_box_list1">
                    <h2>专利购买，简单快捷</h2>
                    <p>购买发明专利最快<span>15</span>天完成</p>
                    <p>购买新型专利最快<span>15</span>天完成</p>
                    <p>购买外观专利最快<span>15</span>天完成</p>
                    <p>专利购买成功率高达<span>99%</span></p>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-2" class="bbtn">快速购买</a>
                </div>
            </div>
        </div>
    </div>

    <div class="sp-2">
        <div class="w1180">
            <h1 class="sp-2_title">专利转让<span>方式复杂</span>，傻傻分不清楚</h1>
            <div class="sp-2_box">
                <div class="icon icon-9 absolute1" data-class="icon-9-hover">
                    <b>强制许可</b>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-3">啥叫<br/>强制许可</a>
                </div>
                <div class="icon icon-11 absolute2" data-class="icon-11-hover">
                    <b>交叉许可</b>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-4">啥叫<br/>交叉许可</a>
                </div>
                <div class="icon icon-13 absolute3" data-class="icon-13-hover">
                    <b>计划许可</b>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-5">啥叫<br/>计划许可</a>
                </div>
                <div class="icon icon-11 absolute4" data-class="icon-11-hover">
                    <b>分许可</b>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-6">啥叫<br/>分许可</a>
                </div>
                <div class="icon icon-11 absolute5" data-class="icon-11-hover">
                    <b>独家许可</b>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-7">啥叫<br/>独家许可</a>
                </div>
                <div class="icon icon-13 absolute6" data-class="icon-13-hover">
                    <b>普通许可</b>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-8">啥叫<br/>普通许可</a>
                </div>
                <div class="icon icon-9 absolute7" data-class="icon-9-hover">
                    <b>独占许可</b>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-9">啥叫<br/>独占许可</a>
                </div>
                <div class="icon icon-15 absolute8" data-class="">
                    <b>什么许可方式<br/>最合适？</b>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-10">专利权<br/>许可方式</a>
                </div>
                <div class="icon icon-16 absolute9" data-class="">
                    <b>怎么转让方式<br/>最赚钱? </b>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-11">转让方式</a>
                </div>
                <div class="icon icon-17 absolute10" data-class="icon-17-hover">
                    <b>普通转让</b>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-12">啥叫普通转让</a>
                </div>
                <div class="icon icon-19 absolute11" data-class="icon-19-hover">
                    <b>排他转让</b>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-13">啥叫排他转让</a>
                </div>
                <div class="icon icon-21 absolute12" data-class="icon-21-hover">
                    <b>独家转让</b>
                    <a href="javascript:void(0)" onClick="goChat()" id="rediana-14">啥叫独家转让</a>
                </div>
            </div>
        </div>
    </div>

    <div class="sp-3">
        <div class="w1180">
            <div class="sp-3_title">
                <span>Professional risk assessment</span>
                <h1>专业风险评估让交易双方最大化<span>免受损失</span></h1>
            </div>
            <div class="sp-3_border">
                <div>
                    <b>国家相关单位建议：</b>
                    <p>专利技术的转移，不同于一般有形商品的买卖，为了减少和避免技术交易双方利益损失和事后诉争<span>专利技术的转移应在专利工程</span></p>
                    <span>师的协助和指导下规范进行</span>
                </div>
            </div>
            <div class="sp-3_content">
                <div class="icon icon-23">
                    <span class="brs"></span><br/>
                    <span class="one">304<em>个</em></span><br/>
                    <span class="two">专利工程师</span><br/>
                    <span class="one">三重</span><br/>
                    <span class="three">质量把关,保障<br/>转让资料准确性</span>
                </div>
                <div class="icon icon-24">
                    <span class="brs"></span><br/>
                    <span class="one">100<em>个</em></span><br/>
                    <span class="two">律师事务所团队</span><br/>
                    <span class="one">保障</span><br/>
                    <span class="three">专利的法律稳定性</span>
                </div>
                <div class="icon icon-25">
                    <span class="brs"></span><br/>
                    <span class="one"><em>最快</em>15<em>天</em></span><br/>
                    <span class="two">即可完成交易</span><br/>
                </div>
            </div>
        </div>
    </div>

    <div class="sp-4"></div>

    <div class="sp-5">
        <div class="sp-5_title">
            两条方向（<span>交易平台/人工匹配</span>）匹配<em>最合适</em>的买家
        </div>
        <div class="ie7">
            <div class="sp-5_list">
                <h3>最新买家信息</h3>
                <div class="jScrollBox">
                    <div></div>
                </div>
            </div>
            <div class="sp-5_list sp-5_list1">
                <h3>最新卖家信息</h3>
                <div class="jScrollBox1">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
<!--求购已提交弹出层-->
<div class="mj-boughtM" id="mj-submitteS">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>恭喜，专利购买需求提交成功</h2>
            <p>请保持电话畅通，10分钟内联系你。</p>
            <a href="javascript:" class="mj-boBtn1" id="closeFailed">点此处关闭！</a>
        </div>
    </div>
</div>
<!--求购已提交失败弹出层-->
<div class="mj-boughtM" id="mj-submitteF">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h2 style="color:#ff6600">求购提交失败，请稍后重试！</h2>
            <p>可能因为网络问题或其他原因导致</p>
            <a href="javascript:;" class="mj-boBtn1" id="closeFailed">点此处关闭！</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="<?=StaticDir?>1.2/js/pt.js"></script>
<? require(ViewDir.'/footer.html'); ?>