<? require(ViewDir.'/header.html'); ?>
<link type="text/css" href="<?=StaticDir?>1.2/css/patent.css?v=<?=$static_version?>" rel="stylesheet"/>
<link type="text/css" href="<?=StaticDir?>1.2/css/list.css?v=<?=$static_version?>" rel="stylesheet"/>
<link type="text/css" href="<?=StaticDir?>1.2/css/ms-filter.css?v=<?=$static_version?>" rel="stylesheet"/>
<div class="w1180 ms-filterWrapper f-clearfix">
<!-- ms-filterMain start -->
<div class="ms-filterMain" style="width: 903px;">
<!-- ms-filters start -->
<div class="ms-filters">
    <div class="ms-filterResults">
        <span>全部结果&nbsp;&gt;</span>
        <ul class="ms-filterResultsList f-clearfix">
            <? if ( $t ) { ?>
                <li title="<?=$t_title?>"><a href="javascript:void(0);" onclick="createUrl('_type', '');"><?=mb_substr($t_title,0,12,'utf-8')?><i class="us-icon us-icon23"></i></a></li>
            <? } ?>
            <? if ( $c ) { ?>
                <li title="<?=$c_title?>"><a href="javascript:void(0);" onclick="createUrl('_class', '');"><?=mb_substr($c_title,0,12,'utf-8')?><i class="us-icon us-icon23"></i></a></li>
            <? } ?>
        </ul>
    </div>
    <div class="ms-condition">
        <?if ( empty($t) ){?>
        <div class="ms-conditionList">
            <span>专利类型</span>
            <div class="ms-conditionList-main ms-setHeight">
                <ul class="f-clearfix ms-conditionRadio">
                    <li><a href="javascript:void(0);" onclick="createUrl('_type','0');return false;">全部</a></li>
                    <?foreach ($_TYPE as $k => $v) {?>
                    <li><a href="javascript:void(0);" onclick="createUrl('_type','<?=$k?>');return false;"><?=$v?></a></li>
                    <?}?>            
                </ul>
                <ul class="f-clearfix ms-conditionCheckbox cc_all2">
                    <?foreach ($_TYPE as $k => $v) {?>
                    <li><input type="checkbox" value="<?=$k?>" id="class-checkbox<?=$k?>" name="class-checkbox<?=$k?>">
                        <label for="class-checkbox<?=$k?>"><?=$v?></label></li>
                    <?}?>
                </ul>
                <div class="ms-condition-btn">
                    <a href="javascript:void(0);" tname="_type">确定</a>
                    <span onclick="cancelFun(this);">取消</span>
                </div>
                <div class="ms-conditionBtn">
                    <span class="ms-multi" onclick="multi(this);">多选</span>
                </div>
            </div>
        </div>
        <?}?>
        <?$_tp = array_filter(array_unique(explode(',', $t)));
        if ( count($_tp) == 1 && empty($c) ){?>
        <div class="ms-conditionList">
            <span>类型分类</span>
            <div class="ms-conditionList-main">
                <ul class="f-clearfix ms-conditionRadio">
                    <li><a href="javascript:void(0);" onclick="createUrl('_class','0');return false;">全部</a></li>
                    <?foreach ($_CLASS as $k => $v) {?>
                    <li title="<?=$v?>"><a href="javascript:void(0);" onclick="createUrl('_class','<?=$k?>');return false;"><?=mb_substr($v,0,8,'utf-8')?></a></li>
                    <?}?>            
                </ul>
                <ul class="f-clearfix ms-conditionCheckbox cc_all2">
                    <?foreach ($_CLASS as $k => $v) {?>
                    <li title="<?=$v?>"><input type="checkbox" value="<?=$k?>" id="class-checkbox<?=$k?>" name="class-checkbox<?=$k?>">
                        <label for="class-checkbox<?=$k?>"><?=mb_substr($v,0,8,'utf-8')?></label></li>
                    <?}?>
                </ul>
                <div class="ms-condition-btn">
                    <a href="javascript:void(0);" tname="_class">确定</a>
                    <span onclick="cancelFun(this);">取消</span>
                </div>
                <div class="ms-conditionBtn">
                    <span class="ms-multi" onclick="multi(this);">多选</span>
                </div>
            </div>
        </div>
        <?}?>
    </div>
</div>
<!-- ms-filters end -->
<!-- ms-filterSearch start -->
<div class="ms-filterSearchMain f-clearfix">
    <p>共有<span><?=$total?></span>个商标</p>
    <!--<div class="ms-filterSearch">-->
        <!--[if !IE]><!-->
        <!--<input type="text" id="research" placeholder="在结果中搜索">-->
        <!--<![endif]-->
        <!--[if IE]>
        <input type="text" value="在结果中搜索" onblur="if(value == ''){value = '在结果中搜索'}" onfocus="if(value == '在结果中搜索'){value = ''}" />
        <![endif]-->
        <!--<a href="javascript:void(0);" onclick="reSearch();return false;"><i class="us-icon us-icon21"></i></a>-->
    <!--</div>-->
</div>
<!-- ms-filterSearch end -->
<!-- ms-filtersList start -->
<div class="pt-filtrate">
    <ul id="s-all-list">
    <?foreach ($list as $k => $v) {?>

        <li>
        <input class="xunjia_data" type="hidden" tid="5239853" data_class="11" number="6776953" remarks="商标号：6776953;商标名称：鸿火">
           <span class="pt-fil-pic">
               <img src="<?=$v['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" >
           </span>
            <div class="pt-fil-des">
                <h6 title="<?=$v['title']?>"><?=mb_substr($v['title'], 0, 24, 'utf-8')?></h6>
                <p>专利申请号：<label><?=strtoupper($v['number'])?></label></p>
                <p>专利类型：<label><?=$v['typeName']?></label></p>
                <p>行业分类：<label title="<?=$v['className']?>"><?=mb_substr($v['className'], 0, 24, 'utf-8')?></label></p>
            </div>
            <div class="pt-fil-price">
                <?if ($v['price'] <= 0){?>
                <p class="pri-pt"><b>议价</b></p>
                <?}else{?>
                <p class="pri-pt"><label>¥</label><b><?=$v['price']?></b></p>
                <?}?>
            </div>
            <div class="pt-fil-zx">
                <a class="enq" href="javascript:void(0);" onclick="xunjia(this);">询 价</a>
                <a class="cont" href="javascript:void(0);" onclick="goChat()">联系卖家</a>
            </div>
        </li>

    <?}?>
    </ul>

</div>
<div id="s-uploading" style="padding-top:33px;text-align:center;display:none;height:100px;"><img src="<?=StaticDir?>images/loading.gif"></div>
<!-- ms-filtersList end -->

<!--<div id="s-uploading" style="padding-top:33px;text-align:center;display:none;height:100px;"><img src="http://f2.chofn.net/yzc/Static/images/loading.gif"></div>-->
<!--<button type="button" onclick="changeDD();"></button>-->
</div>

<div id="_tmpDiv" style="display:none"></div>

<!-- ms-filterMain end -->
<!-- ms-recommend start -->
<div class="pt-choice">
    <!--找到合适的专利-->
    <div class="pt-seek same">
        <h3 class="pt-choice-tit">还没找到合适的专利？</h3>
        <ul>
            <li>
                <span>
                    多
                </span>
                <p>
                    线下<label>5万</label>专利<br/>
                    人工<label>10分钟</label>急速匹配
                </p>
            </li>
            <li>
                <span>
                    精准
                </span>
                <p>
                    <label>304位</label>专业工程师<br/>
                    一对一为你选标
                </p>
            </li>
            <li>
                <span>
                  保质量
                </span>
                <p>
                    权利稳定/保护范围合理/<br/>
                    未许可第三方
                </p>
            </li><li>
                <span>
                   安全
                </span>
            <p>
                首款50%<br/>
                尾款50%分开付
            </p>
        </li>
            <li>
                <span>
                  快
                </span>
                <p style="border-bottom: none;">
                    加急：最快<label>5天</label>完成交易<br/>
                    正常：最快<label>15天</label>完成交易
                </p>
            </li>

        </ul>
        <div class="pt-seek-btn">
            <a href="javascript:void(0);" id="choose">帮我选</a><br/>
            <font>一次多件有优惠</font>
        </div>
    </div>
    <!--出售专利-->
    <div class="cho-patent-sell same">
        <h3 class="pt-choice-tit" style="text-indent:12px;">我要<b>出售专利</b></h3>
        <p>
            <img src="<?=StaticDir?>1.2/images/pt-sell-pic.jpg">
            <label><font>免费</font>评估包装</label>
            <label>让专利<font>卖出好价格</font></label>
        </p>
        <a href="/pt/sell" class="pt-sell-btn">我要出售</a>
    </div>
    <!--更多专利产品-->
    <div class="u-patent-ad4 comAd" style="width: 100%;">
        <h4>更多专利产品<br/><label>patented product</label></h4>
              <span style="background-color:#e2efcc;left: 70px;top: 55px;">
                  离心泵式玩具水枪
              </span>
               <span style="background-color:#a6e0eb;left: 20px;top: 90px;">
                 绿豆气力输送分选装置
              </span>
               <span style="background-color:#dfe2ef;left: 90px;top: 125px; ">
                板带式百合球茎输送机
              </span>
               <span style="background-color:#ffdcd5;left: 40px;top: 160px;">
                  新型氨制冷集油器
              </span>
               <span style="background-color:#f9e7d8;left: 60px;top: 195px;">
                  绿豆气力输送分选装置
              </span>
               <span style="background-color:#dfe2ef;left: 110px;top: 230px;">
                  新型氨制冷集油器
              </span>
               <span style="background-color:#e2efcc;left: 35px;top: 265px;">
                离心泵式玩具水枪
              </span>
               <span style="background-color:#f9e7d8;left: 80px;top: 300px;">
                 绿豆气力输送分选装置
              </span>
               <span style="background-color:#ffdcd5;left: 45px;top: 335px;">
                  新型氨制冷集油器
              </span>
                <span style="background-color:#a6e0eb;left: 100px;top: 370px;">
                 离心泵式玩具水枪
               </span>
    </div>
</div>
<!-- ms-recommend end -->
</div>

<!--弹窗-->
<!-- <div class="layui-layer layui-anim layui-layer-page ucyourclass" id="layui-layer1" type="page" times="1" showtime="0" contype="object" style="z-index: 19891015; width: 360px; top: 32%; left: 32%; display:none;">
    <div class="layui-layer-content">
        <div class="chaofan-mj-loginM layui-layer-wrap" style="display: block;">
    <span class="chaofan-mj-close" id="chaofan-mj-close"></span>

    <div class="chaofan-mj-logRight">
        <div class="chaofan-mj-logR_top">
            <span class="cur" id="chaofn_dl_account">我的购买需求</span>
        </div>
        <input type="hidden" value="" id="favorite_tid">
        <input type="hidden" value="" id="proposer_id">
        <input type="hidden" value="" id="chaofan_js_code">

        <div class="chaofan-mj-logWay">
            <ul class="chaofan-mj-logUl" style="display:block;">
                <!--<li><em id="chaofn_dl_msg">验证即注册，未注册将自动创建账号</em></li>-->
                <li>
                    <span></span>

                    <div class="chaofan-mj-form-wrapper">
                        <span class="chaofan-mj-inpuV" id="chaofn_dl_patent"></span>

                        <div class="chaofan-mj-inputPi">
                            <input type="text" id="upatent" placeholder="专利描述/购买用途" value="" class="span-input">
                        </div>
                    </div>
                </li>
                <li>
                    <span></span>

                    <div class="chaofan-mj-form-wrapper">
                       <!--  <span class="chaofan-mj-inpuV" id="chaofn_dl_mobile"></span> -->

                        <div class="chaofan-mj-inputPi">
                            <input type="text" id="umobile" placeholder="请输入手机号" value="" class="span-input">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="chaofan-mj-form-wrapper">
                        <span class="chaofan-mj-inpuV" id="chaofn_dl_mcode">请输入手机验证码</span>

                        <div class="chaofan-mj-inputPi">
                            <input type="text" id="ucode" onkeydown="if(event.keyCode==13) checkMoblieForm();" class="span-input" maxlength="4">
                        </div>
                        <strong class="ms-sent" id="chaofan-ms-sent">获取验证码</strong>
                        <!--<strong class="ms-sent" style="background: #e9e9e9;color:#666;cursor: default;">还剩60s 重发</strong>-->
                    </div>
                </li>
                <!--<li>-->
                    <!--<input type="checkbox" checked="checked" value="1" id="remindM">-->
                    <!--<label>记住手机号码</label>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="chaofan-ms-errorTips">-->
                        <!--<p id="mTips" style="display:none"><i class="chaofan-us-icon chaofan-us-icon19"></i>请填写邮箱或手机号</p>-->
                    <!--</div>-->
                <!--</li>-->
                <li>
                    <a href="javascript:;" ctype="m" class="chaofan-mj-logBtn">立即匹配</a>
                    <p class="chaofan-mj-ensure">我们将对你的个人信息严格保密</p>
                </li>
            </ul>
        </div>
    </div>
<!-- </div> -->
<!-- </div><span class="layui-layer-setwin"></span></div>  -->

<!--弹窗重写-->
<div class="choice-shade" id="choice-shade" style="z-index:19891015; background-color:#000; opacity:0.3; filter:alpha(opacity=30);display: none;"></div>
<div class="choice-popup" id="choice-popup" style="display: none;">
    <div class="layui-layer-content">
        <div class="layui-layer-wrap" style="display: block;">
            <span class="chaofan-mj-close" id="chaofan-mj-close"></span>

            <div class="chaofan-mj-logRight">
                <!-- <div class="chaofan-mj-logR_top" style="border-bottom: none;padding: 0 -15px 15px !important;">
                    <span>我的购买需求</span>
                </div> -->
                <h4 style="color: #333333;font-size: 20px;">我的购买需求</h4>
                <input type="hidden" value="" id="favorite_tid">
                <input type="hidden" value="" id="proposer_id">
                <input type="hidden" value="" id="chaofan_js_code">

                <div class="chaofan-mj-logWay">
                    <ul class="chaofan-mj-logUl" style="display:block;">
                        <!--<li><em id="chaofn_dl_msg">验证即注册，未注册将自动创建账号</em></li>-->
                        <li>
                            <span></span>

                            <div class="chaofan-mj-form-wrapper">
                               

                                <div class="chaofan-mj-inputPi">
                                    <input type="text" id="upatent" placeholder="专利描述/购买用途" value="" class="span-input">
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>

                            <div class="chaofan-mj-form-wrapper">
                               

                                <div class="chaofan-mj-inputPi">
                                    <input type="text" id="umobile" placeholder="请输入手机号" value="" class="span-input">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="chaofan-mj-form-wrapper">
                                <span class="chaofan-mj-inpuV" id="chaofn_dl_mcode">请输入手机验证码</span>

                                <div class="chaofan-mj-inputPi">
                                    <input type="text" id="ucode" onkeydown="if(event.keyCode==13) checkMoblieForm();" class="span-input" maxlength="4">
                                </div>
                                <strong class="ms-sent" id="chaofan-ms-sent">获取验证码</strong>
                                <!--<strong class="ms-sent" style="background: #e9e9e9;color:#666;cursor: default;">还剩60s 重发</strong>-->
                            </div>
                        </li>
                        <!--<li>-->
                        <!--<input type="checkbox" checked="checked" value="1" id="remindM">-->
                        <!--<label>记住手机号码</label>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<div class="chaofan-ms-errorTips">-->
                        <!--<p id="mTips" style="display:none"><i class="chaofan-us-icon chaofan-us-icon19"></i>请填写邮箱或手机号</p>-->
                        <!--</div>-->
                        <!--</li>-->
                        <li>
                            <a href="javascript:;" ctype="m" class="chaofan-mj-logBtn">立即匹配</a>
                            <p class="chaofan-mj-ensure">我们将对你的个人信息严格保密</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div></div>
</div>
<script src="<?=StaticDir?>script/objurl.js"></script>
<script type="text/javascript">
    //初始化更多
    var minHeight = 40; //最小高度
    var conditionDom = $('.ms-condition');
    var conditionList = conditionDom.find('.ms-conditionList-main');
    var setHeight = 'ms-setHeight';
    var curCls = 'cur';

    function initMore(isTure){
        conditionList.each(function(){
            var $this = $(this);
            var conditionMore = '';
            var conditionBtn = $this.find('.ms-conditionBtn');
            var conditionListHeight = $this.innerHeight();
            if(conditionListHeight > minHeight){
                $this.addClass(setHeight);
                isTure ? conditionMore = '<span class="ms-conditionMore" onclick="moreFun(this);">更多</span>' : true;
            }
            conditionBtn.append(conditionMore);
        });
    }

    initMore(true);

    //多选
    function multi(dom){
        var $this = $(dom);
        var moreDom = $this.next();
        var parent = $this.parent().parent();
        parent.removeClass(setHeight).addClass(curCls);
        resetFun(parent);
        if(moreDom.hasClass('ms-conditionMore')){
            moreDom.addClass(curCls).text('收起');
        }
    }

    //取消多选
    function cancelFun(dom){
        var $this = $(dom);
        var parent = $this.parent().parent();
        var moreDom = parent.find('.ms-conditionMore');
        parent.removeClass(curCls);
        moreDom.removeClass(curCls).text('更多');
        initMore(false);
    }

    //更多
    function moreFun(dom){
        var $this = $(dom);
        var parent = $this.parent().parent();
        resetFun(parent);
        initMore(false);
        if(!$this.hasClass(curCls)){
            parent.removeClass(setHeight);
            $this.addClass(curCls).text('收起');
        }else{
            parent.addClass(setHeight);
            $this.removeClass(curCls).text('更多');
        }
    }
    //重置
    function resetFun(dom){
        dom.parent().siblings().find('.ms-conditionList-main').removeClass(curCls)
                .find('.ms-conditionMore').removeClass(curCls).text('更多');
    }
    // var wHeight=$()
    $("#chaofan-mj-close").click(function(){
        $("#choice-popup").hide();
        $("#layui-layer-shade2").hide();
    })
    $("#choose").click(function(){
        $("#choice-popup").show();
        $("#layui-layer-shade2").show();
    })


    $(".ms-condition-btn a").click(function(){
        var inputDom = $(this).parent().prev().find(':checked');
        var str = '';
        inputDom.each(function(){
            str += ","+$(this).val();
        })
        str = str ? str.substr(1) : '';
        if ( str ){
            var tname = $(this).attr('tname');
            createUrl(tname, str);
        }
    });


    var _start      = 1;
    var _whereStr   = "<?=$whereStr?>";
    var _moreUrl    = '/<?=$_mod_?>/getMore/';
    var _url        = '/<?=$_mod_?>/?';
    var _urlSearch  = '/<?=$_mod_?>/?';
    var _hasSale    = "<?=$has?>";
    var _times      = 0;
    var _objTime ;

    //处理URL
    function createUrl(parameter,value){
        $(this).addClass("cilk");

        var obj = new objURL('/?'+_whereStr);

        switch(parameter){
            case "_type" :
                obj.set('t', value);
                if ( value == '' || value == 0 ) obj.set('c', '');
                break;
            case "_class" :
                obj.set('c', value);
                break;
        }        
        var params = obj.strparams();
        var index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        var allurl = _url + params;
        setTimeout(function(){
            window.location.href = allurl;
            layer.close(index);
        },400);
    }

    //加载剩余数据
    function loadMore(){
        //出售与商标库都没有了
        if ( !_hasSale ) return false;

        $('#s-uploading').show();
        //是否已经在请求中
        if ( _times != 0 ) return false; 

        var obj = new objURL('/?'+_whereStr);

        _start++;
        _times = 1;

        _objTime    = setTimeout(function(){_times = 0;},30000);

        //当滚动3页时, 显示推荐商标的广告图
        if(_start==3){
            //$('.fdkf-ss').click();
        }
        obj.set('_p', _start);
        var params = obj.getparams();
        console.log(params);
        $("#_tmpDiv").load(_moreUrl, params, function(data,status,xml){
            if (data) {
                $("#_tmpDiv").html('');
                $('#s-uploading').hide();
                clearTimeout(_objTime);
                $("#s-all-list").append(data);
                _times = 0;
            }else{
                _hasSale = false;
                _times = 0;
                $('#s-uploading').hide();
            }
        });
    }

    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollHeight - scrollTop - windowHeight < 650)  {
            loadMore();
        }
    });

</script>

<? require(ViewDir.'/footer.html'); ?>