<? require(ViewDir.'/header.html'); ?>
<script src="<?=StaticDir?>1.2/js/clicks.js"></script>
<link rel="stylesheet" href="<?=StaticDir?>style/home-1-bh150627165347.css" />
<script type="text/javascript" src="http://s.union.360.cn/1131.js"></script>
<script src="<?=StaticDir?>1.2/js/backcallandtongji.js"></script>
<style type="text/css">
     .listtel{
             width:105px;
             float:left;
     }
     .listmai{
             width:40px;
             color:#FFF;
             float:left;
     }
     .listname{
             width:131px;/*容器的基本定义*/
             text-align:left;
             display:block;
             white-space:nowrap;
             overflow:hidden;
             text-overflow:ellipsis;
             float:left;
     }
     .listzl{
             float:left;
     }
</style>

  <div class="sp-1">
        <div class="container-1050">
            <form  method="post" name="form1" id="form1" class="ml-form" >
                <input type="hidden" name="pttype" id="pttype" value="出售">
                <div class="ml-form_cont">
                    <h1>专利免费评估包装</h1>
                    <div class="ml-form_cont2">
                        <input type="text" class="u-input-text u-input-text1" name="subject" id="buyNeed" autocomplete="off" placeholder="专利号 / 专利描述" />
                        <input type="text" class="u-input-text u-input-text2" name="tel" autocomplete="off" id="buyMoblie" placeholder="请输入联系电话" />
                       
                        <input type="button" class="btn" id="subBuy" value="立即评估" /><span class="btn btn1" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-10">在线咨询</span>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="sp-2">
        <div class="container-1050">
            <h1 class="sp-2_title">专利转让<span>方式复杂</span>，傻傻分不清楚</h1>
            <div class="sp-2_box">
                <div class="icon icon-9 absolute1" data-class="icon-9-hover">
                    <b>强制许可</b>
                    <a href="javascript:void(0)" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-1">啥叫<br/>强制许可</a>
                </div>
                <div class="icon icon-11 absolute2" data-class="icon-11-hover">
                    <b>交叉许可</b>
                    <a href="javascript:void(0)" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-2">啥叫<br/>交叉许可</a>
                </div>
                <div class="icon icon-13 absolute3" data-class="icon-13-hover">
                    <b>计划许可</b>
                    <a href="javascript:void(0)" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-3">啥叫<br/>计划许可</a>
                </div>
                <div class="icon icon-11 absolute4" data-class="icon-11-hover">
                    <b>分许可</b>
                    <a href="javascript:void(0)" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-4">啥叫<br/>分许可</a>
                </div>
                <div class="icon icon-11 absolute5" data-class="icon-11-hover">
                    <b>独家许可</b>
                    <a href="javascript:void(0)" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-5">啥叫<br/>独家许可</a>
                </div>
                <div class="icon icon-13 absolute6" data-class="icon-13-hover">
                    <b>普通许可</b>
                    <a href="javascript:void(0)" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-6">啥叫<br/>普通许可</a>
                </div>
                <div class="icon icon-9 absolute7" data-class="icon-9-hover">
                    <b>独占许可</b>
                    <a href="javascript:void(0)" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-7">啥叫<br/>独占许可</a>
                </div>
                <div class="icon icon-15 absolute8" data-class="">
                    <b>什么许可方式<br/>最合适？</b>
                    <a href="javascript:void(0)" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-8">专利权<br/>许可方式</a>
                </div>
                <div class="icon icon-16 absolute9" data-class="">
                    <b>怎么转让方式<br/>最赚钱? </b>
                    <a href="javascript:void(0)" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-9">转让方式</a>
                </div>
                <div class="icon icon-17 absolute10" data-class="icon-17-hover">
                    <b>普通转让</b>
                    <a href="javascript:void(0)" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-10">啥叫普通转让</a>
                </div>
                <div class="icon icon-19 absolute11" data-class="icon-19-hover">
                    <b>排他转让</b>
                    <a href="javascript:void(0)" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-11">啥叫排他转让</a>
                </div>
                <div class="icon icon-21 absolute12" data-class="icon-21-hover">
                    <b>独家转让</b>
                    <a href="javascript:void(0)" onClick="doyoo.util.openChat('g=51817');return false;" id="rediana-11">啥叫独家转让</a>
                </div>
            </div>
        </div>
    </div>

    <div class="sp-3">
        <div class="container-1050">
            <div class="sp-3_title">
                <span>Professional risk assessment</span>
                <h1>专业风险评估-让交易双方<span>免受损失</span></h1>
            </div>
            <div class="sp-3_border">
                <div>
                    <b>国家相关单位建议：</b>
                    <p>专利技术的转移，不同于一般有形商品的买卖，为了减少和避免技术交易双方利益损失和事后诉争<span>专利技术的转移应在专利工程</span></p>
                    <span>师的协助和指导下规范进行</span>
                </div>
            </div>
            <div class="sp-3_content">
                <div class="icon icon-23">
                    <span class="brs"></span><br/>
                    <span class="one">304<em>个</em></span><br/>
                    <span class="two">专利工程师</span><br/>
                    <span class="one">3重质量把关</span><br/>
                    <span class="three">保障<br/>转让成功率高达99.9%</span>
                </div>
                <div class="icon icon-24">
                    <span class="brs"></span><br/>
                    <span class="one">100<em>人</em></span><br/>
                    <span class="two">律师事务所团队</span><br/>
                    <span class="one">保障</span><br/>
                    <span class="three">专利的法律稳定性</span>
                </div>
                <div class="icon icon-25">
                    <span class="brs"></span><br/>
                    <span class="one"><em>最快</em>15<em>天</em></span><br/>
                    <span class="two">即可完成交易</span><br/>
                </div>
            </div>
        </div>
    </div>

    <div class="sp-4"></div>

    <div class="sp-5">
        <div class="sp-5_title">
            两条方向（<span>交易平台/人工匹配</span>）匹配<em>最合适</em>的买家
        </div>
        <div class="ie7">
            <div class="sp-5_list">
                <h3>最新买家信息</h3>
                <div class="jScrollBox">
                    <div></div>
                </div>
            </div>
            <div class="sp-5_list sp-5_list1">
                <h3>最新卖家信息</h3>
                <div class="jScrollBox1">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
<!--出售已提交弹出层-->
<div class="mj-boughtM" id="mj-submitteS">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>恭喜，出售提交成功</h2>
            <p>请保持电话畅通，10分钟内联系你。</p>
            <a href="javascript:" class="mj-boBtn1" id="closeFailed">点此处关闭！</a>
        </div>
    </div>
</div>
<!--求购已提交失败弹出层-->
<div class="mj-boughtM" id="mj-submitteF">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h2 style="color:#ff6600">求购提交失败，请稍后重试！</h2>
            <p>可能因为网络问题或其他原因导致</p>
            <a href="javascript:;" class="mj-boBtn1" id="closeFailed">点此处关闭！</a>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="http://gate.looyu.com/46344/123997.js"></script>
<div id="doyoo_share" style="display:none;"></div>
<link rel="stylesheet" type="text/css" href="http://static.doyoo.net/110402/looyu.css?140702">
<script type="text/javascript" src="http://static.doyoo.net/110402/looyu.js?141104"></script>
<script type="text/javascript" src="<?=StaticDir?>1.2/js/pt.js"></script>
<? require(ViewDir.'/footer.html'); ?>