<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>zhuanti/css/safestyle.css?v=<?=$static_version?>"/>
<link rel="stylesheet" href="<?=StaticDir?>style/mg-buySell.css?v=<?=$static_version?>"/>
<!--[if IE]><link type="text/css" rel="stylesheet" href="<?=StaticDir?>zhuanti/css/common.css"/><![endif]-->
<input type="hidden" name="sid" id="sid"  />
<input type="hidden" name="area" id="area" />


<!--banner-->
<div class="yzc-banner">
    <div  class="yzc-banner-main">
        <a href="/">去选我需要的商标   </a>
    </div>
</div>
<!--购买之前先“体检”-->
<div class="buy-physical">
    <div class="buy-physical-main">
        <h3>购买之前先<b>"体检"</b>- 买的商标更安全</h3>
        <h6><b>心里有底-不被忽悠：</b>避免购买低质商标不能正常使用,建议你<b>购买商标前先做商标体检</b></h6>
        <img src="<?=StaticDir?>zhuanti/images/physical-pic.jpg" class="physical-img">
        <ul>
            <li class="hqbg">
                <img src="<?=StaticDir?>zhuanti/images/phy-jc1.jpg">
                <div>
                    <h2>专业商标体检报告</h2>
                    <a  href="http://ce.chanshu.im/"><img src="<?=StaticDir?>zhuanti/images/phy-ico1.jpg"/>获取检测报告</a>
                </div>
            </li>
            <li class="sbtj">
                <img src="<?=StaticDir?>zhuanti/images/phy-jc2.jpg" class="phy-jc2">
                <div>
                    <h2>避免虚假报告<br/>认准<b>蝉精灵商标检测工具</b>
                   </h2>
                    <a  href="http://ce.chanshu.im/"><img src="<?=StaticDir?>zhuanti/images/phy-ico2.jpg"/>检测想买的商标</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--购买步骤-->
<div class="buy-step">
    <div class="buy-step-main">
        <h3><img src="<?=StaticDir?>zhuanti/images/step-tit.png">  - <b>简单3步</b>解决购买商标急用烦恼</h3>
        <ul class="buyStep-bg">
            <li style="top:72px;left:10px;">
                <h5>确定购买意向</h5>
            </li>
            <li style="top:20px;left: 355px;">
                <h5>双方签订协议</h5>
                <span>一只蝉督促卖方与买方签订《商标独占许可使用协议》 </span>
            </li>
            <li style="top:27px;right:28px;">
                <h5>立即使用</h5>
                <span>签完立即对外使用，无需再等8-10个月的转让流程 </span>
            </li>
        </ul>
        <div class="sub-demand">
            <img src="<?=StaticDir?>zhuanti/images/deman-icn.jpg" class="deman-icn">
            <div class="fl">
                <h4>填写商标购买需求</h4>
                <!--<img src="images/demand-pel.jpg">-->
            </div>
            <div class="rg">
				<form action="" method="post">
                    <textarea  id="buyNeed" >对商标的特殊要求  如：25类鞋子</textarea>
					<label style="display:none;" id="buyNeedTip">请填写购买需求</label>
                    <input type="tel" placeholder="请填写你的联系电话，方便我们联系你" value="" id="buyMoblie"/>
					<label style="display:none;" id="buyMoblieTip">手机号不能为空</label>
                    <a href="javascript:;"  id="subBuy" class="sub">提交</a>
                </form>
				
            </div>
        </div>
    </div>
</div>

<!--把好商标关卡-->
<div class="brand-cust">
    <div class="brand-cust-main">
        <h3>把好商标安全关卡，才能<b>守护整个商标生命</b></h3>
        <ul>
            <li>
                <h1>10年商标</h1>
                <h2>安全监测</h2>
                <a   href="javascript:void(0);" onclick="goChat()">独 家</a>
            </li>
            <li>
                <h1>核实转让</h1>
                <h2> 公证真伪  </h2>
                <a   href="javascript:void(0);" onclick="goChat()">帮我核实   </a>
            </li>
            <li>
                <h1>商标出售</h1>
                <h2>价格评估</h2>
                <a   href="javascript:void(0);" onclick="goChat()">我要深入评估</a>
            </li>
            <li class="cover">
                <h1>商标核心 </h1>
                <h2>背景调查  </h2>
                <a  href="javascript:void(0);" onclick="goChat()">帮我调查    </a>
                <div class="second-mess">
                    <p>
                        与专业资产评估机构深入合作,杜绝卖家漫天要价,让你买的放心,不花冤枉钱
                    </p>
                    <a  href="javascript:void(0);" onclick="goChat()">帮我调查    </a>
                </div>
            </li>
            <li class="platf-check">
                <h1>近10家主流电商平台及<br/> 大型超市协作判断    </h1>
                <h2>购买商标平台入驻</h2>
                <p>京东 天猫 亚马逊 大型商超等</p>
            </li>
        </ul>
        <img src="<?=StaticDir?>zhuanti/images/cust-pel.png" class="cust-pel">
    </div>
    <div class="brand-cust-btm"></div>
</div>
<!--出售最多的交易平台-->
<div class="trading-platform">
    <div class="trading-platform-main">
        <h3>商标购买行业出售<b>资源最多</b>的交易平台</h3>
        <img src="<?=StaticDir?>zhuanti/images/trading.png" class="trad-img">
        <a  href="javascript:void(0);" onclick="goChat()"></a>
    </div>
</div>
<!--买到放心商标-->
<div class="trading-system">
    <div class="trading-system-main">
        <h3>快速买到<b>放心商标</b></h3>
        <h6>颠覆20年商标购买标准流程，建立<span>独家购买保障体系,</span>让购买的商标放心使用</h6>
        <img src="<?=StaticDir?>zhuanti/images/trading-system.png" class="system-pic">
    </div>
</div>
<!--底部-->
<div class="yzc-bottom">
    <div class="yzc-bottom-main">
        <div class="fl">
            <h4>
                <img src="<?=StaticDir?>zhuanti/images/bt-ico1.png">
                购买商标常用帮助 / 注意事项
            </h4>
            <ul>
                <li><a href="/faq/views/?id=806&act=cfdt&c=45">购买商标需要准备的资料</a></li>
                <li><a href="/faq/views/?id=807&act=cfdt&c=45">注册商标转让的详细流程</a></li>
                <li><a href="/faq/views/?id=808&act=cfdt&c=45">商标交易需注意的5大风险</a></li>
                <li><a href="/faq/views/?id=816&act=cfdt&c=45">签订商标购买协议需警惕4大陷阱</a></li>
                <li><a href="/faq/views/?id=809&act=cfdt&c=45">商标转让的费用有哪些？</a></li>
                <li><a href="/faq/views/?id=821&act=cfdt&c=45">商标转让一般要多长时间</a></li>

            </ul>
        </div>
        <div class="rg">
            <h4>
                <img src="<?=StaticDir?>zhuanti/images/bt-ico2.png">
                一只蝉平台帮助
            </h4>
            <ul>
                <li type="disc"><a href="/faq/views/?id=810&act=cfdt&c=45">购买后，怎么才能尽快使用上商标？</a></li>
                <li><a href="/faq/views/?id=811&act=cfdt&c=45">付款后，卖家不转让或跑了怎么办？</a></li>
                <li><a href="/faq/views/?id=812&act=cfdt&c=45">怎么判断卖家商标公证书的真伪？</a></li>
                <li><a href="/faq/views/?id=813&act=cfdt&c=45">怎么识别卖家是否冒充商标持有人？</a></li>
                <li><a href="/faq/views/?id=814&act=cfdt&c=45">购买的商标不能正常使用怎么办？</a></li>
                <li><a href="/faq/views/?id=851&act=cfdt&c=45">签订商标转让协议你需要注意哪些地方？</a></li>

            </ul>
        </div>
    </div>
    <div class="yzc-bottom-mess">
        <p>
            <!--<a  href="/about">超凡网  </a>  |<a> 知库</a>|<a> 关注微博</a> |<a>意见反馈</a>-->
            <a href="/buy">关于一只蝉</a>|
            <a href="http://g.chaofan.wang/">商标检索</a>|
            <a href="/faq/views/?c=54&id=990">交易流程 </a>|
            <a href="/faq/views/?c=54&id=987">常见问题</a>
        </p>
        opyright © 2002 - 2015 北京超凡知识产权代理有限公司 蜀ICP备15035613号-1   联系我们：<?=TEL400?>
    </div>

</div>
<!--求购已提交弹出层-->
<div class="mj-boughtM" id="mj-submitteS">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>恭喜，求购提交成功</h2>
            <p>请保持电话畅通，10分钟内联系你。</p>
            <a href="javascript:;" class="mj-boBtn1" id="closeFailed">点此处关闭！</a>
        </div>
    </div>
</div>
<!--求购已提交失败弹出层-->
<div class="mj-boughtM" id="mj-submitteF">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h2 style="color:#ff6600">求购提交失败，请稍后重试！</h2>
            <p>可能因为网络问题或其他原因导致</p>
            <a href="javascript:;" class="mj-boBtn1" id="closeFailed">点此处关闭！</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="<?=StaticDir?>zhuanti/js/common.js"></script>
<script type="text/javascript">
    var _isLogin = "<?=$isLogin?>";
    var _mobile  = "<?=$userMobile?>";
    var orequire=document.getElementById("buyNeed");
    orequire.onfocus=function()
    {
        if(this.value == '对商标的特殊要求  如：25类鞋子'){
            this.value = ''
        }
        this.className = '';
    }
    orequire.onblur=function()
    {
        if(this.value ==''){
            this.value = '对商标的特殊要求  如：25类鞋子'
        }
        this.className = 'cgkug';
    }
    $(".mj-boBtn1").bind("click",function(){
		layer.closeAll();
    });
</script>
<script type="text/javascript">
    document.write(unescape("%3Cscript src='<?=StaticDir?>1.2/js/yzc.js' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>