@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
body,html{font-family: "微软雅黑";-webkit-font-smoothing:antialiased;font-smoothing:antialiased;-moz-font-smoothing:antialiased;}
fieldset,img {border:0}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal}
ol,ul {list-style:none}
a{text-decoration: none;}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
q:before,q:after {content:''}
abbr,acronym { border:0}
.fl{float: left}
.fr{float: right}

/*清除浮动*/
.f-clearfix:after {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    content: ".";
    visibility: hidden;
}
.f-clearfix{
    zoom: 1;
}
.w1100{
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.comBan{
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius: 10px;
    background: #ffffff url("../images/comBan-bg.png") no-repeat bottom left;
    height: 500px;
}

.cBtit{
  width: 95%;
  height: 47px;
  background: url("../images/cBtit-rp.png") repeat-x bottom left;
  margin: auto;
  margin-top: 25px;

}
.cBtit span{
    display:inline-block;
    width: 63px;
    text-align: center;
    height: 47px;
    vertical-align: middle;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    background: url("../images/cBtit-bg.png") no-repeat center top;
}
.cBtit label{
    display: inline-block;
    color: #666666;
    font-size: 28px;
    margin-left: 8px;
    vertical-align:middle;
}
.cBtit label b{
    color: #2363c8;
}
.cBmain{
    padding-left:54px;
    padding-right:54px;
    margin-top:65px;
}
.More-class{
    margin-top: 10px;
	font-size:14px;
}
.MoreClss-tit div.fr{
    width: 218px !important;
    height: 30px;
    line-height: 30px;
    text-indent:8px;
    border-radius: 5px;
    background:#ffffff url("../images/sel-ico.png") no-repeat 180px 12px;
    color: #999999;
    border: 1px solid #dddddd;
}
.MoreClss-tit p{
    font-size: 10px;
    color: #ffffff;
    margin-top: 5px;
	font-size:14px;

}
.MoreClss-tit p img{
    margin-right: 5px;
    margin-bottom: -5px;
}
.MoreClss-tit select.styled{
    margin-top:1px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-indent: 12px;
    background:#ffffff;
    border-radius: 10px;
    color: #999999;
    z-index: 999;
}
.moreFl{
    cursor: pointer;
    text-indent: 25px !important;
}
.brand-fl {
    overflow: hidden;
    background: #ffffff;
   padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 99;
    border-radius: 5px;
    top: 36px;
    border: 1px solid #dddddd;
    width: 46%;
    right: 0px;
    display: none;
}
.brand-fl li {
    overflow: hidden;
    padding-left:15px;
}
.brand-fl li p {
    display: inline-block;
    width: 116px;
    text-align: left !important;
    margin-top: 8px;
	font-size: 12px;
}
.brand-fl li span {
    color: #999999;
    margin-right: 6px;
}
.brand-fl li span label {
    margin-right: 5px;
}
.brand-fl li a:hover{
    color: #ff6666 !important;
}
.brand-fl li a:-webkit-any-link {
    -webkit-appearance: none !important;
    color: #333;
}
.brand-fl a:link {
    color: #666;
}
.ml-main{
    width:540px;
    height:340px;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#ffffff;
    position:relative;
    z-index:2;
    behavior:url(ie-css3.htc);
    margin-top: 10px;
}
.ml-main-tit{
   width: 95%;
    margin: auto;
   margin-top: 15px;
   overflow: hidden;

}
.ml-main-tit p{
    color: #2363c8;
    font-size: 14px;
}
.ml-main-tit p img{
    margin-bottom: -3px;
    margin-right:6px;
}
.ml-main-tit a{
    font-size: 14px;
    color: #999999;

}
.ml-main-tit a:hover{
    color: #ff6666;
}
.ml-main ul.mlPic{
    margin-top: 10px;
}
.ml-main ul.mlPic li{
    width: 179px;
    height: 145px;
    border-top: 1px solid #dddddd;
    border-right:1px solid #dddddd;
    float: left;
}
.ml-main ul.mlPic li img{
    display: block;
    width: 145px;
    height: 89px;
    margin: 28px auto 0px;
}
.fles-banner{
    width: 100%;
    height:559px;
    background: url("../images/mban-bg1.png") no-repeat center top;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.fles-banner-main{
    width: 1420px;
    height: 422px;
    margin:60px auto 0px;
    background: url("../images/ban-img.png") no-repeat left top;
    position: relative;
}
.fles-banner-main a{
    display: inline-block;
    width: 175px;
    height: 50px;
    position: absolute;
    right:150px;
    bottom: 25px;
}
.fles-aesth{
    width: 100%;
    height:945px;
    background: url("../images/mban-bg2.png") no-repeat center 95px;
    position:relative;
    z-index: 99;
}
.fles-aesth .comBan{
  margin-top: -95px;

}

.aesthMa li{
    float: left;
}
.aesthMa li.first{
    margin-top:55px;
    margin-left: 0px;
}
.aesthMa li.first span img{
    margin-top: 85px;
}
.aesthMa li.last{
    margin-top:55px;
}
.aesthMa li.last span img{
    margin-top: 85px;
}
.aesthMa li img{
    float: left;
    margin-left:25px;
}

.fles-figure{
    width: 100%;
    height: 985px;
    overflow: hidden;
    background: #e4e4e4 url("../images/mban-bg3.png") no-repeat right top;
}

.fles-figure .comBan{
    margin-top: 33px;
}
.figureMain{
    width: 100%;
    height: 310px;
    margin: 65px auto 0px;
    background: url("../images/aesth-pic4.png") no-repeat top center;
}
.fles-figure .MoreClss-tit p{
    color: #2363c8;
}

.fles-prett{
    width: 100%;
    height:1036px;
    overflow: hidden;
    background: #007fdd url("../images/mban-bg4.png") no-repeat right top;
}

.fles-prett .comBan{
    margin-top: 33px;
}
.fles-prett .aesthMa li{
    margin-top: -20px;
    margin-left:45px;
}
.fles-prett .aesthMa li.first{
    margin-left: 0px;
}
.fles-prett-ques{
    text-align: center;
    margin-top:45px;
    font-family: "微软雅黑";
    font-size: 30px;
    color: #ffffff;
}
.fles-prett-ques b span{
    color: #fded35;
}
.fles-brand{
    width: 100%;
    height:875px;
    overflow: hidden;
    background:url("../images/mban-bg5.png") no-repeat right top;
}
.brand-relevan li{
    width: 354px;
    height: 232px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position:relative;
    background: #ffffff;
    z-index:2;
    behavior: url(iecss3.htc)
    overflow: hidden;
    margin-top:65px;
    float: left;
    margin-left:15px;


}
.brand-relevan li:first-child{
    margin-left: 0px;
}
.brand-relevan li div{
    width: 267px;
    margin:35px auto 15px;
    padding-bottom:38px;
    background: url("../images/rele-xx.png") no-repeat bottom left;
}
.brand-relevan li div span img{
    display: inline-block;
    margin-bottom: -25px;
}
.brand-relevan li div b{
    color: #333333;
    font-size: 20px;
    margin-left: 15px;

}
.brand-relevan li p{
    padding-left:40px;
    padding-right:40px;
    font-size: 12px;
    color: #000000;
    line-height: 22px;
}
.brand-relevan li p font{
	display:inline-block;
	width:300px;
	height:50px;
	position:relative;
    line-height:1.4em;
    /* 3 times the line-height to show 3 lines */
    height:32px;
    overflow:hidden;
	
	}

.brand-relevan li p font::after {
  content: "...";
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px 1px 5px;
    /* border: 1px solid red; */
    margin-left: 45px;
    background: url(http://css88.b0.upaiyun.com/css88/2014/09/ellipsis_bg.png) right top;
    
}
.brand-relevan li p font.adCL{
	height:auto;
	}
.brand-relevan li p font.adCL::after{
	background:none;
	overflow:auto;
	content:"";
	
	}	
.brand-relevan li p a{
	display:block;
    color: #999999;
    float: right;
	text-align:right;
}
.brand-relevan li p a:hover{
	color:#ff6666;
	}


.brand-popu span img{
    display: block;
    margin:45px auto;
}
.brand-popu p{
    text-align: center;
    font-size: 24px;
}
.brand-look{
    text-align: center;
    overflow: hidden;
}
.brand-look label{
    display: inline-block;
    color: #ffffff;
    font-size: 26px;
    margin-top:105px;
}
.brand-look dl{
    text-align: center;
    margin-top: 35px;
    position: relative;
}
.brand-look dl p{
    display: inline-block;
    width: 352px;
    height: 50px;
    background: #ffffff;
    border-radius: 5px;
    vertical-align: middle;
}
.brand-look dl p span{
    display: inline-block;
    width: 30px;
    height: 24px;
    background: url("../images/tel-ico.png") no-repeat left 3px;
    float: left;
    margin-left: 25px;
    margin-top:14px;
    border-right: 1px solid #cccccc;
}
.brand-look dl p input{
    border: none;
    width: 290px;
    height: 24px;
    line-height: 24px;
    margin-top:14px;
    text-indent: 10px;
    color: #cccccc;
}

.brand-look dl font{
    display: inline-block;
    font-size: 12px;
    color: #ff6666;
    position: absolute;
    top: -20px;
    left: 380px;
}
.brand-look dl a{
   display: inline-block;
   width:123px;
   text-align: center;
   height: 50px;
   line-height:50px;
    background: #fc7d28;
   color: #ffffff;
    font-size: 18px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius: 5px;
    position:relative;
    z-index:2;
    behavior: url(ie-css3.htc);
    vertical-align: middle;

}
.brand-look dl a:hover{
    cursor: pointer;
}

.flt-less{
    width: 120px;
    /*height: 500px;*/
    position: fixed;
    /*top:120px;*/
    /*right: 35px;*/
    z-index: 9999;

}
@media screen and (max-width:1220px) {
    .flt-less{
        display: none !important;
    }
}
.flt-less span{
    display: inline-block;
    position: relative;
     top:10px;
    left: 5px;
    z-index: 9;

}
.flt-less span img{
    margin-top: 8px;
}
.less-nav{
    position: relative;
    z-index: 1;
    font-size: 12px;
}

.less-nav li{

}
.less-nav li a{
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background:#a6d9ff;
    color: #003e9f;

}
.less-nav li p{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background:#ffffff;
    color: #666666;
    border-bottom: 1px solid #dddddd;
}
.less-nav li p:hover{
    color: #ff6666;
}
.less-nav li p.on{
    color: #ff6666;
}
.less-nav li p:hover{
    cursor: pointer;
}
.less-zx{
    margin-top: 25px;

}
.less-zx li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #ffffff;
}
.less-zx li a{
    font-size: 12px;
    color:#666666;
}
.less-zx li:first-child{
    background: #ffcca6;

}
.less-zx li a:hover{
    cursor: pointer;
    color: #ff6666;
}
.less-zx li:first-child a{
    color: #ff6c00;
}
.less-zx li  img{
    margin-bottom: -3px;
    margin-right: 5px;
}