body,html{
    background-color:#ffffff !important;
    color: #666666;
}
.td-header{
    width: 100%;
    padding-bottom: 22px;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}
.ft1{
    font-size: 14px;
}
.td-pack-tp{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #dadada;
    margin-top: 5px;
}
.td-pack-tp p.fl label{
    margin-left: 4px;
    margin-right: 4px;
}
.pack-tp-rg a{
   color: #666666;
   margin-right:10px;
}
.pack-tp-rg a.collect{
   margin-right: 25px;
}
.pack-tp-rg a img{
    vertical-align: middle;
    margin-right: 4px;
    margin-bottom:3px;
}
.td-pk-del h3,p.pk-sell,.pk-ms{
    text-align:center;
}
.td-pk-del h3{
   color: #444444;
   font-size: 25px;
   margin-top: 30px;
   font-weight: normal;
}
.pk-sell span{
    display: inline-block;
    height: 27px;
    line-height: 27px;
    padding-left: 8px;
    padding-right:14px;
    margin-top:5px;
}

.pk-sell .red{
    background:#ff7575 url("../images/pack-ico1.jpg") no-repeat right top;
    color: #ffffff;
    font-size: 14px;
}
.pk-sell .yew{
    background:#fceed2 url("../images/pack-ico2.jpg") no-repeat right top;;
    color: #ff6600;
    font-size: 13px;
}
.td-pk-del label.pk-ms{
    display: inline-block;
    text-align: center;
    color: #ff5656;
    margin-top: 10px;
}
.pack-brand-show{
    width: 1170px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 12px;
    padding-bottom: 15px;
    overflow: hidden;
}

.pack-brand-pic ul li{
    width: 210px;
    float: left;
    margin-left: 20px;
    margin-top: 35px;
    text-align: center;
    cursor: pointer;
}

.pack-brand-pic ul li .pack-pic{
    display: table-cell;
    width: 204px;
    height: 144px;
    border:3px solid #dddddd;
    text-align: center;
}
.pack-brand-pic ul li:hover  .pack-pic{
    border:3px solid #ad2e21;
}
.pack-brand-pic ul li  .pack-pic img{
    vertical-align: middle;
    max-width: 204px;
    max-height: 144px;
}
.pack-brand-pic ul li h4{
    color: #ffffff;
    font-size: 14px;
    margin-top: 12px;
}
.pack-brand-pic ul li label{
    color: #bebebe;
    margin-top: 12px;
}

/*.slideBox{ width:100%;min-height: 265px;overflow: hidden;padding-bottom: 25px;  position:relative; background: url("../images/brand-pic-bg.jpg") no-repeat center top;  background-size: cover; -ms-behavior: url(../css/backgroundsize.min.htc);*/
    /*behavior: url(../css/backgroundsize.min.htc); }*/
/*.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; display: none;text-align: center; }*/
/*.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }*/
/*.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; border-radius: 100%;-webkit-border-radius: 100%;background:#a9a9a9; cursor:pointer; }*/
/*.slideBox .hd ul li.on{*/
    /*background: #FFFFFF;*/
/*}*/
/*.slideBox .bd{ position:relative; height:100%; z-index:0;   }*/
/*.slideBox .bd li{ zoom:1; vertical-align:middle; }*/

.multipleColumn{ width:100%;min-height:465px;overflow: hidden;padding-bottom: 25px;  position:relative; background: url("../images/brand-pic-bg.jpg") no-repeat center top;  background-size:100% 100%; -ms-behavior: url(../css/backgroundsize.min.htc);
    behavior: url(../css/backgroundsize.min.htc); }
.multipleColumn .hd{ overflow:hidden;width: 222px; height:30px; padding:0 10px;position: absolute;left: 50%;margin-left: -111px; bottom: 40px;  }
.multipleColumn .hd .prev,.multipleColumn .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
    cursor:pointer; background:url("images/icoLeft.gif") no-repeat;}
.multipleColumn .hd .next{ background:url("images/icoRight.gif") no-repeat;  }
.multipleColumn .hd ul{ overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.multipleColumn .hd ul li{ float:left;  width:15px; height:15px; overflow:hidden;margin-right:10px; text-indent:-999px; cursor:pointer; background:#a9a9a9; border-radius: 100%;-webkit-border-radius: 100%;}
.multipleColumn .hd ul li.on{background-color: #FFFFFF; }

.multipleColumn .bd{ padding:10px; overflow:hidden;  }
.multipleColumn .bd ul{ overflow:hidden; zoom:1; width:230px;  float:left; _display:inline;  }
.multipleColumn .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;margin-top: 25px; }
.multipleColumn .bd ul li .pic{ text-align:center; }
.multipleColumn .bd ul li .pic img{ width:120px; height:90px; display:block;  padding:2px; border:1px solid #ccc; }
.multipleColumn .bd ul li .pic a:hover img{ border-color:#999;  }
.multipleColumn .bd ul li .title{ line-height:24px;   }
.pack-brand-del{
    padding-top:12px;
    padding-bottom: 12px;
}
.pack-brand-del div.fl{
    margin-left:110px;
    padding-right: 75px;
    border-right:1px solid #dddddd;
    padding-bottom: 10px;
}
.pack-brand-del div.fr{
    margin-right:75px;
    padding-bottom: 10px;
}
.pack-brand-del .pri{
   color: #999999;
}
.pack-brand-del .pri span{
     margin-right: 12px;
 }
.pack-brand-del .pri label{
    color: #ce0000;
    margin-left: 7px;
    margin-right: 7px;
}
.pack-brand-del .pri label b{
    display: inline-block;
    font-size: 36px;
    vertical-align: middle;
    margin-bottom: 16px;
}
.pack-brand-del .sale{
    color: #666666;
    margin-top: -10px;
}
.pack-brand-del .sale a{
    display: inline-block;
    background-color: #ce0000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:10px 24px;
    color: #ffffff;
    font-size: 16px;
    margin-right: 10px;
}
.pack-brand-del .sale a img{
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right:16px;
}
.pack-brand-del .sale em{
    display: inline-block;
    padding: 3px 10px;
    background-color:#ffa2a2;
    color: #ffffff;
    border-radius: 0px 3px 0px 3px;
    -webkit-border-radius: 0px 3px 0px 3px;
    margin-left: 10px;
    font-style:normal;
    cursor: pointer;
}
.pack-brand-del div.fr p{
    display: block;
    color: #666;
    margin-top:5px;
    overflow: hidden;

}
.pack-brand-del div.fr p.dial{
    padding-left: 25px;
}
.pack-brand-del div.fr img{
    vertical-align: middle;
    margin-bottom:4px;
    margin-right:5px;
}
.pack-brand-del div.fr b{
    font-size: 20px;
    font-weight: normal;
}
.pack-brand-del div.fr .pro a{
    display: inline-block;
    width: 75px;
    text-align: center;
    height:27px;
    line-height: 24px;
    background: url("../images/gry-btn.png") no-repeat top  center;
    background-size: cover;
    -ms-behavior: url(../css/backgroundsize.min.htc);
    behavior: url(../css/backgroundsize.min.htc);
    color: #ffffff;
    margin-left: 10px;
}
.pack-brand-del div.fr .dial input{
    width: 154px;
    height: 33px;
    line-height: 33px;
    text-indent: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    color: #bebebe;
}

.pack-brand-del div.fr .dial a{
    display: inline-block;
    width: 75px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    background: url("../images/gry-btn2.png") no-repeat top  center;
    background-size: cover;
    -ms-behavior: url(../css/backgroundsize.min.htc);
    behavior: url(../css/backgroundsize.min.htc);
    color: #ffffff;
    cursor: pointer;
}
.sel-bannerIimg {
    position: relative;
    height:312px;
}
.sel-banner-img {
    margin: 0;
    padding: 0;
    height:312px;
    width:100% !important;
    z-index: 1;
}

.sel-banner-img .sel-banner-itme{
    background-size:100%;
}
.sel-banner-img .sel-banner-itme, .sel-banner-img .sel-banner-itme a {
    display: block;
    width: 100%!important;
    height:312px;
}
.sel-bannerIimg .hd {

    /* width:100%;*/
    width:1480px;
    left: 195px;

    position: absolute;

    bottom: 10px;

    text-align: center;

    font-size:0;

    z-index:1;

}

.sel-bannerIimg .hd li{

    display: inline-block;

    margin-left: 5px;

    width:15px;

    height:15px;

    border-radius: 50%;

    background: #b29a8c;
    cursor: pointer;

}

.sel-bannerIimg .hd .on{
    background: #efe6e1;
}

.sel-title{
    width: 100%;
    height: 1px;
    background: #e6e6e6;
    position: relative;
    margin-top: 70px;
}

.sel-title-main{
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background:#454545;
    font-size: 14px;
    color: #ffffff;
    border-radius:15px;
    -webkit-border-radius:15px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top:-15px;

}
.sell-bk1{
    overflow: hidden;
}
.sell-tang{
    margin-left: -12px;
    margin-top: 32px;
}
.sell-tang li{
    width: 280px;
    height: 80px;
    background: url("../images/sell-cate-bg.png") no-repeat top center;
    color: #999999;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    float: left;
    margin-left: 12px;
}
.sell-tang li:hover{
    border: 2px solid #454545;
    width: 278px;
    height: 78px;
}
.sell-tang li:hover h6{
    color: #ff5656;
}
.sell-tang li span{
    float: left;
    margin-left: 45px;
    margin-top: 10px;
}
.sell-tang li div{
    float: left;
    margin-top: 15px;
}
.sell-tang li div h6{
    color: #666666;
    font-size: 18px;
    font-weight: normal;
}
.sell-bk2{
    position: relative;
    border: 1px solid #e2e2e2;
    border-radius:5px;
    -webkit-border-radius:5px;
    margin-top: 65px;
}
.sell-bk2 ul{
    margin-top: 30px;
    margin-left: 5px;
}
.sell-bk2 ul li{
    width:78px;
    height: 88px;
    float: left;
    text-align: center;
    color: #666666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 12px;
}
.sell-bk2 ul li.hot{
    color: #ff5656;
}
.sell-bk2 ul li span{
    display: inline-block;
    width: 100%;
    height:50px;
    background-repeat: no-repeat;
    background-image: url("../images/classi-ico-bg.png");
}

.sell-bk2 ul li:hover{
    background: #e57272;
    color: #ffffff;
}
.s-clas1{
    background-position:20px 10px;
}
.sell-bk2 ul li:hover .s-clas1{
    background-position:20px -32px;
}

.s-clas2{
    background-position:-60px 10px;
}
.sell-bk2 ul li:hover .s-clas2{
    background-position:-58px -32px;
}

.s-clas3{
    background-position:-136px 10px;
}
.sell-bk2 ul li:hover .s-clas3{
    background-position:-134px -32px;
}

.s-clas4{
    background-position:-206px 10px;
}
.sell-bk2 ul li:hover .s-clas4{
    background-position:-204px -32px;
}

.s-clas5{
    background-position: -284px 13px;
}
.sell-bk2 ul li:hover .s-clas5{
    background-position:-284px -31px;
}

.s-clas6{
    background-position: -362px 13px;
}
.sell-bk2 ul li:hover .s-clas6{
    background-position: -362px -28px;
}

.s-clas7{
    background-position: -438px 13px;
}
.sell-bk2 ul li:hover .s-clas7{
    background-position: -437px -32px;
}

.s-clas8{
    background-position: -512px 13px;
}
.sell-bk2 ul li:hover .s-clas8{
    background-position: -512px -32px;
}

.s-clas9{
    background-position: -590px 13px;
}
.sell-bk2 ul li:hover .s-clas9{
    background-position: -590px -32px;
}
.s-clas10{
    background-position: -665px 13px;
}
.sell-bk2 ul li:hover .s-clas10{
    background-position: -665px  -32px;
}
.s-clas11{
    background-position: -744px 13px;
}
.sell-bk2 ul li:hover .s-clas11{
    background-position: -744px  -32px;
}

.s-clas12{
    background-position: -820px 14px;
}
.sell-bk2 ul li:hover .s-clas12{
    background-position: -820px  -32px;
}

.s-clas13{
    background-position: -894px 15px;
}
.sell-bk2 ul li:hover .s-clas13{
    background-position: -894px  -28px;
}
.s-clas14{
    background-position: -970px 15px;
}
.sell-bk2 ul li:hover .s-clas14{
    background-position: -970px -32px;
}

.s-clas15{
    background-position: -1045px 15px;
}
.sell-bk2 ul li:hover .s-clas15{
    background-position: -1045px -32px;
}

.s-clas16{
    background-position:20px -75px;
}
.sell-bk2 ul li:hover .s-clas16{
    background-position:20px -120px;
}

.s-clas17{
    background-position:-56px -75px;
}
.sell-bk2 ul li:hover .s-clas17{
    background-position:-56px -120px;
}

.s-clas18{
    background-position:-134px -75px;
}
.sell-bk2 ul li:hover .s-clas18{
    background-position:-134px -120px;
}

.s-clas19{
    background-position:-210px -75px;
}
.sell-bk2 ul li:hover .s-clas19{
    background-position:-210px -120px;
}
.s-clas20{
    background-position:-284px -72px;
}
.sell-bk2 ul li:hover .s-clas20{
    background-position:-284px -120px;
}
.s-clas21{
    background-position:-362px -70px;
}
.sell-bk2 ul li:hover .s-clas21{
    background-position:-362px -118px;
}


.s-clas22{
    background-position:-438px -70px;
}
.sell-bk2 ul li:hover .s-clas22{
    background-position:-438px -120px;
}

.s-clas23{
    background-position:-518px -70px;
}
.sell-bk2 ul li:hover .s-clas23{
    background-position:-518px -120px;
}
.s-clas24{
    background-position:-590px -70px;
}
.sell-bk2 ul li:hover .s-clas24{
    background-position:-590px -116px;
}

.s-clas25{
    background-position:-668px -70px;
}
.sell-bk2 ul li:hover .s-clas25{
    background-position:-668px -120px;
}

.s-clas26{
    background-position:-742px -70px;
}
.sell-bk2 ul li:hover .s-clas26{
    background-position:-742px -120px;
}

.s-clas27{
    background-position:-818px -70px;
}
.sell-bk2 ul li:hover .s-clas27{
    background-position:-818px -116px;
}

.s-clas28{
    background-position:-897px -70px;
}
.sell-bk2 ul li:hover .s-clas28{
    background-position:-897px -120px;
}

.s-clas29{
    background-position:-970px -70px;
}
.sell-bk2 ul li:hover .s-clas29{
    background-position:-970px -120px;
}
.s-clas30{
    background-position:-1048px -73px;
}
.sell-bk2 ul li:hover .s-clas30{
    background-position:-1048px -120px;
}

.s-clas31{
    background-position:14px -164px;
}
.sell-bk2 ul li:hover .s-clas31{
    background-position:14px -212px;
}
.s-clas32{
    background-position:-62px -164px;
}
.sell-bk2 ul li:hover .s-clas32{
    background-position:-62px -212px;
}

.s-clas33{
    background-position:-132px -164px;
}
.sell-bk2 ul li:hover .s-clas33{
    background-position:-132px -212px;
}
.s-clas34{
    background-position:-210px -164px;
}
.sell-bk2 ul li:hover .s-clas34{
    background-position:-210px -212px;
}

.s-clas35{
    background-position:-288px -164px;
}
.sell-bk2 ul li:hover .s-clas35{
    background-position:-288px -212px;
}

.s-clas36{
    background-position:-365px -164px;
}
.sell-bk2 ul li:hover .s-clas36{
    background-position:-365px -212px;
}

.s-clas37{
    background-position:-438px -164px;
}
.sell-bk2 ul li:hover .s-clas37{
    background-position:-438px -212px;
}

.s-clas38{
    background-position:-514px -164px;
}
.sell-bk2 ul li:hover .s-clas38{
    background-position:-514px -212px;
}

.s-clas39{
    background-position:-590px -164px;
}
.sell-bk2 ul li:hover .s-clas39{
    background-position:-590px -212px;
}
.s-clas40{
    background-position:-668px -164px;
}
.sell-bk2 ul li:hover .s-clas40{
    background-position:-668px -212px;
}
.s-clas41{
    background-position:-746px -164px;
}
.sell-bk2 ul li:hover .s-clas41{
    background-position:-746px -212px;
}
.s-clas42{
    background-position:-820px -162px;
}
.sell-bk2 ul li:hover .s-clas42{
    background-position:-821px -210px;
}

.s-clas43{
    background-position:-894px -160px;
}
.sell-bk2 ul li:hover .s-clas43{
    background-position:-894px -208px;
}
.s-clas44{
    background-position:-972px -162px;
}
.sell-bk2 ul li:hover .s-clas44{
    background-position:-972px -210px;
}

.s-clas45{
    background-position:-1048px -162px;
}
.sell-bk2 ul li:hover .s-clas45{
    background-position:-1048px -208px;
}
.Bout-spec{
    margin-top: 42px;
}
.Bout-spec li{
    width: 567px;
    height: 204px;
    border: 3px solid #585858;
    background: #fff;
    position: relative;
}
.Bout-spec li i{
    display: inline-block;
    width: 76px;
    height: 26px;
    line-height: 26px;
    text-indent: 10px;
    background: url("../images/Bout-bg.png") no-repeat top center;
    color: #ffffff;
    position: absolute;
    left: -4px;
    top:8px;
    font-style: normal;
}
.Bout-spec li span{
    display:block;
    width: 206px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    margin-top: 30px;
}

.Bout-spec li span img{
   display: inline-block;
   max-width: 206px;
   max-height: 140px;
   vertical-align: middle;
}
.Bout-spec li div{
    width: 340px;
    padding-left: 16px;
    border-left: 1px solid #e1e1e1;
    height: 180px;
    font-size: 14px;
    margin-top: 11px;
}
.Bout-spec li div h4{
    color: #444444;
    font-size: 20px;
}
.Bout-spec li div label{
    display: block;
    color: #999999;
}
.Bout-spec li div font{
    color: #ce0000;

}
.Bout-spec li div font b{
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
}
.Bout-spec li div em{
    font-style: normal;
    color: #e79325;
}

.Bout-spec li div a{
    display: inline-block;
    margin-top: 10px;
}
.Bout-spec li div p.end a.apply{
    width: 128px;
    height: 40px;
    background: #e57272;
    text-align: center;
    line-height: 40px;
    color: #FFFFFF;
}
.Bout-spec li div p.end a.inter{
    width: 126px;
    height:38px;
    background: #f5f5f5;
    border: 1px solid #f2cbcb;
    text-align: center;
    line-height: 38px;
    color: #666666;
}
.Bout-spec li div p.start a.apply{
    width: 128px;
    height: 40px;
    background:url("../images/strt-btn.png") no-repeat top center;
    text-align: center;
    line-height: 40px;
    color: #fbfbfb;
}
.Bout-spec li div p.start  a.inter{
    width: 126px;
    height:38px;
    background: #f5f5f5;
    border: 1px solid #dfdfdf;
    text-align: center;
    line-height: 38px;
    color: #666666;
}
.sell-bk4{
    margin-bottom: 25px;
}
.sel-low-price{
    margin-left: -18px;
}
.sel-low-price li{
    width: 278px;
    height: 358px;
    background:#f9f9f9;
    border: 1px solid #e2e2e2;
    text-align: center;
    float: left;
    margin-left: 19px;
    margin-top: 38px;

}
.sel-low-price div{
    display: table-cell;
    width: 278px;
    height:192px;
    text-align: center;
    background:#ffffff;
    border-bottom: 1px solid #e2e2e2;
    vertical-align: middle;
}
.sel-low-price div img{
    max-width: 190px;
    max-height: 130px;
    vertical-align: middle;
}
.sel-low-price h4{
    color: #444444;
    font-size: 20px;
    font-weight: normal;
    margin-top: 12px;
}
.sel-low-price label{
    display: block;
    color: #999999;
    font-size: 14px;
    margin-top: 5px;
}
.sel-low-price p{
    color: #666666;
}
.sel-low-price span{
    color: #ce0000;
    margin-left: 6px;
    margin-right: 4px;
    margin-top: 5px;
}
.sel-low-price span b{
   font-size: 25px;
    font-weight: normal;

}
.sel-low-price li a{
    display: inline-block;
    width:90% ;
    height:40px;
    line-height: 40px;
    background: #e57272;
    color: #FFFFFF;
    font-size: 16px;
    margin-top:8px;
}
.sel-check-all{
    display:block;
    width: 198px;
    height: 48px;
    line-height: 48px;
    text-align:center;
    background: #FFFFFF;
    border: 1px solid #e2e2e2;
    color: #666666;
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: underline;
    margin: 50px auto 0px;
}