html,body,menu,ul,ol,li,p,div,form,h1,h2,h3,h4,h5,h6,dl,dt,dd,input,select,option{padding:0;margin:0;}
ul,ol{list-style: none outside none; }
body {font-size:14px; background:#fff; color:#555;-webkit-font-smoothing:antialiased;}
a{text-decoration:none;}
img {border:none; }
.fl {float:left; }
.rg {float:right; }
@font-face
{
    font-family:applelh;
    src: url(../font/applelh.otf);
}
body,html{
    font-family:applelh ;
    font-family:"微软雅黑"\9;
}

.yzc-header{
    width: 100%;
    height: 206px;
    border-bottom: 2px solid #fd8536;
}
.yzc-header-main{
    width: 80%;
    margin: auto;
}

.yzc-banner{
    width:100%;
    height: 900px;
    margin: 0 auto;
    background:#f3f3f3;
}
.yzc-banner-main{
    width: 1363px;
    height: 900px;
    background:url("../images/banner.png") no-repeat center bottom;
    position: relative;
    left: 146px;
    bottom:0px;

}

.yzc-banner a{
    display: block;
    width: 288px;
    text-indent:48px;
    height: 51px;
    line-height: 51px;
    background: url("../images/banner-btn.png") no-repeat center top;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    right:13px;
    bottom: 403px;
    border-radius:20px;

}
.yzc-banner a:hover{
    background: url("../images/banner-btn1.png") no-repeat center top;
}
@media screen and (max-width:1550px) {
    .yzc-banner{
        height: 800px;
    }
    .yzc-banner-main{
        width: 1140px;
        height:800px;
        background:url("../images/banner.png") no-repeat center bottom;
        background-size:100% auto;
        position: relative;
        left:76px;
        bottom:0px;

    }
    .yzc-banner a{
        bottom: 333px;
    }
}

.buy-physical{
    width: 100%;
    height: 902px;
    background: #85c0e9;
}
.buy-physical-main{
    width: 1080px;
    margin: auto;
    background: url("../images/mftj.png") no-repeat 845px 70px;
    overflow: hidden;

}
.buy-physical-main h3{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-top:70px;
    font-weight:400;
}
.buy-physical-main h3 b{

    letter-spacing:0px;
}
.buy-physical-main h6{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    margin-top:5px;
    font-weight:400;
}
.buy-physical-main h6 span{
color: #ff5555;
}
.buy-physical-main img.physical-img{
    display: block;
    margin:85px auto 85px;
}
.buy-physical-main ul{
    width: 605px;
    margin: auto;
    margin-top: 45px;
}
.buy-physical-main ul li{
    float: left;
}

.buy-physical-main ul li.hqbg{
    width: 282px;
}
.buy-physical-main ul li.sbtj{
    width: 320px;
    height: 120px;
    background: url("../images/phy-xx.jpg") no-repeat left top;

}
.buy-physical-main ul li img{
    display:block;
    float: left;
}
.buy-physical-main ul li div{
    float: left;
    margin-left: 15px;
}
.buy-physical-main ul li div h2{
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;

}
.buy-physical-main ul li.hqbg h2{
    margin-top: 20px;
    font-size: 20px;
}
.buy-physical-main ul li.sbtj img.phy-jc2{
    margin-top: 10px;
    margin-left:35px;
}
.buy-physical-main ul li.sbtj div h2{
    line-height: 24px;
}
.buy-physical-main ul li.sbtj div h2 b{
    margin-left: 1px;
    font-family:applelh !important;
}
.buy-physical-main ul li div a{
    display: inline-block;
    padding-left: 5px;
    padding-right:30px;
    height: 30px;
    background: #257bd0 url("../images/btn-sj.png") no-repeat;
    font-size: 14px;
    line-height: 30px;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 10px;
}
.buy-physical-main ul li div a img{
    display: inline-block;
    margin-left: 10px;
    margin-top: 7px;
    margin-right:7px;

}
.buy-physical-main ul li.hqbg div a{
    background-position:128px 7px;
    margin-top: 10px;

}

.buy-physical-main ul li.sbtj div a{

    background-position:146px 7px;

}

.buy-step{
    width: 100%;
    height: 890px;
    background: #ffffff;
}

.buy-step-main{
    width: 1000px;
    margin: auto;
    overflow: hidden;
}
.buy-step-main h3{
    margin-top: 70px;
    text-align: center;
    color: #333333;
    font-size: 36px;
    font-weight: normal;

}
.buy-step-main h3 img{
    display: inline-block;
    margin-bottom: -15px;
}
.buy-step-main h3 b{
    color: #fc7d28;
}

.buyStep-bg{
    width: 928px;
    height: 240px;
    background: url("../images/buy-setp.png") no-repeat top center;
    position: relative;
    margin: auto;
    margin-top:75px;

}
.buyStep-bg li{
    position: absolute;
    width: 190px;
}
.buyStep-bg h5{
    font-size: 26px;
    color: #ffffff;
    text-align: center;
}
.buyStep-bg  span{
    display:block;
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
    margin-top:5px;
}

.sub-demand{
    width: 940px;
    height: 250px;
    margin-top: 30px;
    background: #edf2ee;
    border-radius: 5px;
    position: relative;
}
.sub-demand img.deman-icn{
    position: absolute;
    top:-20px;
    left:125px;
}
.sub-demand div.fl{
    width: 275px;
    height: 250px;
    background: url("../images/demand-pel.jpg")  no-repeat bottom center;
    float: left;
    magrin-left: 40px;
    margin-left: 40px;
}
.sub-demand div.fl h4{
    font-size: 24px;
    color: #444444;
    margin-top: 40px;
    text-align: center;
    font-weight: normal;
}
.sub-demand div.fl img{
    display: block;
    margin: auto;
    margin-top: 15px;
}
.sub-demand div.rg{
    width: 545px;
    float: left;
    margin-left: 55px;
}
.sub-demand div.rg textarea{
    width: 525px;
    height: 72px;
    background: #FFF none repeat scroll 0% 0%;
    color: #333;
    font-size: 12px;
    font-family: "å®‹ä½“";

    border: medium none;
    margin-top: 35px;
    line-height: 20px;
    padding: 8px;
}

.sub-demand div.rg input{
    width: 542px;
    height:30px;
    line-height: 30px;
    text-indent: 15px;
    background: #ffffff;
    color: #333;
    font-size: 12px;
    font-family: "å®‹ä½“";
    border: none;
    margin-top: 10px;
}
.sub-demand div.rg a{
    display: block;
    width: 107px;
    height: 35px;
    line-height:35px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background: #257bd0;
    border: none;
    border-radius: 5px;
    margin-top:25px;

}
.brand-cust{
    width: 100%;
    height: 900px;
    background: #85c0e9;
    overflow:hidden;
}
.brand-cust-main{
    width: 1070px;
    height: 695px;
    margin: auto;
    position: relative;
}
.brand-cust-main h3{
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    font-weight: normal;
    margin-top: 70px;
}
.brand-cust-main img.cust-pel{
    position: absolute;
    bottom: -105px;
    left:0px;
}

.brand-cust-btm{
    width: 100%;
    height: 204px;
    background: #ceebff;
}
.brand-cust-main ul{
    width: 655px;
    height: 438px;
    background: #94ccf3;
    float: right;
    margin-top: 65px;
    border-radius: 5px;
    padding-top:3px;
    padding-left: 5px;
}
.brand-cust-main ul li{
    width: 208px;
    height: 207px;
    background: #eaf7fe;
    border-radius: 3px;
    overflow: hidden;
    float: left;
    margin-left:7px;
    margin-top: 7px;

}
.brand-cust-main ul li.cover{
    position: relative;
}
.second-mess{

    background: #eaf7fe;
    overflow: hidden;
    position: absolute;
    top:0px;
    left: 0px;
    display: none;
}
.second-mess p{
    font-size: 14px;
    line-height: 24px;
    color:#257bd0;
    margin-top: 25px;
    padding-left: 35px;
    padding-right: 35px;

}

.brand-cust-main ul li.cover:hover .second-mess{
    width: 208px;
    height: 207px;
    cursor: pointer;
    display:block;
    animation:second-mess  1s linear-;

}

.brand-cust-main ul li h1{
    font-size: 24px;
    color: #257bd0;
    margin-top:45px;
    text-align: center;
}
.brand-cust-main ul li h2{
    font-size: 24px;
    color: #257bd0;
    font-weight: normal;
    margin-top:0px;
    text-align: center;
}
.brand-cust-main ul li a{
    display: block;
    width:110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 25px auto 0px;
    background: #f68032;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
}


.brand-cust-main ul li.platf-check{
    width: 422px !important;
    height: 208px !important;

}
.brand-cust-main ul li.platf-check h1{
    margin-top: 30px !important;
}
.brand-cust-main ul li.platf-check h2{
    margin-top: 0px !important;
}

.brand-cust-main ul li.platf-check p{
    color: #999999;
    font-size: 14px;
    font-family: "å®‹ä½“";
    text-align: center;
    margin-top: 15px;
}

.trading-platform{
    width: 100%;
    height: 900px;
    background:#ffffff;
    overflow: hidden;
}

.trading-platform-main{
    width: 1100px;
    margin: auto;
    position: relative;
}

.trading-platform-main img.trad-img{
    display: block;
    margin: auto;
    margin-top: 5px;
}

.trading-platform-main a{
    display: block;
    width: 260px;
    height: 80px;
    position: absolute;
    top: 235px;
    right: 395px;
}

.trading-platform-main h3{
    font-size: 36px;
    text-align: center;
    margin-top: 75px;
    font-weight: normal;
}
.trading-platform-main h3 b{
    color:#fc7d28;
}

.trading-system{
    width: 100%;
    height: 900px;
    overflow: hidden;
    background: #85c0e9;
}

.trading-system-main{
    width: 1080px;
    margin: auto;
}
.trading-system-main h3{
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    margin-top: 45px;
    /* font-family: "宋体"; */
}
.trading-system-main h6{
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    margin-top: 5px;
}
.trading-system-main h6 span{
    color: #fc7d28;
}
.trading-system-main img.system-pic{
    display: block;
    margin: 65px auto 0px;
}





.yzc-bottom{
    width: 100%;
    background: #ffffff;
    overflow: hidden;
}

.yzc-bottom-main{
    width: 1254px;
    height: 205px;
    margin: auto;

}
.yzc-bottom-main div.fl{
    width:485px;
    margin-left: 125px;

}
.yzc-bottom-main div.rg{
    width:505px;

}
.yzc-bottom-main div h4{
    padding-right:100px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 18px;
    color: #666666;
    padding-bottom: 10px;
    margin-top: 10px;

}
.yzc-bottom-main div h4 img{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: -10px;
    margin-top: 25px;
}
.yzc-bottom-main div ul{

    margin-top: 15px;
    margin-left: 25px;
}
.yzc-bottom-main div ul li{
    width:49%;
    list-style-type: disc;
    float: left;
    margin-top: 10px;
}
.yzc-bottom-main div ul li a{
    color: #666666;
    font-size: 13px;
}

.yzc-bottom-mess{
    width: 100%;
    height: 144px;
    background: #e9e9e9;
    text-align: center;
    color: #888888;
    font-size: 12px;
    line-height: 26px;
    overflow: hidden;
}
.yzc-bottom-mess p{
    margin-top:10px;
}
.yzc-bottom-mess a{
    display: inline-block;
    margin-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    color: #888888;
}

.mj-dt:hover .mj-dd{
    display: block!important;
}
































