html,body,menu,ul,ol,li,p,div,form,h1,h2,h3,h4,h5,h6,dl,dt,dd,input,select,option{padding:0;margin:0;}
ul,ol{list-style: none outside none; }
body {font-size:14px;font-family:"微软雅黑"; background:#fff; color:#555;}
a{text-decoration:none;}
img {border:none; }
.fl {float:left; }
.fr {float:right; }
/*img{width: 100%; height: auto;display: block;}*/


/*--------Ã¦Â Â·Ã¥Â¼ÂÃ©â€¡ÂÃ§Â½Â®Ã§Â»â€œÃ¦ÂÅ¸--------*/

.sb-gmban1{
    width: 100%;
    height:819px;
    background: url("../images/sb-ban1.png") no-repeat center top;
    overflow: hidden;
}

.logo-loss{
    width:1180px;
    margin: auto;
    margin-top:45px;
    text-align: center;

}
.logo-loss .loss-frist{
    font-size:56px;
    color: #569dee;
}
.logo-loss .loss-frist b{
    display: inline-block;
    margin-left:10px;
    margin-right:16px;
    font-size: 94px;
    font-weight: bold;
}
.logo-loss .loss-frist label{
    font-size: 34px;
    color: #666666;
}
.logo-loss .loss-frist a{
    color: #569dee;
}
.logo-loss .loss-second{
    color: #666666;
    font-size:27px;
    margin-top: 5px;

}
.logo-loss .loss-second span{
    font-size:22px;
    color: #ffffff;
    background: #569dee;
    padding: 6px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius: 5px;
    margin-right: 5px;

}
.sb-gmban2{
    width: 100%;
    height: 1034px;
    background: url("../images/sb-ban2.png") no-repeat top center;
    overflow: hidden;
}
.logo-health{
    /*position: absolute;*/
    /*left: 16%;*/
    /*top:25px;*/
    text-align: center;

}

.logo-health p{
    font-size: 40px;
    color: #ffffff;
    margin-top:55px;
}
.logo-health p b{
    font-size: 50px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 5px;
}
.logo-health label{
    display: block;
    font-size: 19px;
    color: #ffffff;
    margin-top: 15px;
}
.logo-health a{
    display: inline-block;
    font-size: 1rem;
    padding: 12px 55px;
    color: #77aded;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top:785px; ;

}

.sb-gmban3{
    width: 100%;
    height: 770px;
    background: url("../images/sb-ban3.jpg") no-repeat bottom center;
    overflow: hidden;
}

.tree-step{
    width: 1187px;
    margin: auto;
    text-align: center;
}
.tree-step h3{
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    margin-top:75px;
}
.tree-step h3 span{
    color: #4a99f5;
}
.tree-step label{
    display: inline-block;
    margin-top: 15px;
    font-size: 17px;
    color: #777777;
}

.go-setp{
    margin-top:50px;
}

.go-setp p.step-ms{
    color: #4a99f5;
    font-size: 24px;
    overflow: hidden;

}
.go-setp p.step-ms span{
    display:block;
    float: left;
    margin-left: 165px;
    margin-top: 15px;
}
.go-setp p.step-ms span.step-ms1{
    margin-left:190px;
}

.go-setp p.step-ms span.step-ms2{
    line-height: 14px;

}
.go-setp p.step-ms span.step-ms2 label{
    color: #4a99f5;
    font-size: 16px;
}
.buy-sure{
    width: 1060px;
    border: 1px solid #d1d4d9;
    margin: auto;
    background: #ffffff;
    padding-top: 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px #d8dde5;
    margin-top:58px;
    position: relative;
}
.buy-sure img.jt{
    position: absolute;
    top: -27px;
    left: 165px;
}
.buy-sure ul{
    overflow: hidden;
    padding: 20px;
}
.buy-sure ul li{
    border-radius: 3px;
    float: left;
    margin-left: 65px;
}
.buy-sure ul li label{
    display: block;
    margin-top: 3px;
    font-size: 14px;
    color: #ff5555;
    text-align: left;
    text-indent: 2px;

}
.buy-sure ul li.spec-req textarea{
    background: url("../images/tj-icn.png") no-repeat 16px 13px;
    border: 1px solid #d7e4f3;
    width: 387px;
    height:43px;
    line-height: 43px;
    color: #a9bed7;
    font-size: 12px;
    text-indent: 55px;
    border-radius:5px;
    transition:all 1s;
}
.cgkug{
    color:#333 !important;
    padding-bottom: 65px !important;
    transition:all 1s;
}
.buy-sure ul li.contact{
    width: 440px;
}
.buy-sure ul li.contact label{
  text-indent: 44px;
}
.buy-sure ul li.contact span{
    color: #666666;
    font-size: 14px;
}
.buy-sure ul li.contact input{
    width: 198px;
    height: 43px;
    border: 1px solid #d7e4f3;
    border-radius: 3px;
    background: url("../images/phone-ic.png") no-repeat 10px 11px;
    text-indent: 30px;
}
.buy-sure ul li.contact a{
    display: block;
    width: 170px;
    height: 45px;
    background: url("../images/tj-btn.png") no-repeat center top;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    float: right;
    cursor: pointer;
}
.buy-sure ul li.contact a:hover{
    background:#57ACF7;
    border-radius: 5px;
}
.buy-sure p{
    width: 895px;
    margin:0px auto 40px;
    text-align: center;
    color: #fc775d;
    font-size: 15px;
    margin-top:5px;
    margin-bottom:35px;
    border-top:1px solid #e9eef3;
    padding-top: 20px;

}

.sb-gmban4{
    width: 100%;
    height: 651px;
    background: url("../images/sb-ban4.png") no-repeat top center;
}

.logo-customs{
    width: 1190px;
    margin: auto;
    overflow: hidden;

}
.logo-customs h3{
    color: #ffffff;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    margin-top:85px;

}

.logo-customs h6{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
    font-weight: normal;
}
.logo-customs ul{
    overflow: hidden;
    margin: auto;
    margin-top:70px;
    width:1190px;

}
.logo-customs ul li{
    width:190px ;
    height: 230px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    margin-left:60px;
}
.logo-customs ul li.fist{
    margin-left: 0px;
}
.logo-customs ul li img{
    display: block;
    margin: auto;
    margin-top: 35px;
}

.logo-customs ul li p{
    font-size: 14px;
    color: #4a99f5;
    text-align: center;
    margin-top: 12px;
}
.logo-customs ul li p.jc-time{
    line-height: 24px;
    margin-top: 20px;
}
.logo-customs ul li a{
    display: block;
    width: 120px;
    text-align: center;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #ffffff;
    margin: auto;
    margin-top: 20px;
    background: #6aa7ed;
}
.logo-customs ul li a:hover{
    background: #f3846c;
}

.logo-thorough-main{
    overflow: hidden;

}
.logo-thorough{
    display: inline-block;
    background-color: #ffffff;
    border-radius: 3px;
    position: relative;
    /*padding: 35px 80px 35px 35px;*/
    margin-top: 45px;
    /*margin-left: 532px;*/
}
.assess{
    width: 424px;
    height: 103px;
    margin-left: 532px;
    display: none;
}
.assess p{
    padding-top: 15px;
    padding-left:25px;
}
.judge{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 760px;
    padding-right: 10px;
    display: none;
}
.judge h5{
    color: #418de5;
    font-size: 14px;
    padding-left: 15px;
}
.judge p{
    overflow:hidden;
    margin-top: 15px;
}
.judge p a{
    color: #5ea0ed;
    display: inline-block;
    margin-left: 18px;
    font-size: 14px;
}
.judge p a img{

    margin-right: 5px;
}
.logo-thorough{
    margin-top: 25px;
}
.logo-thorough p{
    color: #5ea0ed;
    font-size: 14px;
    line-height: 26px;
}

.logo-thorough p li{
    display: inline-block;
    color:#5ea0ed;
}

.logo-thorough p span{
    color: #fc775d;
    font-size: 14px;
}

.logo-thorough img.jt-1{
    position: absolute;
    top:-7px;
    left: 45px;
}

.sb-gmban5{
    width: 100%;
    height:836px;
    background:#ffffff url("../images/yzc-bg.jpg")  no-repeat  right top;
    overflow: hidden;
}
.sb-gmban5 h3{
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    color: #555555;
    margin-top:80px;
}
.sb-gmban5 ul{
    width: 1000px;
    overflow: hidden;
    margin: auto;
    margin-top:70px;
}
.sb-gmban5 ul li{
    width: 190px;
    height: 120px;
    float: left;
    margin-left:85px;
    position: relative;
}
.sb-gmban5 ul li p{
    position: absolute;
    right: 0px;
    top:0px;
    color: #428fe8;
    font-size: 16px;
}

.sb-gmban5 ul li p b{
    font-size: 40px;
    font-weight: bolder;
}
.sb-gmban5 ul li.zssb{
    width: 153px;
    height: 116px;
    background: url("../images/plat-1.jpg") no-repeat left bottom;
    margin-left:65px;
}
.sb-gmban5 ul li.xzsb{
    width: 211px;
    height: 106px;
    background: url("../images/plat-2.jpg") no-repeat left bottom;
}
.sb-gmban5 ul li.bzy{
    width:318px;
    height: 116px;
    background: url("../images/plat-3.jpg") no-repeat left bottom;
}

.yzc-jj{
    width: 1180px;
    height: 460px;
    position: relative;
    margin-top: 45px;
    margin-left:3%;
    background: url("../images/yzc.jpg")  no-repeat left bottom;

}

.yzc-jj div{
    position: absolute;
    color: #777777;
    font-size: 16px;
    right: 15px;
    top:185px;

}

.yzc-jj div p{
    margin-top: 12px;
}

.yzc-jj div p span{
    display: inline-block;
    width:4px;
    height:4px;
    background: #999999;
    margin-right: 12px;
}
.sb-gmban6{
    width: 100%;
    height:910px;
    background:#f9f9f9  url("../images/sb-ban6.jpg") no-repeat bottom center;
    overflow: hidden;
}
.sb-gmban6 h3{
    font-size: 40px;
    color: #555555;
    font-weight: 400;
    text-align: center;
    margin-top:70px;
}
.sb-gmban6 h6{
    text-align: center;
    color: #888888;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top:15px;
}
.yzc-trading{
    width:1100px;
    margin: auto;
    margin-top:60px;
    overflow: hidden;
}

.trading-sys{
    width: 510px;
    height: 596px;
    float: left;
}

.trading-sys h2{
    text-align:left;
    font-weight: normal;
    color: #4a99f5;
    font-size: 28px;
}

.trading-sys ul{
    width: 501px;
    height: 533px;
    background:url("../images/jytx.png") no-repeat top left;
    margin-top:30px;
    font-family: "微软雅黑";
    position: relative;
}

.trading-sys ul li{
    width: 208px;
    height:90px ;
    text-align: center;
    color: #74acec;
    font-size: 14px;
    /*float: left;*/
    line-height:14px;
    position: absolute;
}
.trading-sys ul li p{
    color: #555555;
    font-size: 19px;
    font-family: "微软雅黑";
    margin-top: 15px;
    text-align: center;
}
.trading-sys ul li  label{
    display: inline-block;
    text-align:left;
    margin-top:0px;
    line-height: 20px;
    margin-left:30px;
}
.yzc-trading img.vs{
    float: left;
    margin-left: 25px;
    margin-top: 105px;
}

.tradi-model{
    width: 211px;
    height: 591px;
    background: url("../images/jytx-1.png") no-repeat bottom center;
    float: right;
}
.tradi-model h4{
    font-size: 28px;
    font-weight: 400;
    color: #999999;
    text-align: center;
}
.tradi-model ul li{
    text-align: center;
    color: #666666;
    font-size: 19px;
    margin-top:75px;

}
.tradi-model ul li label{
    color: #999999;
    font-size: 14px;
}
.sb-bottom{
    width: 100%;
    background: #5f98d9;
    overflow: hidden;
}

.sb-bottom-main{
    width: 1180px;
    margin: auto;
    overflow: hidden;
    margin-top:55px;
}

.sb-bottom-main ul{
    overflow: hidden;
    border-bottom: 1px solid #72a7e5;
    padding-bottom: 25px;
}

.sb-bottom-main ul li{
    width: 350px;
    height: 220px;
    border-left: 1px dashed #FFF;
    float: left;
    padding-left: 42px;
}
.sb-bottom-main ul li h3{
    font-size: 26px;
    color: #ffffff;
    margin-top: 8px;
    font-weight: normal;
}

.sb-bottom-main ul li.link p{
    overflow: hidden;
    margin-top: 15px;

}
.sb-bottom-main ul li.link p a{
    color: #ffffff;
    font-size: 14px;
    line-height: 28px;


}
.sb-bottom-main ul li.link p a:hover{
    text-decoration: underline;
}
.sb-bottom-main ul li.contact-us div{
    overflow: hidden;

}

.sb-bottom-main ul li.contact-us div label{
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    margin-top: 15px;
}
.sb-bottom-main ul li.contact-us div label b{
    color: #ffffff;
    font-size: 22px;

}
.sb-bottom-main ul li.contact-us div a.zx-btn{
    display: block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-indent: 45px;
    background: #ffffff url("../images/bt-pl.png") no-repeat 15px 9px;
    border-radius: 5px;
    color: #5897df;
    font-size: 14px;
    margin-top: 8px;

}
.sb-bottom-main ul li.contact-us div p{
    overflow: hidden;
    margin-top: 10px;
}

.sb-bottom-main ul li.contact-us div p a{
    display: inline-block;
    margin-left: 5px;
}
.sb-bottom-main ul li.contact-us div p img{
    width: 38px;
    height: 38px;
}

.sb-bottom-mess{
    overflow: hidden;
    padding-bottom: 45px;
    padding-top: 25px;
    text-align: center;
}
.sb-bottom-mess p{
    margin-top: 12px;
}

.sb-bottom-mess p a{
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    margin-left: 45px;
}
.sb-bottom-mess label{
    display: inline-block;
    color:#bcdafc;
    font-size: 12px;
    margin-top: 15px;
}




















