<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>zhuanti/css/style.css"/>
<link rel="stylesheet" href="<?=StaticDir?>style/mg-buySell.css"/>
<input type="hidden" name="sid" id="sid"  />
<input type="hidden" name="area" id="area" />
<div class="sb-gmban1">
    <!--<img src="images/sb-ban1.png">-->
    <!--商标购买损失-->
    <div class="logo-loss">
        <p class="loss-frist"><label>商标购买损失-<a>24</a>小时</label><b>100%</b>全额赔付</p>
        <p class="loss-second"><b>购买商标再无风险:</b>国内商标购买唯一 <span>独立签订《100%风险赔付协议》</span>平台</p>
    </div>
</div>
<!--购买之前体检-->
<div class="sb-gmban2">
    <!--<img src="images/sb-ban2.png">-->
    <!---->
    <div class="logo-health">
        <p>购买之前先<b>体检</b>-买的商标更安全</p>
        <label><span>心里有底-不被忽悠:</span>避免购买低质商标不能正常使用,建议你<b>购买商标前先做商标体检</b></label>
        <a href="http://jingling.yizhchan.com/"> 检测想买的商标</a>
    </div>
</div>
<!--购买步骤-->
<div class="sb-gmban3">
    <div class="tree-step">
        <h3>上午看中,下午就用 -<span>简单3步</span>解决购买商标急用烦恼</h3>
        <label>签约立即对外使用，无需再等8-10个月转让流程</label>
        <div class="go-setp">
            <img src="<?=StaticDir?>zhuanti/images/go-setp.png">
            <p class="step-ms">
                <span class="step-ms1">1.确定购买意向</span>
                <span class="step-ms2">2.双方签订 <br/><label>《商标独占许可使用协议》</label></span>
                <span class="step-ms3">3.立即使用</span>
            </p>
            <div class="buy-sure">
                <img src="<?=StaticDir?>zhuanti/images/jt.png" class="jt">
				
				<form method="post" >
                       <ul>
                           <li class="spec-req">
                               <textarea  name="content" id="buyNeed">对商标的特殊要求  如：25类鞋子</textarea>
							    <label style="display:none;" class="error" id="buyNeedTip">请填写购买需求</label>
                           </li>
						   <li class="contact">
                               <div>
                                   <input type="tel"  id="buyMoblie"  placeholder="留下电话方便卖家联系" />
                                   <a href="javascript:void(0)" id="subBuy" class="aubbtn">填写商标购买需求</a>
                               </div>
                               <label style="display:none;" class="error" id="buyMoblieTip">手机号不能为空</label>
                           </li>
                       </ul>
                </form>
                <p>确定你商标购买意向后一只蝉督促卖方与买方签订《商标独占许可使用协议》，签完立即对外使用，无需再等8-10个月的转让流程</p>
            </div>
        </div>
    </div>
</div>
<!--把好关卡-->
<div class="sb-gmban4">
    <div class="logo-customs">
        <h3>把好商标安全关卡，才能守护整个商标生命</h3>
        <h6>一只蝉商标购买平台帮你解决：</h6>
        <ul>
            <li class="fist">
                <img src="<?=StaticDir?>zhuanti/images/step-1.png">
                <p>商标核心背景调查</p>
                <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165" target="_blank">帮我调查</a>
            </li>
            <li>
                <img src="<?=StaticDir?>zhuanti/images/step-2.png">
                <p>核实转让公证真伪</p>
                <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165" target="_blank">帮我核实</a>
            </li>
            <li id="two1" class="two1" >
                <img src="<?=StaticDir?>zhuanti/images/step-3.png">
                <p>商标出售价格评估</p>
                <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165" target="_blank" >我要深入评估</a>
            </li>
            <li id="two2" class="two2">
                <img src="<?=StaticDir?>zhuanti/images/step-4.png">
                <p>判断购买商标平台入驻</p>
                <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165" target="_blank">帮我判断</a>
            </li>

            <li class="jc">
                <img src="<?=StaticDir?>zhuanti/images/step-5.png">
                <p class="jc-time">
                    10年独家<br/>
                    商标安全监测
                </p>

            </li>
        </ul>
        <div class="logo-thorough-main">
            <div class="logo-thorough assess" id="con_two_1">
                <img src="<?=StaticDir?>zhuanti/images/jt-1.png" class="jt-1" >
                <p>与专业资产评估机构深入合作，杜绝卖家漫天要价<br/>
                   <span>让你买的放心，不花冤枉钱</span>
                </p>
            </div>
            <div class="logo-thorough judge"  id="con_two_2">
                <img src="<?=StaticDir?>zhuanti/images/jt-1.png" class="jt-1">
                <h5>近10家主流电商平台及大型超市协作，判断购买商标平台入驻<br/> </h5>
                 <p>
                     <a><img src="<?=StaticDir?>zhuanti/images/block.jpg">京东</a> <a><img src="<?=StaticDir?>zhuanti/images/block.jpg">天猫</a> <a><img src="<?=StaticDir?>zhuanti/images/block.jpg">亚马逊</a>
                     <a><img src="<?=StaticDir?>zhuanti/images/block.jpg">1号店</a> <a><img src="<?=StaticDir?>zhuanti/images/block.jpg">美丽说</a><br/>
                     <a><img src="<?=StaticDir?>zhuanti/images/block.jpg">聚美优品</a>
                     <a><img src="<?=StaticDir?>zhuanti/images/block.jpg">大型商超</a>
                 </p>

            </div>
        </div>
    </div>
</div>


<!--资源最多的交易平台-->
<div class="sb-gmban5">
    <h3>一只蝉：商标购买行业出售资源最多的交易平台</h3>
    <ul>
        <li class="zssb">

            <p>
                <b>30</b>万在售商标
            </p>
        </li>
        <li class="xzsb">

            <p>
                <b>180</b>余万闲置商标
            </p>
        </li>
        <li class="bzy">

            <p>
                资源高其他平台<b>15</b>倍
            </p>
        </li>
    </ul>
    <div class="yzc-jj">
        <div>
            <p><span></span>21种商标筛选方法</p><br/>
            <p><span></span>30多家机构合作</p><br/>
            <p><span></span>13年商标代理资源</p><br/>
        </div>
    </div>
</div>
<!--一只蝉:快速买到放心商标-->
<div class="sb-gmban6">
    <h3>一只蝉:快速买到放心商标</h3>
    <h6>颠覆20年商标购买标准流程，建立独家购买保障体系，让购买商标放心使用</h6>
    <div class="yzc-trading">
        <div class="trading-sys">
             <h2>一只蝉交易体系</h2>
            <ul>
                <li style="top:12px;left: 0px;">
                    <p>1.独家商标风险报告</p><br/>
                    保障商标质量安全
                </li>
                <li style="top:12px;right: 40px;">
                    <p><span style="color: #4a99f5">19项</span>价格预评估</p><br/>
                    杜绝漫天要价
                </li>
                <li style="top:165px;right:40px;">
                   <p> 3.购买需求匹配</p>
                </li>
                <li style="top:142px;left: 0px;">
                    <p>4.签定转让协议</p><br/>
                    <label>
                        签独立《100%赔付协议》<br/> 立即获得“独占使用许可”
                    </label>
                </li>
                <li style="top:300px;right:45px;">
                    <p>6.当天上报转让手续</p><br/>
                    ( 集团强硬规章制度保障)
                </li>
                <li style="top:290px;left:-12px;">
                    <p>5.转让公证<span class="ssh"><img src="<?=StaticDir?>zhuanti/images/ssh.png"></span></p><br/>
                    <label>
                        双线双审核：一只蝉公司与<br/>政府同时审核2次
                    </label>

                </li>
                <li style="top:445px;right:40px;">
                    <p>7.转让成功</p><br/>
                    终身免费监测
                </li>
            </ul>
        </div>
        <img src="<?=StaticDir?>zhuanti/images/vs.png"  class="vs">
        <div class="tradi-model">
            <ul>
                <h4>传统模式</h4>
                <li style="margin-top:75px;">1.购买需求匹配</li>
                <li style="margin-top:90px;">2.签订转让协议</li>
                <li style="margin-top:85px;">
                    3. 三方公证<br/>
                    <label>可能出现虚假、欺骗危险</label>
                </li>
                <li>
                    4. 转让手续办理<br/>
                    <label>快则7天，慢则30天内</label>
                </li>

            </ul>
        </div>
    </div>
</div>
<!--底部-->
<div class="sb-bottom">
    <div class="sb-bottom-main">
        <ul>
            <li class="link">
               <h3>购买商标帮助/注意事项</h3>
                <p>
                    <a href="http://www.yizhchan.com/faq/views/?id=806&act=cfdt&c=45" target="_blank">购买商标需要准备的资料</a><br/>
                    <a href="http://www.yizhchan.com/faq/views/?id=807&act=cfdt&c=45" target="_blank">注册商标转让的详细流程</a><br/>
                    <a href="http://www.yizhchan.com/faq/views/?id=808&act=cfdt&c=45" target="_blank">商标交易需注意的5大风险 </a><br/>
                    <a href="http://www.yizhchan.com/faq/views/?id=816&act=cfdt&c=45" target="_blank">签订商标购买协议需警惕4大陷阱</a><br/>
                    <a href="http://www.yizhchan.com/faq/views/?id=809&act=cfdt&c=45" target="_blank">商标转让的费用有哪些？</a><br/>

                </p>
            </li>
            <li class="link">
                <h3>一只蝉平台帮助</h3>
                <p>
                    <a href="http://www.yizhchan.com/faq/views/?id=810&act=cfdt&c=45" target="_blank">购买后，怎么才能尽快使用上商标？</a><br/>
                    <a href="http://www.yizhchan.com/faq/views/?id=811&act=cfdt&c=45" target="_blank">付款后，卖家不转让或跑了怎么办？</a><br/>
                    <a href="http://www.yizhchan.com/faq/views/?id=812&act=cfdt&c=45" target="_blank">怎么判断卖家商标公证书的真伪？</a><br/>
                    <a href="http://www.yizhchan.com/faq/views/?id=813&act=cfdt&c=45" target="_blank">怎么识别卖家是否冒充商标持有人？</a><br/>
                    <a href="http://www.yizhchan.com/faq/views/?id=814&act=cfdt&c=45" target="_blank">购买的商标不能正常使用怎么办？</a><br/>

                </p>
            </li>
            <li class="contact-us">
                <h3>联系我们</h3>
                <div>
                    <label>全国免费热线：<b>4006-929-199</b></label><br/>
                     <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165" class="zx-btn" target="_blank">在线咨询</a><br/>
                     <p>
                         <a href="http://weibo.com/bjchofn" target="_blank"><img src="<?=StaticDir?>zhuanti/images/bt-ic1.png"></a>
                         <a href="javascript:void(0)" class="weixin">
                             <img src="<?=StaticDir?>zhuanti/images/bt-ic2.png">
                             <span class="xs-weixin">
                                 <img src="<?=StaticDir?>zhuanti/images/weixin.jpg">
                             </span>

                         </a>
                         <a href="http://p.qiao.baidu.com//im/index?siteid=7918603&ucid=1268165" target="_blank"><img src="<?=StaticDir?>zhuanti/images/bt-ic3.png"></a>
                         <a href="http://p.qiao.baidu.com//im/index?siteid=7918603&ucid=1268165" target="_blank"><img src="<?=StaticDir?>zhuanti/images/bt-ic4.png"></a>
                     </p>
                </div>
            </li>
        </ul>
        <div class="sb-bottom-mess">
            <p>
                <a href="/" style="margin-left: 0px;">关于一只蝉</a>
                <a href="http://g.chaofan.wang/ " target="_blank">商标检索</a>
                <a href="http://www.yizhchan.com/faq/process/ " target="_blank">交易流程 </a>
                <a href="http://www.yizhchan.com/faq/protocol/ " target="_blank">服务协议</a>
                <a href="http://www.yizhchan.com/faq/rule/" target="_blank">电商入驻</a>
                <a href="http://www.yizhchan.com/faq/news/?c=50" target="_blank">商标新闻</a>
                <a href="http://www.yizhchan.com/faq/question/ " target="_blank">常见问题</a>
            </p>
            <label>ICP证：蜀ICP备15035613号-1 违法和不良信息举报电话: 028-110 Copyright © 2002 - 2015 北京超凡知识产权代理有限公司</label>
        </div>
    </div>
</div>
<!--求购已提交弹出层-->
<div class="mj-boughtM" id="mj-submitteS">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>恭喜，求购提交成功</h2>
            <p>请保持电话畅通，10分钟内联系你。</p>
            <a href="<?=MANAGER_URL?>buyer/ready/" class="mj-boBtn1">点击此处查看！</a>
        </div>
    </div>
</div>
<!--求购已提交失败弹出层-->
<div class="mj-boughtM" id="mj-submitteF">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h2 style="color:#ff6600">求购提交失败，请稍后重试！</h2>
            <p>可能因为网络问题或其他原因导致</p>
            <a href="javascript:;" class="mj-boBtn1" id="closeFailed">点此处关闭！</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="<?=StaticDir?>zhuanti/js/common.js"></script>
<script type="text/javascript">
    var _isLogin = "<?=$isLogin?>";
    var _mobile  = "<?=$userMobile?>";
    var orequire=document.getElementById("buyNeed");
    orequire.onfocus=function()
    {
        if(this.value == '对商标的特殊要求  如：25类鞋子'){
            this.value = ''
        }
        this.className = 'cgkug';
    }
    orequire.onblur=function()
    {
        if(this.value ==''){
            this.value = '对商标的特殊要求  如：25类鞋子'
        }
        this.className = '';
    }


    var otwo1=document.getElementById("two1");
    var otwo2=document.getElementById("two2");

    otwo1.onmouseover=function()
    {
        document.getElementById("con_two_1").style.display="block";
    }
    otwo1.onmouseout=function()
    {
        document.getElementById("con_two_1").style.display="none";
    }
    otwo2.onmouseover=function()
    {
        document.getElementById("con_two_2").style.display="block";
    }
    otwo2.onmouseout=function()
    {
        document.getElementById("con_two_2").style.display="none";
    }

</script>
</body>
</html>