<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>zhuanti/css/import-comm.css"/>
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>zhuanti/css/list.css" />
<div class="w1180">
    <div class="zj-ban">
        <?php if(!empty($topic['banner'])) {?><img src="<?php echo TRADE_URL.$topic['banner']?>"/><? }?>
    </div>
    <div class="yzc-ztname">
        <div class="yzc-zttit">
            <span>
                <label> <img src="<?=StaticDir?>zhuanti/images/xq-ico.png"><?=date('Y-m-d', $topic['date'])?></label>
            </span>
        </div>
        <div class="yzc-ztlishow">
            <ul>
                <? foreach($topicItems as $v){?>
                <li>
                    <div class="front" style="width: 188px;">
                        <span>
                            <a href="/d-<?=$v['sale']['tid']?>-<?=$v['sale']['class']?>.html" ><img src="<?=$v['tminfo']['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" width="145" height="89"></a>
                        </span>
                        <p>
                           <font> <?=$v['name']?> <?=$v['sale']['class']?>类</font>
                            <?=$v['sale']['group']?>
                        </p>
                    </div>
                    <div class="reverse">
                       <dt>
                            <a class="cl-red">特</a>
                            <a class="cl-org">精</a>
                        </dt>
                        <span>
                            <a href="/d-<?=$v['sale']['tid']?>-<?=$v['sale']['class']?>.html" ><img src="<?=$v['tminfo']['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" width="145" height="89"></a>
                        </span>
                        <p>
                            <font> <?=mbSub($v['name'],0,9);?> <?=$v['sale']['class']?>类</font>
                            <?=$v['sale']['group']?>
                        </p>
                        <label>
                            <a href="javascript:goLook();" class="first cl-red">
                                <img src="<?=StaticDir?>zhuanti/images/catebuy1.png"/>
                                询 价
                            </a>
                            <a href="http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165" target="_blank" class="sec cl-org">
                                <img src="<?=StaticDir?>zhuanti/images/cate-ck.png"/>
                                联系卖家
                            </a>
                        </label>
                    </div>
                </li>
                <?}?>
            </ul>
        </div>

    </div>
    <div class="ztlist w1180">
        <h3 class="ztlist-tit">更多精彩</h3>
        <ul>
            <li>
            <?php foreach($list as $k=>$v){
            if(($k+1)%2!=0){
            ?>
                <div class="fl">
                <span>
                    <a href="/zhuanti/view/?id=<?=$v['id']?>" target="blank"><img src="<?=TRADE_URL.$v['pic']?>"  width="553" height="221"></a>
                </span>
                    <dl>
                        <dt>
                        <h4><?=$v['title']?></h4>
                        <label><?=date('Y-m-d', $v['date'])?></label>
                        </dt>
                        <dd>
                            <a href="/zhuanti/view/?id=<?=$v['id']?>" target="blank"><img src="<?=StaticDir?>zhuanti/images/list-ss.png"></a>
                        </dd>
                    </dl>
                </div>
            <? }else{?>
                <div class="fr">
                <span>
                     <a href="/zhuanti/view/?id=<?=$v['id']?>" target="blank"><img src="<?=TRADE_URL.$v['pic']?>"></a>
                </span>
                    <dl>
                        <dt>
                        <h4><?=$v['title']?></h4>
                        <label><?=date('Y-m-d', $v['date'])?></label>
                        </dt>
                        <dd>
                            <a href="/zhuanti/view/?id=<?=$v['id']?>" target="blank"><img src="<?=StaticDir?>zhuanti/images/list-ss.png"></a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li>
            <? } }?>
        </li>

        </ul>
    </div>
</div>


<? require(ViewDir.'/footer.html'); ?>
<script>
function goLook()
{
    getLogin(_viewTitle);
}
</script>