<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>style/mj-productsdetail.css"/>
<link rel="stylesheet" href="<?=StaticDir?>style/mj-clindquickly.css"/>
<script src="<?=StaticDir?>script/layer/layer.js"></script>
<script src="<?=StaticDir?>script/backcallandtongji.js"></script>
<!--content start-->

<div class="mj-content_top">
    <div class="w1180 f-clearfix">
        <div class="mj-cTleft fl">
            <div class="mj-cTl_img">
                <span><img src="<?php if($detail['bzpic']){echo  $detail['bzpic']; }elseif($detail['imgurl']){echo  $detail['imgurl']; }else{echo "/Static/images/img1.png";}?>" alt=""/></span>
                <p class="mj-tip">
				<?if ($detail['isOffprice'] == true){?><label class="mj-tThe" title="特价产品">特</label><?}?>
                <?if ($detail['isBest'] == true){?><label class="mj-tJing" title="精品推荐">精</label><?}?>
                <?if ($detail['isLicence'] == true){?><label class="mj-tShow" title="授权租用">授</label><?}?>
                <?if ($detail['isApprove'] == true){?><label class="mj-tZheng" title="认证通过">认</label><?};?>
                </p>
            </div>
            <p class="mj-cTl_imgText f-clearfix">
                <!--<span><i class="us-icon uj_icon28"></i>收藏商标，关注价格变化</span>
                <!--<span class="fr"><i class="us-icon uj_icon29"></i>分享</span>-->
            </p>
        </div>
        <div class="mj-cTright">
            <ul class="mj-cTr_top">
                <li>
                    <b><?=$data['name']?></b>
                    <span class="mj-cTr_top_r"><em class="us-icon ul-icon1"></em><span><?=$detail['status']?></span></span>
                </li>
				<?php if($detail['valueAnalysis']){ echo "<li>".$detail['valueAnalysis']."</li>";} ?>
                
                <li class="mj-libs">
                    此商标可入驻：
					<?php
					foreach($platformIn as $key => $val){
						$cur = "";
						if($key == '99'){
							unset($platformIn[$key]);
							echo "<a href='javascript:;' class='cur' >".$val."</a>"; 
						}
						if($platform || $data['date']){
							if($key && in_array($key,$platform)){
								unset($platformIn[$key]);
								echo "<a href='javascript:;' class='cur' >".$val."</a>"; 
							}
						}else{
							foreach($platformItems[$key] as  $item){
								if(($item && $data['class'] == $item)){
									unset($platformIn[$key]);
									echo "<a href='javascript:;' class='cur' >".$val."</a>"; 
									break;
								}
							}	
						}
						
					}
					foreach($platformIn as $key => $val){
						echo "<a href='javascript:;'>".$val."</a>";
					}
					?>
                </li>
                <li class="mj-libs mj-liptb f-clearfix">
                    <span class="mj-liptb_t">交易风险核查：</span>

                    <!--状态一-->
                    <div class="mj-safety">
                        <i class="us-icon uj_icon32"></i>
                        <p>
                            经系统检验分析：<br/>
                            <span>安全系数99% -- 商标本身无风险</span>
                        </p>
                    </div>
                    <!--状态二-->
                   <!-- <div class="mj-safety">
                        <i class="us-icon uj_icon33"></i>
                        <p>
                            经系统检验分析：<br/>
                            风险原因：
                            <em>你的人太丑</em>
                        </p>
                    </div>-->
                    <!--状态三-->
                    <!--<div class="mj-safety">
                        <i class="us-icon uj_icon34"></i>
                        <p>
                            <strong>风险系数90%,建议不要购买 </strong><br/>
                            风险原因：
                            <em>你的人太丑</em>
                        </p>
                    </div>-->
                </li>
            </ul>
            <ul class="mj-cTr_center">
                <li>
                    <span><label>注册号：</label><?=$data['number']?>（第<?=$data['class']?>类-<?=$data['classValue']?> ） </span>
                    <span><label>当前群组：</label><?=$data['group']?></span>
                </li>
                <li>
                    <span><label>商品列表：</label><?=$detail['goods']?></span>
                </li>
                <li>
                    <span class="mj-spanColorb"><label>申请人 :  </label><a href="javascript:;" ><?=$detail['proposer']?></a></span>
                </li>
            </ul>
            <div class="mj-cTr_bottom f-clearfix">
                <div class="mj-cTr_bLeft fl">
				<?php
				if(($data['salePrice'] > 0 && $data['salePriceDate'] == 0) ||  ($data['salePrice'] > 0 && $data['salePriceDate'] > time())){
				?>
					 <!--价格促销-->
					<div class="mj-priceTxtt">
                        <strong>
                            <em>￥</em>
                            <span><?=$data['salePrice']?></span>
                            <em>.00</em>
                            <b>&nbsp;元</b>
                        </strong>
                        <span>（原价：<b class="mj-priceTxtt_b"><?=$data['guideprice']?>.00</b> )</span>
                        <br /><label><?php if($data['salePriceDate'] > 0){echo date('Y-m-d H:i',$data['salePriceDate']);}else{echo "永久";} ?></label>有效<br />
						<?php
						if($baystate == 1){
							echo "<a href='".MANAGER_URL."buyer/ready/' class=\"mj-priceTxtt_link\">你已经购买过该商标</a>";
						}else{
							if($isLogin){
								echo "<a href='javascript:createOrder(".$data['id'].");' class=\"mj-priceTxtt_link\" id='addorder' >立即抢购</a>";
							}else{
								echo "<a href='javascript:getlogin();' class=\"mj-priceTxtt_link\">立即抢购</a>";
							}
						}
						?>
                        
                    </div>
				<?php
				}else{
					if($isLogin){//是否登录
						if($data['isBargain'] == 2){//商品定价方案为售价
				?>			
							<!--价格-->
							<div class="mj-priceTxtt">
								<strong>
									<em>￥</em>
									<span><?=$data['guideprice']?></span>
									<em>.00</em>
									<b>&nbsp;元</b>
								</strong>
								<p class="mj-priceTxtt_ie7"><b>温馨提示：</b>80%卖家标注都是弹性出售价格-有较大的商谈空间</p>
							</div>
				<?php	
						}else{//商品定价方案为义价
				?>
					<!--价格-->
							<div class="mj-priceTxtt">
								<strong>
									<em>￥</em>
									<span>议价</span>
									<em></em>
									<b>&nbsp;</b>
								</strong>
								<p class="mj-priceTxtt_ie7"><b>温馨提示：</b>卖家选择了议价方式，请联系卖家确定价格</p>
							</div>
							
				<?php
						}
					}else{
						echo "<div class=\"mj-pricebtn\"><a href='javascript:getlogin();'>查看价格</a></div>";
					}
				}
				?>
                </div>
                <div class="mj-cTr_bRight fr">
                    <dl>
                        <dd>
                            <i class="us-icon uj_icon2"></i><span>卖家：<em><?=$data['contact']?></em></span>
                            <a href="javascript:;" onclick="consultation()"><i class="us-icon uj_icon30"></i>在线咨询</a>
                        </dd>
                        <dd>
                            <i class="us-icon uj_icon31"></i>&nbsp;&nbsp;<span>电话：</span>
                            <label><?=substr($data['phone'],0,4).'****'.substr($data['phone'],-3);?></label>
                        </dd>
                        <dd class="mj-cTr_bRight_dd">
                            <input type="text" id="telInput2" value="<?=$userMobile?>" />
                            <label for="l-button">
                                <button type="submit" id="l-button">打给我</button>
                            </label>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mj-content_bottom">
    <div class="w1180">
        <div class="mj-content_bottom-title f-clearfix">
            <img src="<?=StaticDir?>style/img/l-1.png" class="img" />
            <span class="mj-content_bottom-title_dashed"></span>
            <div class="mj-content_bottom-title_item">
                <i class="us-icon ul-icon2"></i>
                <img src="<?=StaticDir?>style/img/l-2.png" alt=""/>
                <p>
                    <em>150</em>
                    <span>种风险核查</span>
                </p>
            </div>
            <div class="mj-content_bottom-title_item">
                <i class="us-icon ul-icon2"></i>
                <img src="<?=StaticDir?>style/img/l-3.png" alt=""/>
                <p>
                    <em>19</em>
                    <span>项价格评估标准</span>
                </p>
            </div>
            <div class="mj-content_bottom-title_item">
                <i class="us-icon ul-icon2"></i>
                <img src="<?=StaticDir?>style/img/l-4.png" alt=""/>
                <p>
                    <em>3300</em>
                    <span>万商品匹配</span>
                </p>
            </div>
            <div class="mj-content_bottom-title_item">
                <i class="us-icon ul-icon2"></i>
                <img src="<?=StaticDir?>style/img/l-5.png" alt=""/>
                <p>
                    <em>3</em>
                    <span>方赔付协议</span>
                </p>
            </div>
            <div class="mj-content_bottom-title_item">
                <i class="us-icon ul-icon2"></i>
                <img src="<?=StaticDir?>style/img/l-6.png" alt=""/>
                <p>
                    <em>100</em>
                    <span>%转让公证审核</span>
                </p>
            </div>
            <div class="mj-content_bottom-title_item last-item">
                <i class="us-icon ul-icon2"></i>
                <img src="<?=StaticDir?>style/img/l-7.png" alt=""/>
                <p>
                    <span>后期</span>
                    <em>10</em>
                    <span>年监测</span>
                </p>
            </div>
        </div>
		<?php if(!empty($detail['intro']) || !empty($detail['introTwo'])){?>
        <div class="mj-content_bottom-swtich f-clearfix">
            <div class="mj-content_bottom-swtich_tit">
                <span class="cur">商标介绍</span>
                <!--<span>您可能感兴趣的</span>-->
            </div>
            <div class="mj-content_bottom-swtich_content">
				
                <div class="edit">
				<?php
				
					$intro = str_replace("/Static/editor/attached/",TRADE_URL."/Static/editor/attached/",$detail['intro']);
					$introTwo = str_replace("/Static/editor/attached/",TRADE_URL."/Static/editor/attached/",$detail['introTwo']);
					echo $intro;
					echo $introTwo;
				?>
                </div>
                <div class="edit" style="display: none;">
                    2
                </div>
            </div>
        </div>
		<?php 
		}
		?>


		<div class="mj_mainText w1180">
			<h3>安全保障流程说明：</h3>
			<ul>
				<li>1. 商标风险核查：</li>
				<li>独家风险核查系统，有150种方法保障商标100%真实、有效，让你放心选择！</li>
			</ul>
			<ul>
				<li>2. 商标价格基础评估：</li>
				<li>专家团队为您量身定制19项价格评估体系，让你商标价值最大化</li>
			</ul>
			<ul>
				<li>3. 购买需求匹配：</li>
				<li>在线自助选购，10万真实标源，精准匹配买家需求，总有1枚商标合适你！</li>
			</ul>
			<ul>
				<li>4. 签定3方赔付协议-保障交易无损失：3方赔付协议、独占许可协议、商标转让协议</li>
				<li>签订的协议包括：独占许可协议、商标转让协议、3方赔付协议（独家签订赔付协议，不成功全额退款！）交易顾问督促公证，专业律师全程把关，确保所有交易文件合法有效！</li>
			</ul>
		</div>
        <div class="mj-content_bottom-inter">
            <div class="mj-content_bottom-inter_t f-clearfix">
                <span>或许您还对以下商标感兴趣</span>
                <a href="/search/index/?c=<?=$data['class']?>">查看更多>></a>
            </div>
            <div class="mj-imglists">
                <ul class="f-clearfix">
					<?php
						if($tj){
							foreach($tj['rows'] as $val){
					?>
					<li>
                        <a href="<?php echo $val['url']?>" class="mj-imglT">
                            <span><img src="<?php echo $val['imgurl']?>" alt="<?php echo $val['name']?>"></span>
                        </a>
                        <div class="mj-imglB"><?php echo $val['name']?> <?php echo $val['classes']?></div>
                    </li>
					<?php
							
							}
						}
					?>
                   
                </ul>
            </div>
        </div>
    </div>
</div>

<!--已购买过 拨打电话弹出层-->
<div class="mj-boughtM" id="bugphone">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLeft"><img src="<?=StaticDir?>style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h1 id="bugphoneTip">您已购买过该商品！</h1>
            <a href="<?=MANAGER_URL?>buyer/ready/" class="mj-boBtn1">点击此处查看！</a>
            <a href="javascript:callPhone($(this))" class="mj-boBtn2 callphone">继续拨打电话</a>
        </div>
    </div>
</div>
<!--提交错误或购买失败-->
<div class="mj-boughtM" id="mj-error">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLeft"><img src="<?=StaticDir?>style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h1 class="errorReason">您已购买过该商品！</h1>
            <a href="<?=MANAGER_URL?>buyer/ready/" class="mj-boBtn1">点击此处查看！</a>
        </div>
    </div>
</div>
<!--提交成功弹出层-->
<div class="mj-boughtM" id="mj-submitte">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>恭喜您，订单已提交！</h2>
            <p>请保持电话畅通，以便交易专员联系到您</p>
            <a href="<?=MANAGER_URL?>buyer/ready/" class="mj-boBtn1">点击此处查看！</a>
        </div>
    </div>
</div>

<!--未检测到对应的电话号弹出层-->
<div class="mj-boughtM" id="mj-submittel">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>就差一步了,请输入手机验证码</h2>
            <input type="text" id="buyMsgCode"/>
            <!--不能点击状态-->
            <!--<label class="mj-bconT mj-bclik">重新发送 60s</label>-->
            <!--可点击状态-->
            <label class="mj-bconT mj-clickable">发送验证码</label>
            <span class="mj-bcTips" style="display:none;">验证码错误，请验证后输入</span>
            <label class="mj-determineBtn">确定</label>
        </div>
    </div>
</div>
<script>
function consultation(){
	window.open("http://p.qiao.baidu.com/im/index?siteid=7666620&ucid=1268165");
}
</script>
<script src="<?=StaticDir?>script/order.js"></script>
<!--content end-->
<? require(ViewDir.'/footer.html'); ?>

<script>
var _isLogin = "<?=$isLogin?>";
var _mobile  = "<?=$userMobile?>";
var _saleid  = "<?=$data['id']?>";
var _tid     = "<?=$tid?>";
var baystate = "<?=$baystate?>";
var buyUrl   = "<?=MANAGER_URL?>buyer/ready/";

var JPlaceHolder = {
    //检测
    _check : function(){
        return 'placeholder' in document.createElement('input');
    },
    //初始化
    init : function(){
        if(!this._check()){
            this.fix();
        }
    },
    //修复
    fix : function(){
        jQuery(':input[placeholder]').each(function(index, element) {
            var self = $(this), txt = self.attr('placeholder');
            self.wrap($('<div></div>').css({position:'relative', zoom:'1', border:'none', background:'none', padding:'none', margin:'none',display:'inline-block'}));
            var pos = self.position(), h = self.outerHeight(true), paddingleft = self.css('padding-left');
            var holder = $('<span></span>').text(txt).css({position:'absolute', left:pos.left, top:'5px', height:h, lienHeight:h, paddingLeft:paddingleft, color:'#aaa'}).appendTo(self.parent());
            self.focusin(function(e) {
                holder.hide();
            }).focusout(function(e) {
                if(!self.val()){
                    holder.show();
                }
            });
            holder.click(function(e) {
                holder.hide();
                self.focus();
            });
        });
    }
};
//执行
jQuery(function(){
    JPlaceHolder.init();
});
</script>