<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../../../Static/1.2/css/import-comm.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="../../../Static/1.2/css/font-awesome.min.css?v=<?=$static_version?>">
    <!--新加的CSS-->
    <link rel="stylesheet" href="../../../Static/1.2/css/transfer.css">
    <script type="text/javascript" src="../../../Static/1.2/js/jquery-1.8.3.min.js?v=<?=$static_version?>"></script>
</head>
<body>
<div class="trans-top">
    <a class="fl" href="/"><img src="../../../Static/1.2/images/sell-lg.png"></a>
    <div class="top-nav fr">
        <p><i><img src="../../../Static/1.2/images/top-ico1.png"></i><a href="">出售者平台</a></p>
        <p><i><img src="../../../Static/1.2/images/top-ico2.png"></i><a href="">商标质量检测工具</a></p>
        <p><i><img src="../../../Static/1.2/images/top-ico3.png"></i><a href="">商品清单生成工具</a></p>
        <p><i><img src="../../../Static/1.2/images/top-ico4.png"></i><a href="">分享  </a></p>
        <p><i><img src="../../../Static/1.2/images/top-ico5.png"></i><a href="">收藏该清单</a></p>
    </div>
</div>
<div class="trans-comm-lx">
   <div class="comm-lx-cet">
       <h3>商品单<br/><font>Commodity list</font></h3>
       <label>我们为您准备了以下商标，期待您的回应！</label>
       <p>联系电话：<b>12387145614</b>在线QQ：<b>8812637</b></p>
   </div>
</div>
<div class="trans-brand-list f-clearfix">
    <ul class="f-clearfix">
        <li>
            <div class="br-details">
                <span class="tj-hot">推荐</span>
                <div class="pic-show">
                    <img src="../../../Static/1.2/images/trans-pic.jpg">
                </div>
                <div class="brand-ms">
                    <h3>大家好，我是商标名</h3>
                    <font>28类-健身器材  注册日期：2016-05-05</font>
                    <label class="xq-ms">游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积旋转木马;大积旋转木马;大积</label>
                </div>
                <p class="bar">
                    售价：<a><b>35000</b></a>元
                </p>
            </div>
        </li>
        <li>
            <div class="br-details">
                <span class="tj-hot">推荐</span>
                <div class="pic-show">
                    <img src="../../../Static/1.2/images/trans-pic.jpg">
                </div>
                <div class="brand-ms">
                    <h3>大家好，我是商标名</h3>
                    <font>28类-健身器材  注册日期：2016-05-05</font>
                    <label class="xq-ms">游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积旋转木马;大积旋转木马;大积</label>
                </div>
                <p class="bar">
                    售价：<a><b>35000</b></a>元
                </p>
            </div>
        </li>
        <li>
            <div class="br-details">
                <span class="tj-hot">推荐</span>
                <div class="pic-show">
                    <img src="../../../Static/1.2/images/trans-pic.jpg">
                </div>
                <div class="brand-ms">
                    <h3>大家好，我是商标名</h3>
                    <font>28类-健身器材  注册日期：2016-05-05</font>
                    <label class="xq-ms">游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积旋转木马;大积旋转木马;大积</label>
                </div>
                <p class="bar">
                    售价：<a><b>35000</b></a>元
                </p>
            </div>
        </li>
        <li>
            <div class="br-details">
                <span class="tj-hot">推荐</span>
                <div class="pic-show">
                    <img src="../../../Static/1.2/images/trans-pic.jpg">
                </div>
                <div class="brand-ms">
                    <h3>大家好，我是商标名</h3>
                    <font>28类-健身器材  注册日期：2016-05-05</font>
                    <label class="xq-ms">游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积旋转木马;大积旋转木马;大积</label>
                </div>
                <p class="bar">
                    售价：<a><b>35000</b></a>元
                </p>
            </div>
        </li>
        <li>
            <div class="br-details">
                <span class="tj-hot">推荐</span>
                <div class="pic-show">
                    <img src="../../../Static/1.2/images/trans-pic.jpg">
                </div>
                <div class="brand-ms">
                    <h3>大家好，我是商标名</h3>
                    <font>28类-健身器材  注册日期：2016-05-05</font>
                    <label class="xq-ms">游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积旋转木马;大积旋转木马;大积</label>
                </div>
                <p class="bar">
                    售价：<a><b>35000</b></a>元
                </p>
            </div>
        </li>
        <li>
            <div class="br-details">
                <span class="tj-hot">推荐</span>
                <div class="pic-show">
                    <img src="../../../Static/1.2/images/trans-pic.jpg">
                </div>
                <div class="brand-ms">
                    <h3>大家好，我是商标名</h3>
                    <font>28类-健身器材  注册日期：2016-05-05</font>
                    <label class="xq-ms">游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积游戏机;游乐场旋转木马;大积旋转木马;大积旋转木马;大积</label>
                </div>
                <p class="bar">
                    售价：<a><b>35000</b></a>元
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="trans-btm trans-btm2">
    <p>本功能由<a href="" class="csz"> 一只蝉出售者平台</a>提供 <a href="" class="btn">我想制作商品单</a></p>
    <label>ICP证：蜀ICP备15035613号-1 违法和不良信息举报电话: 028-110 Copyright © 2002 - 2016</label>
</div>
</body>
</html>