<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../Static/1.2/css/import-comm.css"/>
    <link rel="stylesheet" href="../../../Static/1.2/css/trade.css"/>
    <script type="text/javascript" src="../../../Static/1.2/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../../Static/1.2/js/jquery.SuperSlide.2.1.js"></script>
</head>
<body>
<div class="sel-bannerIimg">
    <div class="bd">
        <ul class="sel-banner-img">
            <li class="sel-banner-itme">
                <a href="" target="_blank" webid="1" addmsg="第1条" module="大图广告"><img src="../../../Static/1.2/images/sell-banner1.jpg" alt=""></a>
            </li>
            <li class="sel-banner-itme">
                <a href="/topic/ptline" target="_blank" webid="1" addmsg="第2条" module="大图广告"><img src="../../../Static/1.2/images/sell-banner1.jpg" alt=""></a>
            </li>
            <li class="sel-banner-itme">
                <a href="/topic/tm" target="_blank" webid="1" addmsg="第3条" module="大图广告"><img src="../../../Static/1.2/images/sell-banner1.jpg" alt=""></a>
            </li>
            <li class="sel-banner-itme">
                <a href="/topic/tmall_jd" target="_blank" webid="1" addmsg="第4条" module="大图广告"><img src="../../../Static/1.2/images/sell-banner1.jpg" alt=""></a>
            </li>
            <li class="sel-banner-itme">
                <a href="/topic/lesson_one" target="_blank" webid="1" addmsg="第5条" module="大图广告"><img src="../../../Static/1.2/images/sell-banner1.jpg" alt=""></a>
            </li>
        </ul>
    </div>
    <div class="hd">
        <ul class="f-clearfix">
            <li class="on"></li><li class=""></li><li class=""></li><li></li><li></li>
        </ul>
    </div>
</div>
<div class="w1180">
    <div class="sel-title">
        <span class="sel-title-main">淘实惠</span>
    </div>
    <div class="sell-bk1 f-clearfix">
        <ul class="sell-tang">
            <li>
                <span>
                     <img src="../../../Static/1.2/images/sell-cate1.png">
                </span>
                <div>
                    <h6>卖家急售</h6>
                    <label>价格一定很实惠</label>
                </div>
            </li>
            <li>
                <span>
                     <img src="../../../Static/1.2/images/sell-cate2.png">
                </span>
                <div>
                    <h6>即将续展</h6>
                    <label>续展期买标，更便宜</label>
                </div>
            </li>
            <li>
                <span>
                     <img src="../../../Static/1.2/images/sell-cate3.png">
                </span>
                <div>
                    <h6>商品小于5项</h6>
                    <label>商品虽少，够用就好</label>
                </div>
            </li>
            <li>
                <span>
                     <img src="../../../Static/1.2/images/sell-cate4.png">
                </span>
                <div>
                    <h6>多类转让</h6>
                    <label>多类打包更划算</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="sell-bk2 f-clearfix">
        <span class="sel-title-main">商标转让全类</span>
        <ul class="">
            <a href="javascript:;">
                <li>
                    <span class="s-clas1">

                    </span>
                        01-化工原料
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas2">

                    </span>
                    油漆涂料
                </li>
            </a>
            <a href="javascript:;">
                <li class="hot">
                    <span class="s-clas3">

                    </span>
                    化妆日化
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas4">

                    </span>
                    燃料油脂
                </li>
            </a>
            <a href="javascript:;">
                <li  class="hot">
                    <span class="s-clas5">

                    </span>
                    医药
                </li>
            </a>
            <a href="javascript:;">
                <li class="hot">
                    <span class="s-clas6">

                    </span>
                    五金金属
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas7">

                    </span>
                    机械电动
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas8">

                    </span>
                    手工器械
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas9">

                    </span>
                    科学仪器
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas10">

                    </span>
                    医疗器械
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas11">

                    </span>
                    家用电器
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas12">

                    </span>
                    运输工具
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas13">

                    </span>
                    军火烟火
                </li>
            </a>
            <a href="javascript:;">
                <li class="hot">
                    <span class="s-clas14">

                    </span>
                    珠宝钟表
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas15">

                    </span>
                    乐器
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas16">

                    </span>
                    办公用品
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas17">

                    </span>
                    橡胶制品
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas18">

                    </span>
                    皮革皮具
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas19">

                    </span>
                    建筑材料
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas20">

                    </span>
                    家具
                </li>
            </a>
            <a href="javascript:;">
                <li class="hot">
                    <span class="s-clas21">

                    </span>
                    洁具厨房
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas22">

                    </span>
                    绳网袋蓬
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas23">

                    </span>
                    绳网袋蓬
                </li>
            </a>
            <a href="javascript:;">
                <li class="hot">
                    <span class="s-clas24">

                    </span>
                    布料床单
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas25">

                    </span>
                    服装鞋帽
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas26">

                    </span>
                    纽扣拉链
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas27">

                    </span>
                    地毯席垫
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas28">

                    </span>
                    健身器材
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas29">

                    </span>
                    食品
                </li>
            </a>
            <a href="javascript:;">
                <li class="hot">
                    <span class="s-clas30">

                    </span>
                    方便食品
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas31">

                    </span>
                    饲料种籽
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas32">

                    </span>
                    啤酒饮料
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas33">

                    </span>
                    酒
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas34">

                    </span>
                    烟草烟具
                </li>
            </a>
            <a href="javascript:;">
                <li class="hot">
                    <span class="s-clas35">

                    </span>
                    广告销售
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas36">

                    </span>
                    金融物管
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas37">

                    </span>
                    建筑修理
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas38">

                    </span>
                    通讯传媒
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas39">

                    </span>
                    运输旅行
                </li>
            </a>
            <a href="javascript:;">
                <li class="hot">
                    <span class="s-clas40">

                    </span>
                    材料加工
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas41">

                    </span>
                    教育娱乐
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas42">

                    </span>
                    科学服务
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas43">

                    </span>
                    餐饮住宿
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas44">

                    </span>
                    医疗园艺
                </li>
            </a>
            <a href="javascript:;">
                <li>
                    <span class="s-clas45">

                    </span>
                    社会服务
                </li>
            </a>
        </ul>
    </div>
    <div class="sel-title">
        <span class="sel-title-main">精品特卖</span>
    </div>
    <div class="sell-bk3 f-clearfix">
        <ul class="Bout-spec">
            <li class="fl">
                <i>精品特卖</i>
               <span class="fl">
                    <img src="../../../Static/1.2/images/Bout-pic1.png">
               </span>
                <div class="fr">
                    <h4>凡美鸟 FANMNR </h4>
                    <label>(25类 服装鞋帽: 衣服)</label>
                    <label><font>￥<b>13200</b></font>元</label>
                    <label>离结束还有：<em>1星期 5天 13小时 42分 42秒</em></label>
                    <p class="end">
                        <a class="apply">我要报名 ></a>
                        <a class="inter"><em>XXX </em>人有兴趣</a>
                    </p>
                </div>
            </li>
            <li class="fr">
               <i>精品特卖</i>
               <span class="fl">
                    <img src="../../../Static/1.2/images/Bout-pic1.png">
               </span>
                <div class="fr">
                    <h4>凡美鸟 FANMNR </h4>
                    <label>(25类 服装鞋帽: 衣服)</label>
                    <label><font>￥<b>13200</b></font>元</label>
                    <label>离开始还有：<em>1星期 5天 13小时 42分 42秒</em></label>
                    <p class="start">
                        <a href="javascript:;" class="apply">我要报名 ></a>
                        <a href="javascript:;" class="inter">即将开始</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="sel-title">
        <span class="sel-title-main">天天低价</span>
    </div>
    <div class="sell-bk4 f-clearfix">
        <ul class="sel-low-price f-clearfix">
            <li>
                <div>
                    <img src="../../../Static/1.2/images/low-pri-pic.png">
                </div>
                <h4>凡美鸟 FANMNR </h4>
                <label>(25类 服装鞋帽: 衣服)</label>
                <p>价格<span>￥<b>13200</b></span>元</p>
                <a href="javascript:;" class="cont">联系卖家 ></a>
            </li>
            <li>
                <div>
                    <img src="../../../Static/1.2/images/low-pri-pic.png">
                </div>
                <h4>凡美鸟 FANMNR </h4>
                <label>(25类 服装鞋帽: 衣服)</label>
                <p>价格<span>￥<b>13200</b></span>元</p>
                <a href="javascript:;" class="cont">联系卖家 ></a>
            </li>
            <li>
                <div>
                    <img src="../../../Static/1.2/images/low-pri-pic.png">
                </div>
                <h4>凡美鸟 FANMNR </h4>
                <label>(25类 服装鞋帽: 衣服)</label>
                <p>价格<span>￥<b>13200</b></span>元</p>
                <a href="javascript:;" class="cont">联系卖家 ></a>
            </li>
            <li>
                <div>
                    <img src="../../../Static/1.2/images/low-pri-pic.png">
                </div>
                <h4>凡美鸟 FANMNR </h4>
                <label>(25类 服装鞋帽: 衣服)</label>
                <p>价格<span>￥<b>13200</b></span>元</p>
                <a href="javascript:;" class="cont">联系卖家 ></a>
            </li>
            <li>
                <div>
                    <img src="../../../Static/1.2/images/low-pri-pic.png">
                </div>
                <h4>凡美鸟 FANMNR </h4>
                <label>(25类 服装鞋帽: 衣服)</label>
                <p>价格<span>￥<b>13200</b></span>元</p>
                <a href="javascript:;" class="cont">联系卖家 ></a>
            </li>
            <li>
                <div>
                    <img src="../../../Static/1.2/images/low-pri-pic.png">
                </div>
                <h4>凡美鸟 FANMNR </h4>
                <label>(25类 服装鞋帽: 衣服)</label>
                <p>价格<span>￥<b>13200</b></span>元</p>
                <a href="javascript:;" class="cont">联系卖家 ></a>
            </li>
            <li>
                <div>
                    <img src="../../../Static/1.2/images/low-pri-pic.png">
                </div>
                <h4>凡美鸟 FANMNR </h4>
                <label>(25类 服装鞋帽: 衣服)</label>
                <p>价格<span>￥<b>13200</b></span>元</p>
                <a href="javascript:;" class="cont">联系卖家 ></a>
            </li>
            <li>
                <div>
                    <img src="../../../Static/1.2/images/low-pri-pic.png">
                </div>
                <h4>凡美鸟 FANMNR </h4>
                <label>(25类 服装鞋帽: 衣服)</label>
                <p>价格<span>￥<b>13200</b></span>元</p>
                <a href="javascript:;" class="cont">联系卖家 ></a>
            </li>
        </ul>
        <a href="javascript:;" class="sel-check-all">查看全部特价商品</a>
    </div>
</div>


<script type="text/javascript">
    jQuery(".sel-bannerIimg").slide({mainCell:".bd ul",autoPlay:true});
</script>
</body>
</html>