<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../Static/1.2/css/import-comm.css"/>
    <link rel="stylesheet" href="../../../Static/1.2/css/trade.css"/>
    <script type="text/javascript" src="../../../Static/1.2/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../../Static/1.2/js/jquery.SuperSlide.2.1.js"></script>
</head>
<body>
<div class="td-header">
   <div class="w1180">
       <div class="td-pack-tp">
           <p class="fl">
               <label class="ft1">特价商标</label>> <label class="ft2">打包出售</label>
           </p>
           <div class="pack-tp-rg fr">
               <a class="collect in_collect" webid="4" addmsg="爱森鸟" module="收藏商标"> <img src="../../../Static/1.2/images/sbxq-ico1.png"><span>收藏商标</span></a>
               <a href="javascript:;" class="jiathis jiathis_txt" addmsg="爱森鸟" module="分享"> <img src="../../../Static/1.2/images/sbxq-ico2.png">分享</a>
           </div>
       </div>
       <div class="td-pk-del">
           <h3>凡美鸟\FANMNR\三米夏天等8条商品 </h3>
           <p class="pk-sell"><span class="red"><font>打包出售</font>/bundling</span><span class="yew">注：该商品包不支持单独购买</span></p>
           <label class="pk-ms">Jomvox品牌起源澳大利亚，世界四大知名雪地靴品牌之一。该商标有极高的知名度，信息覆盖百度百科、新闻资讯等。用作做服装鞋帽产品，能吸引成功、优雅、自信的现代都市女性消费者的喜爱</label>
           <div class="pack-brand-show">

           <div class="multipleColumn" style="margin:0 auto">
               <div class="hd">
                   <ul></ul>
               </div>
               <div class="pack-brand-pic bd">
                   <div class="ulWrap">
                       <ul><!-- 把每次滚动的n个li放到1个ul里面 -->
                           <li>
                               <a href="javascript:;">
                                   <div class="pack-pic">
                                       <img src="../../../Static/1.2/images/brand-pic-ep.jpg">
                                   </div>
                               </a>
                               <div class="pack-brand-des">
                                   <h4>大家好，我是商标名</h4>
                                   <label>第28类 金属材料  </label>
                               </div>

                           </li>
                           <li>
                               <a href="javascript:;">
                                   <div class="pack-pic">
                                       <img src="../../../Static/1.2/images/brand-pic-ep.jpg">
                                   </div>
                               </a>
                               <div class="pack-brand-des">
                                   <h4>大家好，我是商标名</h4>
                                   <label>第28类 金属材料  </label>
                               </div>

                           </li>

                       </ul>

                       <ul><!-- 把每次滚动的n个li放到1个ul里面 -->
                           <li>
                               <a href="javascript:;">
                                   <div class="pack-pic">
                                       <img src="../../../Static/1.2/images/brand-pic-ep.jpg">
                                   </div>
                               </a>
                               <div class="pack-brand-des">
                                   <h4>大家好，我是商标名</h4>
                                   <label>第28类 金属材料  </label>
                               </div>

                           </li>
                           <li>
                               <a href="javascript:;">
                                   <div class="pack-pic">
                                       <img src="../../../Static/1.2/images/brand-pic-ep.jpg">
                                   </div>
                               </a>
                               <div class="pack-brand-des">
                                   <h4>大家好，我是商标名</h4>
                                   <label>第28类 金属材料  </label>
                               </div>

                           </li>

                       </ul>
                       <ul><!-- 把每次滚动的n个li放到1个ul里面 -->
                           <li>
                               <a href="javascript:;">
                                   <div class="pack-pic">
                                       <img src="../../../Static/1.2/images/brand-pic-ep.jpg">
                                   </div>
                               </a>
                               <div class="pack-brand-des">
                                   <h4>大家好，我是商标名</h4>
                                   <label>第28类 金属材料  </label>
                               </div>

                           </li>
                           <li>
                               <a href="javascript:;">
                                   <div class="pack-pic">
                                       <img src="../../../Static/1.2/images/brand-pic-ep.jpg">
                                   </div>
                               </a>
                               <div class="pack-brand-des">
                                   <h4>大家好，我是商标名</h4>
                                   <label>第28类 金属材料  </label>
                               </div>

                           </li>

                       </ul>
                       <ul><!-- 把每次滚动的n个li放到1个ul里面 -->
                           <li>
                               <a href="javascript:;">
                                   <div class="pack-pic">
                                       <img src="../../../Static/1.2/images/brand-pic-ep.jpg">
                                   </div>
                               </a>
                               <div class="pack-brand-des">
                                   <h4>大家好，我是商标名</h4>
                                   <label>第28类 金属材料  </label>
                               </div>

                           </li>
                           <li>
                               <a href="javascript:;">
                                   <div class="pack-pic">
                                       <img src="../../../Static/1.2/images/brand-pic-ep.jpg">
                                   </div>
                               </a>
                               <div class="pack-brand-des">
                                   <h4>大家好，我是商标名</h4>
                                   <label>第28类 金属材料  </label>
                               </div>

                           </li>

                       </ul>
                       <ul><!-- 把每次滚动的n个li放到1个ul里面 -->
                           <li>
                               <a href="javascript:;">
                                   <div class="pack-pic">
                                       <img src="../../../Static/1.2/images/brand-pic-ep.jpg">
                                   </div>
                               </a>
                               <div class="pack-brand-des">
                                   <h4>大家好，我是商标名</h4>
                                   <label>第28类 金属材料  </label>
                               </div>

                           </li>
                           <li>
                               <a href="javascript:;">
                                   <div class="pack-pic">
                                       <img src="../../../Static/1.2/images/brand-pic-ep.jpg">
                                   </div>
                               </a>
                               <div class="pack-brand-des">
                                   <h4>大家好，我是商标名</h4>
                                   <label>第28类 金属材料  </label>
                               </div>

                           </li>

                       </ul>
                       <ul><!-- 把每次滚动的n个li放到1个ul里面 -->
                           <li>
                               <a href="javascript:;">
                                   <div class="pack-pic">
                                       <img src="../../../Static/1.2/images/brand-pic-ep.jpg">
                                   </div>
                               </a>
                               <div class="pack-brand-des">
                                   <h4>大家好，我是商标名</h4>
                                   <label>第28类 金属材料  </label>
                               </div>

                           </li>
                           <li>
                               <a href="javascript:;">
                                   <div class="pack-pic">
                                       <img src="../../../Static/1.2/images/brand-pic-ep.jpg">
                                   </div>
                               </a>
                               <div class="pack-brand-des">
                                   <h4>大家好，我是商标名</h4>
                                   <label>第28类 金属材料  </label>
                               </div>

                           </li>

                       </ul>
                   </div><!-- ulWrap End -->
               </div><!-- bd End -->
           </div><!-- multipleColumn End -->

           <div class="pack-brand-del">
                   <div class="fl">
                       <p class="pri"><span>价格<label>￥<b>13200</b></label>元</span> 温馨提示：80%卖家标注都是弹性出售价格-有较大的商谈空间</p>
                       <p class="sale">
                           <a href="javascript:;"><img src="../../../Static/1.2/images/shop-ico.png">购买全部商标</a> 促销 <em>买一送一</em> <em>热门商标</em>
                       </p>
                   </div>
                   <div class="fr">
                       <p class="pro"><img src="../../../Static/1.2/images/pel-ico.png">申请人：沃优企业管理(上<a href="javascript:;">咨询TA</a></p>
                       <p class="pel"><img src="../../../Static/1.2/images/tel.png">电话：<b>15811137365</b></p>
                       <p class="dial"><input type="text" placeholder="输入手机号"/><a href="javascript:;">打给我</a></p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<script type="text/javascript">
    var othl=
            '<ul>'+
            '<li>'+
            '<a href="javascript:;">'+
            '<div class="pack-pic">'+
            '<img src="../../../Static/1.2/images/brand-pic-ep.jpg">'+
            '</div>'+
            '</a>'+
            '<div class="pack-brand-des">'+
            '<h4>大家好，我是商标名</h4>'+
            '<label>第28类 金属材料</label>'+
            '</div>'+
            '</li>'+
            '</ul>';
    var olth=$(".bd").find("li").length;
    $(document).ready(function(){
        if(olth>10){
            jQuery(".multipleColumn").slide({titCell:".hd ul",mainCell:".bd .ulWrap",autoPage:true,effect:"leftLoop",autoPlay:true,vis:5});
            $(".pack-brand-des").css({"display":"none"});
            $(".slideBox .hd").css({"display":"block"});
        }
        else{
            $(".multipleColumn .bd ul").css({"width":"auto"});
            $(".multipleColumn .bd").html(othl);
        }
    })

</script>
</body>
</html>