<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/list.css?v=<?=$static_version?>"/>
<div class="w1180 yzc-succeeal comSty">
       <div class="lb-tit"><h3>成功案例</h3></div>
       <div class="yzc-succeeal-main f-clearfix">
           <ul>
            <?php foreach($list as $k=>$v){ ?>
               <li>
               <span>
                   <img src="<?php echo TRADE_URL.$v['pic1']?>" alt="<?=$v['alt1']?>">
               </span>
                   <p class="tit"><font><?=$v['name']?> </font></p>
                   <div class="aL-over f-clearfix">
                       <p><font><?=$v['name']?></font></p>
                       <label>  
                          <b>“</b>
                           <?=mbSub($v['desc'],0,90);?>
                            <b>”</b>
                       </label>
                       <a href="/case/detail/?id=<?=$v['id']?>" target="blank">查看详情</a>
                   </div>
               </li>
               <? }?>
           </ul>
       </div>
       <div class="mj-pages">
           <?=$pageBar?>
       </div>
   </div>
<? require(ViewDir.'/footer.html'); ?>