<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/list.css?v=<?=$static_version?>"/>
<div class="w1180 f-clearfix">
    <p class="list-lj"><a href="/case/">成功案例</a>  > 电商案例</p>
    <div class="case-name f-clearfix">
        <h2><?=$caseInfo['title']?></h2>
        <div class="case-name-xq">
            <div class="case-name-share" style="left: 450px;">
               <span>分享到：</span>
               <a href="javascript:void(0);" class="jiathis_button_cqq"><img src="<?=StaticDir?>1.2/images/share-ico1.png"></a>
               <a href="javascript:void(0);" class="jiathis_button_tsina"><img src="<?=StaticDir?>1.2/images/share-wb.png"></a>
               <a href="javascript:void(0);" class="jiathis_button_weixin"><img src="<?=StaticDir?>1.2/images/share-wx.png"></a>
                <!-- JiaThis Button BEGIN -->
                <script type="text/javascript" >
                var jiathis_config={
                        title:"<?=$caseInfo['desc']?>",
                        summary:"",
                        shortUrl:false,
                        hideMore:false
                }
                </script>
                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                <!-- JiaThis Button END -->
            </div>
            <div class="case-xq-main">
                <dl class="case-xq-gy">
                    <dt>
                        <img src="<?php echo TRADE_URL.$caseInfo['pic1']?>" style="max-width: 850px" alt="<?=$caseInfo['alt1']?>" onerror="this.src='<?=StaticDir?>images/img1.png'">
                    </dt>
                    <dd>
                        <span class="fl">
                           <img src="<?=StaticDir?>1.2/images/alxq-gy.png">
                        </span>
                        <div class="fl">
                            <p><label>名称类别：</label><font><?=$caseInfo['name']?></font></p>
                            <p><label>适用范围：</label><font><?=$caseInfo['goods']?></font></p>
                            <p><label>购 &nbsp;买 人：</label><font><?=$caseInfo['buyer']?></font></p>
                            <p><label>服务顾问：</label><font><?=$caseInfo['adviser']?> <a href="javascript:void(0);" onclick="goChat()">联系我</a></font></p>
                        </div>
                    </dd>
                </dl>
                <dl class="case-xq-js">
                    <? if(!empty($caseInfo['pic2'])) {?>
                    <dt>
                        <img src="<?php echo TRADE_URL.$caseInfo['pic2']?>" style="max-width: 850px" alt="<?=$caseInfo['alt2']?>">
                    </dt>
                    <?}?>
                    <dd>
                        <span class="fl">
                           <img src="<?=StaticDir?>1.2/images/alxq-js.png">
                        </span>
                        <div class="fl">
                           <p>
                               <?=$caseInfo['desc']?>
                           </p>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="case-contact">
            <p>还有更多好听好记的商标，想了解吗？ 马上联系客服<a href="javascript:void(0);" onclick="goChat()"><img src="<?=StaticDir?>1.2/images/zx-ico.png">在线咨询</a></p>
        </div>
    </div>
    <div class="yzc-succeeal comSty">
        <h3 class="lb-tit" style="top:-15px;">成功案例</h3>
        <div class="yzc-succeeal-main f-clearfix">
            <ul>
            <?php foreach($list as $k=>$v){ ?>
               <li>
               <span>
                   <img src="<?php echo TRADE_URL.$v['pic1']?>" style="max-width:132px;height:87px " alt="<?=$v['alt1']?>">
               </span>
                   <p class="tit"><font><?=$v['name']?> </font></p>
                   <div class="aL-over f-clearfix">
                       <p><font><?=$v['name']?></font></p>
                       <label style="height:130px">  
                           <b>“</b>
                            <?=mbSub($v['desc'],0,90);?>
                            <b>”</b>
                       </label>
                        
                       <a href="/case/detail/?id=<?=$v['id']?>" target="blank">查看详情</a>
                   </div>
               </li>
               <? }?>
            </ul>
         </div>
    </div>
</div>
<? require(ViewDir.'/footer.html'); ?>