<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/list.css?v=<?=$static_version?>"/>
<div class="w1180 yzc-succeeal comSty">
       <div class="lb-tit"><h3>成功案例</h3></div>
       <div class="yzc-succeeal-main f-clearfix">
           <ul>
            <?php foreach($list as $k=>$v){ ?>
               <li>
               <span>
                   <img src="<?php echo TRADE_URL.$v['pic1']?>" alt="<?=$v['alt1']?>" onerror="this.src='<?=StaticDir?>images/img1.png'">
               </span>
                   <p class="tit"><font><?=$v['name']?> </font></p>
                   <div class="aL-over f-clearfix">
                       <p><font><?=$v['name']?></font></p>
                       <label>  
                          <b>“</b>
                           <?=mbSub($v['desc'],0,90);?>
                            <b>”</b>
                       </label>
                       <a href="/case/detail/?id=<?=$v['id']?>" target="blank" addmsg="01-查看详情" webid="1" module="案例列表模块第<?=$page?>页第<?=($k+1)?>条">查看详情</a>
                   </div>
               </li>
               <? }?>
           </ul>
       </div>
       <div class="mj-pages">
           <?=$pageBar?>
       </div>
   </div>
<script type="text/javascript">
    $('.yzc-succeeal-main li a').click(function(){
        var index = $(this).closest('li').index();
        setEvent('案例列表<?=$page?>-'+(index-0+1),'1查看详情');
    });
</script>
<? require(ViewDir.'/sidebar.html'); ?>
<? require(ViewDir.'/footer.html'); ?>