<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>style/normalize.css"/>
<link rel="stylesheet" href="<?=StaticDir?>style/mg-buySell.css"/>
<script src="<?=StaticDir?>script/layer/layer.js"></script>
	
<!--content start-->
<div class="g-mail">
	<div class="w1000">
		<div class="g-dar f-clearfix">
			<div class="g-title f-clearfix">
				<p class="g-title-p">
					<em>10 大 绝 招</em>
					<span>将你出售<b>商标价值提高</b></span>
				</p>
				<p class="g-title-p2">55<b>%</b></p>
			</div>
			<div class="g-title2 f-clearfix">
				<p>就算未匹配到合适买家?<b>你还能获得我们 -</b></p>
				<span>独 家 商 标 包 装 绝 招</span>
			</div>
			<div class="g-title3 f-clearfix">
				<p>而且-这些都是<b>免费的</b></p>
			</div>
		</div>

		<div class="g-bgnav f-clearfix">
			<div class="g-bgnav-title f-clearfix">
				<ul class="f-clearfix">
					<li class="g-long"></li>
					<li>商标出售登记表</li>
					<li class="g-long"></li>
				</ul>
				<p class="g-bgnav-p">免费获得10大价值包装绝招</p>
			</div>
			<form action="/sell/addsell/" id="addsell">
			<div class="g-bgnav-nav1 f-clearfix">
				<div class="ul-alert-warning">你的商标已经进入出售流程-运营人员与你联系确认后马上就能出售你的商标</div>
				<div class="g-bgnav-input1" id="j-bgnav">

					<div>
						<ul>
							<li class="g-int1">
								<input type="text" placeholder="商标号" name="number[]" class="input-number"/>
							</li>
							<li class="g-int2">
								<input type="text" placeholder="出售底价" name="price[]" class="input-price" />
								<i>元</i>
							</li>
							<li>
								<a href="javascript:void(0);" class="remove" style="display: none;">x&nbsp;删除商标</a>
							</li>
							<li class="">
								<a href="javascript:void(0);" class="add">+&nbsp;添加商标</a>
							</li>
						</ul>
						<span style="display:none;" class="mj-bgTips"><i class="us-icon uj_icon44"></i>未查询该商标信息，该商标可能处于盲区状态。如您确定该商标的真实性请忽略该提醒</span>       
						<table style="display:none;" >
							<tbody>
							<tr>
								<td class="g-td1">商标名称：</td>
								<td class="g-td2 sbname"></td>
								<td class="g-td1" colspan="2">商标图样：</td>
								<td class="g-td2 imgurl" colspan="2"></td>
							</tr>
							<tr>
								<td class="g-td1">申请人：</td>
								<td class="g-td2 proposer"></td>
							</tr>
							</tbody>
						</table>
					</div>


				</div>
			</div>
			<div class="g-bgnav-nav1 f-clearfix">
				<div class="g-bgnav-input1">
					<ul>
						<li class="g-int1 g-intp">
							<input type="text" placeholder="输入手机号码方便买家联系" name="phone" class="input-phone" />
						</li>
						<li class="g-int2">
							<input type="text" placeholder="你的姓氏" name="contact" />
						</li>
					</ul>
					<span style="display:none;" class="mj-bgTips"><i class="us-icon uj_icon44"></i>请您输入正确的联系电话</span>       
						
				</div>
				
			</div>
			<div class="g-bgnav-nav1 g-none f-clearfix">
				<a href="javascript:submitSell()" class="ms-bsSub g-bsb">马上出售</a>
			</div>
			</form>
		</div>
	</div>
</div>
<!--content end-->

<!--部分商标提交过弹出层-->
<div class="mj-boughtM" id="mj-submitte">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLeft"><img src="style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h1>您的商标已经进入出售流程</h1>
            <p>
                您共成功提交了<em class="allsell"> 5 </em>条商标信息<br/>
                运营人员与您确认后<br/>马上就能出售您的商标
            </p>
            <a href="" class="mj-boBtn1">点击此处查看我的商标</a>
        </div>
    </div>
</div>

<!--已提交过 / 全部提交过弹出层-->
<div class="mj-boughtM" id="mj-error">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLeft"><img src="style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h1>您的商标提交失败了</h1>
            <p class="errorReason">您曾经提交过该商标的报价信息。请在您的商标管<br/>家中进行修改</p>
            <a href="" class="mj-boBtn1">点击此处查看我的商标</a>
        </div>
    </div>
</div>
<script src="<?=StaticDir?>script/sell.js"></script>
<? require(ViewDir.'/footer.html'); ?>