.mj-dd{
    display: none;
}
.mj-dt:hover .mj-dd{
    display: block;
}


/*banner*/
.mj-banner {
    position: relative;
    height: 480px;
    overflow: hidden;
}
.hd {
    width:100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size:0;
    z-index:1;
}
.hd li{
    display: inline-block;
    margin-left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #517cc8;
}
.hd .on{
    background: #6197cd;
}
.mj-banner-img {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    z-index: 1;
}
.mj-banner-img .mj-banner-itme, .mj-banner-img .mj-banner-itme a {
    display: block;
    width: 100%!important;
    height: 590px;
}
.mj-banner-img .mj-banner-itme {
    float: left;
}

.mj-formW{
    position: relative;
}
.mj-from {
    position: absolute;
    z-index: 5;
    top: 75px;
    right: 0;
}
.mj-from input{
    border: none;
    outline: none;
}
.mj-from i{
    display: inline-block;
    vertical-align: middle;
}
.mj-from form {
    float: right;
    width: 298px;
    padding: 25px;
    background: #f0f1f7;
    box-shadow: 2px 2px 2px #cacaca;
    border-radius: 3px;
}
.mj-from-title {
    margin: 0 0 20px 0;
    padding: 0;
    position: relative;
    font-weight: normal;
}
.mj-eed{
    display: none;
}
.mj-errds{
    display: none;
}
.mj-from-title .ms-errorTips p {
    margin: 5px 0 0 0;
    padding: 0 30px;
    line-height: 28px;
    border: 1px solid #ffddb2;
    background: #fff7e1;
    color: #e80b05;
}
.mj-from-title .ms-errorTips p em{
    font-style: normal;
}
.mj-from-title p{
    font-size: 12px;
    color: #999;
    text-align: center;
}
.mj-from-title label {
    display: inline-block;
    width: 67px;
    height: 1px;
    background: #aeaeae;
    vertical-align: middle;
}
.mj-from-title span {
    padding: 0 10px;
    font-size: 18px;
    color: #37393e;
    vertical-align: middle;
}
/*.mj-form-wrapper {
    position: relative;
    height: 40px;
    background: #efeded;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 20px;
}*/
.mj-inpuV {
    line-height: 40px;
    color: #999;
    padding-left: 24px;
    font-size: 12px;
}
.mj-inputPi {
    position: absolute;
    left: 10px;
    top: 0;
}
.mj-form-wrapper input[type="text"] {
    position: absolute;
    height: 38px;
    line-height: 40px\9;
    padding: 0;
    width: 259px;
    background: url('');
    vertical-align: middle;
    z-index: 2;
    left: 34px;
}
.mj-form-wrapper i{
    position: absolute;
    left: 10px;
    top: 10px;
}
.mj_form_wrapper_input {
    position: relative;
    height: 38px;
    width: 78px;
    background: #fff;
    border-radius: 4px;
    border: solid 1px #ccc;
}
.mj_form_wrapper_input input {
    position: absolute;
    left: 0;
    width: 78px;
    height: 38px;
    border: none;
    border-radius: 4px;
    text-align: center;
    outline: medium;
    background: url('');
}

.w178 {
    width: 188px;
}
.mj-form-wrapper {
    position: relative;
    height: 40px;
    background: #fff;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 10px;
    border: solid 1px #ccc;
}
div.mj-fwH{
    height: 70px;
}
div.mj-fwH span{
    line-height: 70px;
}
div.mj-fwH input[type="text"]{
    height: 70px;
    line-height: 70px\9;
}

.mj-from-btn {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    background: #fc7d28;
    border-radius: 4px;
}
.mj-from-btn:hover{
    background: #EB6409;
}
.mj-from-txt {
    margin: 0 0 10px  0;
    line-height: 25px;
    text-align: center;
    color: #999;
    font-size: 12px;
}

/*buy content*/
.mj-buyCon{
    background: #f5f5f5;
    padding-top: 83px;
}
.mj_processList{
    background: #fff;
}
.mj_processList_con{
    position: relative;
}
.mj_processList_con ul{
    padding: 50px 28px 35px 30px;
}
.mj_processList_con li{
    float: left;
    margin: 0 2px 2px 0;
    padding-left: 10px;
    width: 210px;
    height: 42px;
    background: #ecf1fe;
    line-height: 42px;
    font-size: 14px;
    color: #436bb7;
    border-radius: 2px;
}
.mj_processList_con li label{
    display: inline-block;
    margin-right: 5px;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border: solid 1px #84a3e3;
    border-radius: 50%;
    vertical-align: middle;
}
.mj_processList_con li span{
    vertical-align: middle;
}
.mj_processList_con li span em{
    font-size: 12px;
    font-style: normal;
}
.mj-tipImg{
    position: absolute;
    left: 25px;
    top: -65px;
}

.mj_mainText{
    padding: 40px 0 100px;
}
.mj_mainText h3{
    padding: 0 0 0 47px;
    font-size: 22px;
    color: #555;
    font-weight: normal;
}
.mj_mainText ul{
    padding-left: 35px;
    margin: 24px 34px 0 12px;
    border-bottom: dashed 1px #cfcfcf;
}
.mj_mainText ul:last-child{
    border-bottom: none;
}
.mj_mainText li{
    padding-bottom: 22px;
    font-size: 14px;
    color: #555;
}



/*¼ì²âµç»°ºÅÂëµ¯³ö²ã*/
.mj-boughtM{
    display: none;
    position: relative;
    width: 483px;
    height: 235px;
    background: #fff;
    border: solid 1px #cfcfcf;
}
.mj-bcon{
    padding: 65px 0 0 60px;
}
.mj-bconLeft{
    display: inline-block;
    padding: 0 15px 0 38px;
    float: left;
    height: 85px;
}
.mj-bconLefts{
    display: inline-block;
    margin-right: 15px;
    float: left;
    height: 120px;
}
.mj-bconRight{}
.mj-bconRight h1{
    margin: 0;
    font-size: 22px;
    color: #ff6700;
    font-weight: normal;
}
.mj-bconRight h2{
    font-size: 22px;
    color: #444;
    font-weight: normal;
    padding-bottom: 10px\9;
}
.mj-bconRight a{
    display: inline-block;
    margin-top: 15px;
    width: 118px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    font-size: 12px;
    border-radius: 1px;
}
.mj-boBtn1{
    background: #fff;
    border: solid 1px #c3e1f9;
    color: #48aff1;
}
.mj-boBtn2{
    background: #fef4eb;
    border: solid 1px #e89160;
    color: #e89160;
}
.mj-bconRight p{
    margin-top: 18px;
    font-size: 12px;
    color: #888;
}
.mj-bconRight input{
    margin-top: 10px;
    padding-left: 5px;
    width: 141px;
    height: 38px;
    border: solid 1px #ccc;
    border-radius: 3px;
    outline: none;
    margin-top: 0\9;
    vertical-align: middle\9;
}
.mj-bconT{
    display: inline-block;
    width: 118px;
    height: 38px;
    font-size: 12px;
    color: #48aff1;
    text-align: center;
    line-height: 38px;
    border: solid 1px #c3e1f9;
    border-radius: 1px;
}
.mj-bclik{
    background: #fff;
}
.mj-clickable{
    background: #e2f4ff;
    cursor: pointer;
}
.mj-clickable:hover{
    background: #48aff1;
    color: #fff;
}
.mj-bcTips{
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #fc7d28;
}
.mj-determineBtn{
    display: inline-block;
    width: 107px;
    height: 40px;
    margin-top: 10px;
    background: #fc7d28;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.ms-errorTips{
    margin-bottom: 10px;
    text-align: center;
}

/* media */
@media (min-width: 1px) and (max-width: 1180px) {
    .mj-banner{
        width: 1180px;
        margin: 0 auto;
    }

}