.select_boxs {
    display: inline-block;
    width: 83px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #e9e9e9;
    padding-left: 15px;
    background: #fff url(slice/mj-icon7.png) no-repeat 80px center;
    position: relative;
}
div.select_boxW{
    width: 139px;
    background: #fff url(slice/mj-icon7.png) no-repeat 135px center;
}
.select_boxs span {
    cursor: pointer;
    display: block;
    padding-left: 0;
    width: 100%;
    color: #666;
    overflow: hidden;
}
.son_ul {
    padding-left: 0;
    width: 97px;
    position: absolute;
    left: 0;
    top: 36px;
    border: 1px solid #e9e9e9;
    background: #fff;
    z-index: 558;
}
ul.son_uls{
    width: 153px;
}
ul.son_uls li{
    width: 138px;
}
.select_boxs ul li {
    cursor: pointer;
}
.son_ul li {
    display: block;
    line-height: 30px;
    padding-left: 15px;
    color: #666;
    width: 82px;
}
.son_ul li:hover{
    background: #ff8b3e;
    color: #fff;
}
.mj_goods_check li label {
    display: inline-block;
    margin:-30px 10px 0 0;
    text-align: right;
    font-size: 12px;
    color: #666;
    vertical-align: middle;
}
.mj_goods_check li{
    margin-right: 15px;
}
.mj_goods_check li.mj-determine{
    padding: 0;
    width: 50px;
    height: 37px;
    line-height: 37px;
    background: #48aff1;
    border-radius: 3px;
}
.mj_goods_check li.mj-determine:hover{
    background: #268ACA;
}
.mj_goods_check li.mj-determine a{
    display:inline-block;
    width: 50px;
    height: 43px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.mj-navT{
    position: fixed;
    margin-top: 0!important;
    top: 0;
    z-index: 558;
    background-color: #fff;
    width: 100%;
    border-bottom: solid 1px #ccc;
}