.mj-dd{
    display: none;
}
.mj-dt:hover .mj-dd{
    display: block!important;
}
.mj-content{
    background: #f5f5f5;
    padding: 30px 0;
}

/*搜索样式 start*/
.mj-selection {
    margin-bottom: 20px;
    background: #fff;
    padding: 25px 10px 15px 35px;
    border-bottom: 1px solid #eeeeee;
}
.mj-selection dd {
    margin: 0;
    padding: 5px 0 0 0;
}
.mj-selection dd>span{

}
.mj-selection-span {
    float: left;
    line-height: 25px;
    color: #666666;
    font-size: 14px;
    width: 80px;
}
.mj-selection-list {
    padding-left: 80px;
}
.mj-selection-list a {
    display: block;
    float: left;
    padding: 0 10px;
    margin: 0 2px 5px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #666666;
    text-decoration: none;
    background: #ffffff;
}
.mj-selection-list .current, .mj-selection-list a:hover {
    background: #fc7d28;
    color: #ffffff;
}
/*搜索样式 end*/


/*图片列表 start*/
.mj_goods_check {
}
.mj-pu{
    padding: 10px 0;
}
.mj_goods_check li {
    float: left;
}

/*图片列表 end*/
.mj-imglists{
   /* overflow: hidden;*/
}
.mj-imglists ul{
    margin-right: -10px;
}
.mj-imglists li{
    float: left;
    position: relative;
    margin: 0 12px 10px 0;
    width: 184px;
    height: 190px;
    background: #fff;
    border: solid 1px #f0f0f0;
}

.mj-imglT {
    margin-top: 20px;
    display: table;
    height: 95px;
    line-height: 95px;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.mj-imglT span {
   /* display: table-cell;*/
    vertical-align: middle;
    display: inline-block;
    width: 186px;
}
.mj-imglT label img{
    max-width: 150px;
    max-height: 85px;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}
.mj-imglB{
    text-align: center;
    font-size: 12px;
}
.mj-imglB span{
    color: #999;
}
.mj-imglB p{
    color: #666;
}
.mj-imglB p em{
    margin-right: 5px;
    width: 94px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
}
.mj-imglB p label{
    vertical-align: middle;
}
.mj-tip{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 60;
}
.mj-tip label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    text-align: center;
    line-height: 20px;
    color: #FC7D28;
    font-size: 12px;
    border: solid 1px #FC7D28;
}
/*.mj-tThe {
    background: #ff6a6a;
}
.mj-tJing {
    background: #ff8b3e;
}
.mj-tZheng {
    background: #30ccc1;
}
.mj-tShow {
    background: #a0adc0;
}*/

.mj-priceI{
    display: none;
    position: absolute;
    top: -2px;
    left: 0;
    width: 184px;
    height: 245px;
    border: solid 1px #fe8f45;
    z-index: 55;
}
.mj-priceIcon{
    padding: 0 10px 0 35px;
    margin-top: 160px;
    height: 85px;
    background: #fff;
}

.mj-priceIcon p{
    float: left;
    width: 44px;
    padding-right: 20px;
    border: none;
}
.mj-priceIcon p a{
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    border-radius: 2px;
}
.mj-labelbch:hover .uj_icon13{
    background: url("slice/mj-icon15.png");
}
.mj-labelbch:hover .uj_icon14{
    background: url("slice/mj-icon16.png");
}
.mj-labelbch{
    background: #f4f4f4;
}
.mj-labelbch:hover{
    background: #fe8f45;
}
.mj-priceIcon i{
    display: inline-block;
    vertical-align: middle;
}
.mj-priceIcon span{
    padding: 10px 0 2px 0;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #fc7e2a;
}
.mj-imglists li>a{
    display: inline-block;
    width: 186px;
    height: 190px;
}
.mj-imglists li:hover{
    border: solid 1px #fc7e2a;
    border-bottom-color: #fff;
}
.mj-imglists li:hover .mj-priceI{
    display: block;
}
.mj-inputs{
    width: 65px;
    height: 18px;
    line-height: 18px;
    border: none;
    outline: none;
}
.mj-query{
    padding-bottom: 13px;
}
.mj-query span{
    font-size: 14px;
    color: #666;
}
.mj-query span em{
    color: #5b5150;
    font-style: normal;
}


.mj-imglists li:hover .mj-listButn{
    display: block;
}
.mj-listButn{
    display: none;
    position: relative;
    top: -2px;
    left: -1px;
    padding-bottom: 15px;
    width: 184px;
    background: #fff;
    border: solid 1px #fc7e2a;
    text-align: center;
    border-top: none;
    z-index: 61;
}
.mj-listButn a{
    display: inline-block;
    width: 100px;
    height: 35px;
    background: #4ba5de;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
}
.mj-listButn a:hover{
    background: #268ACA;
}
