.uj-icon1{
    width: 17px;
    height: 17px;
    background-image: url("slice/uj-icon1.png");
    margin-right: 8px;
}
.uj_icon1{
    width: 12px;
    height: 14px;
    background-image: url("slice/mj-icon1.png");
}
.uj_icon2{
    width: 18px;
    height: 18px;
    background-image: url("slice/mj-icon2.png");
}
.uj_icon3{
    width: 18px;
    height: 18px;
    background-image: url("slice/mj-icon3.png");
}
.uj_icon4{
    width: 23px;
    height: 22px;
    background-image: url("slice/mj-icon4.png");
}
.uj_icon4s{
    width: 23px;
    height: 22px;
    background-image: url("slice/mj-icon4s.png");
}
.uj_icon5{
    width: 28px;
    height: 21px;
    background-image: url("slice/mj-icon5.png");
}
.uj_icon6{
    width: 27px;
    height: 27px;
    background-image: url("slice/mj-icon6.png");
}
.uj_icon7{
    width: 9px;
    height: 5px;
    background-image: url("slice/mj-icon7.png");
}
.uj_icon8{
    width: 19px;
    height: 19px;
    background-image: url("slice/mj-icon8.png");
}
.uj_icon9{
    width: 20px;
    height: 14px;
    background-image: url("slice/mj-icon9.png");
    margin-right: 11px;
}
.uj_icon10{
    width: 5px;
    height: 9px;
    background-image: url("slice/mj-icon10.png");
    box-shadow: #fc7d28;
}
.uj_icon11{
    width: 49px;
    height: 53px;
    background-image: url("slice/mj-icon11.png");
}
.uj_icon12{
    width: 12px;
    height: 24px;
    background-image: url("slice/mj-icon12.png");
}
.uj_icon13{
    width: 16px;
    height: 19px;
    background-image: url("slice/mj-icon13.png");
}

.uj_icon14{
    width: 20px;
    height: 21px;
    background-image: url("slice/mj-icon14.png");
}
.us-icon14 {
    width: 23px;
    height: 21px;
    background-image: url("slice/icon14.png");
}
/*.uj_icon15{
    width: 16px;
    height: 19px;
    background-image: url("slice/mj-icon15.png");
}
.uj_icon16{
    width: 20px;
    height: 21px;
    background-image: url("slice/mj-icon16.png");
}*/
.uj_icon17{
    width: 15px;
    height: 15px;
    background-image: url("slice/mj-icon17.png");
}
.uj_icon18{
    width: 65px;
    height: 65px;
    background-image: url("slice/mj-icon18.png");
}
.uj_icon19{
    width: 65px;
    height: 65px;
    background-image: url("slice/mj-icon19.png");
}
.uj_icon20{
    width: 65px;
    height: 65px;
    background-image: url("slice/mj-icon20.png");
}
.uj_icon21{
    width: 65px;
    height: 65px;
    background-image: url("slice/mj-icon21.png");
}
.uj_icon22{
    width: 8px;
    height: 12px;
    background-image: url("slice/mj-icon22.png");
    margin-left: 3px;
}
.uj_icon22s{
    width: 8px;
    height: 12px;
    background-image: url("slice/mj-icon22s.png");
    margin-left: 3px;
}

.uj_icon27{
    width: 8px;
    height: 5px;
    background-image: url("slice/mj-icon27.png");
}
.uj_icon28{
    width: 16px;
    height: 14px;
    background-image: url("slice/mj-icon28.png");
}
.uj_icon29{
    width: 13px;
    height: 14px;
    background-image: url("slice/mj-icon29.png");
}
.uj_icon30{
    width: 18px;
    height: 18px;
    background-image: url("slice/mj-icon30.png");
    margin-right: 5px;
}
.uj_icon31{
    width: 13px;
    height: 20px;
    background-image: url("slice/mj-icon31.png");
    margin-right: 5px;
}
.uj_icon32{
    width: 62px;
    height: 62px;
    background-image: url("slice/mj-icon32.png");
}
.uj_icon33{
    width: 62px;
    height: 62px;
    background-image: url("slice/mj-icon33.png");
}
.uj_icon34{
    width: 62px;
    height: 62px;
    background-image: url("slice/mj-icon34.png");
}
.uj_icon36{
    width: 15px;
    height: 15px;
    background-image: url("slice/mj-icon36.png");
    margin-right: 5px;
}
.uj_icon37{
    width: 15px;
    height: 15px;
    background-image: url("slice/mj-icon37.png");
    margin-right: 5px;
}
.uj_icon38{
    width: 15px;
    height: 15px;
    background-image: url("slice/mj-icon38.png");
    margin-right: 5px;
}
.uj_icon39{
    width: 15px;
    height: 15px;
    background-image: url("slice/mj-icon39.png");
    margin-right: 5px;
}
.uj_icon40{
    width: 15px;
    height: 15px;
    background-image: url("slice/mj-icon40.png");
    margin-right: 5px;
}
.uj_icon41{
    width: 15px;
    height: 15px;
    background-image: url("slice/mj-icon41.png");
    margin-right: 5px;
}
.uj_icon42{
    width: 15px;
    height: 16px;
    background-image: url("slice/mj-icon42.png");
    margin-right: 5px;
}
.uj_icon43{
    width: 18px;
    height: 16px;
    background-image: url("slice/mj-icon43.png");
    margin-right: 5px;
}
.uj_icon44{
    width: 14px;
    height: 14px;
    background-image: url("slice/mj-icon44.png");
    margin-right: 10px;
}
.uj_icon45{
    width: 36px;
    height: 36px;
    background-image: url("slice/mj-icon45.png");
    margin-right: 10px;
}
.uj_icon46{
    width: 34px;
    height: 34px;
    background-image: url("slice/mj-icon46.png");
    margin-right: 10px;
}
.uj-icon4 {
    width: 18px;
    height: 17px;
    background-image: url("slice/icon4.png");
    margin-top: 5px;
}
.uj-icon5 {
    width: 13px;
    height: 20px;
    background-image: url("slice/icon5.png");
}
.us-icon6 {
    width: 25px;
    height: 25px;
    background-image: url("slice/icon6.png");
    margin-right: 10px;
}
.us-icon {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.ul-icon1{
    width: 16px;
    height: 16px;
    background-image: url("slice/ul-icon1.png");
}
.ul-icon2{
    width: 11px;
    height: 20px;
    background-image: url("slice/ul-icon2.png");
}
.us-icon19 {
    width: 17px;
    height: 17px;
    background-image: url("slice/icon19.png");
    margin: -3px 15px 0 0;
}
.us-icon15 {
    width: 19px;
    height: 17px;
    background-image: url("slice/icon15.png");
}
.us-iconmi{
    width: 14px;
    height: 18px;
    background-image: url("slice/mj-iconmi.png");
}