<? require(ViewDir.'/header.html'); ?>

<link rel="stylesheet" href="<?=StaticDir?>style/mj-buy.css"/>
<script src="<?=StaticDir?>script/jquery.SuperSlide.2.1.js"></script>
<script src="<?=StaticDir?>script/buy.js"></script>

<div class="mj-banner">
    <div class="w1180 mj-formW">
        <div class="mj-from">
            <form id="buyForm" action="/buy/add/">
                <div class="mj-from-title">
                    <label></label><span>商标购买快捷登记</span><label></label>
                    <p>线下专家10分钟为你快速匹配商标</p>
                </div>
                <div class="ms-errorTips mj-eed">
                    <p class="reg-tip"><i class="us-icon us-icon19"></i><em></em></p>
                </div>
                <div class="mj-form-wrapper mj-fwH">
                    <span class="mj-inpuV">对商标的特殊要求  如：25类鞋子</span>
                    <i class="us-icon uj-icon4" style="top: 24px;"></i>
                    <input type="text" id="mj-inputl" name="content"  maxlength="100">
                </div>
                <div class="mj_form_wpo f-clearfix">
                    <div class="mj-form-wrapper w178 fl">
                        <span class="mj-inpuV">留下电话方便卖家联系你</span>
                        <i class="us-icon uj-icon5"></i>
                        <input id="usrMp_popup" type="text" name="mobile" style="width: 166px;padding-left: 5px;">
                    </div>
                    <div class="mj_form_wrapper_input fr">
                        <span class="mj-inpuV" style="padding-left: 10px;">你的姓氏</span>
                        <input type="text" name="name" id="userName"  maxlength="8">
                    </div>
                </div>
                <p class="mj-from-txt">信息保密中，请放心填写</p>
                <a href="javascript:;" class="mj-from-btn">立即登记</a>
            </form>
        </div>
    </div>
    <div class="mj-bannerIimg">
        <ul class="mj-banner-img">
            <li class="mj-banner-itme" style="background: url(<?=StaticDir?>style/img/mj-banner7.jpg) center 0">
            </li>
            <li class="mj-banner-itme" style="background: url(<?=StaticDir?>style/img/mj-banner8.jpg) center 0">
            </li>
        </ul>
        <ul class="hd f-clearfix">
        <li></li>
        <li></li>
    </ul>
    </div>
</div>

<!--buy content start-->
<div class="mj-buyCon">
    <div class="mj_processList">
        <div class="w1180 mj_processList_con">
            <span class="mj-tipImg"><img src="<?=StaticDir?>style/img/1-2.png" alt=""/></span>
            <ul class="f-clearfix">
                <li>
                    <label>1</label>
                    <span>150种风险核查</span>
                </li>
                <li>
                    <label>2</label>
                    <span>19项价格评估标准</span>
                </li>
                <li>
                    <label>3</label>
                    <span>3300万商品匹配</span>
                </li>
                <li>
                    <label>4</label>
                    <span>3方赔付协议</span>
                </li>
                <li>
                    <label>5</label>
                    <span>100%转让公证审核</span>
                </li>
                <li>
                    <label>6</label>
                    <span>上报国家商标局</span>
                </li>
                <li>
                    <label>7</label>
                    <span>手续办理</span>
                </li>
                <li>
                    <label>8</label>
                    <span>获取<em>《商标转让受理通知书》</em></span>
                </li>
                <li>
                    <label>9</label>
                    <span>得核准转让证明及商标证</span>
                </li>
                <li>
                    <label>10</label>
                    <span>后期10年监测</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="mj_mainText w1180">
        <h3>安全保障流程说明：</h3>
        <ul>
            <li>1. 商标风险核查：</li>
            <li>独家风险核查系统，有150种方法保障商标100%真实、有效，让你放心选择！</li>
        </ul>
        <ul>
            <li>2. 商标价格基础评估：</li>
            <li>专家团队为您量身定制19项价格评估体系，让你商标价值最大化</li>
        </ul>
        <ul>
            <li>3. 购买需求匹配：</li>
            <li>在线自助选购，10万真实标源，精准匹配买家需求，总有1枚商标合适你！</li>
        </ul>
        <ul>
            <li>4. 签定3方赔付协议-保障交易无损失：3方赔付协议、独占许可协议、商标转让协议</li>
            <li>签订的协议包括：独占许可协议、商标转让协议、3方赔付协议（独家签订赔付协议，不成功全额退款！）交易顾问督促公证，专业律师全程把关，确保所有交易文件合法有效！</li>
        </ul>
    </div>
</div>
<!--buy content end-->

<!--未检测到对应的电话号弹出层-->
<div class="mj-boughtM" id="mj-submitte">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>就差一步了,请输入手机验证码</h2>
            <input type="text" id="buyMsgCode"/>
            <!--不能点击状态-->
            <!--<label class="mj-bconT mj-bclik">重新发送 60s</label>-->
            <!--可点击状态-->
            <label class="mj-bconT mj-clickable">发送验证码</label>
            <span class="mj-bcTips">验证码错误，请验证后输入</span>
            <label class="mj-determineBtn">确定</label>
        </div>
    </div>
</div>
<!--求购已提交弹出层-->
<div class="mj-boughtM" id="mj-submitteS">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-img6s.png" alt=""/></span>
        <div class="mj-bconRight">
            <h2>恭喜您，求购已提交！</h2>
            <p>请保持电话畅通，以便交易专员联系到您</p>
            <a href="<?=MANAGER_URL?>buyer/ready/" class="mj-boBtn1">点击此处查看！</a>
        </div>
    </div>
</div>
<!--求购已提交失败弹出层-->
<div class="mj-boughtM" id="mj-submitteF">
    <span class="ms-close mj-close"></span>
    <div class="mj-bcon f-clearfix">
        <span class="mj-bconLefts"><img src="<?=StaticDir?>style/img/mj-cimg.jpg" alt=""/></span>
        <div class="mj-bconRight">
            <h2 style="color:#ff6600">求购提交失败，请稍后重试！</h2>
            <p>可能因为网络问题或其他原因导致</p>
            <a href="javascript:;" class="mj-boBtn1" id="closeFailed">点此处关闭！</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    var _isLogin = "<?=$isLogin?>";
    var _mobile  = "<?=$userMobile?>";
    
    $(function (){
        //banner切换
        jQuery(".mj-banner").slide({ mainCell:".mj-banner-img",effect:"fold", autoPlay:true, delayTime:600, trigger:"click"});
        $("input").each(function(){
            var spanT= $(this).parent().find($(".mj-inpuV")).text();
            $(this).focus(function(){
                $(this).parent().find($(".mj-inpuV")).text("");
            });
            $(this).blur(function(){
                if($(this).val()===""){
                    $(this).parent().find($(".mj-inpuV")).text(spanT);
                }else{
                    $(this).parent().find($(".mj-inpuV")).text("");
                }
            });
        });
    })

</script>


<? require(ViewDir.'/footer.html'); ?>