<? require(ViewDir.'/header.html'); ?>
<script type="text/javascript" src="<?=StaticDir?>1.2/js/jquery.SuperSlide.2.1.js"></script>

<link rel="stylesheet" type="text/css" href="<?=StaticDir?>1.2/css/mj-index.css?v=<?=$static_version?>" />
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>1.2/css/list.css?v=<?=$static_version?>" />
<!--弹窗css-->
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/kj_tc.css?v=<?=$static_version?>"/>
<!--商标详情介绍-->
<div class="brand-details f-clearfix">
    <div class="w1180">
        <div class="fl fl-details">
            <? if($pack): ?>
            <p class="fl-details-tit"><a href="/offprice">特价商标</a> >打包出售</p>
            <? endif; ?>
            <div class="brde-pic">
                <div class="brde-pic-box">
                    <? if($pack): ?>
                    <em>打包出售<i></i></em>
                    <? endif; ?>
                    <span>
                            <img src="<?=$sale['imgUrl']?>" onerror="this.src='/Static/images/img1.png'" alt="<?=$sale['alt1']?>">
                    </span>

                    <a>商品ID：<?=$info['tid']?></a>
                </div>
                <p>
                    <span >独家商标风险检测工具<label>蝉精灵</label>准确率<label>95.93%</label></span>
                    <a href="<?=$tips['safeUrl']?>" target="_blank" webid="3" addmsg="<?=empty($info['thum_name'])?'【暂无商标名称】':$info['thum_name']?>" module='检测工具'>检测此商标</a>
                </p>
            </div>
            <div class="brde-scfx">
                <p class="fl">
                    <?if($sale['isLook']):?>
                    <a class="collect" webid="4" addmsg="取消收藏-<?=empty($info['thum_name'])?'【暂无商标名称】':$info['thum_name']?>" module='取消收藏'> <img src="<?=StaticDir?>1.2/images/xin_cur.png"><span>取消收藏</span></a>
                    <?else:?>
                    <a class="collect in_collect" webid="4" addmsg="<?=empty($info['thum_name'])?'【暂无商标名称】':$info['thum_name']?>" module='收藏商标'> <img src="<?=StaticDir?>1.2/images/sbxq-ico1.png"><span>收藏商标</span></a>
                    <?endif;?>
                </p>
                <p class="fr">
                    <a href="javascript:;" class="jiathis jiathis_txt" addmsg="<?=empty($info['thum_name'])?'【暂无商标名称】':$info['thum_name']?>" module='分享'> <img src="<?=StaticDir?>1.2/images/sbxq-ico2.png">分享</a>
                </p>
            </div>
        </div>
        <div class="fr fr-details">
            <?php
                $str = "申请中";
                $tm_status = 0;
                if($info['status'] == '已注册'){
                    $tm_status = 1;
                    $str = "已注册";
                }
            ?>
           <h3>
               <span title="<?=$info['name']?>"><?=empty($info['thum_name'])?'【暂无商标名称】':$info['thum_name']?></span>
               <?if(count($info['class'])==1):?><span title="<?=$info['label']?>" class="light_title">(<?=$info['class'][0]?>类 <?=$info['thum_label']?>)</span><?endif;?>
              </h3>
            <label class="bm"><?=$sale['value']?></label>
            <?if($tm_status):?>
            <span class="o-reg-lg">
                 <a>已注册</a>
            </span>
            <?endif;?>
            <!--是否上架-->
            <?if($isSale):?>
           <div class="classify">
               <p class="may"><font>此商标可入驻：
                   <?php
                    //定义一个函数
                    function checkIn($arr1,$arr2){
                        foreach($arr1 as $item){
                            if(in_array($item,$arr2)){
                                return true;
                            }
                        }
                        return false;
                    }
                    if(empty($sale['platform'])){//根据类别规则显示
                        foreach($platformIn as $k=>$v){
                   if(checkIn($info['class'],$platformItems[$k])){
                   echo "<a href='".$platformUrl[$k]."' webid='2' addmsg='".$v."' module='入驻平台' target='_blank' class='cur' >".$v."</a>";
                   }
                   }
                   }else{//根据包装信息显示
                   foreach($platformIn as $k=>$v){
                   if(in_array($k, array_filter(explode(',',$sale['platform'])))){
                   echo "<a href='".$platformUrl[$k]."' webid='2' addmsg='".$v."' module='入驻平台' target='_blank' class='cur' >".$v."</a>";
                   }
                   }
                   }

                   ?>
               </font></p>
               <!--多类-->
               <? if (count($info['items'])>1): ?>
               <div class="classify-tit">
                   <span class="fl">共<label><?=count($info['items'])?></label>个分类，所有分类一起转让</span>
                   <a class="fr all-class" data-index=1>全部分类<i class="us-icon fel-down"></i></a>
               </div>
               <ul class="classify-main f-clearfix">
                   <? foreach ($info['items'] as $ky => $vl): ?>
                   <li>
                       <div class="dw">
                           <a class="lb">第<?=$vl['class']?>类-<?=$CLASSES[$vl['class']]?><i class="us-icon fel-down"></i></a>
                           <div class="multi-show">
                               <h6>群组</h6>
                               <p>
                                   <a><?=$vl['group']?></a>
                               </p>
                               <h6>商品列表</h6>
                               <div class="splb">
                                   <label>
                                       <?=$vl['goods']?>
                                   </label>
                               </div>
                           </div>
                       </div>
                   </li>
                   <? endforeach; ?>
               </ul>
               <? else: ?>
               <!--单类-->
               <ul class="mj-cTr_center">
                   <li>
                       <span><label>商标分类</label><font>第<?=$class?>类 - <?=$info['className']?></font></span>
                   </li>
                   <li>
                       <span><label>当前群组</label><font><?=$info['items'][0]['group']?></font></span>
                   </li>
                   <li>
                       <span><label>商品列表</label><font><?=$info['goods']?></font></span>
                   </li>
               </ul>
               <? endif; ?>
               <div class="zx-sqr">
                   <p class="pro fl" title="<?=$info['proName']?>"><img src="<?=StaticDir?>1.2/images/pel-ico.png">
                         申请人：<label><?=$info['proName']?></label>
                         <a href="javascript:;" webid="31" onclick="goChat()" addmsg="咨询-咨询ta" module="咨询ta">咨询TA</a></p>
                   <div class="pel fl">
                         <p class="tel">
                              <img src="<?=StaticDir?>1.2/images/tel.png">电话：<b><?=$contact['phone']?></b>
                         </p>
                         <p class="dial">
                             <input class="fl" id="telInput2" value="" placeholder="输入手机号" type="text">
                             <label>
                                 <button type="submit" id="l-button" onclick="createOrderByPhone()">打给我</button>
                             </label>
                          </p>
                   </div>
               </div>
           </div>
            <!--绑定销售-单卖-->
            <? if($pack && $pack['isAll']==2): ?>
            <div class="sell-state">
                <div class="mj-cTr-atten">
                    <p class="fl">
                        <img src="<?=StaticDir?>1.2/images/ate-ico.png">
                        注：该商标与其他商标绑定出售，购买套餐更划算！
                    </p>
                    <a class="fr" target="_blank" href="<?=$pack['url']?>">查看全部商标</a>
                </div>
            </div>
            <? endif; ?>
            <!--绑定销售-不单卖-->
            <? if($pack && $pack['isAll']==1): ?>
            <div class="sell-state">
                <div class="mj-cTr-atten">
                    <p class="fl">
                        <img src="<?=StaticDir?>1.2/images/ate-ico.png">
                        注：该商标与其他商标绑定出售，不可单独购买
                    </p>
                    <a class="fr" target="_blank" href="<?=$pack['url']?>">查看全部商标</a>
                </div>
            </div>
            <? endif; ?>
            <!--价格展示部分-->
            <div class="mj-cTr-btm f-clearfix">
                <? if($price_module['show']): ?>
                <p class="mj-cTr-tp f-clearfix f-hidden">
                    <? if($price_module['price']): ?>价格<label>￥<b><?=$price_module['price']?></b></label>元<? endif; ?>
                    <? if($price_module['key']==1): ?>
                    <span>原价：<s>￥<?=$sale['price']?></s></span>
                    <? endif; ?>
                    <span><?=$price_module['tip']?></span>
                </p>
                <? endif; ?>
                <p class="mj-cTr-ls f-clearfix f-hidden">
                    <? if($price_module['key']==5): ?>
                    <a target="_blank" href="<?=$pack['url']?>" class="opt_btn"><img src="<?=StaticDir?>1.2/images/shop-ico.png"><?=$price_module['button']?></a>
                    <? elseif($isLogin): ?>
                    <a href='javascript:;' webid="30" onclick="createOrder();" class="opt_btn"><img src="<?=StaticDir?>1.2/images/shop-ico.png"><?=$price_module['button']?></a>
                    <? else: ?>
                    <a href='javascript:;' onclick="goLook()" class="opt_btn"><img src="<?=StaticDir?>1.2/images/ck-ye.png"><?=$price_module['button']?></a>
                    <? endif; ?>
                    促销
                    <em title="买一送一" class="wddsb" url="/topic/buyone_getone">买一送一</em>
                    <?if($topic):?>
                    <?foreach($topic as $item):?>
                    <em title="<?=$item['title']?>" class="wddsb" url="<?=$item['topicUrl']?>"><?=$item['thumb_title']?></em>
                    <?endforeach;?>
                    <?endif;?>
                </p>
            </div>
            <? else: ?>
            <div style="padding-top:50px ">
                <img src="<?=StaticDir?>1.2/images/nogoods.png">
            </div>
            <? endif; ?>
        </div>
    </div>
</div>
<div style="display: none">
    <a id="wodediv" href="" target="_blank">1</a>
</div>
<!--商标详情主要内容-->
<div class="w1180 details-main" style="padding-top: 25px;">
    <div class="detail-recom fl">
        <ul class="recompic">
            <h2>猜你喜欢</h2>
            <?foreach($tj as $k=>$item):?>
            <li>
                <a href="<?=$item['viewUrl']?>" webid="6" addmsg="第<?=($k+1)?>条" module="猜你喜欢"><img src="<?=$item['imgUrl']?>" onerror="this.src='/Static/images/img1.png'"></a>
            </li>
            <?endforeach;?>
        </ul>
    </div>
    <div class="intr-flow fr">
        <div class="intr-flow-tit">
          <ul>
              <li>
                  <a href="#sbjj" class="on">商标介绍</a>
              </li>
             <li>
                 <a href="#jylc">交易流程</a>
             </li>
              <li style="border-right:none; ">
                  <a href="#jcwt">常见问题</a>
              </li>
          </ul>
        </div>
        <div class="detail-recom-main f-clearfix">
            <div class="detail-recom-trademark">
               	<?=$sale['tminfo']['intro']?>
            </div>
            <div class="transaction f-clearfix">
               <h4 class="trans-tit"><b>一只蝉</b>独家交易体系  <span>八道工序，只为交易更安全 </span></h4>
               <ul class="trans-jytx">
                   <li>
                       <div class="trans-pic">
                         <span>
                               <img src="<?=StaticDir?>1.2/images/jytx-ico1.png">
                         </span>
                          1 风险检测
                       </div>
                       <div class="cover">
                           <i class="arrow-up"></i>
                          <p>
                              独家商标风险检测报告<br/>
                              保障商标状态安全
                          </p>
                       </div>
                   </li>
                   <li class="trans-jytx-jt">

                   </li>
                   <li>
                       <div class="trans-pic">
                         <span>
                               <img src="<?=StaticDir?>1.2/images/jytx-ico2.png">
                         </span>
                           2 价格评估
                       </div>
                       <div class="cover">
                           <i class="arrow-up"></i>
                           <p>
                               19项价格评估体系，<br/>
                               杜绝漫天要价！
                           </p>
                       </div>
                   </li>
                   <li class="trans-jytx-jt">

                   </li>
                   <li class="lht">
                       <div class="trans-pic">
                         <span>
                               <img src="<?=StaticDir?>1.2/images/jytx-ico3.png">
                         </span>
                           3 匹配商标
                       </div>
                       <div class="cover">
                           <i class="arrow-up"></i>
                           <p>
                               根据要求帮您匹配合适的商标。
                           </p>
                       </div>
                   </li>
                   <li class="trans-jytx-jt">

                   </li>
                   <li>
                       <div class="trans-pic">
                         <span>
                               <img src="<?=StaticDir?>1.2/images/jytx-ico4.png">
                         </span>
                           4 签订协议
                       </div>
                       <div class="cover">
                           <i class="arrow-up"></i>
                           <p>
                               签《100%赔付协议》获“独占使用许可”
                           </p>
                       </div>
                   </li>
                   <li class="trans-jytx-jt">

                   </li>
                   <li>
                       <div class="trans-pic">
                         <span>
                               <img src="<?=StaticDir?>1.2/images/jytx-ico5.png">
                         </span>
                           5 转让公证
                       </div>
                       <div class="cover">
                           <i class="arrow-up"></i>
                           <p>
                               一只蝉与政府双线双审核
                           </p>
                       </div>
                   </li>
                   <li class="trans-jytx-jt">

                   </li>
                   <li class="lht">
                       <div class="trans-pic">
                         <span>
                               <img src="<?=StaticDir?>1.2/images/jytx-ico6.png">
                         </span>
                           6 上报商标局
                       </div>
                       <div class="cover">
                           <i class="arrow-up"></i>
                           <p>
                               集团制度保障，<br/>
                               所有业务当天上报！
                           </p>
                       </div>
                   </li>
                   <li class="trans-jytx-jt">

                   </li>
                   <li>
                       <div class="trans-pic">
                         <span>
                               <img src="<?=StaticDir?>1.2/images/jytx-ico7.png">
                         </span>
                           7 转让完成
                       </div>
                       <div class="cover">
                           <i class="arrow-up"></i>
                           <p>
                               商标局核准 ，<br/>
                               获得《商标转让核准证明》
                           </p>
                       </div>
                   </li>
               </ul>
            </div>
            <div class="tran-FAQ f-clearfix">
                <h4>常见问题解疑</h4>
                <ul>
                    <li>
                        <b>如何尽快找到想要的标？</b>
                        <p>
                            14年代理资源 30家合作机构<br/>
                            30万闲置在售 21种筛选方法<br/>
                        </p>
                    </li>
                    <li>
                        <b>付款后，卖家跑了/不卖了咋办？</b>
                        <p>
                            全国独家签订《损失100%赔付协议》<br/>
                            交易损失，24小时全额赔付<br/>
                        </p>
                    </li>
                    <li>
                        <b>买的商标什么时候可以用？</b>
                        <p>
                            签订《独占许可协议》<br/>
                            今天选中，明天就用
                         <a>
                            如何做到？

                        </a><br/>

                        </p>
                        <div class="cover">
                            <i class="arrow-up"></i>
                            <label>
                                一只蝉督促双方签订《独占许可协议》，签完立<br/>
                                即对外使用，无需等8-10个月转让流程。
                            </label>
                        </div>
                    </li>
                    <li>
                        <b>需要准备哪些资料？</b>
                        <p>
                            只需提供身份证或营业执照<br/>
                            剩下的资料我们帮你准备<br/>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--数据提交的隐藏域-->
<div style="display: none">
    <input type="hidden" id="tels">
    <input type="hidden" id="tid">
    <input type="hidden" id="trademark">
    <input type="hidden" id="class">
    <input type="hidden" id="remarks">
</div>
<!--成功案列start-->
<div class="w1180 succeed-al" id="flr2">
    <div class="succeed-al-tit f-clearfix f-hidden">
        <h3 class="fl">成功案例</h3>
        <a class="fr" href="/case">查看更多</a>
    </div>
    <ul class="succeed-al-sy">
        <? foreach($case as $item): ?>
        <li>
            <a target="_blank" href="<?=$item['url']?>"><img src="<?=($item['pic']?TRADE_URL.$item['pic']:'')?>" alt="<?=$item['alt']?>" onerror="this.src='/Static/images/img1.png'"></a>
        </li>
        <? endforeach; ?>
    </ul>
</div>
<!--成功案列end-->
<? require(ViewDir.'/sidebar.html'); ?>
<script type="text/javascript">
    //商品详情选项卡
    jQuery(".record-collect").slide({titCell:".hd a",mainCell:".main-db",effect:"fold",pnLoop:false});
    //滚动事件
    var qtp=$(".tran-FAQ").offset().top
    $(window).scroll(function(){
        if($('.tran-FAQ').offset().top-$(document).scrollTop()<=88){
            $(".intr-flow-tit").addClass("f-tp");
            $(".intr-flow-tit a").removeClass("on");
            $(".intr-flow-tit a").eq(2).addClass("on");
        }
        else if($('.transaction').offset().top-$(document).scrollTop()<=78){
        $(".intr-flow-tit").addClass("f-tp");
        $(".intr-flow-tit a").removeClass("on");
        $(".intr-flow-tit a").eq(1).addClass("on");
       }else if($(".intr-flow").offset().top-$(document).scrollTop()<=0){
        $(".intr-flow-tit").addClass("f-tp");
        $(".intr-flow-tit a").removeClass("on");
        $(".intr-flow-tit a").eq(0).addClass("on");
       } else{
        $(".intr-flow-tit").removeClass("f-tp");
        $(".intr-flow-tit a").removeClass("on");
        $(".intr-flow-tit a").eq(0).addClass("on");
       }
    })
    //点击选项卡事件
    $(".intr-flow-tit a").eq(0).click(function(){
        var t=$(".intr-flow").offset().top-48;
        $("html, body").animate({"scrollTop":t});
    })
    $(".intr-flow-tit a").eq(1).click(function(){
        var t=$(".transaction").offset().top-88;
        $("html, body").animate({"scrollTop":t});
    })
    $(".intr-flow-tit a").eq(2).click(function(){
        var t=$(".tran-FAQ").offset().top-68;
        $("html, body").animate({"scrollTop":t});
    })
    $(".classify-main li").each(function(){
        $(this).hover(
                function(){
                    if($(".splb").height()>85){
                        $(".splb").css({"overflow-y":"scroll","height":"85px"});
                    }
                            $(this).find("a.lb").css({"z-index":"99999"});
                            $(this).find("div.multi-show").css({"z-index":"9999"});
                },function(){
                                   $(this).find("a.lb").css({"z-index":"0"});
                                   $(this).find("div.multi-show").css({"z-index":"99999"});
                })

    })

    //收藏登录
    $("#loginShow").click(function(){
        $("#chaofan-mj-login").click();
    })

    var olis=$(".classify-main li");
    for(var i=0;i<=olis.length;i++){
        if(olis.length>10){
            olis.slice(10,i).hide();
        }
        else{
            olis.slice(0,9).show();
        }
    }
    $(".all-class").each(function(){
        $(this).click(function(){
            var dataindex= $(this).attr("data-index");
			if(olis.length<10){
				 $(this).attr("data-index","1");
				}
		    else{
					if(dataindex==1){
					$(this).css("color","#ff6666");
					$(this).find("i.fel-down").css("background-image"," url('<?=StaticDir?>1.2/images/xq-up.png')")
					for(var i=0;i<=olis.length;i++){
						if(olis.length>10){
							olis.slice(10,i).show();
						}
						else{
							olis.slice(10,i).hide();
						}
					}
					$(this).attr("data-index","0");
					}
					else{
						$(this).css("color","#666666");
						$(this).find("i.fel-down").css("background-image"," url('<?=StaticDir?>1.2/images/xq-down.png')")
						for(var i=0;i<=olis.length;i++){
							if(olis.length>10){
								olis.slice(10,i).hide();
							}
						}
						$(this).attr("data-index","1");
					}
				}


        })
    })
</script>
<!--购买相关js-->
<script type="text/javascript">
    $(function(){
        //有手机登录情况下 检测该用户是否购买
        var trademark = "<?=$info['number']?>";
        var tm_class = "<?=implode(',',$info['class'])?>";
        if(login_mobile){
            ucBuy.isexist(trademark,tm_class);
        }
        //给隐藏域赋值
        var user_tel = login_mobile;
        $('#tels').val(user_tel);
        $('#tid').val("<?=$info['tid']?>");
        $('#trademark').val(trademark);
        $('#class').val(tm_class);
        $('#remarks').val("<?=$need?>");
        if(user_tel){
            $('#telInput2').val(user_tel);
        }
        if(nick_name!=null){
            getSclist();
        }
        //点击登录后几秒钟执行获取收藏列表
//        $('.chaofan-mj-logBtn').live('click', function() {
//             setTimeout(getSclist, 5000);
//
//          });
        //获取收藏列表
        function getSclist(){
            userCollectList(5,function(data){
                var tidstr = "";
                var tids = "";
                var datas = eval("("+data+")");
                if(datas.length==0) return;
                for(var j=0,n=datas.length;j<n;j++){
                        tids = datas[j];    //当前层数据
                        if(j==0){
                            tidstr = tids.number;
                        }else{
                             tidstr +=","+tids.number;
                        }
                    }

                $.ajax({
                traditional :true,
                 url:'/Detail/ajaxSclist',
                 type:'POST',
                 data:"tid="+tidstr,
                 dataType:'json',
                 success:function(json){
                     if(typeof json == 'object'){
                            var neirou;
                            var item="";
                            for(var i=0,l=json.length;i<l;i++){
                                neirou = json[i];    //当前层数据
                                item += '<li>';
                                item += '<a href="'+neirou.viewUrl+'" webid="7" addmsg="'+neirou.title+'"><img src="'+neirou.imgUrl+'" onerror="this.src=\'/Static/images/img1.png\'" ></a>';
                                item += '</li>';
                            }
                             $("#sclist").html(item);
                        }
                    }
                });
            });

        }
        //收藏功能
        $('.collect').click(function(){
            var nowObj = this;//保存当前this
            if($(this).hasClass('in_collect')){
                //收藏
                collectTrademark(trademark, 1, function(data){
                    if (data.type == 1){
                        $(nowObj).removeClass('in_collect');
                        $(nowObj).find('span').html('取消收藏');
                        $(nowObj).find('img').attr("src","/Static/1.2/images/xin_cur.png");
                        layer.msg('收藏成功',{time:1500});
                        getSclist();
                    }else{
                        layer.msg('收藏失败',{time:1500});
                    }
                });
            }else{
                //取消收藏
                deleteCollectTrademark(trademark, 1,function(data){
                    if (data.type != 0){
                        $(nowObj).addClass('in_collect');
                        $(nowObj).find('span').html('收藏商标');
                        $(nowObj).find('img').attr("src","/Static/1.2/images/sbxq-ico1.png");
                        layer.msg('取消成功',{time:1500});
                        getSclist();
                    }else{
                        layer.msg('取消失败',{time:1500});
                    }
                });
            }
        });
    });
    //生成订单
    function createOrder(){
        layer.load(1,{shade: [0.2,'#000']});
        //检测是否有电话号码
        var tel= $('#tels').val();
        if(tel){
            //获得数据
            var remarks 	= $('#remarks').val();
            remarks = remarks + ';电话号码：' + tel;
            var buyData 			= new Array();
            buyData['tel'] 			= tel;
            buyData['tid'] 			= $('#tid').val();
            buyData['trademark'] 	= $('#trademark').val();
            buyData['class'] 		= $('#class').val();
            buyData['subject'] 		= '求购信息';
            buyData['remarks'] 		= remarks;
	    setEvent('立即购买','表单-提交了账号'+tel);
            //提交数据
            ucBuy.buyAdd(buyData);
        }else{
            layer.closeAll();
            //分为登录无手机和未登录两种情况
            if(nick_name){
                getLayer($('#goCenter'));
            }else{
                //登录
                $('#chaofan-mj-login').trigger('click');
            }
        }
        return false;
    }
    //生成订单--2  (直接输入电话)
    //失去焦点,检测用户输入的手机号
    $('#telInput2').blur(function(){
        var tel= $.trim($('#telInput2').val());
        //验证手机号码
        if(!tel || !mobilereg.test(tel) || tel.length!=11){
            $('#telInput2').addClass('ddw_input');
            $('#telInput2').val('请输入正确的手机号');
            return false;
        }
    });
    $('#telInput2').focus(function(){
        $('#telInput2').removeClass('ddw_input');
        $('#telInput2').val('');
    })
    //生成订单--2
    function createOrderByPhone(){
        layer.load(1,{shade: [0.2,'#000']});
        //检测是否电话号码
        var tel= $.trim($('#telInput2').val());
        //验证手机号码
        if(!tel || !mobilereg.test(tel) || tel.length!=11){
            $('#telInput2').addClass('ddw_input');
            $('#telInput2').val('请输入正确的手机号');
            layer.closeAll();
            return false;
        }
        //获得数据
        var remarks 	= $('#remarks').val();
        remarks = remarks + ';电话号码：' + tel;
        var buyData 			= new Array();
        buyData['tel'] 			= tel;
        buyData['tid'] 			= $('#tid').val();
        buyData['trademark'] 	= $('#trademark').val();
        buyData['class'] 		= $('#class').val();
        buyData['subject'] 		= '求购信息';
        buyData['remarks'] 		= remarks;
        //提交数据
        sendBehavior(30,ptype, 0, 0,'tel:'+tel);//保存操作信息
	setEvent('打给我','表单-提交了电话号'+tel);
        ucBuy.buyAdd(buyData);
    }
    //检测用户是否购买回调
    function isexistCallback(Obj){
        $.each(Obj,function(i,n){
            //弹窗提示
            if(n.code==2){
                $('.opt_btn').replaceWith("<a href='javascript:;' class='opt_btn'>求购信息已提交</a>");
            }
        });
    }
    //打开登录窗口
    function goLook()
    {
        $('#chaofan-mj-login').trigger('click');
    }
    function goBuy()
    {
        $('#chaofan-mj-login').trigger('click');
    }
    //专题点击事件
    $('.wddsb').click(function(e){
        var webid = '1';
        var addmsg = $(this).text();
        sendBehavior(webid,ptype, e.pageX, e.pageY,addmsg);
	setEvent(addmsg);
        $('#wodediv').attr('href',($(this).attr('url')));
        $('#wodediv').get(0).click();
    });
	//全部分类鼠标移动浮动层位置效果
	$(".classify-main li").hover(function(){
       var  omult=$(this).children(".dw").children(".multi-show");
        var owr=$(window).width()-omult.offset().left-omult.width();
        if(owr<50){
            omult.css({"left":"-293px"});
        }
    })
</script>
<!--分享相关js-->
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
<? require(ViewDir.'/footer.html'); ?>