<? require(ViewDir.'/header.html'); ?>
<script type="text/javascript" src="<?=StaticDir?>1.2/js/jquery.SuperSlide.2.1.js"></script>
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>1.2/css/list.css" />
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>1.2/css/mj-index.css" />

<!--商标详情介绍-->
<div class="brand-details f-clearfix">
    <div class="w1180">
        <div class="fl">
            <div class="brde-pic">
                <img src="images/bdt1.png">
                <p>
                    <span >独家商标风险检测工具<label>蝉精灵</label>准确率<label>95.93%</label></span>
                    <a >检测此商标</a>
                </p>
            </div>
            <div class="brde-scfx">
                <p class="fl">
                   <a> <img src="images/sbxq-ico1.png">收藏商标</a>
                </p>
                <p class="fr">
                    <a> <img src="images/sbxq-ico2.png">分享</a>
                </p>
            </div>
        </div>
        <div class="fr">
           <h3>衫博士<span>（25类服装鞋帽：女装 / 内衣）</span><a><img src="images/yzc-ico.png">已注册</a></h3>
           <label class="bm">该商标有较长的使用经历，有一定的知名度。并且拥有长期稳定客户。设计上也比较精美，值得购买。</label>
           <p class="may"><font>此商标可入驻：<a>天猫</a><a>京东</a><a>沃尔玛等大型超市</a></font></p>
           <div class="classify">
               <div class="classify-tit">
                   <span class="fl">共<label>13</label>个分类，所有分类一起转让</span>
                   <a class="fr all-class" data-index=1>全部分类<i class="us-icon fel-down"></i></a>
               </div>
               <ul class="classify-main f-clearfix">
                   <li>
                       <div class="dw">
                           <a class="lb">第30类-食品作料<i class="us-icon fel-down"></i></a>
                           <div class="multi-show">
                               <h6>群组</h6>
                               <p>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                               </p>

                               <h6>商品列表</h6>
                               <div class="splb">
                                   <label>
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                   </label>
                               </div>

                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="dw">
                           <a class="lb">第30类-食品作料<i class="us-icon fel-down"></i></a>
                           <div class="multi-show">
                               <h6>群组</h6>
                               <p>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                               </p>

                               <h6>商品列表</h6>
                               <div class="splb">
                                   <label>
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                   </label>
                               </div>

                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="dw">
                           <a class="lb">第30类-食品作料<i class="us-icon fel-down"></i></a>
                           <div class="multi-show">
                               <h6>群组</h6>
                               <p>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                               </p>

                               <h6>商品列表</h6>
                               <div class="splb">
                                   <label>
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                   </label>
                               </div>

                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="dw">
                           <a class="lb">第30类-食品作料<i class="us-icon fel-down"></i></a>
                           <div class="multi-show">
                               <h6>群组</h6>
                               <p>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                               </p>

                               <h6>商品列表</h6>
                               <div class="splb">
                                   <label>
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                   </label>
                               </div>

                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="dw">
                           <a class="lb">第30类-食品作料<i class="us-icon fel-down"></i></a>
                           <div class="multi-show">
                               <h6>群组</h6>
                               <p>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                               </p>

                               <h6>商品列表</h6>
                               <div class="splb">
                                   <label>
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                   </label>
                               </div>

                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="dw">
                           <a class="lb">第30类-食品作料<i class="us-icon fel-down"></i></a>
                           <div class="multi-show">
                               <h6>群组</h6>
                               <p>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                               </p>

                               <h6>商品列表</h6>
                               <div class="splb">
                                   <label>
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                   </label>
                               </div>

                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="dw">
                           <a class="lb">第30类-食品作料<i class="us-icon fel-down"></i></a>
                           <div class="multi-show">
                               <h6>群组</h6>
                               <p>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                               </p>

                               <h6>商品列表</h6>
                               <div class="splb">
                                   <label>
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                   </label>
                               </div>

                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="dw">
                           <a class="lb">第30类-食品作料<i class="us-icon fel-down"></i></a>
                           <div class="multi-show">
                               <h6>群组</h6>
                               <p>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                               </p>

                               <h6>商品列表</h6>
                               <div class="splb">
                                   <label>
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                   </label>
                               </div>

                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="dw">
                           <a class="lb">第30类-食品作料<i class="us-icon fel-down"></i></a>
                           <div class="multi-show">
                               <h6>群组</h6>
                               <p>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                               </p>

                               <h6>商品列表</h6>
                               <div class="splb">
                                   <label>
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                   </label>
                               </div>

                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="dw">
                           <a class="lb">第30类-食品作料<i class="us-icon fel-down"></i></a>
                           <div class="multi-show">
                               <h6>群组</h6>
                               <p>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                               </p>

                               <h6>商品列表</h6>
                               <div class="splb">
                                   <label>
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                   </label>
                               </div>

                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="dw">
                           <a class="lb">第30类-食品作料<i class="us-icon fel-down"></i></a>
                           <div class="multi-show">
                               <h6>群组</h6>
                               <p>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                                   <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>  <a>3001-食品用化学品</a>
                               </p>

                               <h6>商品列表</h6>
                               <div class="splb">
                                   <label>
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品咖啡
                                       ;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                       咖啡;茶;冰茶;茶饮料;茶叶代用品;元宵;调味品
                                   </label>
                               </div>

                           </div>
                       </div>
                   </li>
               </ul>

           </div>

            <div class="mj-cTr_bottom f-clearfix">
                <div class="mj-cTr_bLeft">
                    <!-- 出售中 -->
                    <!-- 基本信息部分 -->
                    <!--特价价格促销-->
                    <div class="mj-priceTxtt">
                        <p class="price">
                            <font>价格</font>
                            <strong><span>￥</span>50000</strong>元
                            原价<s>￥60000.00</s>
                        </p>
                        <p class="period"><font>有效期</font> <span>2015/10/15  24:15</span>前有效</p>
                        <p class="sales"><font>促销</font><span>买一送一</span>新客户专享</p>
                        <!--操作部分-->
                        <!--特价价格促销-->
                        <a href="javascript:goBuy();" class="mj-priceTxtt_link">立即抢购</a>
                    </div>
                    <!--定价商品-->
                </div>
                <div class="mj-cTr_bRight">
                    <dl>
                        <dd>
                            <i class="us-icon uj_icon2"></i><span>商标申请人：张强</span>
                            <a href="javascript:;" onclick="consultation()"><i class="us-icon uj_icon30"></i>咨询ta</a>
                        </dd>
                        <dd>
                            <i class="us-icon uj_icon31"></i>&nbsp;&nbsp;<span>电话：</span>
                            <label>15811270065</label>
                        </dd>
                        <dd class="mj-cTr_bRight_dd">
                            <input id="telInput2" value="" placeholder="输入电话免费通话" type="text">
                            <label for="l-button">
                                <button type="submit" id="l-button">打给我</button>
                            </label>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<!--商标详情主要内容-->
<div class="w1180 details-main" style="padding-top: 25px;">
    <div class="detail-recom fl">
        <ul class="recompic">
            <h2>猜你喜欢</h2>
            <li>
                <img src="images/brand-lg1.png">
            </li>
            <li>
                <img src="images/al-img3.png">
            </li>
            <li>
                <img src="images/al-img4.png">
            </li>
            <li>
                <img src="images/brand-lg7.png">
            </li>
        </ul>
        <div class="record-collect">
            <p class="hd">
                <a class="on">浏览记录</a>
                <a>我的收藏</a>
            </p>
            <div class="main-db">
                <ul class="recompic">
                    <li>
                        <img src="images/brand-lg1.png">
                    </li>
                    <li>
                        <img src="images/al-img3.png">
                    </li>
                    <li>
                        <img src="images/al-img4.png">
                    </li>
                    <li>
                        <img src="images/brand-lg7.png">
                    </li>
                </ul>
                <ul class="recompic">
                    <li>
                        <img src="images/brand-lg1.png">
                    </li>
                    <li>
                        <img src="images/al-img3.png">
                    </li>
                    <li>
                        <img src="images/al-img4.png">
                    </li>
                    <li>
                        <img src="images/brand-lg7.png">
                    </li>
                </ul>
            </div>
            <p class="p-logo"><a>登录</a>保存收藏信息，永不丢失</p>
        </div>
    </div>
    <div class="intr-flow fr">
        <p class="intr-flow-tit">
            <a href="#sbjj" class="on">商标介绍</a>
            <a href="#jylc">交易流程</a>
        </p>
        <script type="text/javascript">
            $(window).scroll(function(){
                if(($(".intr-flow").offset().top-$(document).scrollTop())<=0){
                    $(".intr-flow-tit").addClass("f-tp");
                }
                else{
                    $(".intr-flow-tit").removeClass("f-tp");
                }
            })
            $(".intr-flow-tit a").eq(0).click(function(){
                var t=$(".trademark").offset().top;
                $("html, body").animate({"scrollTop":t});
            })
            $(".intr-flow-tit a").eq(1).click(function(){
                var t=$(".transaction").offset().top;
                $("html, body").animate({"scrollTop":t});
            })


        </script>
        <div class="detail-recom-main">
            <div class="trademark">

                <!--<dl>-->
                    <!--<dt>-->
                        <!--<img src="images/jspic.png">-->
                    <!--</dt>-->
                    <!--<dd>-->
                        <!--<span>-->
                            <!--<img src="images/xq-cy.png">-->
                        <!--</span>-->
                        <!--<p>-->
                            <!--该商标的设计出发点是以为灯泡这种具有代表idea的图形进行衍生创造。利用爆炸的图形，体现出创意的力-->
                            <!--量和头脑风暴的感受。直观的表达出创意公司的含义。宁人一目了然。标志主体采用黄色，给人积极兴奋的感觉。-->
                            <!--该商标的设计出发点是以为灯泡这种具有代表idea的图形进行衍生创造。-->
                        <!--</p>-->
                    <!--</dd>-->
                <!--</dl>-->


            </div>
            <div class="transaction" >
                <h3><span></span>交易流程</h3>
                <div class="jylc">
                    <span class="vs"><img src="images/vs.png"></span>
                    <div class="fl">
                        <h2><b>一只蝉</b>独家交易体系</h2>
                        <img src="images/jylc1.png">
                    </div>
                    <div class="fr">
                        <h2><b>传统</b>模式</h2>
                        <img src="images/jylc2.png">
                    </div>
                </div>
                <div class="worry-tit">
                    <h5>购买商标，你最担心什么？</h5>
                </div>
                <ul class="jylc-xq">
                    <li>
                        <div class="jylc-xq-fl">
                           <img src="images/jyq.png">
                        </div>
                        <div class="jylc-xq-fr">
                           <span class="mftj"><img src="images/mftj.png"></span>
                           <dl>
                               <dd>
                                   <b><span>Q：</span>如何尽快找到想要的标？</b>
                                   <p>
                                       <label>&bull;</label>21种筛选方法  200万闲置标源<br/>
                                       <label>&bull;</label>客服/交易专员均从业3年以上
                                   </p>
                               </dd>
                               <dd>
                                   <b><span>Q：</span>怎么规避有质量问题的标？ </b>
                                   <p>
                                       <label>&bull;</label>上线销售前全面风险核查<br/>
                                       <label>&bull;</label>出具权威风险评估报告
                                   </p>
                               </dd>
                               <dd>
                                   <b><span>Q：</span>看中的标如何找到持有人？</b>
                                   <p>
                                       <label>&bull;</label>13年行业人脉积累 30余家合
                                       作机构
                                   </p>
                               </dd>
                           </dl>
                            <dt>
                                <a>去蝉精灵检测</a>
                            </dt>

                        </div>
                    </li>
                    <li>
                        <div class="jylc-xq-fl">
                            <img src="images/jyz.png">
                        </div>
                        <div class="jylc-xq-fr">
                            <dl>
                                <dd>
                                    <b><span>Q：</span>付款后，卖家跑了怎么办？</b>
                                    <p>
                                        <label>&bull;</label>全国独家签订《损失100%赔付协议》 <br/>
                                        <label>&bull;</label>交易损失，24小时全额赔付
                                    </p>
                                </dd>
                                <dd>
                                    <b><span>Q：</span>没有营业执照怎么办？</b>
                                    <p>
                                        <label>&bull;</label>免费代办，最快1个工作日<br/>
                                    </p>
                                </dd>
                                <dd>
                                    <b><span>Q：</span>交易资料繁琐怎么办？</b>
                                    <p>
                                        <label>&bull;</label>只需提供身份证或营业执照<br>
                                        <label>&bull;</label>剩下的资料我们帮你准备<br/>
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="jylc-xq-fl">
                            <img src="images/jyh.png">
                        </div>
                        <div class="jylc-xq-fr">
                            <dl>
                                <dd>
                                    <b><span>Q：</span>买的商标，如何尽快使用上？</b>
                                    <p>
                                        <label>&bull;</label>签订《独占许可协议》<br/>
                                        <label>&bull;</label>今天选中明天就用<a>如何做到？</a>
                                    </p>
                                    <font class="rhzd">
                                        一只蝉督促双方签订《独占
                                        许可协议》，签完立即对外
                                        使用，无需等8-10个月转让
                                        流程。
                                    </font>
                                </dd>
                                <dd>
                                    <b><span>Q：</span>如何避免使用中出现侵权纠纷？</b>
                                    <p>
                                        <label>&bull;</label>10年有效期内免费监测<br/>
                                        <label>&bull;</label>任何潜在风险都将提前告知你
                                    </p>
                                </dd>

                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!--成功案列start-->
<div class="w1180 succeed-al" id="succal">
    <a href=""><h3>成功案例</h3></a>
    <ul class="succeed-al-main f-clearfix">
        <li>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <dl>
                            <font>格伦贝拉<span style="background: #ff9f8c;">服装鞋帽25类</span></font>
                            <p>
                                <label>使用商品：</label>服装鞋帽、服装配饰<br/>
                                <label>购  买 人：</label> 慈先生<br/>
                                <label>服务顾问：</label>陈艾<br/>
                            </p>
                        </dl>
                        <img src="images/al1.png">
                    </div>
                    <div class="back">
                        <img src="images/overturn.png">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <dl>
                            <font>Hesiod<span style="background: #ffc061;">化妆清洁3类</span></font>
                            <p>
                                <label>使用商品：</label>清洁用品、化妆品<br/>
                                <label>购  买 人：</label> 某商贸公司<br/>
                                <label>服务顾问：</label>王桂华<br/>
                            </p>
                        </dl>
                        <img src="images/al2.png">
                    </div>
                    <div class="back">
                        <img src="images/overturn.png">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <dl>
                            <font>麦普森<span style="background: #8cdcff;">3C数码9类</span></font>
                            <p>
                                <label>使用商品：</label>计算机、数码产品<br/>
                                <label>购  买 人：</label> 王先生<br/>
                                <label>服务顾问：</label>寇飞<br/>
                            </p>
                        </dl>
                        <img src="images/al3.png">
                    </div>
                    <div class="back">
                        <img src="images/overturn.png">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--成功案列end-->
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript">
    $(".classify-main li").each(function(){
        $(this).hover(
                function(){
                    if($(".splb").height()>85){
                        $(".splb").css({"overflow-y":"scroll","height":"85px"});
                    }
                            $(this).find("a.lb").css({"z-index":"99999"});
                            $(this).find("div.multi-show").css({"z-index":"9999"});
                },function(){
                                   $(this).find("a.lb").css({"z-index":"0"});
                                   $(this).find("div.multi-show").css({"z-index":"99999"});
                })

    })

    var olis=$(".classify-main li");
    for(var i=0;i<=olis.length;i++){
        if(olis.length>10){
            olis.slice(10,i).hide();
        }
        else{
            olis.slice(0,9).show();
        }
    }
    $(".all-class").each(function(){
        $(this).click(function(){
            var dataindex= $(this).attr("data-index");
            if(dataindex==1){
                $(this).css("color","#ff6666");
                $(this).find("i.fel-down").css("background-image"," url('images/xq-up.png')")
                for(var i=0;i<=olis.length;i++){
                    if(olis.length>10){
                        olis.slice(10,i).show();
                    }
                    else{
                        olis.slice(10,i).hide();
                    }
                }
                $(this).attr("data-index","0");
            }
            else{
                $(this).css("color","#666666");
                $(this).find("i.fel-down").css("background-image"," url('images/xq-down.png')")
                for(var i=0;i<=olis.length;i++){
                    if(olis.length>10){
                        olis.slice(10,i).hide();
                    }
                }
                $(this).attr("data-index","1");
            }

        })
    })
</script>

<? require(ViewDir.'/footer.html'); ?>