<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>style/mg-about.css"/>
<link rel="stylesheet" href="<?=StaticDir?>style/normalize.css"/>
<link rel="stylesheet" href="<?=StaticDir?>style/news-view.css"/>


<div class="g-cia">
    <div class="w1180">
        <div class="g-cib">
            <div class="g-cib-a1 f-clearfix">
                <ul>
				<? $i = 1; foreach($categoryList as $k=>$item){ ?>
                    <li class="mg-invoice-li g-cib-a1-li<? echo $i;?> <? if ($nav == $k){echo 'cuk';}?>"><a href="/faq/news/?c=<? echo $k;?>"><i></i><? echo $item; ?><em></em></a></li>
				<? $i++; } ?>
                </ul>
            </div>

            <div class="g-cib-a2">

                <div class="f-clearfix">
                    <div class="g-cib-a2-b2 mg-tab-itme" style="display: block;">
                        <h5>
						<? echo $list['title'];?>
						
						</h5>
                        <div class="g-cib-a2-b2-d1 cur">
                           <div class="mg_list">
                              <? echo $list['content']; ?> 
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="g-cib-a4">
                    <? if(!empty($maxId)) {?><a href="<? echo $maxId['url'];?>" class="next1"> < &nbsp;
                    上一篇：<? echo $maxId['title'];?></a><? } ?>

                    <? if(!empty($minId)) {?><a href="<? echo $minId['url'];?>" class="next2">下一篇：<? echo $minId['title'];?> &nbsp; > </a>
					<? } ?>
                </div>

            </div>



        </div>


    </div>
</div>
<? require(ViewDir.'/footer.html'); ?>