<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/list.css?v=<?=$static_version?>"/>
<div class="w1180 f-clearfix">
    <p class="list-lj"><a href="/case/">成功案例</a>  > 电商案例</p>
    <div class="case-name f-clearfix">
        <h2><?=$caseInfo['title']?></h2>
        <div class="case-name-xq">
            <div class="case-name-share" style="left: 450px;">
               <span>分享到：</span>
               <a href="javascript:void(0);" class="f_bd1"><img src="<?=StaticDir?>1.2/images/share-ico1.png"></a>
               <a href="javascript:void(0);" class="f_bd2"><img src="<?=StaticDir?>1.2/images/share-wb.png"></a>
               <a href="javascript:void(0);" class="f_bd3"><img src="<?=StaticDir?>1.2/images/share-wx.png"></a>
            </div>
            <div class="case-xq-main">
                <dl class="case-xq-gy">
                    <dt>
                        <img src="<?php echo TRADE_URL.$caseInfo['pic1']?>" style="max-width: 850px" alt="<?=$caseInfo['alt1']?>" onerror="this.src='<?=StaticDir?>images/img1.png'">
                    </dt>
                    <dd>
                        <span class="fl">
                           <img src="<?=StaticDir?>1.2/images/alxq-gy.png">
                        </span>
                        <div class="fl">
                            <p><label>名称类别：</label><font><?=$caseInfo['name']?></font></p>
                            <p><label>适用范围：</label><font><?=$caseInfo['goods']?></font></p>
                            <p><label>购 &nbsp;买 人：</label><font><?=$caseInfo['buyer']?></font></p>
                            <p><label>服务顾问：</label><font><?=$caseInfo['adviser']?> <a href="javascript:void(0);" onclick="goChat()" webid="31" addmsg="咨询-02-联系卖家" module="联系我">联系我</a></font></p>
                        </div>
                    </dd>
                </dl>
                <dl class="case-xq-js">
                    <? if(!empty($caseInfo['pic2'])) {?>
                    <dt>
                        <img src="<?php echo TRADE_URL.$caseInfo['pic2']?>" style="max-width: 850px" alt="<?=$caseInfo['alt2']?>">
                    </dt>
                    <?}?>
                    <dd>
                        <span class="fl">
                           <img src="<?=StaticDir?>1.2/images/alxq-js.png">
                        </span>
                        <div class="fl">
                           <p>
                               <?=$caseInfo['desc']?>
                           </p>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="case-contact">
            <p>还有更多好听好记的商标，想了解吗？ 马上联系客服<a href="javascript:void(0);" onclick="goChat()" webid="31" addmsg="咨询-02-联系卖家" module="在线咨询"><img src="<?=StaticDir?>1.2/images/zx-ico.png">在线咨询</a></p>
        </div>
    </div>
    <div class="yzc-succeeal comSty2">
        <h3 class="lb-tit" style="top:-15px;">成功案例</h3>
        <div class="yzc-succeeal-main f-clearfix">
            <ul>
            <?php foreach($list as $k=>$v){ ?>
               <li>
               <span>
                   <img src="<?php echo TRADE_URL.$v['pic1']?>" style="max-width:132px;height:87px " alt="<?=$v['alt1']?>">
               </span>
                   <p class="tit"><font><?=$v['name']?> </font></p>
                   <div class="aL-over f-clearfix">
                       <p><font><?=$v['name']?></font></p>
                       <label style="height:130px">  
                           <b>“</b>
                            <?=mbSub($v['desc'],0,90);?>
                            <b>”</b>
                       </label>
                        
                       <a href="/case/detail/?id=<?=$v['id']?>" addmsg="<?=$v['name']?>" target="blank" webid="1" addmsg="01-查看详情" webid="1" module="案例更多第<?=($k+1)?>条">查看详情</a>
                   </div>
               </li>
               <? }?>
            </ul>
         </div>
    </div>
</div>
<!--百度分享-->
<div style="display: none;">
<div class="bdsharebuttonbox" data-tag="share_1">
    <a class="bds_tsina bd2" data-cmd="tsina"></a>
    <a class="bds_weixin bd3" data-cmd="weixin"></a>
</div>
<div class="bdsharebuttonbox" data-tag="share_2">
    <a class="bds_sqq bd1" data-cmd="sqq"></a>
</div>
</div>
<script>
    $(function(){
        $('.f_bd1').click(function(){
            $('.bd1')[0].click();
        });
        $('.f_bd2').click(function(){
            $('.bd2')[0].click();
        });
        $('.f_bd3').click(function(){
            $('.bd3')[0].click();
        });
    });
    //百度分享配置
    window._bd_share_config = {
        common : {
            bdSign : 'off',//不统计
        },
        share : [{
            'tag':'share_1',
            bdText : document.title+"。<?=$caseInfo['desc']?>",
            bdUrl : location.href,
            bdPic : "<?php echo TRADE_URL.$caseInfo['pic1']?>"
        },{
            'tag':'share_2',
            bdText : document.title,
            bdUrl : location.href,
            bdPic : "<?php echo TRADE_URL.$caseInfo['pic1']?>"
        }],
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
<? require(ViewDir.'/sidebar.html'); ?>
<? require(ViewDir.'/footer.html'); ?>