<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>style/mg-about.css"/>

﻿<div class="g-cia">
    <div class="w1180">
        <div class="g-cib">

<? require(ViewDir.'/faq/left.html'); ?>
			<div class="g-cib-a2">
                <div class="f-clearfix">
					<div class="g-cib-a2-b2 mg-tab-itme" style="display: block;">
						<div class="g-cib-a2-b2-d1 cur">
							<div class="mg_list">
							<div class="g-cib-a2-b2-d1 cur">
                            <a href="javascript:;">交易常见问题</a>
                            <div class="mg_list">
                                <p style="text-align: center;"><strong>交易前</strong></p>
<p><b>1、商标转让要多长时间，怎么才能最快使用上</b><b>？</b></p>
<p>正常商标转让流程是8-10月 ，若着急使用，我方可与卖方签订《独占许可协议》，在您签订购买合同付款后即可使用，无需待转让流程全部完成。</p>
<p><b> </b></p>
<p><b>2、</b><b>是否可以</b><b>和卖家直接谈价格签合同</b><b>？</b><b> </b></p>
<p>可以，我们收取手续费3000元，将卖家联系方式提供给您，具体事宜双方自行协商，无论结果如何，手续费不退还。另我方可代办转让手续，费用为2100元。</p>
<p>&nbsp;</p>
<p><b>3、请问</b><b>个人</b><b>是否可以</b><b>买商标？</b></p>
<p>可以，只要您具备相应行业的个体工商户营业执照，其他相关材料和代理工作均可委托我方办理（另若无营业执照我方可免费代办）。</p>
<p>&nbsp;</p>
<p><b>4、请问你们平台出售的商标，购买后是否可打R标记</b><b>？</b></p>
<p>可以，我方平台出售的商标均已注册成功，拥有注册证，您可通过商标局官方网站核实。购买后使用是可以打R标记的。</p>
<p>&nbsp;</p>
<p><b>5、</b><b>申请中的商标我能买吗?</b></p>
<p>可以，但建议不要购买，因为申请中的商标只有商标申请在先权，无法确保最终100%注册成功，或许会导致您花冤枉钱，建议购买已注册成功的商标。</p>
<p>&nbsp;</p>
<p><b>6、</b><b>公司营业执照没有年检,公章也丢了,我的商标</b><b>能</b><b>卖</b><b>吗</b><b>？</b></p>
<p>不可以的，因为现商标局对于商标转让要求非常严格，因为涉及到权利转移，要求必须是经过年检的营业执照副本复印件加盖公章才能办理。因此，建议您到工商局把最新年检补上，同时补办一个公章，然后办理转让手续。</p>
<p>&nbsp;</p>
<p style="text-align: center;"><b>交易中</b></p>
<p><b>1、</b><b>你们商标交易的操作流程是怎么样的呢？</b></p>
<p>（1）买方提供商标需求信息，由我方进入洽谈；</p>
<p>（2）我方分别与买卖双方进行沟通，并最终确定成交金额；</p>
<p>（3）根据实际金额敲定佣金比例，与买方签定委托购买协议；</p>
<p>（4）我方起草买卖双方签定的购买协议；</p>
<p>（5）买卖双方对协议确定无误后，我方制作转让申请书件；</p>
<p>（6）买方分别支付佣金及交易款，并和卖方双方签定相关申请材料，然后由我方将转让申请文件递交商标局；</p>
<p>（7）我方随时监控转让流程并传递官方文件。</p>
<p>&nbsp;</p>
<p><b>2、付款后，卖标人中途不转让或消失，造成损失怎么办？</b></p>
<p>商标交易时，我方会采取买卖双方分期付款的方式，并和买卖双方签订三方协议约定各自法律权利义务。无论是您支付卖方首款后，卖方反悔不卖了，还是所有手续齐备都已经递交了商标局，卖方又要求撤回转让申请的。我方均会和你签订《安全保障协议》，确保您的交易安全，出现任何意外情况导致交易失败，我方均会全额100%赔付。另会依照合同约定要求卖方退款并赔偿违约金。</p>
<p>&nbsp;</p>
<p><b>3、请问</b><b>公证手续，是否需和卖方一同去办理</b><b>？</b></p>
<p>转让公证分为两种：1、转让声明的公证；2、买卖双方转让协议的公证。多数商标交易我方采取第一种，仅需转让方出具转让声明，自行前往公证处办理。我方会对公证书的真实有效性进行核实。若双方有特别要求要当面公证的，可采取第二种，选择买卖双方任一所在地的公证处，通过双方签订的转让协议做公证。</p>
<p>&nbsp;</p>
<p><b>4、请问</b><b>双方不见面可以办理转让手续么</b><b>？</b></p>
<p>可以，我方是国家商标局合法备案、正规的代理机构。并已为大型企业如五粮液、泸州老窖等代理多起商标转让业务。所以仅需双方将交易价格等事项确定后，我方提供所需材料合同，双方签字盖章确认将原件邮寄至我司即可，后续我方代办转让手续。</p>
<p>&nbsp;</p>
<p><b>5、</b><b>商标转让</b><b>中存在哪些</b><b>安全问题</b><b>，你们怎么规避</b><b>？</b></p>
<p>第一种：商标无法正常使用，如商标处于撤三、无效、冻结等状态。我方在商标上线出售前，均会做风险核查，确保商标高质量；</p>
<p>第二种：收款后卖方反悔或消失，无法正常完成交易。我方会在交易时，与买方签订《安全保障协议》，确保交易中出现任何意外，全额100%赔付，确保您的交易安全。</p>
<p>&nbsp;</p>
<p style="text-align: center;"><b>交易后</b></p>
<p><b>1、</b><b>转让完成后，</b><b>商标注册</b><b>证</b><b>上的</b><b>权利人</b><b>怎么修改为自己</b><b>？</b></p>
<p>正常情况下，转让完成后，我方会将卖方提供的商标权利证书原件邮寄给您。另商标局会下发转让核准通知书。之后您使用需两个材料一起。若需将注册证上权利人修改为自己，在转让完成后向商标局申请办理补办注册证书即可。</p>
<p>&nbsp;</p>
<p><b>2、</b><b>付款后</b><b>，</b><b>能马上使用吗？是否需待转让流程完成</b><b>？</b></p>
<p>若您着急使用，是可以的。委托我方办理商标转让手续时，将尾款支付给卖方，我方将和卖方签订《权利独占协议》确保您优先使用权，并将商标注册证原件和授权书提供给您，即刻使用。</p>
                            </div>
                        </div>
				 </div>
                </div>
                </div>
        </div>
    </div>
</div>

<? require(ViewDir.'/footer.html'); ?>