<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>style/mg-about.css"/>

﻿<div class="g-cia">
    <div class="w1180">
        <div class="g-cib">

<? require(ViewDir.'/faq/left.html'); ?>
			<div class="g-cib-a2">
                <div class="f-clearfix">
					<div class="g-cib-a2-b2 mg-tab-itme" style="display: block;"> 
				 <div class="g-cib-a2-b2-d1 cur">
                            <a href="javascript:;">商标交易流程</a>
                            <div class="mg_list">
                                <p><b> </b><b>1、</b><b>商标风险核查</b></p>
<p>&nbsp;</p>
<p>商标上线销售前，超凡会进行全面风险核查，杜绝无效、撤三等商标出现。</p>
<p>&nbsp;</p>
<p><b>2</b><b>、商标价格评估</b></p>
<p>&nbsp;</p>
<p>超凡从商标涵义、商标状态、市场占有率等多方面评估商标价格，杜绝漫天要价，让你买的放心，不花冤枉钱。</p>
<p>&nbsp;</p>
<p><b> </b></p>
<p><b>3</b><b>、购买需求匹配</b></p>
<p>&nbsp;</p>
<p>可在线自助选择，系统3.5秒快速匹配，也可选择线下专家一对一匹配，最快10分钟。</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><b>4、签订三方协议</b></p>
<p>&nbsp;</p>
<p>确定交易意向后，将与买卖双方签订《商标代购协议》 《商标代售协议》 。</p>
<p>①另与卖家签订《独占许可协议》，确保卖家在转让期限内不得将商标出售、许可给第三人，让买家可尽快使用上购买的商标；</p>
<p>②另与买家签订《损失100%赔付协议》，承诺先行赔付。一旦出现交易损失，超凡将在第一时间给予赔偿，让买家彻底远离赔偿纠纷。</p>
<p>&nbsp;</p>
<p><b>5、公证审核</b></p>
<p>&nbsp;</p>
<p>签订三方协议后，超凡将为卖家提供国家政府认可的公证机构，并给出减少公证费的省钱建议（如双方免费转让），降低双方在办理公证手续上的支出。且对最终公证书的真实性进行再次核实，确保双方交易的安全性。</p>
<p>&nbsp;</p>
<p><b>6、代办转让手续</b></p>
<p>&nbsp;</p>
<p>确认材料无误后，超凡将资料上报至国家商标局，一月左右将收到转让受通，6-10月后收到转让证明，届时完成转让。</p>
<p>&nbsp;</p>
<p><b>7、10年商标安全监测</b></p>
<p>&nbsp;</p>
<p>转让完成后，在商标的10年有效期内，超凡将不间断的提供状态监测服务。有任何异动系统将通知你。</p>
                            </div>
                        </div>
				 </div>
                </div>
                </div>
        </div>
    </div>
</div>

<? require(ViewDir.'/footer.html'); ?>