<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/list.css"/>
<style type="text/css">
  body{ background:#FFF !important;}
</style>
   <div class="w1180 contactUs f-clearfix" style="background: #ffffff">
       <? require(ViewDir.'/faq/left.html'); ?>
       <div class="contUsrg fr f-clearfix">
           <div class="platform comSty" id="con_contact_3" style="display:block;">
               <div class="lb-tit"><h2>荣誉资质</h2></div>
               <dl class="f-clearfix">
                   <dt class="fl">
                       北京市知识产权服务品牌机构培育单位<br/>
                       全国知识产权分析评议联盟成员单位<br/>
                       中华全国专利代理人协会会员<br/>
                       中国知识产权研究会会员<br/>
                       中华商标协会副会长单位<br/>
                       北京中关村企业信用促进会会员<br/>
                       北大、清华、阿里巴巴指定服务机构<br/>
                   </dt>
                   <dd  class="fr">
                        世界“千佳”事务所（WTR1000）<br/>
                         2015中国国际商标品牌节贡献奖<br/>
                         全国优秀商标代理组织<br/>
                         国际保护知识产权协会（AIPPI）正式会员<br/>
                         国际商标协会（INTA）正式会员<br/>
                         欧盟商标协会（ECTA）正式会员<br/>

                   </dd>
               </dl>
               <ul class="f-clearfix">
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh1.png">
                       <p>中华商标协会副会长单位 </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh2.png">
                       <p>优秀商标代理机构——北京超凡      </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh3.png">
                       <p>中国杰出知识产权诉讼团队 </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh4.png">
                       <p>International Trademark Association  </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh5.png">
                       <p>CIPS 中国知识产权研究会     </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh6.png">
                       <p> 中国知识产权研究会团体会员 </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh7.png">
                       <p>北京中关村企业信用促进会会员    </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh8.png">
                       <p> 2014年度认证互联网品牌服务机构 </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh9.png">
                       <p> 成都市中小企业协会会员单位</p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh10.png">
                       <p>成都中小企业知识产权特约单位 </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh11.png">
                       <p>成都国际商会会员  </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh12.png">
                       <p> 西南科技大学法学院教学实践基地 </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh13.png">
                       <p> 2015北京超凡【.商标】域名授权注册商   </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh14.png">
                       <p>2015优秀商标代理机构    </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh15.png">
                       <p>2015中国国际商标品牌节贡献奖</p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh16.png">
                       <p>贯标咨询服务联盟理事单位 </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh17.png">
                       <p>全国知识产权分析评议联盟成员单位 </p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh18.png">
                       <p>  2015优秀商标代理案例（1）</p>
                   </li>
                   <li>
                       <img src="<?=StaticDir?>1.2/images/sbxh20.png">
                       <p>2015优秀商标代理案例（2）</p>
                   </li>
               </ul>
           </div>
       </div>

   </div>

<script type="text/javascript" src="<?=StaticDir?>1.2/js/common.js"></script>
<script type="text/javascript">
    jQuery(".contUsList").slide({titCell:"h3", targetCell:"ul",defaultIndex:0,effect:"slideDown",delayTime:300,trigger:"click",returnDefault:false})
</script>
<? require(ViewDir.'/footer.html'); ?>