<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>style/mg-about.css"/>
<link rel="stylesheet" href="<?=StaticDir?>style/news-view.css"/>
<link rel="stylesheet" href="<?=StaticDir?>style/list.css"/>
<style type="text/css">
  body{ background:#FFF !important;}
</style>
   <div class="w1180 contactUs f-clearfix" style="background: #ffffff">
       <? require(ViewDir.'/faq/left.html'); ?>
       <div class="contUsrg fr f-clearfix">
           <div class="trad-certi comSty">
               <div class="lb-tit"><h2><? echo $list['title'];?></h2></div>
               <div class="yzzz">
                    <? $i = 1; foreach ($list as $k=>$item){ ?>
                        <div class="g-cib-a2-b2-d1 cur">
                            <a href="<? echo $item['url']; ?>"><? echo $i;?>.&nbsp;&nbsp;&nbsp;<? echo $item['title']; ?></a>
                        </div>
                    <? $i++; } ?>
               </div>
               
           </div>
           <div class="mj-bPage"><?=$pageBar?></div>
       </div>

   </div>

<script type="text/javascript" src="<?=StaticDir?>1.2/js/common.js"></script>
<script type="text/javascript">
    jQuery(".contUsList").slide({titCell:"h3", targetCell:"ul",defaultIndex:2,effect:"slideDown",delayTime:300,trigger:"click",returnDefault:false})
</script>
<? require(ViewDir.'/footer.html'); ?>