<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/list.css"/>
<style type="text/css">
  body{ background:#FFF !important;}
</style>
   <div class="w1180 contactUs f-clearfix" style="background: #ffffff">
       <? require(ViewDir.'/faq/left.html'); ?>
       <div class="contUsrg fr f-clearfix">
           <div class="trad-certi comSty">
               <div class="lb-tit"><h2><? echo $list['title'];?></h2></div>
               <div class="yzzz">
                   <? echo $list['content']; ?> 
               </div>
               <div class="botton_tip">
                   一只蝉商标转让平台网： <? echo $list['title'];?> 转载请注明出处：<? echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].'?'.$_SERVER['QUERY_STRING']; ?>
               </div>
           </div>
       </div>

   </div>

<script type="text/javascript" src="<?=StaticDir?>1.2/js/common.js"></script>
<script type="text/javascript">
    var tid = <?=$id?>;
    if(tid==985){
        dindex = 0;
    }else if(tid==987 || tid==988 || tid==989 || tid==990){
        dindex = 1;
    }else{
        dindex = 2;
    }
    jQuery(".contUsList").slide({titCell:"h3", targetCell:"ul",defaultIndex:dindex,effect:"slideDown",delayTime:300,trigger:"click",returnDefault:false})
</script>
<? require(ViewDir.'/footer.html'); ?>