<div class="contUsList fl">
           <h3 class="contUstit">关于一只蝉<img src="<?=StaticDir?>images/cont-rg.png"></h3>
                <ul class="contUsMain">
                    <a href="http://www.yizhchan.com/faq/views/?c=54&id=987" target="_blank"><li id="contact1" >一只蝉简介</li></a>
                    <a href="/case" target="_blank"><li id="contact2" >成功案例</li></a>
                    <a href="/faq/ryzz"><li id="contact3" <? if($cat=="ryzz") echo 'class="up"';?> onclick="jc('contact',4,14)">荣誉资质</li></a>
                    <a href="/faq/views/?c=54&id=985"><li id="contact5" <? if($id==985) echo 'class="up"';?> onclick="jc('contact',5,14)">联系我们</li></a>
                </ul>
           <h3 class="contUstit">常见问题&nbsp;&nbsp;&nbsp;<img src="<?=StaticDir?>images/cont-rg.png"></h3>
                <ul class="contUsMain">
                    <a href="/faq/views/?c=54&id=987"><li id="contact6" <? if($id==987) echo 'class="up"';?> onclick="jc('contact',6,14)">交易常见问题</li></a>
                    <a href="/faq/views/?c=54&id=988"><li id="contact7" <? if($id==988) echo 'class="up"';?> onclick="jc('contact',7,14)">用户服务协议</li></a>
                    <a href="/faq/views/?c=54&id=989"><li id="contact8" <? if($id==989) echo 'class="up"';?> onclick="jc('contact',8,14)">入驻平台规则</li></a>
                    <a href="/faq/views/?c=54&id=990"><li id="contact9" <? if($id==990) echo 'class="up"';?> onclick="jc('contact',9,14)">商标交易流程</li></a>
                </ul>
           <h3 class="contUstit">新闻中心&nbsp;&nbsp;&nbsp;<img src="<?=StaticDir?>images/cont-rg.png"></h3>
                <ul class="contUsMain">
                    <a href="/faq/news/?c=50"><li id="contact10" <? if($nav==50 && !$id) echo 'class="up"';?> onclick="jc('contact',10,14)">商标新闻</li></a>
                    <a href="/faq/news/?c=51"><li id="contact11" <? if($nav==51 && !$id) echo 'class="up"';?> onclick="jc('contact',11,14)">商标法律</li></a>
                    <a href="/faq/news/?c=45"><li id="contact12" <? if($nav==45 && !$id) echo 'class="up"';?> onclick="jc('contact',12,14)">商标转让问答</li></a>
                    <a href="/faq/news/?c=53"><li id="contact13" <? if($nav==53 && !$id) echo 'class="up"';?> onclick="jc('contact',13,14)">商标交易百科</li></a>
                    <a href="/faq/news/?c=52"><li id="contact14" <? if($nav==52 && !$id) echo 'class="up"';?> onclick="jc('contact',14,14)">商标求购信息</li></a>
                </ul>
    </div>