			﻿<div class="g-cib-a1 f-clearfix">
				<ul>
                    <li class="mg-invoice-li g-cib-a1-li1"><a href="/faq/protocol/"><i></i>用户服务协议<em></em></a></li>
                    <li class="mg-invoice-li g-cib-a1-li2 "><a href="/faq/question/"><i></i>常见问题<em></em></a></li>
                    <li class="mg-invoice-li g-cib-a1-li3"><a href="/faq/rule/"><i></i>入驻平台规则<em></em></a></li>
                    <li class="mg-invoice-li g-cib-a1-li4"><a href="/faq/process/"><i></i>操作流程<em></em></a></li>
				</ul>
			</div>
			<script>
			_url ="<? echo $_SERVER['REQUEST_URI']; ?>";
			$(".g-cib-a1").find("li").each(function(){
				if($(this).find("a").eq(0).attr("href") == _url){
					$(this).addClass("cuk")
				}
			})

			</script>