<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../../../Static/1.2/css/import-comm.css"/>
    <link rel="stylesheet" href="../../../Static/1.2/css/require.css"/>
</head>
<body>
   <div class="req-ban w1180 f-clearfix">
        <div class="req-ban-top">
            <div class="req-ban-lg">
                <span class="fl">
                    <img src="../../../Static/1.2/images/req-cbb.png">
                </span>
                <p class="req-ban-title fl">
                    <b>商标需求大厅</b><br/>
                    <label>Trademark demand Hall</label>
                </p>
            </div>
            <div class="req-ban-des">
                <i><img src="../../../Static/1.2/images/req-jt.png"></i>
                <p>商标卖不出去？快来看买家需要啥！每一条都是真实求购，匹配成功立即出手！
                </p>
            </div>
        </div>
        <div class="req-ban-from f-clearfix">
            <form action="" method="post" >
                 <ul class="req-from-list">
                     <li class="fir-text">
                         <label>您的需求</label>
                         <textarea placeholder="告诉我们，您对商标都有哪些要求吧！"></textarea>
                     </li>
                     <li>
                         <p>
                             <label>您的姓名</label>
                             <input type="text"/>
                         </p>
                         <p class="sec">
                             <label>联系方式</label>
                             <input type="text"/>
                         </p>
                     </li>
                     <li>
                         <a class="req-tiBtn">
                             发布求购
                         </a>
                         <span class="req-err-ts">
                               <img src="../../../Static/1.2/images/icon19-1.png">请先输入内容！
                         </span>
                     </li>
                 </ul>
            </form>
            <div class="req-ban-adpos">
                <ul>
                    <li>
                        <a href="/offprice" target="_blank">
                            <img src="../../../Static/1.2/images/req-adv-pic2.jpg">
                        </a>
                    </li>
                    <li>
                      <a href="http://seller.yizhchan.com/" target="_blank">
                          <img src="../../../Static/1.2/images/req-adv-pic1.jpg">
                      </a>

                    </li>
                </ul>
            </div>
        </div>
   </div>
   <div class="req-main w1160 f-clearfix f-hidden">
       <div class="req-seek-top">
           <div class="ms-filterSearch">
               <!--[if !IE]><!-->
               <input type="text" id="research" placeholder="搜一搜有无我可投标的">
               <!--<![endif]-->
               <!--[if IE]>
               <input type="text" value="搜一搜有无我可投标的" onblur="if(value == ''){value = '搜一搜有无我可投标的'}" onfocus="if(value == '搜一搜有无我可投标的'){value = ''}" id="research"/>
               <![endif]-->
               <em></em>
               <a href="javascript:void(0);" onclick="reSearch();"><i class="us-icon us-icon21"></i></a>
           </div>
           <label class="req-seek-data">
               共<font> 4749 </font>条需求
           </label>
       </div>
       <div class="req-seek-list f-clearfix f-hidden">
           <ul>
               <li>
                  <div class="req-seek-list-top">
                      <label class="list-top-mes fl">
                          2016/11/21  12:34 &nbsp;&nbsp; 赵** 1368223***8
                      </label>
                      <a class="fr">
                          <i class="us-icon us-coll"></i>
                          征集中
                      </a>
                  </div>
                  <div class="req-seek-list-cont">
                      <p class="req-seek-descr">
                          鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标
                      </p>
                      <div class="req-seek-offer">
                          <a>暂无报价</a>
                      </div>

                  </div>
               </li>
               <li>
                   <div class="req-seek-list-top">
                       <label class="list-top-mes fl">
                           2016/11/21  12:34 &nbsp;&nbsp; 赵** 1368223***8
                       </label>
                       <a class="hall-end fr">
                           <i class="us-icon us-end"></i>
                           已结束
                       </a>
                   </div>
                   <div class="req-seek-list-cont">
                       <p class="req-seek-descr">
                           鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标
                       </p>
                       <div class="req-seek-offer">
                           <a>已有<font>5</font>条报价</a>
                       </div>

                   </div>
               </li>
               <li>
                   <div class="req-seek-list-top">
                       <label class="list-top-mes fl">
                           2016/11/21  12:34&nbsp;&nbsp;  赵** 1368223***8
                       </label>
                       <a class="fr">
                           <i class="us-icon us-coll"></i>
                           征集中
                       </a>
                   </div>
                   <div class="req-seek-list-cont">
                       <p class="req-seek-descr">
                           鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标
                       </p>
                       <div class="req-seek-offer">
                           <a>暂无报价</a>
                       </div>

                   </div>
               </li>
               <li>
                   <div class="req-seek-list-top">
                       <label class="list-top-mes fl">
                           2016/11/21  12:34 &nbsp;&nbsp; 赵** 1368223***8
                       </label>
                       <a class="hall-end fr">
                           <i class="us-icon us-end"></i>
                           已结束
                       </a>
                   </div>
                   <div class="req-seek-list-cont">
                       <p class="req-seek-descr">
                           鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标
                       </p>
                       <div class="req-seek-offer">
                           <a>已有<font>5</font>条报价</a>
                       </div>

                   </div>
               </li>
               <li>
                   <div class="req-seek-list-top">
                       <label class="list-top-mes fl">
                           2016/11/21  12:34&nbsp;&nbsp;  赵** 1368223***8
                       </label>
                       <a class="fr">
                           <i class="us-icon us-coll"></i>
                           征集中
                       </a>
                   </div>
                   <div class="req-seek-list-cont">
                       <p class="req-seek-descr">
                           鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标
                       </p>
                       <div class="req-seek-offer">
                           <a>暂无报价</a>
                       </div>

                   </div>
               </li>
               <li>
                   <div class="req-seek-list-top">
                       <label class="list-top-mes fl">
                           2016/11/21  12:34 &nbsp;&nbsp; 赵** 1368223***8
                       </label>
                       <a class="hall-end fr">
                           <i class="us-icon us-end"></i>
                           已结束
                       </a>
                   </div>
                   <div class="req-seek-list-cont">
                       <p class="req-seek-descr">
                           鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标
                       </p>
                       <div class="req-seek-offer">
                           <a>已有<font>5</font>条报价</a>
                       </div>

                   </div>
               </li>
           </ul>
           <div class="req-seek-page">
               <img src="../../../Static/1.2/images/req-page.png">
           </div>
       </div>
   </div>

</body>
</html>