<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../../../Static/1.2/css/import-comm.css"/>
    <link rel="stylesheet" href="../../../Static/1.2/css/require.css"/>
    <script type="text/javascript" src="../../../Static/1.2/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../../Static/1.2/js/jquery.SuperSlide.2.1.js"></script>
</head>
<body>
   <div class="req-details-main f-clearfix">
       <div class="req-details-content">
           <p class="req-details-top">
               需求大厅&nbsp;>&nbsp;<a>需求详情</a>
           </p>
           <div class="req-details-content-box f-clearfix f-hidden">
               <div class="req-box-top">
                   <p class="fl">2016/11/21  12:34</p>
                   <a class="fr">
                       <i class="us-icon us-coll"></i>
                       征集中
                   </a>
               </div>
               <div class="req-details-intr req-padding">
                   <div class="req-details-intr-user">
                   <span>
                       <img src="../../../Static/1.2/images/req-deta-yzc.png">
                   </span>
                       <label>赵**     1368223***8</label>
                   </div>
                   <p class="req-details-intr-content">
                       <label>需求内容：</label><br/>
                       鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，
                       带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，
                       带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标
                   </p>

               </div>
               <div class="req-padding">
                   <div class="req-no-data">
                       <img src="../../../Static/1.2/images/req-deta-head.png">
                       <h4>当前还没有人回应呢</h4>
                   </div>
               </div>
               <div class="req-trade-details req-padding">
                   <div class="req-trade-details-pad">
                       <h3>我可以提供商标</h3>
                       <form action="" method="">
                           <ul class="req-trade-list f-clearfix">
                               <li>
                                   <p><label>您的姓名</label><input class="data-inp1" type="text"/></p> <p class="sec"><label>联系电话</label><input class="data-inp2" type="text"/></p>
                               </li>
                               <li>
                                   <label>商标号</label>
                                   <input type="text" class="data-inp3" placeholder="一次可提交多条商标 商标号之间以为空格进行区分"/>
                               <span class="req-err-ts">
                                   <img src="../../../Static/1.2/images/icon19-1.png">请先输入内容！
                               </span>
                               </li>
                               <li>
                                   <a class="req-deta-btn">
                                       提交需求
                                   </a>
                               </li>
                           </ul>
                       </form>
                   </div>
               </div>
           </div>
           <div class="req-details-content-box f-clearfix f-hidden">
               <div class="req-box-top">
                   <p class="fl">2016/11/21  12:34</p>
                   <a class="fr">
                       <i class="us-icon us-coll"></i>
                       征集中
                   </a>
               </div>
               <div class="req-details-intr req-padding">
                   <div class="req-details-intr-user">
                   <span>
                       <img src="../../../Static/1.2/images/req-deta-yzc.png">
                   </span>
                       <label>赵**     1368223***8</label>
                   </div>
                   <p class="req-details-intr-content">
                       <label>需求内容：</label><br/>
                       鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，
                       带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，
                       带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标鞋，带有UGG的英文商标
                   </p>

               </div>
               <div class="req-padding infoList-padding">
                   <div class="req-refer-list f-clearfix f-hidden">
                       <div class="bd">
                           <ul  class="infoList">
                               <li><label  class="time">2016/11/21  12:34</label><label class="name"> 赵赵赵赵赵</label><label class="tel"> 1368223***8</label><label  class="mes">提交了 2 条商标</label></li>
                               <li><label  class="time">2016/11/21  12:34</label><label class="name"> 赵赵赵赵赵</label><label class="tel"> 1368223***8</label><label  class="mes">提交了 2 条商标</label></li>
                               <li><label  class="time">2016/11/21  12:34</label><label class="name"> 赵赵赵赵赵</label><label class="tel"> 1368223***8</label><label  class="mes">提交了 2 条商标</label></li>
                               <li><label  class="time">2016/11/21  12:34</label><label class="name"> 赵赵赵赵赵</label><label class="tel"> 1368223***8</label><label  class="mes">提交了 2 条商标</label></li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="req-trade-details req-padding">
                   <div class="req-trade-details-pad">
                       <h3>我可以提供商标</h3>
                       <form action="" method="">
                           <ul class="req-trade-list">
                               <li>
                                   <p><label>您的姓名</label><input class="data-inp1" type="text"/></p> <p class="sec"><label>联系电话</label><input class="data-inp2" type="text"/></p>
                               </li>
                               <li>
                                   <label>商标号</label>
                                   <input type="text" class="data-inp3" placeholder="一次可提交多条商标 商标号之间以为空格进行区分"/></p>
                               </li>
                               <li>
                                   <a class="req-deta-btn">
                                       提交需求
                                   </a>
                               </li>
                           </ul>
                       </form>
                   </div>

               </div>
           </div>
           <div class="req-page-btm f-clearfix f-hidden">
               <ul>
                   <li class="page-prev">
                       <span>上一条  </span> <a href="">鞋，带有UGG的英文商标鞋，带有UGG的英文商</a>
                   </li>
                   <li class="page-next">
                     <span>下一条  </span>   <a href="">鞋，带有UGG的英文商标鞋，带有UGG的英文商</a>
                   </li>
               </ul>
           </div>
       </div>
       <div class="req-details-ad">
           <ul>
               <li>
                   <a href="/offprice" target="_blank">
                       <img src="../../../Static/1.2/images/req-adv-pic3.jpg">
                   </a>
               </li>
               <li>
                   <a href="http://seller.yizhchan.com/" target="_blank">
                       <img src="../../../Static/1.2/images/req-adv-pic4.jpg">
                   </a>
               </li>
           </ul>
       </div>
   </div>
   <script type="text/javascript">
       $(document).ready(function(){
           if($(".req-refer-list li").length>4){
               jQuery(".req-refer-list").slide({mainCell:".bd ul",autoPlay:true,effect:"topMarquee",vis:4,interTime:100});
           }
       })
   </script>
</body>
</html>