<? require(ViewDir.'/header.html'); ?>

<link rel="stylesheet" href="<?=StaticDir?>style/mj-pinvestment.css"/>
<script type="text/javascript" src="<?=StaticDir?>script/objurl.js"></script>


<!--content start-->

<div class="mj-content">
    <div class="w1180">
        <!--search start-->
        <dl class="mj-selection">
            <dd class="f-clearfix">
                <span class="mj-selection-span">商标类别：</span>
                <div class="mj-selection-list" id="j-dltype">
                    <a href="javascript:;"  <?if ($c == 0){echo 'class="current"';}?>>全部  </a>
                <? foreach ($CLASSES as $key => $value) { ?>
                    <a href="javascript:;" <?if ($c == $key){echo 'class="current"';}?>><?echo $key.'类-'.$value?></a>
                <? } ?>
                    <a href="javascript:;" class="curs" id="mj_aclik">......</a>
                </div>
            </dd>
        <? if( !empty($groupList) ){ ?>
            <dd class="f-clearfix">
                <span class="mj-selection-span">所属群组：</span>
                <div class="mj-selection-list" id="g-dltype">
                    <a href="javascript:;" <?if ($g == 0){echo 'class="current"';}?>>全部  </a>
                <? foreach ($groupList as $ky => $val) { ?>
                    <a href="javascript:;" <?if ($g == $ky){echo 'class="current"';}?> title="<?=$val?>">
                    <?=mb_substr($val, 0, 7, 'utf8')?></a>
                <? } ?>
                <? if ( count($groupList) > 7 ){?>
                    <a href="javascript:;" class="curs" id="mg_aclik">......</a>
                <?}?>
                </div>
            </dd>
        <? } ?>
            <dd class="f-clearfix">
                <span class="mj-selection-span">平台入驻： </span>
                <div class="mj-selection-list">
                    <a href="javascript:;" <?if ($p == 0){echo 'class="current"';}?>>全部  </a>
                <? foreach ($PLATFORM as $k => $v) { ?>
                    <a href="javascript:;" <?if ($p == $k){echo 'class="current"';}?>><?=$v?></a>
                <? } ?>
                </div>
            </dd>
        </dl>
        <!--search end-->
        <!--imglist start-->
        <div class="w1180">
            <ul class="mj_goods_check f-clearfix">
                <li><input type="checkbox" id="chek1"><label for="chek1">中文</label></li>
                <li><input type="checkbox" id="chek2"><label for="chek2">英文</label></li>
                <li><input type="checkbox" id="chek3"><label for="chek3">图形</label></li>
                <li><input type="checkbox" id="chek4"><label for="chek4">中+英</label></li>
                <li><input type="checkbox" id="chek5"><label for="chek5">中+图</label></li>
                <li><input type="checkbox" id="chek6"><label for="chek6">英+图</label></li>
                <li><input type="checkbox" id="chek7"><label for="chek7">中+英+图</label></li>
                <li><input type="checkbox" id="chek8"><label for="chek8">数字</label></li>
            </ul>
            <div class="mj-imglists">
                <ul class="f-clearfix" id="s-all-list">
                <? foreach ($searchList as $k => $v) { ?>
                    <li>
                        <p class="mj-tip">
                            <?if ($v['isOffprice'] == true){?><label class="mj-tThe" title="特价产品">特</label><?}?>
                            <?if ($v['isBest'] == true){?><label class="mj-tJing" title="精品推荐">精</label><?}?>
                            <?if ($v['isLicence'] == true){?><label class="mj-tShow" title="授权租用">授</label><?}?>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=$v['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" title="<?=$v['name']?>"></span></a>
                        </div>
                        <div class="mj-imglB">
                            <span>(<?=$v['class']?>类)</span>
                            <p title="<?=$v['name']?>"><?=mb_substr($v['name'],0,10,'utf8')?>&nbsp;&nbsp;<?=$CLASSES[$v['class']]?></p>
                        </div>
                    </li>
                <? } ?>
                </ul>
            </div>
        </div>
        <!--imglist end-->
    </div>
</div>

<!--content end-->
<div class="mj-mainbg">
    <div class="mj-footerTip">
        <div class="w1180">
            <div class="mj-bgimg">
                <img src="<?=StaticDir?>style/img/mj-img7.png" alt=""/>
                <a href=""><span>后面还有 <strong> 3000 </strong>商标可购买，实在太多 --  提交购买需求我们帮你匹配？</span></a>
                <!--<label>往下滚动自动消失</label>-->
            </div>
        </div>
    </div>
</div>

<div id="_tmpDiv" style="display:none"></div>

<script type="text/javascript">
    var _number     = <?=$_number?>;
    var _start      = <?=$_number?>;
    var _whereStr   = "<?=$whereStr?>";
    var _url        = '/search/getMore/';

    function loadMore(){
        var obj = new objURL('/?'+_whereStr);
        _start += _number;
        obj.set('n', _start);
        var params = obj.getparams();
        $("#_tmpDiv").load(_url, params, function(data,status,xml){
            // if (s != 'success'){
            //     alert('请求失败，请稍后再试。');
            //     return false;
            // }
            if (data) $("#s-all-list").append(data);
        });
    }


    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollTop + windowHeight == scrollHeight) {
            loadMore();
        }
    });

</script>

<? require(ViewDir.'/footer.html'); ?>