<? foreach ($searchList as $k => $v) { ?>
<li>
    <a href="/d-<?=$v['tid']?>-<?=$v['class']?>.html" target="_blank">
        <p class="mj-tip">
            <?if ($v['isOffprice']){?><label class="mj-tThe" title="特价产品">特</label><?}?>
            <?if ($v['isBest']){?><label class="mj-tJing" title="精品推荐">精</label><?}?>
            <?if ($v['isLicence']){?><label class="mj-tShow" title="授权租用">授</label><?}?>
            <?if ($v['isApprove']){?><label class="mj-tZheng" title="已认证">证</label><?}?>
        </p>
        <div class="mj-imglT">
            <label class="mj-imglT">
                <span><img src="<?=$v['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" title="<?=$v['name']?>"></span>
            </label>
        </div>
        <div class="mj-imglB">
            <span><?=$v['class']?>类 - <label><?=$CLASSES[$v['class']]?></label></span>
            <p title="<?=$v['name']?>"><em><?=mb_substr($v['name'],0,10,'utf8')?></em></p>
        </div>
    </a>
    <div class="mj-listButn">
        <a href="/anquan/?nid=<?=$v['number']?>&class=<?=$v['class']?>" target="_blank">检测此商标</a>
    </div>
</li>
<? } ?>