<? foreach ($searchList as $k => $v) {?>
    <? $_c_ = explode(',', $v['class']);
    if ( count($_c_) < 2 ) {
    ?>
        <li>
            <div>
                <div class="ms-filterCenter">
                    <a href="<?=$v['viewUrl']?>" class="ms-collect cur"><i class="us-icon us-icon20"></i></a>
                    <span class="ms-filtersImg"><a href="<?=$v['viewUrl']?>">
                    <img src="<?=$v['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" alt=""/></a></span>
                    <div class="ms-filtersListTxt">
                        <h6><?=$v['name']?></h6>
                        <p><?=$v['class']?></p>
                        <p title="<?=$v['group']?>"><?=mb_substr($v['group'], 0, 8, 'UTF-8')?mb_substr($v['group'], 0, 8, 'UTF-8'):'-'?></p>
                    </div>
                    <div class="ms-filterBtn">
                        <a href="#" class="ms-inquiry">&yen;&nbsp;询&nbsp;价</a>
                        <a href="#" class="ms-seller"><i class="us-icon us-icon22"></i>联系卖家</a>
                    </div>
                </div>
            </div>
        </li>
    <? }else{ ?>
        <li>
            <div class="ms-filterMany">
                <div class="ms-filterCenter">
                    <a href="<?=$v['viewUrl']?>" class="ms-collect"><i class="us-icon us-icon20"></i></a>
                    <span class="ms-filtersImg"><a href="<?=$v['viewUrl']?>"><img src="<?=$v['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" alt=""/></a></span>
                    <div class="ms-filtersListTxt">
                        <h6><?=$v['name']?></h6>
                        <p>共<em><?=count($_c_)?></em>个分类</p>
                        <p title="<?=$v['group']?>"><?=mb_substr($v['group'], 0, 8, 'UTF-8')?mb_substr($v['group'], 0, 8, 'UTF-8'):'-'?></p>
                    </div>
                    <div class="ms-filterBtn">
                        <a href="#" class="ms-inquiry">&yen;&nbsp;询&nbsp;价</a>
                        <a href="#" class="ms-seller"><i class="us-icon us-icon22"></i>联系卖家</a>
                    </div>
                </div>
                <div class="ms-sortMain">
                    <ul class="ms-sortList">
                    <?foreach ($_c_ as $_k => $_v) {
                        if ( $_k > 10 ) break;
                    ?>
                        <li><span><?=$_v?>类</span>-<?=$_CLASS[$_v]?></li>
                    <?}?>
                    </ul>
                    <div class="ms-sortMore">
                        <a href="<?=$v['viewUrl']?>">查看更多&nbsp;&gt;</a>
                    </div>
                </div>
            </div>
        </li>
    <? } ?>
<? } ?>