<? require(ViewDir.'/header.html'); ?>

<link rel="stylesheet" href="<?=StaticDir?>style/mj-pinvestment.css"/>


<!--content start-->

<div class="mj-content">
    <div class="w1180">
        <!--search start-->
        <dl class="mj-selection">
            <dd class="f-clearfix">
                <span class="mj-selection-span">商标类别：</span>
                <div class="mj-selection-list" id="j-dltype">
                    <a href="javascript:;" class="current">全部  </a>
                <? foreach ($CLASSES as $key => $value) { ?>
                    <a href="javascript:;" <?if ($c == $key){echo 'class="current"';}?>><?echo $key.'类-'.$value?></a>
                <? } ?>
                    <a href="javascript:;" class="curs" id="mj_aclik">......</a>
                </div>
            </dd>
        <? if( !empty($group) ){ ?>
            <dd class="f-clearfix">
                <span class="mj-selection-span">所属群组：</span>
                <div class="mj-selection-list" id="g-dltype">
                    <a href="javascript:;" class="current">全部  </a>
                <? foreach ($group as $ky => $val) { ?>
                    <a href="javascript:;" <?if ($g == $ky){echo 'class="current"';}?>><?=$val?></a>
                <? } ?>
                    <a href="javascript:;">地毯</a>
                    <a href="javascript:;">席类</a>
                    <a href="javascript:;">垫及其他</a>
                    <a href="javascript:;">铺地板用品</a>
                    <a href="javascript:;">非纺织墙</a>
                    <a href="javascript:;">铺地板用品</a>
                    <a href="javascript:;">非纺织墙</a>
                    <a href="javascript:;">铺地板用品</a>
                    <a href="javascript:;">非纺织墙</a>
                <? if ( count($group) > 7 ){?>
                    <a href="javascript:;" class="curs" id="mg_aclik">......</a>
                <?}?>
                </div>
            </dd>
        <? } ?>
            <dd class="f-clearfix">
                <span class="mj-selection-span">平台入驻： </span>
                <div class="mj-selection-list">
                    <a href="javascript:;" class="current">全部  </a>
                    <a href="javascript:;">自营  </a>
                    <a href="javascript:;">天猫</a>
                    <a href="javascript:;">京东</a>
                    <a href="javascript:;">阿里巴巴</a>
                    <a href="javascript:;">亚马逊 </a>
                    <a href="javascript:;">家乐福</a>
                    <a href="javascript:;">沃尔玛</a>
                    <a href="javascript:;">其他大型超市</a>
                </div>
            </dd>
        </dl>
        <!--search end-->
        <!--imglist start-->
        <div class="w1180">
            <ul class="mj_goods_check f-clearfix">
                <li><input type="checkbox" id="chek1"><label for="chek1">中文</label></li>
                <li><input type="checkbox" id="chek2"><label for="chek2">英文</label></li>
                <li><input type="checkbox" id="chek3"><label for="chek3">图形</label></li>
                <li><input type="checkbox" id="chek4"><label for="chek4">中+英</label></li>
                <li><input type="checkbox" id="chek5"><label for="chek5">中+图</label></li>
                <li><input type="checkbox" id="chek6"><label for="chek6">英+图</label></li>
                <li><input type="checkbox" id="chek7"><label for="chek7">中+英+图</label></li>
                <li><input type="checkbox" id="chek8"><label for="chek8">3个字</label></li>
            </ul>
            <div class="mj-imglists">
                <ul class="f-clearfix">
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tJing" title="精品推荐">精</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <span>(25类)</span>
                            <p>梵秀,FAMXIU 日化用品</p>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tJing" title="精品推荐">精</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <span>(25类)</span>
                            <p>梵秀,FAMXIU 日化用品</p>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tJing" title="精品推荐">精</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <span>(25类)</span>
                            <p>梵秀,FAMXIU 日化用品</p>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tJing" title="精品推荐">精</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <span>(25类)</span>
                            <p>梵秀,FAMXIU 日化用品</p>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tJing" title="精品推荐">精</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <span>(25类)</span>
                            <p>梵秀,FAMXIU 日化用品</p>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tJing" title="精品推荐">精</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <span>(25类)</span>
                            <p>梵秀,FAMXIU 日化用品</p>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tJing" title="精品推荐">精</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <span>(25类)</span>
                            <p>梵秀,FAMXIU 日化用品</p>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tJing" title="精品推荐">精</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <span>(25类)</span>
                            <p>梵秀,FAMXIU 日化用品</p>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tJing" title="精品推荐">精</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <span>(25类)</span>
                            <p>梵秀,FAMXIU 日化用品</p>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tJing" title="精品推荐">精</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <span>(25类)</span>
                            <p>梵秀,FAMXIU 日化用品</p>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tShow" title="授权租用">授</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-listimg1.png" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <span>(25类)</span>
                            <p>梵秀,FAMXIU 日化用品</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--imglist end-->
    </div>
</div>

<!--content end-->
<div class="mj-mainbg">
    <div class="mj-footerTip">
        <div class="w1180">
            <div class="mj-bgimg">
                <img src="<?=StaticDir?>style/img/mj-img7.png" alt=""/>
                <a href=""><span>后面还有 <strong> 3000 </strong>商标可购买，实在太多 --  提交购买需求我们帮你匹配？</span></a>
                <!--<label>往下滚动自动消失</label>-->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if (scrollTop + windowHeight == scrollHeight) {

                alert(1);
            }
        });

</script>

<? require(ViewDir.'/footer.html'); ?>