<? foreach ($searchList as $k => $v) { ?>
<li>
    <p class="mj-tip">
        <?if ($v['isOffprice']){?><label class="mj-tThe" title="特价产品">特</label><?}?>
        <?if ($v['isBest']){?><label class="mj-tJing" title="精品推荐">精</label><?}?>
        <?if ($v['isLicence']){?><label class="mj-tShow" title="授权租用">授</label><?}?>
        <?if ($v['isApprove']){?><label class="mj-tZheng" title="认证通过">认</label><?}?>
    </p>
    <div class="mj-imglT">
        <a href="/trademark/view/?tid=<?=$v['tid']?>&class=<?=$v['class']?>" target="_blank" class="mj-imglT"><span><img src="<?=$v['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" title="<?=$v['name']?>"></span></a>
    </div>
    <div class="mj-imglB">
        <span>(<?=$v['class']?>类)</span>
        <p title="<?=$v['name']?>"><?=mb_substr($v['name'],0,10,'utf8')?>&nbsp;&nbsp;<?=$CLASSES[$v['class']]?></p>
    </div>
</li>
<? } ?>