<? require(ViewDir.'/header.html'); ?>

<script src="<?=StaticDir?>1.2/js/scroll.js"></script>
<link rel="stylesheet" type="text/css" href="<?=StaticDir?>1.2/css/list.css" />
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/mj-index.css"/>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/ms-filter.css"/>

<div class="w1180">

    <div class="sbhwjg">
        <div class="sbhwjg-main">
            <h3><?=$title?></h3>
            <font>
                建议你：<br/>
                1 . 检查<lable>商标号</lable>，确保输入<lable>正确</lable>。<br/>
                2 . <a>联系我们</a> 让我们帮你找吧！<br/>
                <span><img src="<?=StaticDir?>1.2/images/wjg-ico.png">3秒极速匹配</span> <span><img src="<?=StaticDir?>1.2/images/wjg-ico.png">1对1专业服务</span>
            </font>

        </div>
    </div>
    <div class="wjg-cnxh">
        <label class="fl">猜你喜欢</label>
        <span  class="fr exchange" data-num=0 onclick="goMore('<?=$moreUrl?>');return false;">
            <img src="<?=StaticDir?>1.2/images/us-icon2.png">
            查看更多
        </span>
    </div>
    <script type="text/javascript">
        function goMore(url)
        {
            alert(url);
            window.location.href = url;
        }
    </script>
    <!--<script type="text/javascript">-->
        <!--var ocontuls=$(".ms-filtersList ul.f-clearfix");-->
        <!--$(".exchange").click(function(){-->
            <!--ocontuls.hide();-->
            <!--var datanum=$(this).attr("data-num");-->
            <!--if(datanum==0){-->

                <!--ocontuls.eq(0).show();-->
                <!--$(this).attr("data-num",1);-->
            <!--}-->
            <!--if(datanum==1){-->
                <!--ocontuls.eq(1).show();-->
                <!--$(this).attr("data-num",2);-->
            <!--}-->
            <!--if(datanum==2){-->
                <!--ocontuls.eq(2).show();-->
                <!--$(this).attr("data-num",0);-->
            <!--}-->
        <!--})-->
    <!--</script>-->
    <!-- ms-filtersList start -->
    <div class="ms-filtersList">
        <ul class="f-clearfix">
        <?foreach ($tmList as $k => $v) {?>
            <?$_c_ = explode(',', $v['class']);
            if ( count($_c_) < 2 ){?>
            <li>
                <div>
                    <div class="ms-filterCenter">
                        <a href="<?=$v['viewUrl']?>" class="ms-collect cur"><i class="us-icon us-icon20"></i></a>
                        <span class="ms-filtersImg"><a href="<?=$v['viewUrl']?>"><img src="<?=$v['imgUrl']?>" alt=""/></a></span>
                        <div class="ms-filtersListTxt">
                            <h6><?=$v['name']?></h6>
                            <p><?=$v['class']?></p>
                            <p title="<?=$v['group']?>"><?=mb_substr($v['group'], 0, 8, 'UTF-8')?mb_substr($v['group'], 0, 8, 'UTF-8'):'-'?></p>
                        </div>
                        <div class="ms-filterBtn">
                            <a href="#" class="ms-inquiry">&yen;&nbsp;询&nbsp;价</a>
                            <a href="#" class="ms-seller"><i class="us-icon us-icon22"></i>联系卖家</a>
                        </div>
                    </div>
                </div>
            </li>
            <?}else{?>
            <li>
                <div class="ms-filterMany">
                    <div class="ms-filterCenter">
                        <a href="<?=$v['viewUrl']?>" class="ms-collect"><i class="us-icon us-icon20"></i></a>
                        <span class="ms-filtersImg"><a href="<?=$v['viewUrl']?>"><img src="<?=StaticDir?>1.2/images/brand-lg.png" alt=""/></a></span>
                        <div class="ms-filtersListTxt">
                            <h6><?=$v['name']?></h6>
                            <p>共<em><?=count($_c_)?></em>个分类</p>
                            <p title="<?=$v['group']?>"><?=mb_substr($v['group'], 0, 8, 'UTF-8')?mb_substr($v['group'], 0, 8, 'UTF-8'):'-'?></p>
                        </div>
                        <div class="ms-filterBtn">
                            <a href="#" class="ms-inquiry">&yen;&nbsp;询&nbsp;价</a>
                            <a href="#" class="ms-seller"><i class="us-icon us-icon22"></i>联系卖家</a>
                        </div>
                    </div>
                    <div class="ms-sortMain">
                        <ul class="ms-sortList">
                        <?foreach ($_c_ as $_k => $_v) {
                            if ( $_k > 10 ) break;
                        ?>
                            <li><span><?=$_v?>类</span>-<?=$_CLASS[$_v]?></li>
                        <?}?>
                        </ul>
                        <div class="ms-sortMore">
                            <a href="<?=$v['viewUrl']?>">查看更多&nbsp;&gt;</a>
                        </div>
                    </div>
                </div>
            </li>
            <?}?>
        <?}?>

        </ul>
    </div>
    <!-- ms-filtersList end -->
</div>

<script type="text/javascript">
    
    //$(".mj-dd").remove();
</script>

<? require(ViewDir.'/footer.html'); ?>