

/*banner*/

.mj-dd{

    /* display: block!important;*/

}
.mj-banner-bg{
    width: 100%;
    background-color: #565656;
}

.mj-banner {
    position: relative;
    height: 400px;
    overflow: hidden;
    width: 100%;
    margin:auto;
}
.mj-bannerIimg{
    position: relative;
    height:400px;
}

.mj-bannerIimg .hd {

    /* width:100%;*/

    width: 500px;

    left: 50%;

    position: absolute;

    bottom: 10px;

    text-align: center;

    font-size:0;

    z-index:1;

    margin-left: -340px;
}

.mj-bannerIimg .hd li{

    display: inline-block;

    margin-left:10px;

    width:15px;

    height:15px;

    border-radius: 50%;

    background: #b29a8c;

    cursor: pointer;

}

.mj-bannerIimg .hd .on{

    background: #efe6e1;

}

.mj-banner-img {margin: 0;padding: 0;list-style: none;position: absolute;top: 0;height: 400px;left: 0;width: 100% !important;/* margin-left: -404px; */z-index: 1;}
.mj-banner-img .mj-banner-itme{
    background-size:100%;

}
.mj-banner-img .mj-banner-itme, .mj-banner-img .mj-banner-itme a {

    display: block;
    width: 100%!important;
    height:400px;



}


.mj-bannerIimg a.sprev, .mj-bannerIimg  a.snext{

    position: absolute;
    left:193px;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 32px;
    height: 40px;
    background: url(../images/slider-arrow.png) no-repeat;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 999;
}
.mj-bannerIimg a.sprev {
    left: 203px;
    background-position: -110px 5px;
}
.mj-bannerIimg a.snext {
    /*left:693px;
    background-position: 8px 5px;*/
    left: 825px;
    background-position: 8px 5px;
    margin-top: -16px;
}
.mj-banner-img .mj-banner-itme {

    float: left;

}

.mj-banner-itme img{

    width:1903px;
    height: 400px;

}

.mj-formW{

    position: relative;

}

.mj-from {
    position: absolute;
    width:317px;
    height:330px;
    z-index: 5;
    top: 13px;
    right:5px;
    padding: 21px 13px;
    background: #fff url("../images/mj-from-top.png") no-repeat top center;
    border-radius: 5px;
    -webkit-border-radius: 5px;

}

.mj-from input{

    border: none;

    outline: none;

}

.mj-from i{

    display: inline-block;

    vertical-align: middle;

}

.mj-from-title {

    margin:-11px 0 5px 0;

    padding: 0;

    position: relative;

    font-weight: normal;

}

.mj-eed{

    display: none;

}

.mj-errds{

    display: none;

}

.ms-errorTips-buy{
    margin: 10px 0;
    position: absolute;
    width: 317px;
}

.ms-errorTips-buy p {

    margin: -10px 0 0 0;

    padding: 0 30px;

    line-height: 28px;
    text-align:center;
    border: 1px solid #ffe4e4;
    border-top: none;

    background: #ffefef;

    color: #ce0000;
    border-radius: 0px 0px 5px 5px;

}

.ms-errorTips-buy p em{

    font-style: normal;

}

.mj-from-title p{

    font-size: 12px;

    color: #999;

    text-align: center;
    margin-top:3px;
    margin-bottom:22px;

}

.mj-from-title label {

    display: inline-block;

    width: 70px;

    height:3px;

    background:url("../images/from-tit-bg.png") repeat-x;

    vertical-align: middle;
}
.mj-from-title h2{
    font-weight: normal;
}
.mj-from-title span {

    padding: 0 16px;

    font-size: 18px;

    color: #666;

    vertical-align: middle;


}

/*.mj-form-wrapper {

    position: relative;

    height: 40px;

    background: #efeded;

    border-radius: 4px;

    padding: 0 10px;

    margin-bottom: 20px;

}*/

.mj-inpuV {

    line-height: 45px;

    color: #999;

    padding-left: 24px;

    font-size: 12px;

    margin-top: 10px;

}

.mj-inputPi {

    position: absolute;

    left: 10px;

    top: 0;

    background: url('../other/8DAG4xA3+Ev9g4AAAAAElFTkSuQmCC');

}

.mj-form-wrapper input[type="text"] {

    position: absolute;
    height: 30px;
    line-height: 40px\9;
    padding: 0;
    padding-left: 13px;
    width: 200px;
    vertical-align: middle;
    z-index: 2;
}

.phcolor{ color:#999;}


.mj_form_wrapper_input {

    position: relative;

    height: 30px;

    width: 63px;

    background: #fff;

    border-radius: 4px;

    border: 1px solid #d9d9d9;
}

.mj-form-wrapper input{

    background: url('../other/8DAG4xA3+Ev9g4AAAAAElFTkSuQmCC');

}

.mj_form_wrapper_input input {

    position: absolute;

    left: 0;

    width: 46px;

    height: 30px;

    border: none;

    border-radius: 4px;

    text-align: center;

    outline: medium;

    background: url('../other/8DAG4xA3+Ev9g4AAAAAElFTkSuQmCC');

    z-index: 2;

    line-height: 40px\9;
}

.mj-form-wrapper i{

    position: absolute;

    left: 10px;

    top: 4px;
}
.mj-newjy{
    margin-top:15px;
    height:108px;
    border-top:1px solid #dadada;
    position: relative;
}
.mj-newjy h3{
    color: #666;
    padding-left: 5px;
    padding-right: 5px;
    background: #ffffff;
    position: absolute;
    top:-10px;
    left: 0px;
    font-family: "宋体";
    font-weight: bold;

}
.mj-newjy h3 img{
    margin-bottom: -2px;
    margin-right: 5px;
}
.mj-newjy .bd{
    margin-top: 20px;
    height: 125px;
    overflow: hidden;
}
.mj-newjy ul{
    height: 90px;
    margin-top:20px;
}
.mj-newjy ul li{
    overflow: hidden;
    font-size: 12px;
    margin-top: 0px;
    margin-left:8px;
    height:22px !important;
}
.mj-newjy ul li label{
    margin-right:10px;
}
.mj-newjy ul li img{
    display: inline-block;
    margin-bottom:7px;
    vertical-align:top;
}
.form-xx{
    display: inline-block;
    height: 13px;
    width: 1px;
    background-color: #999999;
    vertical-align: bottom;
    margin-left: 28px;
    margin-top: 9px;
}
.mj-newjy ul li p{
    display: inline-block;
    margin-left:5px;
    color: #666666;
    margin-top: 3px;
    max-width: 310px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mj-newjy ul li p span{
    display: block;
}
.mj-newjy ul li p span a{
    color:#999999;
}
.mj-newjy ul li p font{

    margin-top:-5px;
    height:45px;
    display:inline-block;
}
.mj-newjy ul li p font label{
    font-family:"Arial";
    font-size:38px;
    color: #ccc;
    vertical-align:middle;
    margin-top:5px;
}
.mj-newjy ul li p font b{
    color: #666666;
    font-weight: 400;
    vertical-align: middle;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    line-height: 21px;
    height: 40px;
    margin-left:5px;
    margin-right:5px;
}
.w178 {

    width: 220px;
}

.mj-form-wrapper {

    position: relative;

    height: 30px;

    background: #fff;

    border-radius: 4px;

    padding: 0 10px;

    margin-bottom: 12px;

    border: 1px solid #d9d9d9;
}

.mj-from-btn {

    display: block;

    height: 40px;

    line-height: 40px;

    text-align: center;

    text-decoration: none;

    color: #ffffff;

    font-size: 16px;

    background: #f4b4b4;

    border-radius: 5px;
    font-weight: bold;
}

.mj-from-btn:hover{

    background: #c41010;

}

.mj-from-txt {

    margin: 0 0 10px  0;

    line-height: 25px;

    text-align: center;

    color: #999;

    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 14px;

}
/*æ´»åŠ¨æ ‡é¢˜æŽ¨è*/

.yzc-Act-all{
    height:119px;
    border-bottom: 1px solid #d9d9d9;
}

.yzc-Activities{
    height: 119px;
    overflow:hidden;
    zoom:1;
    position: relative;
    /* margin-top: 37px; */
}
.picbox{
    width:100%;
    float:left;
    overflow:hidden;
    padding-right: 1px;
    padding-top: 22px;
    height: 120px;
}
.yzc-Activities:hover .og_prev{
    opacity:1;
}
.yzc-Activities:hover .og_next{
    opacity:1;
}
.yzc-Activities .ScrCont {
    width:32766px;
    zoom:1;
    /*margin-left:-5px;*/
}

.yzc-Activities .og_prev,.og_next{
    width: 26px;
    height: 63px;
    position: absolute;
    top:40px;
    z-index: 99;
    opacity:0;
    cursor: pointer;
    /*display: none;*/
}
.yzc-Activities .og_prev:hover,.og_next:hover{
    opacity: 0.8;
}
.yzc-Activities .og_prev{
    background: url("../images/og_prev.png") no-repeat top center;
    left: 2px;
}
.yzc-Activities .og_next{
    background: url("../images/og_next.png") no-repeat top center;
    right: 0px;
}
.yzc-Activities ul{
    margin-left:-2px;
}

.yzc-Activities ul li{
    width: 235px;
    float: left;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    background:#FFF;
    cursor: pointer;
}
.yzc-Activities ul li a{
    display: block;
    width: 235px;
    float: left;
}
.yzc-Activities ul li div.fl{
    max-width: 120px;
    margin-left:10px;
    margin-top:10px;
    text-align: left;
}
.yzc-Activities ul li div.fl  label{
    color: #666666;
}
.yzc-Activities ul li div.fl  h4{
    color: #666666;
    font-size: 16px;
}
.yzc-Activities ul li:hover div.fl  h4{
    color: #ff5656;
}
.yzc-Activities ul li:hover div.fl  h4{
    color: #ff5656;
    transition: all .4s;
    -webkit-transition: all .4s;
}

.yzc-Activities ul li div.fl  i.ck{
    display: inline-block;
    width: 55px;
    height: 18px;
    background-color: #ffffff;
    border: 1px solid #e5a7a7;
    color: #999999;
    font-size: 12px;
    margin-top:15px;
    text-align: center;
    font-style: normal;
}
.yzc-Activities ul li:hover div.fl   i.ck{
    color: #ffffff;
    background-color: #f4b4b4;
    transition: all .4s;
    -webkit-transition: all .4s;
}
.yzc-Activities ul li span{
    display: block;
    width:105px;
    height:97px;
    position: relative;
}
.yzc-Activities ul li span img{
    max-width:105px;
    max-height:97px;
    z-index: 1;
    vertical-align: middle;
    position: absolute;
    bottom:-13px;
    left: 0px;
}
.yzc-Activities ul li:hover span img{
    bottom:0px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -webkit-animation-name: bounce;
    animation-name: bounce
}
.yzc-Activities ul li h3{
    position: absolute;
    top:10px;
    left:10px;
    z-index: 1;
    z-index: 111;
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
}
.yzc-Activities ul li h3 span{
    color: #666666;
    font-size: 12px;
}
/*å•†æ ‡åˆ†ç±»*/
.Brand-tit{
    overflow: hidden;
    position: relative;
    z-index: 9999999;
    margin-bottom: -1px;
}
.Brand-tit li h3{
    font-size: 12px;
    font-weight: normal;
}
.Brand-tit a:hover{
    cursor:pointer;
}
.Brand-tit li{
    width: 127px;
    height: 37px;
    background: #ffffff;
    line-height: 37px;
    text-align: center;
    color: #666666;
    border:1px solid #ededed;
    border-bottom: 1px solid #f18f8f;
    border-bottom: none;
    float: left;
    cursor: pointer;
}
.Brand-tit li.on{
    border-top: 2px solid #ff6666;
    border-left: 1px solid #f18f8f;
    border-right: 1px solid #f18f8f;
    border-bottom: none;
    position: relative;
    /*position: absolute;*/
}
.yzc-Brand-all{
    height: 165px;

}
.yzc-Brand{
    /* overflow: hidden;*/
    margin-top: 10px;
    margin-bottom: 45px;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    padding-bottom: 25px;
    transition:all .4s;
    -webkit-transition:all .4s;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    z-index: 9999;
}

.yzc-Brand .all-clas{
    display: inline-block;
    width: 96px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius:15px;
    -webkit-border-radius:15px;
    color: #666666;
    position: absolute;
    left: 50%;
    margin-left: -48px;
    bottom: -12px;
    cursor: pointer;
}

.yzc-Brand .all-clas i{
    margin-left: 5px;
}
.yzc-Brand .bd ul{
    /* overflow: hidden;*/
    padding-bottom:15px;


}
.tj-recom{
    margin-top:-1px;
}

#con_brand_1,#con_brand_2{
    display: none;
    border-top: 1px solid #f18f8f;
}

.tj-recom a:hover{
    cursor:pointer;
}
.tj-recom li{
    width: 234px;
    height: 71px;
    float: left;
    margin: 1px;
    position: relative;
    z-index: 0;
    background: #ffffff;
}
.tj-recom li:hover{
    z-index:9;
}

.tj-recom li p{
    width: 235px;
    height:71px;
    line-height:71px;
    text-align: center;
    margin-bottom: 1px;
    background: #ffffff;
    /* overflow: hidden;*/
    box-sizing:content-box;
    -moz-box-sizing:content-box; /* Firefox */
    -webkit-box-sizing:content-box;
    position:absolute;
    top:0px;
    left:0px;
    z-index:9;
}
.tj-recom li p label{
    display:block;
    width: 110px;
    height:70px;
    float: left;

}

.tj-recom li p img{


    vertical-align: middle;
    max-width:235px;
    max-height:70px;
    text-align:center;
    /*   margin-right: 27px;
       margin-top:20px ;
       margin-left:45px;*/

}
.tj-recom li p span{
    display: inline-block;
    color: #999999;
    font-size: 18px;
    margin-top:20px ;

}
.tj-recom li p span b{
    color: #333333;
    margin-right:6px;
}

.tj-recom li div.tj-recom-hover{
    width: 234px;
    background:#030;
    min-height:54px;
    /*  overflow: hidden;*/
    background: #f8f8f8;
    position: absolute;
    top:0px;
    left: 1px;
    z-index: 999;
    /* text-align: center;*/
    display: none;
    padding-bottom: 15px;
    border: 1px solid #bfbbbb !important;
    margin-left: -2px;
}
.tj-recom li div.dw{
    position: relative;
    width: 235px;
    height:70px;
}
.tj-recom li:hover .tj-recom-hover{
    display: block;
}
.tj-recom li div.tj-recom-hover label{
    display: inline-block;
    margin-top:10px;
}
.tj-recom li div.tj-recom-hover label a{
    display:inline-block;
    width: 100px;
    text-align: center;
    margin-left:15px;
    color: #666666;
    margin-top:5px;
}
.tj-recom li div.tj-recom-hover label a:hover{
    color:#ff6666;
    /*color:#666666;*/
    text-decoration:underline;
    height:16px;
}

.brand-fl{
    overflow: hidden;
    background: #ffffff;
    padding-top:5px;
    height:114px;
}
.yzc-Brand:hover .brand-fl{
    height:auto;
}

.brand-fl li{
    overflow: hidden;
    padding-left:25px;
}
.brand-fl li p{
    display: inline-block;
    width: 124px;
    text-align: left !important;
    margin-top: 15px;
}
.brand-fl li span{
    color: #999999;
    margin-right:8px;
}
.brand-fl li span label{
    display: inline-block;
    width: 22px;
    height: 20px;
    background-image:url("../images/sy-class.png");
    background-repeat:no-repeat;
    /* margin-top: 5px; */
    vertical-align: middle;
}
.sy-cls1{
    background-position: 1px 1px;
}
.sy-cls2{
    background-position: -126px 1px;
}
.sy-cls3{
    background-position: -252px 1px;
}
.sy-cls4{
    background-position: -385px 1px;
}
.sy-cls5{
    background-position: -513px 1px;
}
.sy-cls6{
    background-position: -641px 1px;
}
.sy-cls7{
    background-position: -768px 1px;
}
.sy-cls8{
    background-position: -895px 1px;
}
.sy-cls9{
    background-position: -1026px 1px;
}
.sy-cls10{
    background-position: 1px -33px;
}
.sy-cls11{
    background-position:-127px -33px;
}
.sy-cls12{
    background-position: -255px -33px;
}
.sy-cls13{
    background-position: -385px -33px;
}
.sy-cls14{
    background-position: -512px -33px;
}
.sy-cls15{
    background-position: -639px -33px;
}
.sy-cls16{
    background-position: -767px -33px;
}
.sy-cls17{
    background-position: -897px -33px;
}
.sy-cls18{
    background-position: -1023px -33px;
}
.sy-cls19{
    background-position: 2px -68px;
}
.sy-cls20{
    background-position: -126px -68px;
}
.sy-cls21{
    background-position: -255px -68px;
}
.sy-cls22{
    background-position: -383px -69px;
}
.sy-cls23{
    background-position: -512px -69px;
}
.sy-cls24{
    background-position: -639px -69px;
}
.sy-cls25{
    background-position: -767px -69px;
}
.sy-cls26{
    background-position: -895px -69px;
}
.sy-cls27{
    background-position: -1025px -69px;
}
.sy-cls28{
    background-position: 2px -103px;
}
.sy-cls29{
    background-position: -127px -103px;
}
.sy-cls30{
    background-position: -253px -102px;
}
.sy-cls31{
    background-position: -386px -103px;
}
.sy-cls32{
    background-position: -512px -103px;
}
.sy-cls33{
    background-position: -639px -103px;
}
.sy-cls34{
    background-position: -767px -103px;
}
.sy-cls35{
    background-position: -895px -103px;
}
.sy-cls36{
    background-position: -1023px -103px;
}
.sy-cls37{
    background-position:2px -138px;
}
.sy-cls38{
    background-position: -126px -140px;
}
.sy-cls39{
    background-position: -253px -138px;
}
.sy-cls40{
    background-position: -383px -138px;
}
.sy-cls41{
    background-position: -511px -138px;
}
.sy-cls42{
    background-position: -639px -138px;
}
.sy-cls43{
    background-position: -767px -139px;
}
.sy-cls44{
    background-position: -895px -138px;
}
.sy-cls45{
    background-position: -1022px -138px;
}
.brand-fl li a:hover{
    text-decoration:underline;
}
.brand-fl li a.piont{
    color: #ff6666;
}


#con_category_1,#con_category_2,#con_category_3,#con_category_4{
    display: none;
    border-top: 1px solid #f18f8f;
    border-left: 1px solid ;
}
.sbzs{
    position:relative;
    z-index:1;

}
.yzc-category{
    width: 1180px;
    margin-top:30px;

}

.yzc-category-tit{
    overflow: hidden;
    position: relative;
    margin-bottom:-3px;

}
.yzc-category-tit h3{
    color: #666666;
    float: left;
    font-size: 18px;
    margin-left: 10px;
    font-weight: normal;
}
.yzc-category-tit h3 img{
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right:8px;
}
.yzc-category-tit h3 span{
    color: #bbbbbb;
    font-weight:normal;
}
.yzc-category-tit ul.fr{
    margin-left: -2px;
    border-bottom: 3px solid #d3d3d3;
}
.yzc-category-tit ul.fr li{
    display: inline-block;
    min-width:68px;
    padding-left: 5px;
    padding-right: 5px;
    height: 38px;
    line-height: 38px;
    float: left;
    text-align: center;
    background: #ffffff;
    color: #666666;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.yzc-category-tit ul.fr li span{
    height: 15px;
    border: 1px solid #f0f0f0;
    float: right;
    margin-top:8px;
    margin-left:10px;
}
.yzc-category-tit ul.fr li:last-child span{
    border:none;
}
.yzc-category-tit ul.fr li.on{
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    /*color: #ff5656;*/
    text-decoration: underline;
    position: relative;
    left: -2px;
    bottom: -2px;
    margin-bottom: -1px;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius:  5px 5px 0px 0px;
    position: relative;
}
.yzc-category-tit ul.fr li a{
    color:#666666;
}
.yzc-category-tit ul.fr li.on span{
    border:none;
}
.yzc-category .parBd{
    position:relative;
    z-index:9;
    float:right;
    width: 838px;
}
.yzc-category  div.f-clearfix{
    border-top: 3px solid #d3d3d3;
}

.brandlist-show{
    /* overflow: hidden;*/
    /* padding-bottom:80px;*/

    z-index: 1;
}
.yzc-category-main dl dt{
    color: #666666;
    font-size: 14px;
    border: 1px solid #f0f0f0;
    width: 12px;
    float: left;
}
.yzc-category-main dl dd{
    height: 368px;
    width: 1180px;
    border: 1px solid red;
}
.yzc-categorypic-show{
    width: 299px;
    position: relative;
    border-top:3px solid #ff3f3f ;
    margin-top: -3px;
}



.slideBox{ width:300px; height:350px; text-align:center; line-height:300px; overflow:hidden; position:relative; background:#fff;}
.slideBox .shd{ width:300px; text-align:center;height:15px; overflow:hidden; position:absolute;  right:0px; bottom:115px; z-index:999; }
.slideBox .shd p{ overflow:hidden; zoom:1; text-align:center;height:15px;display: inline-block;position: absolute;left: 42%;}
.slideBox .shd p a{ display:block;margin-right:6px;  width:10px; height:10px; border-radius:15px;  text-align:center; background:#a6a6a6; cursor:pointer; float: left;}
.slideBox .shd p a.on{ background:#bd3838;  }
.slideBox .bd1{ position:relative; height:100%; z-index:0;   }
.slideBox .bd1 li{ zoom:1; vertical-align:middle;}
.slideBox .bd1 img{width:300px; height:350px;display:block;  }

/*ä¸‹é¢æ˜¯å‰/åŽæŒ‰é’®ä»£ç ï¼Œå¦‚æžœä¸éœ€è¦åˆ é™¤å³å¯ */
.slideBox .sprev,
.slideBox .snext{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .snext{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .sprev:hover,
.slideBox .snext:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .sprevStop{ display:none;  }
.slideBox .snextStop{ display:none;  }
.slideBox .sbd li{
    width:300px !important;
    background:#FFF;
    display:table-cell;
    text-align:center;
    vertical-align:middle;

}
.slideBox .sbd li img{max-width:300px; max-height:350px;text-align:center;}

.cate-list{
    width: 300px;
    height: 100px;
    padding-top: 7px;
    position: absolute;
    bottom:0px;
    left: 0px;
    z-index: 99;

}
.cate-list-bg1{
    background:url("../images/cate-bg1.png") repeat;
}
.cate-list-bg2{
    background:url("../images/cate-bg2.png") repeat;
}
.cate-list p{
    overflow: hidden;
    margin-top:3px;
}
.cate-list a span{
    margin-left: 5px;
}
.cate-list p a.fl{
    text-indent: 55px;
}
.cate-list p a.fr{
    text-align: left;
    text-indent: 35px;
}
.cate-list a{
    display: inline-block;
    width: 33%;
    height:31px;
    line-height: 31px;
    float: left;
    text-align: left;
    text-indent: 25px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* margin-left: 15px; */
}

.cate-list a:hover span{
    text-decoration:underline;
}
.yzc-categorbrand{
    width:880px;
    background:#ffffff;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.yzc-categorbrand li{
    width: 219px;
    width/***/: 218px\9;
    height: 174px;
    float: left;
    position: relative;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    background: #ffffff;
}
.yzc-categorbrand li>a{
    display:block;
    width: 219px;
    height: 174px;
}
.yzc-categorbrand li div{
    width: 100%;

}
.yzc-categorbrand li div.brand-show{
    background:#fff;
}
.yzc-categorbrand li div span{
    display:table-cell;
    /* margin-top: 40px;*/
    height: 110px;
    text-align: center;
    vertical-align: middle;
    width: 219px;


}
.yzc-categorbrand li div span.shangbiao img{
    max-width:152px;
    max-height: 104px;
    margin:auto;
    vertical-align:middle;
}
.yzc-categorbrand li div span.zhuanli img{
    max-width:219px;
    max-height: 126px;
    margin:auto;
    vertical-align:middle;
}
.yzc-categorbrand li div p{
    margin-top: 15px;
    text-align: center;
    color: #666666;
}

.yzc-categorbrand li div p label{
    margin-right:6px;

}
.yzc-categorbrand li div.brand-buy {
    display: none;
    width: 214px;
    height:172px;
    position: absolute;
    top:-3px;
    left: -1px;
    z-index: 9999;
    border: 3px solid #ff6565;
    background: url("../images/blk-bg.png") repeat;

}
.yzc-categorbrand li:hover .brand-buy{
    display: block;

}
.yzc-categorbrand li div.brand-buy font{
    display: inline-block;
    text-align: center;
    margin-top: 12px;
     width: 100%;
    height: 42px;
}
.yzc-categorbrand li div.brand-buy em{
    display: inline-block;
    min-width: 98px;
    width/***/: 98px\9;
    height: 20px;
    line-height:21px;
    text-indent: 16px;
    padding-right: 5px;
    background: url(../images/tj-hot-bg.png) no-repeat top center;
    position: absolute;
    color: #ffffff;
    right: -60px;
    top: 25px;
}

.yzc-categorbrand li div.brand-buy font a{
    display: inline-block;
    width: 78px;
    height: 85px;
    text-align: center;
    color: #ffffff;
}
.yzc-categorbrand li div.brand-buy font a i{
    display: block;
    width: 56px;
    height: 56px;
    margin: auto;
    margin-bottom: 7px;
}

.yzc-categorbrand li div.brand-buy font a i.cate-buy{
    background: url("../images/catebuy-n1.png") no-repeat top center;
}
.yzc-categorbrand li div.brand-buy font a i.cate-ck{
    background: url("../images/cate-ck-n1.png") no-repeat top center;
}
.yzc-categorbrand li div.brand-buy font a.first:hover i.cate-buy{
    background: url("../images/catebuy-n1-2.png") no-repeat top center;
}
.yzc-categorbrand li div.brand-buy font a.sec:hover i.cate-ck{
    background: url("../images/cate-ck-n1-2.png") no-repeat top center;

}
.yzc-categorbrand li div.brand-buy font a:hover{
    text-decoration: underline;
}
.yzc-categorbrand li div.brand-buy label{
    display:block;
    text-align: center;
    position: absolute;
    bottom: -12px;
    left: 57px;
}
.yzc-categorbrand li div.brand-buy label a{
    display: inline-block;
    border: 1px solid #767676;
    border-radius: 3px;
    color: #767676;
    padding: 4px 5px;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#e7e8f2));
    background:-moz-linear-gradient(top, #fefefe,#e7e8f2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe,endColorstr=#e7e8f2,grandientType=1);
    box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}
.yzc-buy-sell{
    width: 1180px;
    height: 80px;
    background: #f6f6f6;
    margin-top: 12px;
}
.buy-se-lf{
    width: 300px;
    height: 80px;
    background: url("../images/buy-sel-bg1.jpg") no-repeat top center;
}
.buy-se-lf a{
    display: inline-block;
    width: 121px;
    margin-top: 14px;
    margin-left: 20px;
}
.buy-se-lf a  img{
    display: inline-block;
    vertical-align: middle;
    margin-top: -33px;
}
.buy-se-lf a p{
    display: inline-block;
    width: 62px;
    color: #999999;
    line-height: 26px;
    margin-left: 5px;
}
.buy-se-lf a p b{
    color: #ffffff;
    font-size: 16px;
}
.buy-se-rg {
    height: 78px;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
.buy-se-rg li{
    width: 207px;
    height: 78px;
    float: left;
    cursor: pointer;
}


.buy-se-rg  em{
    display: inline-block;
    width: 1px;
    height: 36px;
    background-color: #e1e1e1;
    margin-top: 24px;
    float: left;
}
.buy-se-rg li span{
    float: left;
    margin: 12px 16px;
}
.buy-se-rg li p{
    float: left;
    margin-top: 17px;
    margin-left: -15px;
}
.buy-se-rg li p label{
   display: inline-block;
    padding: 2px 4px;
    background-color: #c9c9c9;
    border-radius:6px;
    -webkit-border-radius: 6px;
    color: #ffffff;
    margin-top:2px;
}
.buy-se-rg li p b{
    color:#666666;
    font-size: 16px;
}
/*.buy-se-rg li:hover{*/
    /*border: 3px solid #db4343;*/
    /*width: 203px;*/
    /*height: 74px;*/
    /*margin-top: -1px;*/
    /*margin-left: -1px;*/
/*}*/
.buy-se-rg li:hover b{
    color: #ff5656;
}
.buy-se-rg li:hover label{
    background-color: #f4b4b4;
}
/*æˆåŠŸæ¡ˆä¾‹*/

.succeed-al{
    margin-top: 28px;
    position: relative;
    margin-bottom:10px;
}
.brand-ques-tit .succeed-al-tit{
    width: 50%;
}
.succeed-al-tit h3{
    color: #666666;
    font-size: 18px;
    padding-left:10px;
    font-weight: normal;
}
.succeed-al-tit a{
    display: inline-block;
    width: 73px;
    height: 23px;
    line-height: 23px;
    text-align:center;
    background-color: #ffffff;
    color: #666666;
    font-size: 13px;
    border: 1px solid #d3d3d3;
    margin-top: 3px;
    margin-right: 20px;
}
.succeed-al-tit a:hover{
    background-color: #f4b4b4;
    color: #ffffff;
    border: 1px solid #e5a7a7;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.succeed-al ul{
    margin-top:10px;
    overflow: hidden;
}

.succeed-al-main li{
    float: left;
    width: 392px;
    position: relative;
    background: #fff;
}
.succeed-al-main li img{
    max-width: 395px;
    max-height: 204px;
}

.succeed-al-sy li{
    float: left;
    width: 393px;
    position: relative;
    background: #fff;
}
.succeed-al-sy li img{
    opacity: 1;
    filter:Alpha(opacity=100);
    max-width: 394px;
    max-height: 205px;
}
.succeed-al-sy li:hover img{
    opacity:0.8;
    filter:Alpha(opacity=80)
}
.succeed-al-main li div.front dl{
    width: 168px;
    position: absolute;
    right: 25px;
    top: 65px;
}
.succeed-al-main li div.front img{
    max-width: 385px;
    max-height: 220px;
}
.succeed-al-main li div.front font{
    display: inline-block;
    color: #333333;
    font-size: 18px;
    /*  padding-bottom: 5px;*/
}
.succeed-al-main li div.front font span{
    display: inline-block;
    padding:3px;
    color: #ffffff;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 7px;
    vertical-align: middle;
}
.succeed-al-main li div.front  p{
    border-top: 1px solid #eeeeee;
    color: #666666;
    font-size: 12px;
    line-height: 20px;
}
.succeed-al-main li div.front  p label{
    color: #999999;
}

.succeed-al-main li div.front{
    -webkit-transform: translate3d(0px,0px,0px);
    -moz-transform: translate3d(0px,0px,0px);
    -ms-transform: translate3d(0px,0px,0px);
    -o-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
}
.succeed-al-main li  div.reverse{
    display: none;
}
/*ç¿»è½¬æ•ˆæžœ*/
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width:385px;
    height:217px;
}
.flip-container .back img{
    max-width: 385px;
    max-height: 220px;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    background: #fff;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    position: relative;


}

.back {
    transform: rotateY(180deg);
}




/*å•†æ ‡æ–°é—»*/

.brand-ques{
    overflow: hidden;
     margin-top: 25px;
}
.brand-ques h2{
    color: #333333;
    font-size: 20px;
    font-weight: normal;
    text-indent: 5px;
}
.Trad-all{
    border: 1px solid #f0f0f0;
    overflow: hidden;
    background: #ffffff;
    margin-top:10px;
    min-height: 234px;
    padding-bottom: 15px;
}
.brand-ques .Tradenews,.trademark{
    background-color: #fffef1;
    overflow: hidden;
}
.trademark img{max-width:100%;}
.brand-ques  dl{
    width: 50%;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
}
.brand-ques  dl dt{
    float: left;
    width: 200px;
    height: 174px;
}
.brand-ques div dl dd{
    width:380px;
    float: left;
    margin-top:7px;
}
.brand-ques  dl dd p{
    overflow: hidden;
    margin-top:6px;
    color: #666666;
    margin-left: 15px;
}
.brand-ques  dl dd p span{
    width:245px;
    line-height:24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.brand-ques  dl dd a{
    color: #666666;
}
.brand-ques  dl dd p label{
    color: #999999;
    margin-right: 6px;
    font-family: "arial";
}
.brand-ques .btm{
    overflow: hidden;


}
.brand-ques .btm p{
    width: 33%;
    overflow: hidden;
    margin-top: 15px;
    color: #666666;
    text-align: center;
    float: left;
}
.brand-ques .btm p span{
    padding-left:25px;
}
.brand-ques .btm p label{
    font-family: "arial";
}
.brand-ques  a.more{
    display:inline-block;
    color: #666666;
    float:right;
    margin-top:5px;
    margin-right:5px;
}
.brand-ques  a:hover{
    color: #ff6666;
    text-decoration: underline;
}
.brand-ques .btm p label{
    color: #999999;
}
.brand-ques .btm p a{
    color: #666666;
}
.Tradenews,.trademark a:hover{
    cursor:pointer;
    color:#ff6666;
}
.brand-ques .btm p a:hover{
    cursor:pointer;
    color:#ff6666;
}
.yzc-tool{
    height: 280px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    margin-top: 55px;
}
.yzc-tool-tit{
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    top: -25px;
    left: 40.1%;
}
.yzc-tool-tit h3{
    color: #666666;
    font-size: 18px;
}
.yzc-tool-tit span{
    display: inline-block;
    background-color: #c1c1c1;
    padding:3px 20px;
    color: #ffffff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    margin-top: 5px;
}
.yzc-tool ul {
    margin-top: 60px;
    padding-left: 25px;
    padding-right: 25px;
}
.yzc-tool ul li{
    width: 188px;
    float: left;
    text-align: center;
}
.yzc-tool ul li div{
    height: 158px;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
}
.yzc-tool ul li div span{
    display: block;
    width: 114px;
    height: 114px;
    margin: auto;
    transition: all .2s;
    -webkit-transition: all .2s;
}
.yzc-tool ul li div b{
    display: inline-block;
    color: #666666;
    font-size: 15px;
    margin-top: 10px;
}
.yzc-tool ul li div i{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../images/lc-spot.png") no-repeat top center;
    position: absolute;
    bottom: -8px;
    left: 46%;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.yzc-tool ul li label{
    display: inline-block;
    margin-top: 12px;
    color: #999999;
    line-height: 16px;
}
.yzc-tool ul li:hover div i{
    background: url("../images/lc-spot-2.png") no-repeat top center;
}
.yzc-tool ul li:hover b{
    text-decoration: underline;
}
.tool-pic1{
    background: url("../images/lc-ico1.png") no-repeat top center;
}
.yzc-tool ul li:hover .tool-pic1{
    background: url("../images/lc-ico1-1.png") no-repeat top center;
}
.tool-pic2{
    background: url("../images/ly-ico2.png") no-repeat top center;
}
.yzc-tool ul li:hover .tool-pic2{
    background: url("../images/ly-ico2-1.png") no-repeat top center;
}
.tool-pic3{
    background: url("../images/lc-ico3.png") no-repeat top center;
}
.yzc-tool ul li:hover .tool-pic3{
    background: url("../images/lc-ico3-1.png") no-repeat top center;
}
.tool-pic4{
    background: url("../images/lc-ico4.png") no-repeat top center;
}
.yzc-tool ul li:hover .tool-pic4{
    background: url("../images/lc-ico4-1.png") no-repeat top center;
}
.tool-pic5{
    background: url("../images/lc-ico5.png") no-repeat top center;
}
.yzc-tool ul li:hover .tool-pic5{
    background: url("../images/lc-ico5-1.png") no-repeat top center;
}
.tool-pic6{
    background: url("../images/lc-ico6.png") no-repeat top center;
}
.yzc-tool ul li:hover .tool-pic6{
    background: url("../images/lc-ico6-1.png") no-repeat top center;
}
/*è®¢é˜…å•†æ ‡*/
.yzc-take{
    margin-top: 25px;
    width: 100%;
    min-width: 1180px;
    height: 204px;
    background: url("../images/take.jpg") no-repeat top center;

}
.yzc-take div{
    position: relative;
}
.yzc-take a{
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    height: 42px;
    line-height: 44px;
    text-align: center;
    text-indent: 25px;
    font-family: "微软雅黑";
}

.take1{
    width: 200px;
    right: 388px;
    top: 120px;

}
.take2{
    right: 145px;
    top: 120px;
    width: 220px;
}
/*æ‚¬æµ®æ¥¼å±‚*/

.float-floor{
    width:48px;
    /*height: 380px;*/
    background: #ffffff;
    border: 1px solid #e1e1e1;
    position:fixed;
    /*display: none;*/
    z-index: 9999;
    padding-bottom: 15px;
    border-bottom: 2px solid #f4b4b4;
}
@media screen and (max-width:1180px) {
    .float-floor{
        display: none;
    }
}
.float-floor li{
    text-align: center;
    line-height:16px;
    position: relative;
    z-index: 1;

}
.float-floor li span{
    display:block;
    width: 100%;
    height: 44px;
}
.flr-pic1{
    background: url("../images/flr-ico1.png") no-repeat center  center;
}
.float-floor li:hover .flr-pic1{
    background: url("../images/flr-ico1-1.png") no-repeat center  center;
}
.flr-pic2{
    background: url("../images/flr-ico2.png") no-repeat center  center;
}
.float-floor li:hover .flr-pic2{
    background: url("../images/flr-ico2-1.png") no-repeat center  center;
}
.flr-pic3{
    background: url("../images/flr-ico3.png") no-repeat center  center;
}
.float-floor li:hover .flr-pic3{
    background: url("../images/flr-ico3-1.png") no-repeat center  center;
}
.flr-pic4{
    background: url("../images/flr-ico4.png") no-repeat center  center;
}
.float-floor li:hover .flr-pic4{
    background: url("../images/flr-ico4-1.png") no-repeat center  center;
}
.flr-pic5{
    background: url("../images/flr-ico5.png") no-repeat center  center;
}
.float-floor li:hover .flr-pic5{
    background: url("../images/flr-ico5-1.png") no-repeat center  center;
}


.float-floor li a{
    margin: auto;
    display: block;
    width: 42px;
    height: 76px;
    overflow: hidden;
    font-size: 12px;
    cursor: pointer;

}
.float-floor li:last-child a{
    border-bottom:none;
}
.float-floor li.on .flr-pic1{
    background: url("../images/flr-ico1-1.png") no-repeat center  center;
}
.float-floor li.on .flr-pic2{
    background: url("../images/flr-ico2-1.png") no-repeat center  center;
}
.float-floor li.on .flr-pic3{
    background: url("../images/flr-ico3-1.png") no-repeat center  center;
}
.float-floor li.on .flr-pic4{
    background: url("../images/flr-ico4-1.png") no-repeat center  center;
}
.float-floor li.on .flr-pic5{
    background: url("../images/flr-ico5-1.png") no-repeat center  center;
}











