<? require(ViewDir.'/header.html'); ?>
<script src="<?=StaticDir?>script/login_new.js"></script>
<script type="text/javascript" src="<?=StaticDir?>script/objurl.js"></script>
<script type="text/javascript" src="<?=StaticDir?>script/jquery.corner.js"></script>
<script type="text/javascript" src="<?=StaticDir?>script/jquery.roundabout.js"></script>
<script type="text/javascript" src="<?=StaticDir?>script/jquery.roundabout-shapes.js"></script>
<link rel="stylesheet" href="<?=StaticDir?>style/mj-strademark.css"/>

<!--content start-->
<div id="gla">
    <div id="gla_box">
        <span class="prev"></span>
        <span class="next"></span>
        <ul>
        <?foreach ($channel['adList'] as $k => $v) {?>            
            <li>
                <div class="gla_inbox">
                    <a href="<?=$v['link']?>" target="_blank">
                    <img src="<?=empty($v['pic'])?'':TRADE_URL.$v['pic']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" alt="<?=$v['desc']?>" /></a>
                    <p class="mj-ad">
                        <?=mbSub($v['desc'],0,60)?>
                    </p>
                </div>
            </li>
        <?}?>
        </ul>
    </div>
</div>

<div class="mj-content">
    <div class="w1180">
        <!--search start-->
        <dl class="mj-selection">
            <dd class="f-clearfix">
                <span class="mj-selection-span">商标类别：</span>
                <div class="mj-selection-list" id="j-dltype">
                    <a tid=0 href="javascript:createUrl('_class',0);"  <?if ($c == 0){echo 'class="current"';}?>>全部  </a>
                <? foreach ($_CLASS as $key => $value) { ?>
                    <a tid=<?=$key?> href="javascript:createUrl('_class',<?=$key?>);" <?if ($c == $key){echo 'class="current"';}?>><?echo $key.'类-'.$value?></a>
                <? } ?>
                    <a href="javascript:;" class="curs" id="mj_aclik" style="color: rgb(75, 165, 222);">展开</a>
                </div>
            </dd>
        <? if( !empty($c) ){ ?>
            <dd class="f-clearfix">
                <span class="mj-selection-span">所属群组：</span>
                <div class="mj-selection-list" id="g-dltype">
                    <a href="javascript:createUrl('_group',0);" <?if ($g == ''){echo 'class="current"';}?>>全部  </a>
                <? foreach ($_GROUP[$c] as $ky => $val) { ?>
                    <a href="javascript:createUrl('_group','<?=$ky?>');" <?if ($g == $ky){echo 'class="current"';}?> title="<?=$val?>">
                    <?=mb_substr($val, 0, 6, 'utf8')?></a>
                <? } ?>
                <? if ( count($_GROUP[$c]) > 10 ){?>
                    <a href="javascript:;" class="curs" id="mg_aclik" style="color: rgb(75, 165, 222);">展开</a>
                <?}?>
                </div>
            </dd>
        <? } ?>
        </dl>
    </div>
        <!--search end-->
        <!--imglist start-->
        <div class="w1180" id="sept">
            <div class="mj-imglists">
                <ul class="f-clearfix" id="s-all-list">
                <? foreach ($searchList as $k => $v) { ?>
                    <li>
                        <input class="xunjia_data" type="hidden" tid="<?=$v['tid']?>" data_class="<?=$v['class']?>" number="<?=$v['number']?>" remarks="<?echo '商标号：'.$v['number'].';商标名称：'.$v['name']?>">
                        <a href="<?=$v['viewUrl']?>" target="_blank">
                            <p class="mj-tip">
                                <?if ($v['isOffprice'] == true){?><label class="mj-tThe" title="特价产品">特</label><?}?>
                                <?if ($v['isBest'] == true){?><label class="mj-tJing" title="精品推荐">精</label><?}?>
                                <?if ($v['isLicence'] == true){?><label class="mj-tShow" title="授权租用">授</label><?}?>
                            </p>
                            <div class="mj-imglT">
                                <label class="mj-imglT">
                                    <span><img src="<?=$v['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" title="<?=$v['name']?>"></span>
                                </label>
                            </div>
                            <div class="mj-imglB">
                                <p title="<?=$v['name']?>"><?=mb_substr($v['name'],0,10,'utf8')?>&nbsp;&nbsp;<?if($c){echo $CLASSES[$c];}else{$_cc = explode(',', $v['class']);echo $CLASSES[$v['class']];}?></p>
                                 <span class="mj-imgspan"><label><strong>
                                 <? if ($v['price'] <= $v['salePrice']){echo '10';}else{$zk = (($v['salePrice'])/($v['price']))*10;echo number_format($zk,1);}?>
                                 </strong>折</label> <b><em>￥</em><em><?=$v['salePrice']?></em></b></span>
                            </div>
                        </a>
                        <div class="mj-listButn">
                            <a href="javascript:void(0);" onclick="xunjia(this);" class="ms-inquiry">&yen;&nbsp;询&nbsp;价</a>
                            <a href="javascript:void(0);" onclick="goChat()" class="ms-seller"><i class="us-icon us-icon22"></i>联系卖家</a>
                        </div>
                    </li>
                <? } ?>
                </ul>
            </div>
            <? if (empty($searchList) || $has == false){?>
                <div id="s-nothing" style="padding-top:33px;text-align:center;"><img src="<?=StaticDir?>images/nogoods.png"></div>
            <?}?>
            <div id="s-uploading" style="padding-top:33px;text-align:center;display:none;height:100px;"><img src="<?=StaticDir?>images/loading.gif"></div>
        </div>
        <!--imglist end-->
</div>

<div id="_tmpDiv" style="display:none"></div>

<script type="text/javascript">
    var _start      = 1;
    var _whereStr   = "<?=$whereStr?>";
    var _moreUrl    = '/offprice/getMore/';
    var _url        = '/offprice/index/?';
	var _urlSearch  = '/search/index/?';
    var _has        = "<?=$has?>";
    var _class      = "<?=$c?>";
    var _group      = "<?=$g?>";
    var _times      = 0;
    var _objTime ;

    function loadMore(){
        if (!_has) return false;
        $('#s-uploading').show();
        var obj = new objURL('/?'+_whereStr);        
        if ( _times != 0 ) return false;

        _start ++;
        _times      = 1;
        _objTime    = setTimeout(function(){_times = 0;},30000);
        obj.set('_p', _start);
        var params = obj.getparams();
        $("#_tmpDiv").load(_moreUrl, params, function(data,status,xml){
            if (data) {
                $("#s-all-list").append(data);
                $("#_tmpDiv").html('');
                $('#s-uploading').hide();
                clearTimeout(_objTime);
                _times = 0;
            }else{
                _has = false;
                $('#s-uploading').hide();
                $("#list-more").html("<span>没找到中意的？还有近<strong> 29814 </strong>商标没上线，让我来帮你找找？</span>");
                $(".mj-maclose").hide();
                $(".mj-footerTip").show();
                _times = 1;
            }
        });
    }
	
	var _isshow = 0;
	//提交URL
	function createUrl(parameter,value){
		t =_isshow;
		if(parameter == '_class'){
			_group = "";
		}
		switch(parameter){
			case "_class" :
				_class = value;
				break;
			case "_group" :
				_group = value;
				break;
		}
		var obj = new objURL('/?'+_whereStr);
		obj.set('c', _class==0?'':_class);
		obj.set('g', _group==0?'':_group);
        var params = obj.strparams();
		if(t == 1){
			var allurl = _url+params+_maodian;
		}else{
			var allurl = _url+params;
		}
        window.location = allurl;
	}

    $("#mj-label").click(function(){
        $(".mj-footerTip").hide();
        $(".mj-maclose").show();
    });
    $(".mj-maclose").click(function(){
        $(".mj-footerTip").show();
        $(".mj-maclose").hide();
    });

    if ( _class >= 10 ){
        var _first = $("#j-dltype").find('a').first();
        $("#j-dltype").prepend($("#j-dltype > .current"));
        $("#j-dltype").prepend(_first);
    }
    
    $("#g-dltype").find('a').each(function (k,v){
        if ( $(this).hasClass('current') ){
            if ( k >= 10 && $("#g-dltype").find('a').length > 11){
                var _first = $("#g-dltype").find('a').first();
                $("#g-dltype").prepend($("#g-dltype > .current"));
                $("#g-dltype").prepend(_first);
            }
        }
    });

	
	//搜索提交
	$('#sSubmit').click(function(){
		var _kw = $('#keywords').val();
		var obj = new objURL('/?'+_whereStr);
		obj.set('kw',_kw==''?'':$.trim(_kw));
		obj.set('c', _class==0?'':_class);
		obj.set('g', _group==0?'':_group);
        obj.set('p', _plat==0?'':_plat);
        obj.set('t', _sT==0?'':_sT);
        obj.set('sn', _sN==0?'':_sN);
        var params = obj.strparams();
        window.location = _urlSearch+params+_maodian;
	})
	
    /*select*/
    $('.son_ul').hide(); //初始ul隐藏
    $('.select_boxs span').hover(function(){ //鼠标移动函数
                $(this).parent().find('ul.son_ul').show();  //找到ul.son_ul显示
                $(this).parent().find('li').hover(function(){$(this).addClass('hover')},function(){$(this).removeClass('hover')}); //li的hover效果
                $(this).parent().hover(function(){},
                        function(){
                            $(this).parent().find("ul.son_ul").hide();
                        }
                );
            },function(){}
    );
    $('ul.son_ul li').click(function(){
        $(this).parents('li').find('.mj-textS').html($(this).html());
        $(this).parents('li').find('.mj-textS').attr('tid', $(this).attr('tid'));
        $(this).parents('li').find('ul').hide();
    });

    //悬浮层
    _nav = $('.mj_goods_check');
    $(window).scroll(function(){
        if($(window).scrollTop()>=700){
            _nav.addClass("mj-navT");
            $("#mj-dnul").show();
            $("#sept").addClass("sept");
			_isshow = 1;
        }else if($(window).scrollTop()<=700){
            _nav.removeClass("mj-navT");
            $("#mj-dnul").hide();
            $("#sept").removeClass("sept");
			_isshow = 0;
        }
    });

    //banner切换
    var _prveDom = null;
    var c = $('#gla_box>ul').roundabout({
        minOpacity:0.5,
        btnNext: ".next",
        duration: 1000,
        reflect: false,
        btnPrev: '.prev',
        autoplay:false,
        autoplayDuration:3000,
        autoplayPauseOnHover: false,
        tilt:0,
        bearing:0,
        shape: 'figure7',
        autoplayCallback: function(obj){
            var _cur = this.find('.roundabout-in-focus');
            var _li = this.find('li');
            var _index = _cur.index();
            var _css = { 'visibility' : 'visible' };
            var _css1 = { 'visibility' : 'hidden' };

            //_cur.find('.jShow').css(_css);
            _li.find('.jShow').css(_css1).end().eq(_index).find('.jShow').css(_css);
        }
    });
    var foor=$(".mj-footer").height();
    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height()-foor;
        var windowHeight = $(this).height();
        if (scrollHeight - scrollTop - windowHeight < 500)  {
            loadMore();
        }
    });
//(function (){
    var _ddNum = 10;
    var _jDltype = $("#j-dltype");
    var _jDltypeNum = _jDltype.find('a');
    var obj = _jDltypeNum.slice(_ddNum, _jDltypeNum.length - 1);
    obj.css({'display':'none'});
    $("#mj_aclik").click(function(){
        var _hasClass = $(this).hasClass('curs');
        if( _hasClass ){
            obj.removeAttr('style');
            $(this).removeClass('curs');
            $(this).css("color","#4ba5de");
            $(this).text("收起");
        }else{

            obj.css({'display':'none'});
            $(this).addClass('curs');
            $(this).css("color","#4ba5de");
            $(this).text("展开");
        }
    });

    var _gDltype = $("#g-dltype");
    var _gDltypeNum = _gDltype.find('a');
    var gobj = _gDltypeNum.slice(_ddNum, _gDltypeNum.length - 1);
    gobj.css({'display':'none'});
    $("#mg_aclik").click(function(){
        var _hasClass = $(this).hasClass('curs');
        if( _hasClass ){
            gobj.removeAttr('style');
            $(this).removeClass('curs');
            $(this).css("color","#4ba5de");
            $(this).text("收起");
        }else{
            gobj.css({'display':'none'});
            $(this).addClass('curs');
            $(this).css("color","#4ba5de");
            $(this).text("展开");
        }
    });
//});
    //类别
    $("#mj-leb").click(function(){
        $("#mj-qzList").hide();
        $("#mj-lbList").show();
        $('.select_boxs span').hover(function(){ //鼠标移动函数
            $('ul.son_ul').hide();  //找到ul.son_ul显示
        },function(){});
    });
    $("#mj-lbList dd a").click(function(){
        $(this).addClass("current").siblings().removeClass("current");
        $("#mj-leb").text($(this).text());
        $("#mj-lbList").hide();
        $('.select_boxs span').hover(function(){ //鼠标移动函数
            $(this).parent().find('ul.son_ul').show();   //找到ul.son_ul显示
        },function(){});
        if($(this).attr('tid') > 0){
            $("#mj-qz").show();
        }
    });
    $(".mj-mdl .mj-close").click(function(){
        $(".mj-mdl").hide();
        $('.select_boxs span').hover(function(){ //鼠标移动函数
            $(this).parent().find('ul.son_ul').show();   //找到ul.son_ul显示
        },function(){});
    });
    //群组
    $("#mj-qz>span").click(function(){
        $("#mj-lbList").hide();
        $("#mj-qzList").show();
        $('.select_boxs span').hover(function(){ //鼠标移动函数
            $('ul.son_ul').hide();  //找到ul.son_ul显示
        },function(){});
    });
    $("#mj-qzList dd a").click(function(){
        $(this).addClass("current").siblings().removeClass("current");
        $("#mj-qz>span").text($(this).text());
        $("#mj-qzList").hide();
        $("#mj-qz").show();
        $('.select_boxs span').hover(function(){ //鼠标移动函数
            $(this).parent().find('ul.son_ul').show();  //找到ul.son_ul显示
        },function(){});
    });
    
    //$(".mj-dd").remove();

</script>

<? require(ViewDir.'/footer.html'); ?>