<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/trade.css?v=<?=$static_version?>"/>
<div class="sel-bannerIimg">
    <div class="bd">
        <ul class="sel-banner-img">
            <?foreach ($channel['adList'] as $k => $v) {?>            
            <li class="sel-banner-itme">
                <a href="<?=$v['link']?>" target="_blank" webid="5" addmsg="01-查看详情" module="特价banner-<?=$k+1?>">
                    <div style="width:100%;height:312px;background:url(<?=TRADE_URL.$v['pic']?>) no-repeat center center;">
                    </div>
                    <!--<img src="<?=empty($v['pic'])?'':TRADE_URL.$v['pic']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" alt="<?=($v['alt']?$v['alt']:$v['desc'])?>"  width="1903" height='312'/>-->
                </a>
            </li>
            <?}?>
        </ul>
    </div>
    <div class="hd">
        <ul class="f-clearfix">
            <?foreach ($channel['adList'] as $k => $v) {?>            
            <li <?if($k==0) echo 'class="on"';?>></li>
            <?}?>
        </ul>
    </div>
</div>
<div class="w1180">
    <div class="sel-title">
        <p class="sel-tit-bg"><span class="sel-title-main">淘实惠</span></p>
    </div>
    <div class="sell-bk1 f-clearfix">
        <ul class="sell-tang">
            <li>
                <a href="/s-l-1/" target="_blank">
                    <span>
                        <img src="<?=StaticDir?>1.2/images/sell-cate1.png">
                    </span>
                    <div>
                        <h6>卖家急售</h6>
                        <label>价格一定很实惠</label>
                    </div>
                </a>
            </li>
            <li>
                <a href="/s-l-2/" target="_blank">
                    <span>
                        <img src="<?=StaticDir?>1.2/images/sell-cate2.png">
                    </span>
                    <div>
                        <h6>即将续展</h6>
                        <label>续展期买标，更便宜</label>
                    </div>
                </a>
            </li>
            <li>
                <a href="/s-l-3/" target="_blank">
                    <span>
                        <img src="<?=StaticDir?>1.2/images/sell-cate3.png">
                    </span>
                    <div>
                        <h6>商品小于5项</h6>
                        <label>商品虽少，够用就好</label>
                    </div>
                </a>
            </li>
            <li>
                <a href="/s-l-4/" target="_blank">
                    <span>
                        <img src="<?=StaticDir?>1.2/images/sell-cate4.png">
                    </span>
                    <div>
                        <h6>多类转让</h6>
                        <label>多类打包更划算</label>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="sell-bk2 f-clearfix">
        <span class="sel-title-main">商标转让全类</span>
        <ul class="">
            <a href="/s-c-1--l-a/" target="_blank">
                <li>
                    <span class="s-clas1">

                    </span>
                    <i></i>化工原料
                </li>
            </a>
            <a href="/s-c-2--l-a/" target="_blank">
                <li>
                    <span class="s-clas2">

                    </span>
                    <i></i>油漆涂料
                </li>
            </a>
            <a href="/s-c-3--l-a/" target="_blank">
                <li class="hot">
                    <span class="s-clas3">

                    </span>
                    <i></i>化妆日化
                </li>
            </a>
            <a href="/s-c-4--l-a/" target="_blank">
                <li>
                    <span class="s-clas4">

                    </span>
                    <i></i>燃料油脂
                </li>
            </a>
            <a href="/s-c-5--l-a/" target="_blank">
                <li  class="hot">
                    <span class="s-clas5">

                    </span>
                    <i></i> 医药
                </li>
            </a>
            <a href="/s-c-6--l-a/" target="_blank">
                <li class="hot">
                    <span class="s-clas6">

                    </span>
                    <i></i>五金金属
                </li>
            </a>
            <a href="/s-c-7--l-a/" target="_blank">
                <li>
                    <span class="s-clas7">

                    </span>
                    <i></i>机械电动
                </li>
            </a>
            <a href="/s-c-8--l-a/" target="_blank">
                <li>
                    <span class="s-clas8">

                    </span>
                    <i></i>手工器械
                </li>
            </a>
            <a href="/s-c-9--l-a/" target="_blank">
                <li>
                    <span class="s-clas9">

                    </span>
                    <i></i>科学仪器
                </li>
            </a>
            <a href="/s-c-10--l-a/" target="_blank">
                <li>
                    <span class="s-clas10">

                    </span>
                    <i></i> 医疗器械
                </li>
            </a>
            <a href="/s-c-11--l-a/" target="_blank">
                <li>
                    <span class="s-clas11">

                    </span>
                    <i></i>家用电器
                </li>
            </a>
            <a href="/s-c-12--l-a/" target="_blank">
                <li>
                    <span class="s-clas12">

                    </span>
                    <i></i>运输工具
                </li>
            </a>
            <a href="/s-c-13--l-a/" target="_blank">
                <li>
                    <span class="s-clas13">

                    </span>
                    <i></i> 军火烟火
                </li>
            </a>
            <a href="/s-c-14--l-a/" target="_blank">
                <li class="hot">
                    <span class="s-clas14">

                    </span>
                    <i></i>珠宝钟表
                </li>
            </a>
            <a href="/s-c-15--l-a/" target="_blank">
                <li>
                    <span class="s-clas15">

                    </span>
                    <i></i>乐器
                </li>
            </a>
            <a href="/s-c-16--l-a/" target="_blank">
                <li>
                    <span class="s-clas16">

                    </span>
                    <i></i>办公用品
                </li>
            </a>
            <a href="/s-c-17--l-a/" target="_blank">
                <li>
                    <span class="s-clas17">

                    </span>
                    <i></i>橡胶制品
                </li>
            </a>
            <a href="/s-c-18--l-a/" target="_blank">
                <li>
                    <span class="s-clas18">

                    </span>
                    <i></i>皮革皮具
                </li>
            </a>
            <a href="/s-c-19--l-a/" target="_blank">
                <li>
                    <span class="s-clas19">

                    </span>
                    <i></i>建筑材料
                </li>
            </a>
            <a href="/s-c-20--l-a/" target="_blank">
                <li>
                    <span class="s-clas20">

                    </span>
                    <i></i> 家具
                </li>
            </a>
            <a href="/s-c-21--l-a/" target="_blank">
                <li class="hot">
                    <span class="s-clas21">

                    </span>
                    <i></i>洁具厨房
                </li>
            </a>
            <a href="/s-c-22--l-a/" target="_blank">
                <li>
                    <span class="s-clas22">

                    </span>
                    <i></i>绳网袋蓬
                </li>
            </a>
            <a href="/s-c-23--l-a/" target="_blank">
                <li>
                    <span class="s-clas23">

                    </span>
                    <i></i> 纺织纱线
                </li>
            </a>
            <a href="/s-c-24--l-a/" target="_blank">
                <li class="hot">
                    <span class="s-clas24">

                    </span>
                    <i></i>布料床单
                </li>
            </a>
            <a href="/s-c-25--l-a/" target="_blank">
                <li>
                    <span class="s-clas25">

                    </span>
                    <i></i>服装鞋帽
                </li>
            </a>
            <a href="/s-c-26--l-a/" target="_blank">
                <li>
                    <span class="s-clas26">

                    </span>
                    <i></i>纽扣拉链
                </li>
            </a>
            <a href="/s-c-27--l-a/" target="_blank">
                <li>
                    <span class="s-clas27">

                    </span>
                    <i></i>地毯席垫
                </li>
            </a>
            <a href="/s-c-28--l-a/" target="_blank">
                <li>
                    <span class="s-clas28">

                    </span>
                    <i></i>健身器材
                </li>
            </a>
            <a href="/s-c-29--l-a/" target="_blank">
                <li>
                    <span class="s-clas29">

                    </span>
                    <i></i>食品
                </li>
            </a>
            <a href="/s-c-30--l-a/" target="_blank">
                <li class="hot">
                    <span class="s-clas30">

                    </span>
                    <i></i>方便食品
                </li>
            </a>
            <a href="/s-c-31--l-a/" target="_blank">
                <li>
                    <span class="s-clas31">

                    </span>
                    <i></i>饲料种籽
                </li>
            </a>
            <a href="/s-c-32--l-a/" target="_blank">
                <li>
                    <span class="s-clas32">

                    </span>
                    <i></i>啤酒饮料
                </li>
            </a>
            <a href="/s-c-33--l-a/" target="_blank">
                <li>
                    <span class="s-clas33">

                    </span>
                    <i></i>酒
                </li>
            </a>
            <a href="/s-c-34--l-a/" target="_blank">
                <li>
                    <span class="s-clas34">

                    </span>
                    <i></i>烟草烟具
                </li>
            </a>
            <a href="/s-c-35--l-a/" target="_blank">
                <li class="hot">
                    <span class="s-clas35">

                    </span>
                    <i></i>广告销售
                </li>
            </a>
            <a href="/s-c-36--l-a/" target="_blank">
                <li>
                    <span class="s-clas36">

                    </span>
                    <i></i>金融物管
                </li>
            </a>
            <a href="/s-c-37--l-a/" target="_blank">
                <li>
                    <span class="s-clas37">

                    </span>
                    <i></i>建筑修理
                </li>
            </a>
            <a href="/s-c-38--l-a/" target="_blank">
                <li>
                    <span class="s-clas38">

                    </span>
                    <i></i>通讯传媒
                </li>
            </a>
            <a href="/s-c-39--l-a/" target="_blank">
                <li>
                    <span class="s-clas39">

                    </span>
                    <i></i>运输旅行
                </li>
            </a>
            <a href="/s-c-40--l-a/" target="_blank">
                <li class="hot">
                    <span class="s-clas40">

                    </span>
                    <i></i>材料加工
                </li>
            </a>
            <a href="/s-c-41--l-a/" target="_blank">
                <li>
                    <span class="s-clas41">

                    </span>
                    <i></i> 教育娱乐
                </li>
            </a>
            <a href="/s-c-42--l-a/" target="_blank">
                <li>
                    <span class="s-clas42">

                    </span>
                    <i></i>科学服务
                </li>
            </a>
            <a href="/s-c-43--l-a/" target="_blank">
                <li>
                    <span class="s-clas43">

                    </span>
                    <i></i>餐饮住宿
                </li>
            </a>
            <a href="/s-c-44--l-a/" target="_blank">
                <li>
                    <span class="s-clas44">

                    </span>
                    <i></i> 医疗园艺
                </li>
            </a>
            <a href="/s-c-45--l-a/" target="_blank">
                <li>
                    <span class="s-clas45">

                    </span>
                    <i></i>社会服务
                </li>
            </a>
        </ul>
    </div>
    <div class="sel-title">
        <p class="sel-tit-bg"><span class="sel-title-main">精品特卖</span></p>
    </div>
    <div class="sell-bk3 f-clearfix">
        <ul class="Bout-spec">
            <li class="fl">
                <input class="xunjia_data" type="hidden" tid="<?=$channel['goodsList'][0]['info']['tid']?>" data_class="<?=$channel['goodsList'][0]['desc']?>" number="<?=$channel['goodsList'][0]['pic']?>" remarks="<?echo '商标号：'.$channel['goodsList'][0]['pic'].';商标名称：'.$channel['goodsList'][0]['link']?>">
                <i></i>
                <span class="fl">
                    <a href="<?=$channel['goodsList'][0]['viewUrl']?>"  target="_blank" addmsg="01-查看详情" webid="10" module="精品特卖">
                        <img src="<?=$channel['goodsList'][0]['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" alt="<?=$v['alt']?>"/>
                    </a>
                </span>
                <div class="fr">
                    <h4><?=$channel['goodsList'][0]['link']?mb_substr($channel['goodsList'][0]['link'], 0, 10, 'UTF-8'):'-'?> </h4>
                    <label>(<?=$channel['goodsList'][0]['desc']?>类 <?=$_CLASS[$channel['goodsList'][0]['desc']]?>)</label>
                    <label><font>￥<b><?=$channel['goodsList'][0]['salePrice']?></b></font>元</label>
                    <label class="lit-siz">离结束还有：<em><em id="d">0</em>天 <em id="h">0</em>小时 <em id="i">0</em>分 <em id="s">0</em>秒</em></label>
                    <p class="end">
                        <a href="javascript:void(0);" onclick="xunjia(this);" class="apply" id="baoming" data-number="<?=$channel['goodsList'][0]['pic']?>" addmsg="表单-02-询价" webid="30" module="精品特卖">我要报名 ></a>
                        <a class="inter"><em><?=$channel['goodsList'][0]['hits']?> </em>人有兴趣</a>
                    </p>
                </div>
            </li>
            <li class="fr">
                <i></i>
                <span class="fl">
                    <a href="<?=$channel['goodsList'][1]['viewUrl']?>"  target="_blank" addmsg="01-查看详情" webid="10" module="精品特卖">
                        <img src="<?=$channel['goodsList'][1]['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" alt="<?=$v['alt']?>"/>
                    </a>
                </span>
                <div class="fr">
                    <h4><?=$channel['goodsList'][1]['link']?mb_substr($channel['goodsList'][1]['link'], 0, 10, 'UTF-8'):'-'?> </h4>
                    <label>(<?=$channel['goodsList'][1]['desc']?>类 <?=$_CLASS[$channel['goodsList'][1]['desc']]?>)</label>
                    <label><font>￥<b><?=$channel['goodsList'][1]['salePrice']?></b></font>元</label>
                    <label class="lit-siz">离开始还有：<em><em id="d1">0</em>天 <em id="h1">0</em>小时 <em id="i1">0</em>分 <em id="s1">0</em>秒</em></label>
                    <p class="start">
                        <a href="javascript:;" class="apply">我要报名 ></a>
                        <a href="javascript:;" class="inter">即将开始</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="sel-title">
        <p class="sel-tit-bg"><span class="sel-title-main">天天低价</span></p>
    </div>
    <div class="sell-bk4 f-clearfix">
        <ul class="sel-low-price f-clearfix">

            <?foreach ($channel['lowList'] as $k => $v) {?>            
            <li>
                <a href="<?=$v['viewUrl']?>"  target="_blank" addmsg="01-查看详情" webid="10" module="特价列表-<?=($k+1)>9? ($k+1) : '0'.($k+1);?>">
                    <div>
                        <img src="<?=$v['imgUrl']?>" onerror="this.src='<?=StaticDir?>images/img1.png'" alt="<?=$v['alt']?>"/>
                    </div>
                </a>

                <h4><?=$v['link']?mb_substr($v['link'], 0, 10, 'UTF-8'):'-'?></h4>
                <label>(<?=$v['desc']?>类 <?=$_CLASS[$v['desc']]?>)</label>
                <p>价格<span>￥<b>
                <?if($v['info']['priceType']==1){
                    if($v['info']['isOffprice']==1){
                        echo $v['info']['salePrice'];
                    }else{
                        echo $v['info']['price'];
                    }
                }else{
                    echo "议价";
                }
                ?>
                        
                        </b></span>元</p>
                <a href="javascript:void(0);" onclick="goChat()" class="cont" addmsg="咨询-03-联系卖家" webid="31" module="特价列表-<?=($k+1)>9? ($k+1) : '0'.($k+1);?>"><i class="us-icon us-icon22"></i>联系卖家</a>
            </li>
            <?}?>
        </ul>
        <a href="/s-l-a/" target="_blank" class="sel-check-all">查看全部特价商品</a>
    </div>
</div>

<? require(ViewDir.'/sidebar.html'); ?>
<script type="text/javascript">
    //banner图交互效果
    jQuery(".sel-bannerIimg").slide({mainCell: ".bd ul", autoPlay: true});
    //45分类鼠标移动上去的效果
    var ofls = $(".sell-bk2 ul li");
    ofls.each(function(i) {
        $(this).hover(function() {
            if (i < 9) {
                $(this).find("i").html("0" + (i + 1) + "-");
            }
            else {
                $(this).find("i").html((i + 1) + "-");
            }
        }, function() {
            $(this).find("i").html("");
        });
    });
    
    //报名点击
    $("#baoming").click(function(){
        var number = $(this).data("number");
        $.ajax({
                async: false,
                type: 'post',
                url: '/offprice/checkAjax',
                data: 'number=' + number,
                dataType: 'json',
                success: function(data) {
                    if (data.code != 0) {
                        layer.msg(data.msg, {
                            time: 1500
                        });
                    } else {
                        strs += data.msg;
                    }
                }
            });
    });
    
    var monday = "<?=$monday_date?>";
    function clock() {
        // 当前时间
        var nowTime = new Date().getTime();
        // 2016/12/22 hh:mm:ee
        // 结束时间
        var endTime = new Date(monday);

        // 相差的时间	
        var t = endTime.getTime() - nowTime;

        var d = Math.floor(t / 1000 / 60 / 60 / 24);

        var h = Math.floor(t / 1000 / 60 / 60 % 24);
        var i = Math.floor(t / 1000 / 60 % 60);
        var s = Math.floor(t / 1000 % 60);

        document.getElementById('d').innerHTML = d;
        document.getElementById('h').innerHTML = h;
        document.getElementById('i').innerHTML = i;
        document.getElementById('s').innerHTML = s;
        
        document.getElementById('d1').innerHTML = d;
        document.getElementById('h1').innerHTML = h;
        document.getElementById('i1').innerHTML = i;
        document.getElementById('s1').innerHTML = s;

        setTimeout(clock, 1000);
    }
    setTimeout(clock, 1000);
</script>
<? require(ViewDir.'/footer.html'); ?>