<? require(ViewDir.'/header.html'); ?>

<link rel="stylesheet" href="<?=StaticDir?>style/mj-strademark.css"/>
<script type="text/javascript" src="<?=StaticDir?>script/jquery.corner.js"></script>
<script type="text/javascript" src="<?=StaticDir?>script/jquery.roundabout.js"></script>
<script type="text/javascript" src="<?=StaticDir?>script/jquery.roundabout-shapes.js"></script>


<!--content start-->
<div id="gla">
    <div id="gla_box">
        <span class="prev"></span>
        <span class="next"></span>
        <ul>
            <li>
                <div class="gla_inbox">
                    <a href=""><img src="<?=StaticDir?>style/img/mj-banner4.jpg" /></a>
                    <div class="mj-tjtip">
                        <p class="mj-bimgbg"><strong>30</strong>% 折扣</p>
                        <p class="f-clearfix mj-bgimt"><span><em>50万</em><br/>现价</span><b>2.5</b>万</p>
                    </div>
                    <p class="mj-ad">
                        这里是广告语，这里就是广告口号什么的，只有一排，不会有第二排列...
                    </p>
                    <label class="mj-bgimgbg2"></label>
                </div>
            </li>
            <li>
                <div class="gla_inbox">
                    <a href=""><img src="<?=StaticDir?>style/img/mj-banner5.jpg" /></a>
                    <span class="mj-specialTip mj-sl">昨日特价</span>
                    <div class="mj-tjtip">
                        <p class="mj-bimgbg"><strong>30</strong>% 折扣</p>
                        <p class="f-clearfix mj-bgimt"><span><em>50万</em><br/>现价</span><b>2.5</b>万</p>
                    </div>
                    <p class="mj-ad">
                        这里是广告语，这里就是广告口号什么的，只有一排，不会有第二排列...
                    </p>
                </div>
            </li>
            <li>
                <div class="gla_inbox">
                    <a href=""><img src="<?=StaticDir?>style/img/mj-banner6.jpg" /></a>
                    <span class="mj-specialTip mj-sr">眀日特价</span>
                    <div class="mj-tjtip">
                        <p class="mj-bimgbg"><strong>30</strong>% 折扣</p>
                        <p class="f-clearfix mj-bgimt"><span><em>50万</em><br/>现价</span><b>2.5</b>万</p>
                    </div>
                    <p class="mj-ad">
                        这里是广告语，这里就是广告口号什么的，只有一排，不会有第二排列...
                    </p>
                </div>
            </li>

        </ul>
    </div>
</div>

<div class="mj-content">
    <div class="w1180">
        <!--search start-->
        <dl class="mj-selection">
            <dd class="f-clearfix">
                <span class="mj-selection-span">商标类别：</span>
                <div class="mj-selection-list" id="j-dltype">
                    <a href="javascript:;" class="current">全部  </a>
                    <a href="javascript:;">1类-化学品</a>
                    <a href="javascript:;">2类-涂料油漆</a>
                    <a href="javascript:;">3类-化妆日用</a>
                    <a href="javascript:;">4类-油脂燃料</a>
                    <a href="javascript:;">5类-医药品</a>
                    <a href="javascript:;">6类-五金金属</a>
                    <a href="javascript:;">7类-电动机械</a>
                    <a href="javascript:;" id="mj_aclik">......</a>
                </div>
            </dd>
            <dd class="f-clearfix">
                <span class="mj-selection-span">所属群组：</span>
                <div class="mj-selection-list">
                    <a href="javascript:;" class="current">全部  </a>
                    <a href="javascript:;">地毯</a>
                    <a href="javascript:;">席类</a>
                    <a href="javascript:;">垫及其他</a>
                    <a href="javascript:;">铺地板用品</a>
                    <a href="javascript:;">非纺织墙</a>
                </div>
            </dd>
            <dd class="f-clearfix">
                <span class="mj-selection-span">平台入驻： </span>
                <div class="mj-selection-list">
                    <a href="javascript:;" class="current">全部  </a>
                    <a href="javascript:;">自营  </a>
                    <a href="javascript:;">天猫</a>
                    <a href="javascript:;">京东</a>
                    <a href="javascript:;">阿里巴巴</a>
                    <a href="javascript:;">亚马逊 </a>
                    <a href="javascript:;">家乐福</a>
                    <a href="javascript:;">沃尔玛</a>
                    <a href="javascript:;">其他大型超市</a>
                </div>
            </dd>
        </dl>
        <!--search end-->
        <!--imglist start-->
        <div class="w1180">
            <ul class="mj_goods_check f-clearfix">
                <li><input type="checkbox" id="chek1"><label for="chek1">中文</label></li>
                <li><input type="checkbox" id="chek2"><label for="chek2">英文</label></li>
                <li><input type="checkbox" id="chek3"><label for="chek3">图形</label></li>
                <li><input type="checkbox" id="chek4"><label for="chek4">中+英</label></li>
                <li><input type="checkbox" id="chek5"><label for="chek5">中+图</label></li>
                <li><input type="checkbox" id="chek6"><label for="chek6">英+图</label></li>
                <li><input type="checkbox" id="chek7"><label for="chek7">中+英+图</label></li>
                <li><input type="checkbox" id="chek8"><label for="chek8">3个字</label></li>
            </ul>
            <div class="mj-imglists">
                <ul class="f-clearfix">
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tJing" title="精品推荐">精</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-logo1.jpg" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <p>梵秀,FAMXIU 日化用品</p>
                            <span class="mj-imgspan"><a href=""><strong>30</strong>%折扣</a> <b><em>￥</em>4.5<em>000</em></b></span>
                        </div>
                       <!-- <div class="mj-priceI">
                            <div class="mj-priceIcon f-clearfix">
                                <p>
                                    <a href="" class="mj-labelbch" title="联系卖家"><i class="uj_icon14"></i></a>
                                    <span>卖家</span>
                                </p>
                            </div>
                        </div>-->
                    </li>

                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tShow" title="授权租用">授</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-logo1.jpg" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <p>梵秀,FAMXIU 日化用品</p>
                            <span class="mj-imgspan"><a href=""><strong>30</strong>%折扣</a> <b><em>￥</em>4.5<em>000</em></b></span>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tShow" title="授权租用">授</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-logo1.jpg" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <p>梵秀,FAMXIU 日化用品</p>
                            <span class="mj-imgspan"><a href=""><strong>30</strong>%折扣</a> <b><em>￥</em>4.5<em>000</em></b></span>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tShow" title="授权租用">授</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-logo1.jpg" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <p>梵秀,FAMXIU 日化用品</p>
                            <span class="mj-imgspan"><a href=""><strong>30</strong>%折扣</a> <b><em>￥</em>4.5<em>000</em></b></span>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tShow" title="授权租用">授</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-logo1.jpg" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <p>梵秀,FAMXIU 日化用品</p>
                            <span class="mj-imgspan"><a href=""><strong>30</strong>%折扣</a> <b><em>￥</em>4.5<em>000</em></b></span>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tShow" title="授权租用">授</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-logo1.jpg" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <p>梵秀,FAMXIU 日化用品</p>
                            <span class="mj-imgspan"><a href=""><strong>30</strong>%折扣</a> <b><em>￥</em>4.5<em>000</em></b></span>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tShow" title="授权租用">授</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-logo1.jpg" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <p>梵秀,FAMXIU 日化用品</p>
                            <span class="mj-imgspan"><a href=""><strong>30</strong>%折扣</a> <b><em>￥</em>4.5<em>000</em></b></span>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tShow" title="授权租用">授</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-logo1.jpg" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <p>梵秀,FAMXIU 日化用品</p>
                            <span class="mj-imgspan"><a href=""><strong>30</strong>%折扣</a> <b><em>￥</em>4.5<em>000</em></b></span>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tShow" title="授权租用">授</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-logo1.jpg" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <p>梵秀,FAMXIU 日化用品</p>
                            <span class="mj-imgspan"><a href=""><strong>30</strong>%折扣</a> <b><em>￥</em>4.5<em>000</em></b></span>
                        </div>
                    </li>
                    <li>
                        <p class="mj-tip">
                            <label class="mj-tThe" title="特价产品">特</label>
                            <label class="mj-tShow" title="授权租用">授</label>
                        </p>
                        <div class="mj-imglT">
                            <a href="" class="mj-imglT"><span><img src="<?=StaticDir?>style/img/mj-logo1.jpg" alt=""></span></a>
                        </div>
                        <div class="mj-imglB">
                            <p>梵秀,FAMXIU 日化用品</p>
                            <span class="mj-imgspan"><a href=""><strong>30</strong>%折扣</a> <b><em>￥</em>4.5<em>000</em></b></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--imglist end-->
    </div>
</div>

<!--content end-->
<div class="mj-footerTip">
    <div class="w1180">
        <div class="mj-bgimg">
            <img src="<?=StaticDir?>style/img/mj-img7.png" alt=""/>
            <a href=""><span>后面还有 <strong> 3000 </strong>商标可购买，实在太多 --  提交购买需求我们帮你匹配？</span></a>
            <!--<label>往下滚动自动消失</label>-->
        </div>
    </div>
</div>

<script type="text/javascript">
    

        //banner切换
        $('#gla_box>ul').roundabout({
            minOpacity:0.5,
            btnNext: ".next",
            duration: 1000,
            reflect: true,
            btnPrev: '.prev',
            autoplay:true,
            autoplayDuration:3000,
            autoplayPauseOnHover: true,
            tilt:0,
            bearing:0,
            shape: 'figure7'
        });

        
        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if (scrollTop + windowHeight == scrollHeight) {

                alert(1);
            }
        });

</script>

<? require(ViewDir.'/footer.html'); ?>